cu001 | 1 | wisconsin.apis.5400
cu035 | 1 | (WU)5400
cu090 | 1 | P.Wisc. inv. 48
cu090_orgcode | 1 | WU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu1004 | 8 | asn
cu100a | 1 | Sarapion, procurator of [            ].
cu100a | 2 | Sarapion
cu100a | 3 | Nonnos
cu100a | 4 | Julius
cu100a | 5 | Pesuris, son of Chrysas
cu100a | 6 | Pekysis, son of Epagathos
cu100a | 7 | Planetes
cu100a | 8 | Ammonios
cu245ab | 1 | Order for Arrest
cu245f | 1 | IInd/IIIrd century A.D.
cu300 | 1 | 1 papyrus ; 23.9 x 7.8 cm
cu500 | 2 | Location: Department of Special Collections; Memorial Library; Madison; Wisconsin
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 5 lines
cu500_pal | 1 | The text runs against the fibers (cf. Papyrus 23). Only the first line is difficult to read due to fading and damage at a fold. On the right hand-hand side the large, easy-to-read letters have strokes added to them to make them reach up to the very edge.
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | From the orders of Sarapion, procurator of [            ]. To the archephodoi and the village officials of the village of Philadelphia. Hand over at once to the soldier, sent by me, Nonnos and Julius and Pesuris, son of Chrysas and Pekysis, son of Epagathos and Planetes and Ammonios, who have been accused by the inhabitants of the village, or come yourself.
cu510 | 2 | Sijpesteijn P.J., PWisc  I, 24, 1967, Plate VIII
cu510_dd | 1 | P.Wisc.:1:24
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-5400&viewid=W48R.TIF
cu518 | 1 | Philadelphia, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Sarapion orders the authorities of Philadelphia to send six persons, accused by the inhabitants of the village along with a soldier, who has been sent by Sarapion.
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | A light-brown papyrus, cut off neatly on all sides. At the top there is a margin of approx. 1 cm., at the left hand-hand side one of approx. 2.5 cm. and at the bottom one of 2 cm. (widening to 3 cm. to the right). The first line commences 7 cm. from the left-hand side. One vertical and three horizontal folds are still visible.
cu653 | 1 | Philadelphia
cu653 | 2 | Order for Arrest
cu653 | 3 | Authorities of Philadelphia
cu653 | 4 | Six persons
cu653 | 5 | Accusation
cu653 | 6 | Inhabitants
cu653 | 7 | Village
cu653 | 8 | Soldier.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 100
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | WU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/4/8/r/w48r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-5400&viewid=W48R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-5400&viewid=W48R.TIF&quality=large
perm_group | 1 | w
