cu001 | 1 | wisconsin.apis.5352
cu035 | 1 | (WU)5352
cu090 | 1 | P.Wisc. inv. 49
cu090_orgcode | 1 | WU
cu1004 | 1 | aut
cu100a | 1 | Unknown
cu245ab | 1 | Report of proceedings (?)
cu245f | 1 | IInd century A.D.
cu300 | 1 | 1 papyrus ; 22.7 x 14.3 cm
cu500 | 2 | Location: Department of Special Collections; Memorial Library; Madison; Wisconsin
cu500 | 4 | Pub. status: recto; verso is P.Wisc. II 50
cu500_lin | 1 | 43 lines
cu500_pal | 1 | The text runs along the fibers. At the top there is a free margin of 1 cm.
cu500_rec | 1 | Source of description: recto 
cu500_t | 1 | [The text is too fragmentary to be translated]
cu510 | 2 | Sijpesteijn PJ, PWisc II, 48, 1977, Plate IX
cu510 | 3 | Bruckner - Marichal (ed.); Dorandi - Gasnault (publ.), ChLA 47, 1438, pp. 84-85, 1997 -- l. 2, 7, 9-10, 13, 21, 22, 23, 24, 26, 29, 30, 31, 41
cu510_dd | 1 | P.Wisc.:2:48
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-5352&viewid=W49R.TIF
cu518 | 1 | Unknown
cu520 | 1 | At least one column must have preceded this papyrus in view of the fact that the papyrus is complete at the top while we are already in mediis rebus when our text starts. It is not to be excluded that one (or more) columns followed the present one. The great number of alterations and interlinear words suggest that we are dealing with a draft or a corrected version of a document. It is not possible to arrive at a full understanding of the case. A certain person has been maltreated by certain soldiers (line 38) who attacked him (line 7), threw him into the jail (lines 11 and 13) and were seeking his daeth (line 12). The plaintiff has apllied several times to the praefect. At least four answers to his requests are cited (lines 18, 24, 31 and 39). The papyrus seems to be the report of a proceeding before an official.
cu546 | 1 | Greek
cu546 | 2 | Latin
cu561 | 1 | Unknown
cu590_con | 1 | A greyish papyrus regularly cut off at at the top and bottom. There is a kollema 5.5 cm from the right-hand side. The text is badly mutilated. At the left-hand side an unknown number of letters have been lost and the horizontal fibers have come off in many places. 
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 100
cuDateValue | 2 | 199
cuLCODE | 1 | grc
cuLCODE | 2 | lat
cuOrgcode | 1 | WU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/4/9/r/w49r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-5352&viewid=W49R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-5352&viewid=W49R.TIF&quality=large
perm_group | 1 | w
