cu001 | 1 | wisconsin.apis.5420
cu035 | 1 | (WU)5420
cu090 | 1 | P.Wisc. inv. 67
cu090_orgcode | 1 | WU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu1004 | 8 | asn
cu100a | 1 | Unknown
cu100a | 2 | Diocletianus, emperor
cu100a | 3 | Maximianus, emperor
cu100a | 4 | Aurelius Horion
cu100a | 5 | Aurelius Pausiris, son of Plutus
cu100a | 6 | Constantius Caesar
cu100a | 7 | Maximianus Caesar 
cu100a | 8 | Aurelius Horus
cu245ab | 1 | Oath to a katasporeus
cu245f | 1 | December 24, 303 A.D.
cu300 | 1 | 1 papyrus ; 24.7 x 6.5 cm
cu500 | 2 | Location: Department of Special Collections; Memorial Library; Madison; Wisconsin
cu500 | 4 | Pub. status: recto; on the verso the text P.Wisc. II 76
cu500_lin | 1 | 31 lines
cu500_pal | 1 | At the top there is a margin of 1 cm,  while at the bottom 4.5 cm. The text runs along the fibers. Two vertical  and one horizontal folds are still visible. 
cu500_rec | 1 | Source of description: recto
cu500_t | 1 | Lines 1-12;In the consulship of our lords Imperator Diocletianus for the 8th time and Imperator Maximianus for the 7th time Augusti to Aurelius Horion, strategos of the Oxyrhynchite nome, from Aurelius Pausiris, son of Plutus, from the village of ---, katasporeus. I swear by the genius of our lords Imperatores Dicoletianus and Maximianus Augusti and of Constantius and Maximianus the most illustrious Caesares that I have measured everything of the cultivated area and that I have given the list of the receipts and expenses to ---;lines 24-31;Year 20 and year 19 of our lords Diocletianus and Maximianus Augusti and year 12 of our lords Constantius and Maximianus the most illustrious Caesares, Choiach 27. (2nd hand) I, Aurelius Pausiris, have sworn the oath as afore stated. I, Aurelius Horus, have written for him because he cannot write.
cu510 | 2 | Sijpesteijn PJ , PWisc II, 61, 1977, Plate XX -- BL VIII, 512 (line 24)
cu510_dd | 1 | P.Wisc.:2:61
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-5420&viewid=W67R.TIF
cu518 | 1 | Oxyrhynchite nome, Egypt
cu520 | 1 | An oath by a katasporeus stating that he has measured the entire plot of land sown. A list of the measured plots and what will be grown on them seems to follow (lines 16-22). As the katasporeus is also concerned with the sowing of land, one need not wonder that this task should be entrusted to him.
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | A medium-brown papyrus, partly regularly cut off at the top and at the bottom. The papyrus has only a few worm-holes. The papyrus is badly mutilated, particularly in the middle. At the left-hand side about 12 letters are missing.
cu653 | 1 | Oxyrhynchite nome, Egypt
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 303
cuLCODE | 1 | grc
cuOrgcode | 1 | WU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/6/7/r/w67r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-5420&viewid=W67R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-5420&viewid=W67R.TIF&quality=large
perm_group | 1 | w
