cu001 | 1 | wisconsin.apis.5189
cu035 | 1 | (WU)5189
cu090 | 1 | P.Wisc. inv. 32
cu090_orgcode | 1 | WU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu100a | 1 | Unknown
cu100a | 2 | Marcus Aurelius Commodus, emperor
cu100a | 3 | Hermes, epiteretes
cu100a | 4 | [ ]ammon, son of Apsois
cu100a | 5 | Apsois, father of [ ]ammon
cu245ab | 1 | Tax receipt
cu245f | 1 | (After) October 22, 184 A.D.
cu300 | 1 | 1 papyrus ; 11.2 x 4.6 cm
cu500 | 1 | Two different years (24 and 25) are mentioned in these two receipts. Both are written by the same hand? If it is, then the scribe was in the same position for at least 13 months (NL)
cu500 | 2 | Location: Department of Special Collections; Memorial Library; Madison; Wisconsin
cu500 | 4 | Pub. status: recto; verso is blank
cu500_lin | 1 | 15 lines
cu500_pal | 1 | At the top there is a margin of approximately 1 cm at the bottom one of approximately 2 cm. The text runs along the fibers. Two vertical and one horizontal fold are still visible. 
cu500_rec | 1 | Source of description: recto 
cu500_t | 1 | Year 23 of Marcus Aurelius Commodus;[ ]ammon son of Apsois [paid to] Hermes and the rest of epiteretes ... the same year for account [ ]8 silver drachmai, total dracmai 8. Year 24 Thoth [ ] ...  dracmai six, total dracjmai 6, 2 oboloi.;[Year 24 Marcus Aurelius Commodus. [ ] paid to heremes and the rest of epiteretes ... for the upokeimena (tax) ... the same year ... for account 2 silver drachmai, total drachmai 2. Year 25 Phaophi 25 .... total drachmai 4 2 oboloi ... twelve, total 12  ... for account ... drachmai 10, total drachmai 1[ ]
cu510 | 2 | Sijpesteijn PJ, PWisc II, 40, 1977, Plate III -- BL VIII, p. 511 (longer titulature)
cu510_dd | 1 | P.Wisc.:2: 40
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-5189&viewid=W32R.TIF
cu518 | 1 | Unknown
cu520 | 1 | A receipt for at least six payments of different amounts of money for an unknown tax. The payments are made to Hermes and the other superintendents.
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | A medium-brown papyrus, regularly cut off at the top and the right-hand side.  Only the right half of the papyrus has been preserved. This part is in bad condition. The surface of the papyrus shows abrasion in several places. 
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 184
cuLCODE | 1 | grc
cuOrgcode | 1 | WU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/3/2/r/w32r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-5189&viewid=W32R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-5189&viewid=W32R.TIF&quality=large
perm_group | 1 | w
