cu001 | 1 | wisconsin.apis.5453
cu035 | 1 | (WU)5453
cu090 | 1 | P.Wisc. inv. 19
cu090_orgcode | 1 | WU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu1004 | 8 | asn
cu1004 | 9 | asn
cu1004 | 10 | asn
cu1004 | 11 | asn
cu1004 | 12 | asn
cu1004 | 13 | asn
cu1004 | 14 | asn
cu1004 | 15 | asn
cu1004 | 16 | asn
cu1004 | 17 | asn
cu1004 | 18 | asn
cu1004 | 19 | asn
cu1004 | 20 | asn
cu1004 | 21 | asn
cu1004 | 22 | asn
cu1004 | 23 | asn
cu1004 | 24 | asn
cu1004 | 25 | asn
cu1004 | 26 | asn
cu100a | 1 | Unknown
cu100a | 2 | Paniskos
cu100a | 3 | Dionysius
cu100a | 4 | . .  r . [
cu100a | 5 | Epixenos
cu100a | 6 | Petesiris
cu100a | 7 | Dionysius
cu100a | 8 | Apollos
cu100a | 9 | Theon
cu100a | 10 | Didymos
cu100a | 11 | Epimachos
cu100a | 12 | Ptolemais
cu100a | 13 | Ptolemais
cu100a | 14 | Theon
cu100a | 15 | Sarapion
cu100a | 16 | Sarapias
cu100a | 17 | Theon
cu100a | 18 | Dionysius
cu100a | 19 | Sarapas
cu100a | 20 | Didymos
cu100a | 21 | Panas
cu100a | 22 | Pausanias
cu100a | 23 | Petesiris
cu100a | 24 | Dionysius
cu100a | 25 | Hermogenes
cu100a | 26 | Theon
cu245ab | 1 | List of Names
cu245f | 1 | IInd. Century A.D.
cu300 | 1 | 1 papyrus ; 6.6 x 19.8 cm
cu500 | 2 | Location: Department of Special Collections; Memorial Library; Madison; Wisconsin
cu500 | 4 | Pub. status: Verso
cu500_lin | 1 | 25 lines
cu500_pal | 1 | On the recto side the text runs parallel to the fibers; on the verso side, which is of a lighter color, the text runs against the fibers. The first hand on the recto side is highly skilled and writes easily. The second hand on this side writes large, clumsy letters. The writer of the text on the verso side is well-trained. This text has to be dated in the second century A.D.
cu500_rec | 1 | Source of description: Verso
cu500_t | 1 | Paniskos;;Dionysius;;. .  r . [;Epixenos;;Petesiris;;Dionysius;;Apollos;;Theon;;Didymos;;Epimachos;;Ptolemais;;Ptolemais;;Theon;;Sarapion;;Sarapias;;Theon;;Dionysius;;Sarapas;;Didymos;;Panas;;Pausanias;;Petesiris;;Dionysius;;Hermogenes;;Theon
cu510 | 2 | Sijpesteijn PJ, PWisc  I, 17, 1967, Plate VI
cu510_dd | 1 | P.Wisc.:1:19
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-5453&viewid=W19V.TIF
cu518 | 1 | Oxyrhynchos, Oxyrhynchite nome, province of Egypt
cu520 | 1 | The purpose of the list of names can‚ÇÖt be ascertained.
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | A middle-brown papyrus, badly mutilated. It is neatly cut off at the right-hand side. There is a margin left of 1 cm. at the left of the recto side, while the lines continue up to the right-hand side edge.
cu653 | 2 | List of names, for an unknown purpose
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 100
cuDateValue | 2 | 199
cuLCODE | 1 | grc
cuOrgcode | 1 | WU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/1/9/v/w19v.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-5453&viewid=W19V.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-5453&viewid=W19V.TIF&quality=large
perm_group | 1 | w
