cu001 | 1 | wisconsin.apis.5425
cu035 | 1 | (WU)5425
cu090 | 1 | P.Wisc. inv. 80
cu090_orgcode | 1 | WU
cu1004 | 2 | asn
cu100a | 2 | Apollos
cu245ab | 1 | receipt of money
cu245f | 1 | July 15, 584 A.D.
cu300 | 1 | 1 papyrus ; 30.5 x 7.2 cm
cu500 | 2 | Location: Department of Special Collections; Memorial Library; Madison; Wisconsin
cu500 | 4 | Pub. status: recto - verso
cu500_lin | 1 | recto: 4 lines; verso: 2 lines
cu500_pal | 1 | The top margin os 1 cm and the left-hand margin is 1 cm. Lines 1-4 run across the fibers, line 5 along them. At the right-hand side the papyrus is only 6.4 cm wide. At 2.5 cm from the bottom there is a "kollema". One vertical fold is still visible. 
cu500_rec | 1 | Source of description: recto - verso
cu500_t | 1 | recto: Paid by the most revenend rent-collector Apollos being the price of 60 window-panes which were  bought for the use in the bath of the mansion outside the gate thirteen hundred and fifty myriads of silver, total 1350 myr. of silv. only (2nd hand) Total thirteen hundred and fifty myriads of silver only. (1st hand) Year 260 = 229, Epeiph 21 of the second indictio.;verso: (erd hand) Paid for the price of window-panes which were bought for the use in the bath 1350 myr. of silv. 
cu510 | 2 | Husson G, CE 47, 278-282, 1972
cu510 | 3 | Sijpesteijn PJ , P.Wisc. II, 66, 1977, Plate XXII
cu510_dd | 1 | P.Wisc.:2:66
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-5425&viewid=W80R.TIF
cu518 | 1 | Oxyrhunchos, Oxyrhunchite nome, Egypt
cu520 | 1 | The papyrus belongs to the archive of the well-known family of Apiones. It is a receipt of money (1350 myr. of silver) as the price for 60 window-panes.
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | A light-brown papyrus, regularly cut off at all sides. Two pieces of a different papyrus have been glued to the back to strengthen the papurus.
cu653 | 1 | Oxyrhynchiton polis, Oxyrhunchite nome, Egypt
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 584
cuLCODE | 1 | grc
cuOrgcode | 1 | WU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | medium
cuPresentation_display_res | 2 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/8/0/r/w80r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-5425&viewid=W80R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-5425&viewid=W80R.TIF&quality=large
cuPresentation_url | 2 | 1 | http://images.umdl.umich.edu/a/apis/thumb/8/0/v/w80v.jpg
cuPresentation_url | 2 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-5425&viewid=W80V.TIF&quality=medium
cuPresentation_url | 2 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-5425&viewid=W80V.TIF&quality=large
perm_group | 1 | w
