# file create date: 2005-12-15
# modified: 2005-02-08 (for Hermitage)
#		2005-03-10 added cu518		
#		2005-04-18 added cu500_t
#		2005-05-04 added 4 more cu655
#		2005-08-23 added 2 more cu546
# template version: 1.05
# APIS Editor [07/12/2006] rla2118 - replacement
cu001 | 1 | petra.apis.12
cu035 | 1 | (JoPe)12
cu090 | 1 | Petra Inv. 1
cu090_orgcode | 1 | JoPe
cu245ab | 1 | Part of an Agreement
cu245f | 1 | After A.D. 544?
cu300 | 1 | Multiple fragments
cu500 | 1 | Written against the fibers, transversa charta, in a large round hand against the fibers
cu500 | 2 | Relationship of fragments unclear
cu500 | 3 | Likely to involve Theodoros, son of Obodianos
cu510 | 1 | P.Petra I 12
cu510_dd | 1 | P.Petra:1:12
cu518 | 1 | Petra (Tertia Palaestina Salutaris)
cu520 | 1 | Agreement of unknown kind involving at least an exchange or repayment and confirmed by a notary
cu546 | 1 | Greek
cu590 | 1 | Field No. XI
cu655 | 1 | papyri
cu655 | 2 | contract
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 544
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 544
cuOrgcode | 1 | JoPe
cuR_TYPE | 1 | r
perm_group | 1 | w
