# file create date: 2005-12-14
# modified: 2005-02-08 (for Hermitage)
#		2005-03-10 added cu518		
#		2005-04-18 added cu500_t
#		2005-05-04 added 4 more cu655
#		2005-08-23 added 2 more cu546
# template version: 1.05
# APIS Editor [07/12/2006] rla2118 - replacement
cu001 | 1 | petra.apis.9
cu035 | 1 | (JoPe)9
cu090 | 1 | Petra Inv. 69.4
cu090_orgcode | 1 | JoPe
cu245ab | 1 | Tax Receipt
cu245f | 1 | A.D. 575-576
cu300 | 1 | 13 x 20 cm
cu500 | 1 | 7 lines written transversa charta; three margins extant: top (2 cm), right (1-2 cm), and bottom (8 cm)
cu500 | 2 | For a reproduction, see Plate XXIV; hand appears to be different from P.Petra I 7,8 and 10
cu500 | 3 | Cf. receipts P.Petra I 7-8 and 10
cu500 | 4 | For the date, see pp. 104-105; for a note on lines 2-3, see ZPE 144 (2003) 198-200
cu500_t | 1 | [(chi)(rho) The most honorable Patrophilos], son of Bassos, [has given] on account of his taxes [of the sixth, seventh and eighth] indiction years, that is, of three years, every year from nine, [one fourth, one eighth] iugera [from Petra and] from Augustopolis one half, one third, [one tenth, one hundred and seventy-]fifth i( ), all the exacted [and extra taxes in farm products], in oinokreon and in other products.  Written [in month ... of the year 470/1], the ninth indiction year. (chi)(rho) I, Flavius Valens, son of Alpheios, [have received in full for the present and future] tax collectors accordingly. (chi)(rho)
cu510 | 1 | P.Petra I 9
cu510_dd | 1 | P.Petra:1:9
cu518 | 1 | Petra (Tertia Palaestina Salutaris)
cu520 | 1 | Tax receipt for payments made by Patrophilos, son of Bassos, for a sixth, seventh and eighth indiction
cu546 | 1 | Greek
cu590 | 1 | Field no. XXXIVj
cu655 | 1 | papyri
cu655 | 2 | receipt
cu655 | 3 | taxation
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 575
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 576
cuOrgcode | 1 | JoPe
cuR_TYPE | 1 | r
perm_group | 1 | w
