# file create date: 2012-05-04
# modified: 2005-02-08 (for Hermitage)
#		2005-03-10 added cu518		
#		2005-04-18 added cu500_t
#		2005-05-04 added 4 more cu655
#		2005-08-23 added 2 more cu546
#		2006-01-16 corrected orgcode
#		2006-03-24 modified for NYU
#		2006-07-03 modified for Trimithis
#		2006-07-17 modified for Upenn
#		2006-09-26 modified for Fordham
#		2006-11-02 modified for Princeton Theological Seminary
#		2008-05-05 modified for Lund
# template version: 1.06
cu001 | 1 | gothenburg.apis.132 
cu090 | 1 | P. Got. inv. 128
cu245ab | 1 | Lettre d'un banquier
cu245f | 1 | IV A.D.
cu300 | 1 | Pap.; 9 x 6 cm
cu500 | 1 | Location: Gothenburg University Library
cu500 | 2 | Source of description: Recto
cu500 | 3 | 6 fragmentary lines against the fibres
cu500 | 4 |      
cu500 | 5 |      
cu500 | 6 |      
cu500 | 7 |      
cu500_t | 1 | To my lord and brother Josep the banker, Gerontios sends greetings. Pay to Nil... two thousand seven hundred and twenty myriads only.
cu510 | 1 | P. Got. 114 descr.
cu510 | 2 | Stern, M., A business letter to a banker, No 479, Corpus papyrorum judaicarum, vol. 3, 1964, p. 41-42
cu510 | 3 |      
cu510_dd | 1 |      
cu518 | 1 | Provenance unknown (Province of Egypt)
cu520 | 1 | Private letter from Gerontios to the banker Josep
cu520 | 2 |      
cu546 | 1 | Greek
cu546 | 2 |      
cu546 | 3 |      
cu561 | 1 | Papyri Gothoburgenses were, with the assistance of prof. Wilhelm Schubart, acquired partly from a private dealer in Germany in the 1920's, partly bought in Egypt in 1925. Cf. Chronique d'Égypte 13 - 14, 1932, p. 327
cu581 | 1 | Bell, H. I., The Classical Review, Vol. 43, No. 6, 1929, p. 237; BL II 2, 71 (line 3); BL V, 36 (line 2); BL XI, 85 (for the date); TM 30702
cu590 | 1 |      
cu653 | 1 |      
cu655 | 1 | Papyri
cu655 | 2 | Letter
cu655 | 3 | Banker
cu655 | 4 | Money
cu655 | 5 |      
cu100a | 1 | Gerontios
cu100g | 1 |      
cu1004 | 1 | aut
cu100a | 1 | Josep
cu100g | 1 | 
cu1004 | 1 | asn
cu100a | 1 | N(e)il...
cu100g | 1 | 
cu1004 | 1 | asn
cuDateValue | 1 | 300	
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 2 | 399
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuOrgcode | 1 | SwGU
perm_group | 1 | w
cu090_orgcode | 1 | SwGU
