dd001 | 1 | stanford.apis.10243
dd035 | 1 | (CU)10243
dd046 | 1 | -200
dd046 | 2 | -100
dd090 | 1 | P.Stan.Green.dem.070
dd100_a | 1 | Harmais and Petesouchos
dd100_g | 1 | recipients
dd100_4 | 1 | asn
dd245_a | 1 | Letter
dd245_f | 1 | 2nd century B.C.
dd300 | 1 | 1 papyrus ; 16.5 x 5.5 cm.
dd500_rec | 1 | Text continues on verso
dd500 | 1 | Upper margin: 1.5 cm on recto, 2 cm on verso; text complete
dd500_lin | 1 | 10 lines, on recto along fibers; 5 lines, on verso across fibers
dd500_pal | 1 | Large irregular hand
dd520 | 1 | Complete letter; continues on verso and names of addressees repeated at bottom of verso
dd546 | 1 | Demotic
dd590_prs | 1 | needs minor restoration; needs mounting
dd590 | 1 | Stanford Univ. Green Library. Rare Books & Manuscripts
dd655_phy | 2 | Papyri
dd852 | 1 | CST
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/10243
