dd001 | 1 | stanford.apis.10430
dd035 | 1 | (CU)10430
dd046 | 1 | -250
dd046 | 2 | -30
dd090 | 1 | P.Stan.Green.065
dd245_a | 1 | Documentary text
dd245_f | 1 | Between late 3rd and 1st century B.C.
dd300 | 1 | 2 papyri ; Frag. 1: 12.5 x 5 cm.; frag. 2: 16 x 6.5 cm.
dd500_rec | 1 | On verso, traces
dd500 | 1 | Frag. 1: upper margin: 3 cm.; frag. 2: upper margin: 5 cm.; left margin: 2 cm.
dd500 | 2 | Looks slightly similar to P.Stan.Green.072
dd500_lin | 1 | Frag. 1: 11 lines, on recto along the fibers; traces of 2 col., on verso across the fibers, with the first letter of 6 lines; frag. 2: 8 lines, on recto along the fibers; traces, on verso
dd500_pal | 1 | Regular cursive
dd546 | 1 | Greek
dd590_con | 1 | Human mummy cartonnage; gesso
dd590_prs | 1 | High-use; needs cleaning; needs mounting (high priority)
dd590 | 1 | Stanford Univ. Green Library. Rare Books & Manuscripts
dd655_phy | 2 | Papyri
dd852 | 1 | CST
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/10430
