dd001 | 1 | stanford.apis.10453
dd035 | 1 | (CU)10453
dd046 | 1 | 100
dd046 | 2 | 300
dd090 | 1 | P.Stan.Green.079 Recto
dd245_a | 1 | Account
dd245_f | 1 | Between 2nd and 3rd century A.D.
dd300 | 1 | 2 papyri ; Frag. 1: 12.5 x 5 cm.; frag. 2: 2 x 2 cm.
dd500_rec | 1 | On verso, Documentary text
dd500 | 1 | Right margin: 2 cm.
dd500_lin | 1 | Frag. 1: 15 lines, on recto along the fibers; 1 line, on recto across the fibers, in the right margin; frag. 2: traces, on recto
dd500_pal | 1 | Rapid cursive
dd546 | 1 | Greek
dd590 | 1 | Stanford Univ. Green Library. Rare Books & Manuscripts
dd655 | 1 | Accounts, Roman Period
dd655_phy | 2 | Papyri
dd852 | 1 | CST
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/10453
