dd001 | 1 | stanford.apis.10454
dd035 | 1 | (CU)10454
dd046 | 1 | 100
dd046 | 2 | 300
dd090 | 1 | P.Stan.Green.079 Verso
dd245_a | 1 | Documentary text
dd245_f | 1 | Between 2nd and 3rd century A.D.
dd300 | 1 | 2 papyri ; Frag. 1: 12.5 x 5 cm.; frag. 2: 2 x 2 cm.
dd500_rec | 1 | On recto, Account
dd500_lin | 1 | Frag. 1: 13 lines, on verso across the fibers; frag. 2: 2 lines, on verso across the fibers
dd500_pal | 1 | Thin and large rapid cursive
dd546 | 1 | Greek
dd590 | 1 | Stanford Univ. Green Library. Rare Books & Manuscripts
dd655_phy | 2 | Papyri
dd852 | 1 | CST
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/10454
