dd001 | 1 | stanford.apis.10170
dd035 | 1 | (CU)10170
dd046 | 1 | -200
dd046 | 2 | -100
dd090 | 1 | P.Stan.Green.dem.021
dd245_a | 1 | Rules of an association
dd245_f | 1 | 2nd century B.C.
dd300 | 1 | 1 papyrus ; 8 x 21 cm.
dd500_rec | 1 | Verso empty
dd500_lin | 1 | 7 lines, on recto along fibers
dd544_n | 1 | apparently the same cartonnage as P.Stan.Green.dem.020
dd546 | 1 | Demotic
dd590_con | 1 | Painted papyrus fastened to the verso covering text
dd590_prs | 1 | high-use; needs cleaning and restoration (high priority); needs mounting (high priority)
dd590 | 1 | Stanford Univ. Green Library. Rare Books & Manuscripts
dd653 | 1 | Clubs
dd655 | 1 | Contracts, Ptolemaic Period
dd655_phy | 2 | Papyri
dd852 | 1 | CST
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/10170
