cu001 | 1 | princeton.apis.p563
cu035 | 1 | (NjP)apis.p0563
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 18.6 x 10.3 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 200
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 299
cu090 | 1 | Princ. inv. Garrett Deposit 1924, Bell III 17 A recto
cu500 | 1 | Written along the fibers; on the verso, a document
cu500 | 2 | 10 lines; broken except at bottom
cu500 | 3 | The hand is a fine, fluent cursive, tending towards upright
cu520 | 4 | List
cu546 | 5 | In Greek
cu561 | 6 | Garrett Deposit 1924, no. III 17 in H. I. Bell's inventory
cu590 | 7 | Medium flat box 3
cu655 | 1 | Papyri

cu245ab | 1 | List [III AD]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
