cu001 | 1 | princeton.apis.p905
cu035 | 1 | (NjP)apis.p0905
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 5.4 x 10.5 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 970
cu090 | 1 | Princ. inv. Garrett Deposit, Bell III 48 A
cu500 | 1 | Written along the fibers; on the verso, 5 lines, very faded
cu500 | 2 | 3 lines
cu520 | 3 | Receipt for "kharaj"
cu546 | 4 | In Arabic
cu561 | 5 | Garrett Deposit 1924, no. III 48 in H. I. Bell's inventory
cu590 | 6 | Arabic small flat box 4
cu655 | 1 | Papyri

cu245ab | 1 | Receipt [360(?)  AH]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
