cu001 | 1 | princeton.apis.p832
cu035 | 1 | (NjP)apis.p0832
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 10.7 x 13.2 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 799
cu090 | 1 | Princ. inv. GD 7517
cu500 | 1 | Written across the fibers; on the back: chi mu gamma, three chrisma and another monogram
cu500 | 2 | 12 lines; broken at bottom and right(?)
cu500 | 3 | A horizontal kollesis 0.7 cm. from the bottom
cu520 | 4 | Official letter from "your servants the headmen" to a dioiketes
cu546 | 5 | In Coptic
cu561 | 6 | Garrett Deposit 1924, no. II 27 in H. I. Bell's inventory
cu581 | 7 | From Achmim (or northwards)?
cu655 | 1 | Papyri

cu245ab | 1 | Letter [VI-VIII AD]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
