cu001 | 1 | princeton.apis.p847
cu035 | 1 | (NjP)apis.p0847
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 17.7 x 16.2 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 400
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 499
cu090 | 1 | Princ. inv. GD 7887 B verso
cu500 | 1 | Written across the fibers;
cu500 | 2 | 18 lines
cu520 | 3 | Register for sale of wine for future delivery; the supplier is Plaket(?) son of Biktor: the document was written by Leontios the deacon, son of the late Thomas the priest
cu546 | 4 | In Coptic
cu581 | 5 | L.S.B. MacCoull, "The Coptic verso of P.Princ. II 84," ZPE 96 (1993): 227-227
cu590 | 6 | Verso of P.Princeton II 84; mounted with P.Princeton II 83
cu655 | 1 | Papyri

cu245ab | 1 | Letter [V? AD]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
