cu001 | 1 | princeton.apis.p17
cu035 | 1 | (NjP)apis.p0017
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 2 x 3.2 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 400
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 499
cu090 | 1 | Oxy. 1403
cu500 | 1 | Written on both sides of the papyrus
cu500 | 2 | 3 lines recto, 2 lines verso; broken on all sides
cu500 | 3 | In the same hand as P.Oxy. 1374 (apis.p0016), but the text is not from Wasps
cu510 | 4 | P.Oxy. XI 1403 descriptum
cu510_dd | 5 | P.Oxy.:11:1403
cu520 | 6 | Fragment found with other leaves from a codex containing works of Aristophanes (P. Oxy. XI 1371-1374); this, too, is presumably a work by Aristophanes
cu545 | 7 | From Oxyrhynchus
cu546 | 8 | In Greek
cu561 | 9 | Given to Princeton University by the Egypt Exploration Society, 1914-15
cu590 | 10 | AM 9048; Frame 88
cu100a | 1 | Aristophanes?
cu1004 | 1 | aut
cu655 | 1 | Papyri

cu245ab | 1 | Literary Text [V AD]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
