cu001 | 1 | princeton.apis.p785
cu035 | 1 | (NjP)apis.p0785
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 parchment fragment; 16 x 9 cm



cu090 | 1 | Princ. inv. Garrett Deposit NS 25
cu500 | 1 | On the back are ca. 6 lines of text, beneath which are at least three lines at right angles to the upper text
cu500 | 2 | 15 lines; broken at top and left
cu500 | 3 | Horizontal lines divide sections of text
cu520 | 4 | Christian text; currently unidentified
cu546 | 5 | In Coptic
cu561 | 6 | Purchased by Robert Garrett from Maurice Nahman in Cairo, March 1929
cu590 | 7 | Coptic small flat box 3
cu655 | 1 | Parchment

cu245ab | 1 | Christian Text [ AD]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
