cu001 | 1 | princeton.apis.p637
cu035 | 1 | (NjP)apis.p0637
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 14.5 x 9 cm



cu090 | 1 | Hib. 99
cu500 | 1 | Written along the fibers; the back is covered by a layer of gesso
cu500 | 2 | 15 lines; complete
cu500 | 3 | The hand is a small cursive
cu510 | 4 | P.Hib. I 99
cu520 | 5 | Receipt for payment of rent, partly in olyra, partly in a money equivalent of wheat, by two farmers.  Land appears to be crown land.  The protocol contains a mention of the association                                                           of the gods Adelphi with Alexander in the Alexandrian cult.  Reference to the canephorus of Arsinoe is missing
cu545 | 6 | From Hibeh, Mummy A17
cu546 | 7 | In Greek
cu561 | 8 | Given to Princeton University by the Egypt Exploration Society, 1907
cu590 | 9 | AM 4434: Frame 39
cu655 | 1 | Papyri

cu245ab | 1 | Receipt [ BC]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
