# APIS Editor [04/17/2006] rla2118 - replacement
# APIS Editor [03/28/2007] aso2101 - replacement
cu001 | 1 | princeton.apis.p230
cu035 | 1 | (NjP)apis.p0230
cu090 | 1 | GD 7617
cu090_orgcode | 1 | NjP
cu245ab | 1 | Contract
cu245f | 1 | AD 546, Sept. 7
cu300 | 1 | 1 papyrus fragment; 7 x 10.5 cm
cu500 | 1 | Written along the fibers; on the verso, a docket
cu500 | 2 | 10 lines; broken at top and bottom
cu500 | 3 | The hand is a fluent cursive
cu500 | 4 | Some holes
cu500_t | 1 | [recto] In the 4th year after the consulship of Flavius Basilios the most illustrious, Thoth the 10th, the 10th indiction.  Aurelios Christodoros, dung-transporter, son of Fib by Herais from the city [l. 5] of Oxyrhynchos, to Aurelios Praous, baker, son of Victor from the same city, greetings.  I acknowledge that I have received from you as advance payment of my payment one gold solidus, for which I bring upon your donkey . . . [verso] contract . . .
cu510 | 1 | P.Princ. III 154
cu510_dd | 1 | P.Princ.:3:154
cu518 | 1 | Oxyrhynchus
cu520 | 7 | Contract; acknowledgment of receipt of a gold solidus as advance payment of a contract made by the dung-carrier Christodorus with Prasutis; a discrepancy exists between the postconsular date and the year of the indiction
cu546 | 1 | In Greek
cu581 | 10 | BL VII, 169; VIII, 285; IX 221. P. J. Sijpesteijn, "Corrections on Some Princeton Papyri," ZPE 68 (1987), 143-148
cu655 | 1 | Papyri
cu655 | 2 | Contract
cu965 | 1 | APIS
cuDateConfidence | 1 | ___
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 546
cuOrgcode | 1 | NjP
cuR_TYPE | 1 | r
perm_group | 1 | w
status | 1 | 1
