cu001 | 1 | princeton.apis.p418
cu035 | 1 | (NjP)apis.p418
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 8.2 x 7.9 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 230
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 229
cu090 | 1 | Hib. 163
cu500 | 1 | Written along the fibers; back blank
cu500 | 2 | 6 lines; broken except at bottom
cu500 | 3 | The hand is an upright semi-cursive
cu510 | 4 | P.Hib. I 163 descriptum
cu520 | 5 | Letter to Clitarchus mentioning the village of Tmoinethumis in the Herakleopolite nome
cu545 | 6 | From Hibeh.  Mummy 10
cu546 | 7 | In Greek
cu561 | 8 | Given to Princeton University by the Egypt Exploration Society
cu590 | 9 | AM 4432: Frame 39
cu655 | 1 | Papyri

cu245ab | 1 | No title assigned [230/229 BC]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
