cu001 | 1 | princeton.apis.p688
cu035 | 1 | (NjP)apis.p0688
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 7 x 8.5 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 89
cu090 | 1 | Oxy. 332
cu500 | 1 | Written along the fibers; back blank
cu500 | 2 | 10 lines; broken at bottom
cu500 | 3 | Written in a small, oval hand which uses few ligatures
cu510 | 4 | P.Oxy. II 332
cu510_dd | 5 | P.Oxy.:2:332
cu520 | 6 | Sale of the third part of a slave, Sarapos, aged fourteen
cu545 | 7 | From Oxyrhynchus
cu546 | 8 | In Greek
cu561 | 9 | Given to Princeton University by the Egypt Exploration Society, 1901
cu590 | 10 | AM 1097: Frame 3
cu655 | 1 | Papyri

cu245ab | 1 | Sale [ca. 89  AD]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
