cu001 | 1 | princeton.apis.p80
cu035 | 1 | (NjP)apis.p0080
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment;  21.5 x 15.5 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 199
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 1
cu090 | 1 | Princ. inv. AM 87-48 G
cu500 | 1 | Height approximate: lower section not completely flattened
cu500 | 2 | Written along the fibers; on the verso, an account
cu500 | 3 | 20 lines (at least); broken on all sides
cu500 | 4 | Fibers at the bottom very tangled and wadded
cu500 | 5 | The hand is a tiny cursive
cu520 | 6 | Account for land, or perhaps a register
cu546 | 7 | In Greek
cu561 | 8 | Removed from mummy cartonnage opened by Adam B*low-Jacobsen, July 1982
cu590 | 9 | Oversize box 2
cu655 | 1 | Papyri

cu245ab | 1 | Account [II/I BC]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
