# APIS Editor [04/11/2006] rla2118 - replacement
# APIS Editor [03/28/2007] aso2101 - replacement
cu001 | 1 | princeton.apis.p549
cu035 | 1 | (NjP)apis.p0549
cu090 | 1 | GD 7929 B + 7935 C
cu090_orgcode | 1 | NjP
cu245ab | 1 | List of Names
cu245f | 1 | IVth c. AD
cu300 | 1 | 1 papyrus fragment; (a) 5.5 x 9 cm. (b) 9 x 9 cm
cu500 | 1 | It is not certain if the fragments are contiguous
cu500 | 2 | Written along the fibers; docket on back
cu500 | 3 | Frag. (a) 3 lines; frag. (b) 5 lines; complete?
cu500 | 4 | The hand is a rapid cursive, compressed at the bottom of the text
cu500_t | 1 | The names are: Aphynchis son of Choous; Paptebe son of Petiris; . . . Neilos son of . . . ; [l. 5] Apphous son of Pataesis; Amois son of Paulos; Pamoun son of Nikias; Apion son of Theon
cu510 | 1 | P.Princ. III 157
cu510_dd | 1 | P.Princ.:3:157
cu518 | 1 | Provenance Unknown
cu520 | 7 | List of names, headed "the names are".  Purpose unclear
cu546 | 1 | In Greek
cu655 | 1 | Papyri
cu655 | 2 | List
cu965 | 1 | APIS
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 300
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 399
cuOrgcode | 1 | NjP
cuR_TYPE | 1 | r
perm_group | 1 | w
status | 1 | 1
