cu001 | 1 | princeton.apis.p704
cu035 | 1 | (NjP)apis.p0704
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 2 papyrus fragments; (a)11 x 8.9 cm., (b) 9.9 x 2.1 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 100
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 299
cu090 | 1 | Princ. inv. AM 11236 B
cu500 | 1 | The fragment mounted on the left may belong on the right hand side but is not contiguous with the larger fragment
cu500 | 2 | Written along the fibers; back blank
cu500 | 3 | Parts of two-three columns: col. I, 4 lines; col. II, 13 lines; col. III?, 4 lines;
cu500 | 4 | The hand is a fluent cursive
cu500 | 5 | Small amounts of gold leaf adhere to both sides of the papyrus
cu520 | 6 | Register. Short entries, possibly dates (eis b, eis d) follow groups of ca. 6 lines of text. On the verso are five short lines of what appear to be calculations
cu546 | 7 | In Greek
cu655 | 1 | Papyri

cu245ab | 1 | Register [II/III AD]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
