cu001 | 1 | princeton.apis.p222
cu035 | 1 | (NjP)apis.p0222
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 12.7 x 11.7 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 200
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 299
cu090 | 1 | Princ. inv. Garrett Deposit 1924 Bell III 107 A
cu500 | 1 | Written along the fibers; docket on back
cu500 | 2 | 7 lines; broken except at bottom
cu500 | 3 | The hand slopes to the right and does not make use of ligatures
cu520 | 4 | Contract for a loan. Dated in the reign of Severus Alexander?
cu546 | 5 | In Greek
cu561 | 6 | Garrett Deposit 1924, no. III 107 A in H. I. Bell's inventory
cu590 | 7 | Small flat box 7
cu655 | 1 | Papyri

cu245ab | 1 | Contract [III? AD]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
