cu001 | 1 | princeton.apis.p164
cu035 | 1 | (NjP)apis.p0164
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 6 papyrus fragments; (a) 6.5 x 3.6 cm. (b) 1.5 x 2 cm. (c) 6 x 3.4 cm. (d) 2.8 x 2.1 cm. (e) 1.5 x 3.4 cm. (f) 1.5 x 3.5 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 199
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 1
cu090 | 1 | Princ. inv. AM 87-54 A verso
cu500 | 1 | Written across the fibers; on the recto, an account on frag. (a) only; remainder have traces or are blank
cu500 | 2 | Frag. (a) 13 lines; frag. (b) 2 lines; frag. (c) 5 lines; frag. (d) 3 lines; frag. (e) 2 lines; frag. (f) 2 lines; all fragments broken on all sides
cu500 | 3 | The hand is a good-sized, clear cursive
cu520 | 4 | Account
cu546 | 5 | In Greek
cu590 | 6 | Small flat box 13
cu655 | 1 | Papyri

cu245ab | 1 | Account [II/I BC]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
