# APIS Editor [07/17/2007] rla2118 - replacement
cu001 | 1 | princeton.apis.p732
cu035 | 1 | (NjP)apis.p0732
cu090 | 1 | AM 11233
cu090_orgcode | 1 | NjP
cu245ab | 1 | Land Survey
cu245f | 1 | First half of IInd c. AD
cu300 | 1 | 1 papyrus fragment; 20 x 15 cm
cu500 | 1 | Written along the fibers; on the verso, a much effaced text, probably written by the scribe who wrote the text on the recto
cu500 | 2 | 24 lines; broken at top?
cu500 | 3 | The hand is a rapid cursive
cu510 | 4 | P.Princ. III 172 descriptum
cu510 | 5 | SB XVIII 14068
cu510_dd | 1 | SB:18:14068
cu518 | 1 | From the Arsinoite nome
cu520 | 7 | Land survey
cu546 | 8 | In Greek
cu581 | 9 | P. J. Sijpesteijn, "P.Princeton III 172 Reconsidered," ZPE 70 (1987): 139-142
cu655 | 1 | Papyri
cu655 | 2 | Land
cu965 | 1 | APIS
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 100
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 150
cuOrgcode | 1 | NjP
cuR_TYPE | 1 | r
perm_group | 1 | w
status | 1 | 1
