cu001 | 1 | princeton.apis.p206
cu035 | 1 | (NjP)apis.p0206
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 12 x 12.8 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 230
cu090 | 1 | Princ. inv. AM 8951
cu500 | 1 | Written along the fibers; back blank
cu500 | 2 | 15 lines; broken at the bottom and perhaps at the right
cu500 | 3 | The upper right section is effaced
cu500 | 4 | The hand is large and shows some separation of letters
cu510 | 5 | SB IV 7441
cu545 | 6 | Application for lease
cu546 | 7 | In Greek
cu561 | 8 | Garrett Deposit 1924, no. in H. I. Bell's inventory
cu581 | 9 | H. B. van Hoesen and A. C. Johnson, "Five Leases in the Princeton Collection," JEA 14 (1928): 118-125
cu590 | 10 | Mounted with P.Princeton II 71
cu655 | 1 | Papyri

cu245ab | 1 | Application [ca 230 AD]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
