# APIS Editor [06/06/2006] rla2118 - replacement
# APIS Editor [02/21/2007] aso2101 - replacement
cu001 | 1 | princeton.apis.p607
cu035 | 1 | (NjP)apis.p0607
cu090 | 1 | GD 7612
cu090_orgcode | 1 | NjP
cu245ab | 1 | Petition
cu245f | 1 | VIth c. AD
cu300 | 1 | 1 papyrus fragment; 10.5 x 13.5 cm
cu500 | 1 | Written across the fibers; docket on back
cu500 | 2 | 9 lines; broken at right
cu500 | 3 | The hand is a fluent cursive
cu500_t | 1 | From  . . . I have received the letters from your brotherhood . . . serious matters, concerning which those who had been telling such things to you do not owe you . . . before three years he departed from our village and went down to . . . [l. 5] and he took a wife there and has done a lot of harm to our possessions . . . of the shepherds, and we will be indebted to you to investigate the wrongdoings by those people of your village unless these . . . we are forced to commit acts not agreeable to God and the people . . . of the matters, and may God, our Lord, persuade you  . . . [Verso] Given to master Sarapion  . . . of the polis  . . . from Theodosios.
cu510 | 1 | P.Princ. III 120
cu510_dd | 1 | P.Princ.:3:120
cu518 | 1 | Provenance Unknown
cu520 | 6 | Petition.  Someone from the plaintiff's village had married a woman from another village and had become a leader in raids against his former villages.  The petition seems to be an appeal to the headman of the village to restrain his people from their lawless acts.  If no such action is taken, the plaintiffs will act for themselves, apparently without recourse to law or higher authority
cu546 | 1 | In Greek
cu655 | 1 | Papyri
cu655 | 2 | Petition
cu965 | 1 | APIS
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 599
cuOrgcode | 1 | NjP
cuR_TYPE | 1 | r
perm_group | 1 | w
status | 1 | 1
