cu001 | 1 | princeton.apis.p341
cu035 | 1 | (NjP)apis.p0341
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 2 papyrus fragments; (a) 27.3 x 8.9 cm. (b) 6.6 x 6 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 100
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 299
cu090 | 1 | Princ. inv. AM 4428 B recto
cu500 | 1 | Written along the fibers; on the verso, a document
cu500 | 2 | Frag. (a) 17 lines; frag. (b) 7 lines; broken except at top
cu500 | 3 | The hand is a small cursive
cu520 | 4 | Document.  Content uncertain
cu546 | 5 | In Greek
cu590 | 6 | Frame 37
cu655 | 1 | Papyri

cu245ab | 1 | Documentary Text [II/III AD]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
