cu001 | 1 | princeton.apis.p86
cu035 | 1 | (NjP)apis.p0086
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 14.5 x 15.6 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 199
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 1
cu090 | 1 | Princ. inv. AM 87-48 C verso
cu500 | 1 | Written across the fibers; on the recto, an account
cu500 | 2 | Traces of two columns: col. I, 12? lines, col. II, 11 lines; broken at top and left
cu500 | 3 | The hand is a small cursive
cu520 | 4 | Account: content uncertain
cu546 | 5 | In Greek
cu561 | 6 | Removed from mummy cartonnage opened by Adam B*low-Jacobsen, July 1982
cu590 | 7 | Medium flat box 4
cu655 | 1 | Papyri

cu245ab | 1 | Account [II/I BC]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
