# APIS Editor [03/21/2007] aso2101 - replacement
cu001 | 1 | princeton.apis.p573
cu035 | 1 | (NjP)apis.p0573
cu090 | 1 | GD 7528
cu090_orgcode | 1 | NjP
cu245ab | 1 | Loan
cu245f | 1 | VIth c. AD
cu300 | 1 | 1 papyrus fragment; 12.5 x 10.5 cm
cu500 | 1 | Written along the fibers; docket on back
cu500 | 2 | 16 lines; broken at top and bottom
cu500 | 3 | The hand is an upright cursive
cu500_t | 1 | [recto] This sum guaranteed from all the risk, we agree to pay to your excellency in the month of Pharmouthi of the present 14th indiction when we receive earnest-money of our pay for the 15th [l. 5] indiction.  This we do without delay pledging the property which belongs to us.  This contract is valid and [l. 10] is in one copy, and on being questioned we acknowledge the contract.  Aurelios Georgios, stable-master, son of Victor, and his wife Euphemia, daughter of Anoup, have made this contract for four solidi as stated above. [l. 15] Ioannes son of the blessed Isak wrote upon request on their behalf since they are illiterate. [verso] . . . and of his wife, 4 solidi in gold minus 10 ker.
cu510 | 1 | P.Princ. III 145
cu510_dd | 1 | P.Princ.:3:145
cu518 | 1 | Provenance Unknown
cu520 | 6 | Aurelius Georgos, stable master, and his wife, Euphemia, daughter of Anoup, agree to repay a loan of four solidi when they receive advance payments on their salary for the fifteenth indiction
cu546 | 1 | In Greek
cu581 | 1 | BL IX, 221
cu581 | 8 | P. J. Sijpesteijn, "Corrections on Some Princeton Papyri," ZPE 68 (1987): 143-148
cu655 | 1 | Papyri
cu655 | 2 | Loan
cu655 | 3 | Contract
cu965 | 1 | APIS
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 599
cuOrgcode | 1 | NjP
cuR_TYPE | 1 | r
perm_group | 1 | w
status | 1 | 1
