# APIS Editor [05/04/2006] rla2118 - replacement
cu001 | 1 | princeton.apis.p147
cu035 | 1 | (NjP)apis.p0147
cu090 | 1 | AM 4119
cu090_orgcode | 1 | NjP
cu245ab | 1 | Account
cu245f | 1 | Late VI
cu300 | 1 | 1 papyrus fragment; 32 x 16.4 cm
cu500 | 1 | Written along the fibers; back blank
cu500 | 2 | 21 lines; complete but with some slight damage to the left
cu500 | 3 | A few small holes
cu500 | 4 | The hand is a fine, upright and angular cursive
cu510 | 1 | P.Oxy. VIII 1147
cu510_dd | 1 | P.Oxy.:8:1147
cu518 | 1 | From Oxyrhynchus
cu520 | 7 | Account of sums which had not been paid in 'the great list' but had either been paid since or were still owing; some of the items subsequently have been canceled; the account is described in the heading as relating to the district of a comes, Papirios, and mentions several village names
cu546 | 9 | In Greek
cu561 | 10 | Given to Princeton University by the Egypt Exploration Society
cu590 | 11 | Frame 17
cu655 | 1 | Papyri
cu655 | 2 | Account
cu965 | 1 | APIS
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 550
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 599
cuOrgcode | 1 | NjP
cuPart_caption | 1 | Recto :: 0 :: 12 kb image
cuPart_caption | 2 | Recto :: 0 :: 768 kb image
cuPart_caption | 3 | Recto :: 0 :: 2728 kb image
cuPart_caption | 4 | Recto :: 0 :: 62136 kb image
cuPart_caption | 5 | Recto :: 0 :: 220 kb image
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_no | 3 | 3
cuPart_no | 4 | 4
cuPart_no | 5 | 5
cuPresentation_address | 1 | princeton.apis.p147.f.0.12princeton.apis.p147.f.0.12princeton.apis.p147.f.0.12princeton.apis.p147.f.0.12princeton.apis.p147.f.0.12
cuPresentation_address | 1 | 1 | princeton.apis.p147.f.0.12
cuPresentation_address | 2 | princeton.apis.p147.f.0.150princeton.apis.p147.f.0.150princeton.apis.p147.f.0.150princeton.apis.p147.f.0.150princeton.apis.p147.f.0.150
cuPresentation_address | 2 | 1 | princeton.apis.p147.f.0.150
cuPresentation_address | 3 | princeton.apis.p147.f.0.300princeton.apis.p147.f.0.300princeton.apis.p147.f.0.300princeton.apis.p147.f.0.300princeton.apis.p147.f.0.300
cuPresentation_address | 3 | 1 | princeton.apis.p147.f.0.300
cuPresentation_address | 4 | princeton.apis.p147.f.0.300princeton.apis.p147.f.0.300princeton.apis.p147.f.0.300princeton.apis.p147.f.0.300princeton.apis.p147.f.0.300
cuPresentation_address | 4 | 1 | princeton.apis.p147.f.0.300
cuPresentation_address | 5 | princeton.apis.p147.f.0.75princeton.apis.p147.f.0.75princeton.apis.p147.f.0.75princeton.apis.p147.f.0.75princeton.apis.p147.f.0.75
cuPresentation_address | 5 | 1 | princeton.apis.p147.f.0.75
cuPresentation_display_res | 1 | 1212121212
cuPresentation_display_res | 1 | 1 | 12
cuPresentation_display_res | 2 | 150150150150150
cuPresentation_display_res | 2 | 1 | 150
cuPresentation_display_res | 3 | 300300300300300
cuPresentation_display_res | 3 | 1 | 300
cuPresentation_display_res | 4 | 300300300300300
cuPresentation_display_res | 4 | 1 | 300
cuPresentation_display_res | 5 | 7575757575
cuPresentation_display_res | 5 | 1 | 75
cuPresentation_file_type | 1 | jpegjpegjpegjpegjpeg
cuPresentation_file_type | 1 | 1 | jpeg
cuPresentation_file_type | 2 | jpegjpegjpegjpegjpeg
cuPresentation_file_type | 2 | 1 | jpeg
cuPresentation_file_type | 3 | jpegjpegjpegjpegjpeg
cuPresentation_file_type | 3 | 1 | jpeg
cuPresentation_file_type | 4 | tiftiftiftiftif
cuPresentation_file_type | 4 | 1 | tif
cuPresentation_file_type | 5 | jpegjpegjpegjpegjpeg
cuPresentation_file_type | 5 | 1 | jpeg
cuPresentation_format | 1 | image/jpegimage/jpegimage/jpegimage/jpegimage/jpeg
cuPresentation_format | 1 | 1 | image/jpeg
cuPresentation_format | 2 | image/jpegimage/jpegimage/jpegimage/jpegimage/jpeg
cuPresentation_format | 2 | 1 | image/jpeg
cuPresentation_format | 3 | image/jpegimage/jpegimage/jpegimage/jpegimage/jpeg
cuPresentation_format | 3 | 1 | image/jpeg
cuPresentation_format | 4 | image/tiffimage/tiffimage/tiffimage/tiffimage/tiff
cuPresentation_format | 4 | 1 | image/tiff
cuPresentation_format | 5 | image/jpegimage/jpegimage/jpegimage/jpegimage/jpeg
cuPresentation_format | 5 | 1 | image/jpeg
cuPresentation_no | 1 | 11111
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 2 | 11111
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 3 | 11111
cuPresentation_no | 3 | 1 | 1
cuPresentation_no | 4 | 11111
cuPresentation_no | 4 | 1 | 1
cuPresentation_no | 5 | 11111
cuPresentation_no | 5 | 1 | 1
cuPresentation_note_text | 1 | Recto :: 0 :: 12 kb imageRecto :: 0 :: 12 kb imageRecto :: 0 :: 12 kb imageRecto :: 0 :: 12 kb imageRecto :: 0 :: 12 kb image
cuPresentation_note_text | 1 | 1 | Recto :: 0 :: 12 kb image
cuPresentation_note_text | 2 | Recto :: 0 :: 768 kb imageRecto :: 0 :: 768 kb imageRecto :: 0 :: 768 kb imageRecto :: 0 :: 768 kb imageRecto :: 0 :: 768 kb image
cuPresentation_note_text | 2 | 1 | Recto :: 0 :: 768 kb image
cuPresentation_note_text | 3 | Recto :: 0 :: 2728 kb imageRecto :: 0 :: 2728 kb imageRecto :: 0 :: 2728 kb imageRecto :: 0 :: 2728 kb imageRecto :: 0 :: 2728 kb image
cuPresentation_note_text | 3 | 1 | Recto :: 0 :: 2728 kb image
cuPresentation_note_text | 4 | Recto :: 0 :: 62136 kb imageRecto :: 0 :: 62136 kb imageRecto :: 0 :: 62136 kb imageRecto :: 0 :: 62136 kb imageRecto :: 0 :: 62136 kb image
cuPresentation_note_text | 4 | 1 | Recto :: 0 :: 62136 kb image
cuPresentation_note_text | 5 | Recto :: 0 :: 220 kb imageRecto :: 0 :: 220 kb imageRecto :: 0 :: 220 kb imageRecto :: 0 :: 220 kb imageRecto :: 0 :: 220 kb image
cuPresentation_note_text | 5 | 1 | Recto :: 0 :: 220 kb image
cuPresentation_url | 1 | http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=12&face=f&tile=0http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=12&face=f&tile=0http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=12&face=f&tile=0http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=12&face=f&tile=0http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=12&face=f&tile=0
cuPresentation_url | 1 | 1 | http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=12&face=f&tile=0
cuPresentation_url | 2 | http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=150&face=f&tile=0http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=150&face=f&tile=0http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=150&face=f&tile=0http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=150&face=f&tile=0http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=150&face=f&tile=0
cuPresentation_url | 2 | 1 | http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=150&face=f&tile=0
cuPresentation_url | 3 | http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=300&face=f&tile=0http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=300&face=f&tile=0http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=300&face=f&tile=0http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=300&face=f&tile=0http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=300&face=f&tile=0
cuPresentation_url | 3 | 1 | http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=300&face=f&tile=0
cuPresentation_url | 5 | http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=75&face=f&tile=0http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=75&face=f&tile=0http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=75&face=f&tile=0http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=75&face=f&tile=0http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=75&face=f&tile=0
cuPresentation_url | 5 | 1 | http://www.columbia.edu/cgi-bin/dlo?obj=princeton.apis.p147&size=75&face=f&tile=0
cuR_TYPE | 1 | r
perm_group | 1 | w
status | 1 | 1
