# APIS Editor [05/04/2006] rla2118 - replacement
cu001 | 1 | princeton.apis.p389
cu035 | 1 | (NjP)apis.p0389
cu090 | 1 | Oxy. 1207
cu090_orgcode | 1 | NjP
cu245ab | 1 | Lease of a Camel-Stable [175-6(?)  AD]
cu300 | 1 | 1 papyrus fragment; 7.2 x 9.3 cm
cu500 | 1 | Written along the fibers; back blank
cu500 | 2 | 16 lines; broken except at left
cu500 | 3 | The hand is a tiny, fluent cursive
cu500_t | 1 | [...have leased to...,] of the city of Oxyrhynchus, for a period of five years from Thoth 1 of the coming 17th year the camel-stall which they have in the quarter of the Hermaeum together with all its appurtenances, for a fowl-house, excluding any parts needed for an oil-press that may be chosen by Epimachus, the rent for the rest of the premises for the term of five years being 300 drachmae annually, with an additional payment likewise annually of 4 cocks in perfect condition, 8 laying hens in perfect condition, 100 eggs, and 8 drachmae for the slaves for a libation.  On the lease being guaranteed, the lessee shall pay to the lessors the additional payments whenever they wish and the rent at the two fixed dates of Phamenoth and Mesore with no delay.  The lessee with his sons or [other agents] shall then utilize the premises leased to him...
cu510 | 4 | P.Oxy. IX 1207
cu510_dd | 5 | P.Oxy.:9:1207
cu518 | 1 | From Oxyrhynchus
cu520 | 6 | Lease for five years for premises which had been used for keeping camels, and were now were to be turned into a fowl house.  The rent was 300 drachmas per annum, with yearly extras of 4 cocks, 8 hens and 100 eggs as well as a donation to the lessor's servants of 8 drachmas 'for a libation'.  A seventeenth year is referred to and may be that of Marcus Aurelius
cu546 | 8 | In Greek
cu561 | 9 | Given to Princeton University by the Egypt Exploration Society 1914-1915
cu581 | 1 | BL XI, 148
cu590 | 10 | AM 4111: Frame 14
cu655 | 1 | Papyri
cu965 | 1 | APIS
cuOrgcode | 1 | NjP
cuR_TYPE | 1 | r
perm_group | 1 | w
status | 1 | 1
