cu001 | 1 | princeton.apis.p746
cu035 | 1 | (NjP)apis.p0746
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 39 x 180 cm



cu090 | 1 | Princ. inv. ?
cu520 | 1 | Bilingual text written in hieratic and hieroglyphs
cu546 | 2 | In Hieroglyphic, Hieratic
cu561 | 3 | Garrett Deposit 1924, no. in H. I. Bell's inventory
cu590 | 4 | Mounted, oversize
cu655 | 1 | Papyri

cu245ab | 1 | No title assigned [ ]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
