# APIS Editor [05/04/2006] rla2118 - replacement
cu001 | 1 | princeton.apis.p633
cu035 | 1 | (NjP)apis.p0633
cu090 | 1 | Oxy. 1132
cu090_orgcode | 1 | NjP
cu245ab | 1 | Repayment of a Loan [162 AD]
cu300 | 1 | 1 papyrus fragment; 9.4 x 7.5 cm
cu500 | 1 | Written along the fibers; back blank
cu500 | 2 | 19 lines; broken at right and bottom
cu500 | 3 | Some holes
cu500 | 4 | The hand is a tiny cursive
cu500_t | 1 | Chaeremon son of Sarapion son of . . ., his mother being Taplutas, of the city of Oxyrhynchus, to Tryphon son of Heraclides son of . . . on, his mother being Taapollonides, of the said city, greeting.  I acknowledge that I have received from you, who are making payment of your own accord before the appointed term, through the bank at the Serapeum at Oxyrhynchus of Phanias, ex-chief priest, and Ptolemaeus, the overseers associated with Audasius Paulinus, the capital sum of six hundred silver drachmae with the interest thereon up to the present time at the rate of two drachmae per month, which sum was lent you by me in accordance with a note of hand through the said bank on the intercalary days of the second year of Antoninus and Verus, lords and Emperors, until . . .
cu510 | 5 | P.Oxy. VIII 1132
cu510_dd | 6 | P.Oxy.:8:1132
cu520 | 7 | Chairemon, son of Sarapion, his mother being Taplutas, acknowledges that he has received from Tryphon son of Herakleides, the sum of 600 silver drachmas plus interest which was owed to him.  The transaction took place before time, through the bank bank at the Serapeum at Oxyrhynchus, the officials involved being Phanias, ex chief priest and Ptolemaios, both described as the overseers associated with Audasius Paulinus
cu545 | 8 | From Oxyrhynchus
cu546 | 9 | In Greek
cu561 | 10 | Given to Princeton University by the Egypt Exploration Society, 1914-15
cu590 | 11 | AM 4105: Frame 14
cu655 | 1 | Papyri
cu965 | 1 | APIS
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 162
cuOrgcode | 1 | NjP
cuR_TYPE | 1 | r
perm_group | 1 | w
status | 1 | 1
