# APIS Editor [04/10/2006] rla2118 - replacement
# APIS Editor [03/28/2007] aso2101 - replacement
cu001 | 1 | princeton.apis.p492
cu035 | 1 | (NjP)apis.p0492
cu090 | 1 | GD 7526
cu090_orgcode | 1 | NjP
cu245ab | 1 | Letter
cu245f | 1 | Vth c. AD
cu300 | 1 | 1 papyrus fragment; 16 x 20 cm
cu500 | 1 | Written along the fibers; address on back
cu500 | 2 | 6 lines; broken at right and bottom.  Some loss of text in upper right corner
cu500 | 3 | The hand is a large, upright cursive
cu500_t | 1 | [recto] To my master . . . and to the noble image of your Excellency  . . . through experience itself I have become an admirer of your Excellency . . . your virtue according to which is indebted . . . [l. 5] remembering your friendship . . . asking . . . arrangement . . . [verso] to my true master
cu510 | 1 | P.Princ. III 169
cu510_dd | 1 | P.Princ.:3:169
cu518 | 1 | Provenance Unknown
cu520 | 6 | Letter written to someone of high standing (originally thought to be addressed to father of a young lady, but see BL III, 153)
cu546 | 1 | In Greek
cu581 | 1 | BL III, 153; ZPE 137 (2001), 241-242
cu655 | 1 | Papyri
cu655 | 2 | Letter
cu965 | 1 | APIS
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 400
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 499
cuOrgcode | 1 | NjP
cuR_TYPE | 1 | r
perm_group | 1 | w
status | 1 | 1
