cu001 | 1 | princeton.apis.p133
cu035 | 1 | (NjP)apis.p0133
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 13.8 x 6.2 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 300
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 399
cu090 | 1 | Princ. inv. GD 7728 A recto
cu500 | 1 | Written along the fibers; on the verso, an account
cu500 | 2 | 14 lines; broken at right and bottom
cu500 | 3 | Left side is effaced
cu500 | 4 | The hand is a well spaced, clear cursive
cu520 | 5 | Account; possibly part of a record of daily expenditure
cu546 | 6 | In Greek
cu561 | 7 | Garrett Deposit 1926, no. II 222 in H. I. Bell's inventory
cu655 | 1 | Papyri

cu245ab | 1 | Account [IV AD]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
