cu001 | 1 | princeton.apis.p392
cu035 | 1 | (NjP)apis.p0392
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 17.1 x 33.8 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 254
cu090 | 1 | Princ. inv. GD 7541
cu500 | 1 | Written along the fibers; back blank
cu500 | 2 | 18 lines; broken on both sides
cu500 | 3 | The hand
cu510 | 4 | SB IV 7474
cu520 | 5 | Lease of crown land
cu545 | 6 | From the Fayum
cu546 | 7 | In Greek
cu561 | 8 | Garrett Deposit 1924, no. II 159 in H. I. Bell's inventory
cu581 | 9 | H. B. van Hoesen and A. C. Johnson, "A Lease of Crown Land on Papyrus," TAPA 56 (1925): 213-214
cu655 | 1 | Papyri

cu245ab | 1 | Lease [254 AD]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
