# APIS Editor [02/09/2007] aso2101 - replacement
cu001 | 1 | princeton.apis.p622
cu035 | 1 | (NjP)apis.p0622
cu090 | 1 | AM 8953
cu090_orgcode | 1 | NjP
cu245ab | 1 | Custom-House Receipt
cu245f | 1 | AD 221, July 17 or 225, July 17
cu300 | 1 | 1 papyrus fragment; 5 x 4 cm
cu500 | 1 | Written along the fibers; back blank
cu500 | 2 | 6 lines; complete
cu500 | 3 | The hand is a tiny, fluent cursive, tending towards upright
cu500_t | 1 | Paid through the gate-house of Philadelphia on the account of âMemphis-harbor taxâ (a customs duty paid on crossing the border between Upper and Lower Egypt at Memphis) by Aurelius Tesenouphis exporting on one donkey, 1, one artaba of dates, 1.  [l. 5] The 4th (year?), the twenty third of Epeiph, 23rd . . .
cu510 | 1 | P.Princ. II 51
cu510_dd | 1 | P.Princ.:2:51
cu518 | 1 | From Philadelphia
cu520 | 6 | Customs house receipt for payment of the limen Mempheos on a small shipment of dates being exported through the customs house at Philadelphia
cu546 | 1 | In Greek
cu581 | 1 | See BL IX, 219
cu590 | 1 | AM 8953: mounted with P.Princeton II 27
cu655 | 1 | Papyri
cu655 | 2 | Receipt
cu965 | 1 | APIS
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 221
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 225
cuOrgcode | 1 | NjP
cuR_TYPE | 1 | r
perm_group | 1 | w
status | 1 | 1
