cu001 | 1 | princeton.apis.p290
cu035 | 1 | (NjP)apis.p0290
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 7 x 4.4 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 200
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 299
cu090 | 1 | Princ. inv. Garrett Deposit 1928 Bell I 41
cu500 | 1 | Written along the fibers; on the verso, a text written in a small cursive hand
cu500 | 2 | 10 lines; broken at left and bottom
cu500 | 3 | The bottom half of the text is under a heavy layer of dirt
cu500 | 4 | The hand is a tiny, rapid cursive
cu520 | 5 | Document.  Content uncertain
cu546 | 6 | In Greek
cu561 | 7 | Garrett Deposit 1924, no. I 41 in H. I. Bell's inventory
cu655 | 1 | Papyri

cu245ab | 1 | Documentary Text [III AD]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
