cu001 | 1 | princeton.apis.p287
cu035 | 1 | (NjP)apis.p0287
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 11.4 x 4.4 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 200
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 299
cu090 | 1 | Princ. inv. Garrett Deposit 1928 Bell I 66 verso
cu500 | 1 | Written across the fibers; on the recto a document, also written across the fibers
cu500 | 2 | 14 lines; broken on all sides
cu500 | 3 | The hand is a small, fluent cursive
cu520 | 4 | Document.  Content uncertain.  Mentions the name Theon
cu546 | 5 | In Greek
cu561 | 6 | Garrett Deposit 1928, no. I 66 in H. I. Bell's inventory
cu590 | 7 | Small flat box 9
cu655 | 1 | Papyri

cu245ab | 1 | Documentary Text [III AD]
perm_group | 1 | w

cu090_orgcode | 1 | NjP
cuOrgcode | 1 | NjP
