cu001 | 1 | michigan.apis.29
cu035 | 1 | (MiU)29
cu090 | 1 | O.Mich.inv. 4004
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu100a | 1 | Philoxenos and Kyrillos, dekaprotoi
cu100a | 2 | Heroninos, phrontistes of Apianus (see D. Rathbone, Economic Rationalism [1991], etc.)
cu100a | 3 | Appianus (see D. Rathbone, Economic Rationalism [1991], etc.)
cu245ab | 1 | Receipt for Delivery in Kind
cu245f | 1 | March 24, 261 A.D.
cu300 | 1 | 1 ostracon ; 7.3 x 6.4 cm
cu500 | 2 | Location: Kelsey Museum
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 6
cu500_t | 1 | For the dekaprotoi and Kyrillos, for the produce of year 7, through beasts of Koba(?) (and) Theadelphia, Heroninos, manager (of the estate) of Appianus, (has shifted) 2 donkeys. Year 1, Phamenoth 28.
cu510 | 2 | Amundsen L, OMich I, 68, 1935
cu510_dd | 1 | O.Mich.:1:68
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-29&viewid=1
cu518 | 1 | probably Theadelphia, Themistou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Receipt for transport of 2 donkey-loads of tax grain, made on behalf of the land-owner Appianus
cu544_n | 1 | Related, if not belonging, to the Heroninos archive
cu546 | 1 | Greek
cu561 | 1 | probably Theadelphia, Themistou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | Complete
cu653 | 1 | Koba(?); Theadelphia
cu653 | 2 | Donkeys--Egypt--Kharabat Ihrit.
cu653 | 3 | Administration of estates--Egypt--Kharabat Ihrit.
cu653 | 4 | Kharabat Ihrit (Egypt)
cu653 | 5 | Tax collection--Egypt--Kharabat Ihrit.
cu653 | 6 | Grain--Transportation--Egypt--Kharabat Ihrit.
cu655 | 1 | Documentary
cu655 | 1 | Ostracon
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 261
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
perm_group | 1 | w
