cu001 | 1 | michigan.apis.2435
cu035 | 1 | (MiU)2435
cu090 | 1 | P.Mich.inv. 5336
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu100a | 1 | Unknown
cu100a | 2 | Antoninus Pius, Emperor
cu100a | 3 | Petheus son of Petheus (& unnamed children)
cu100a | 4 | Herakleides, former strategos (of the Herakleidou meris)
cu100a | 5 | [Lucius Munatius Felix(?)], prefect of Egypt
cu100a | 6 | Hierax, strategos (of the Herakleidou meris)
cu245ab | 1 | Petition(?)
cu245f | 1 | ca. 152 A.D.
cu300 | 1 | 1 papyrus ; 18 x 12.4 cm
cu500 | 2 | Location: Cairo
cu500 | 4 | Pub. status: Recto
cu500_lin | 1 | 15
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | (Text too fragmentary to be translated).
cu510 | 2 | Sijpesteijn PJ, ZPE 106, 216-218, 1995, Pl. VIIIa -- SB XXII, 15782
cu510_dd | 1 | SB.:22:15782
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2435&viewid=1
cu518 | 1 | Karanis or other place, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Top of a column belonging to a petition(?) concerning a property which the petitioner claims to have acquired in 139/140 A.D., but for which he has already petitioned the prefect and two strategoi in 149/150 and 150/151, because a certain Petheus, son of Petheus, and his family have tried to remove the profits of it.
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | broken off on the left and right sides, and at the bottom
cu653 | 1 | -
cu653 | 2 | Justice
cu653 | 3 | Land Ownership
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 152
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
perm_group | 1 | w
