cu001 | 1 | michigan.apis.392
cu035 | 1 | (MiU)392
cu090 | 1 | O.Mich.inv. 4555
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu100a | 1 | Aurelii Apollonios and Ptolemaios, overseers of the chaff for Babylon
cu100a | 2 | Aurelius Apollonios, epimeletes achyrou Babylonos (see also O.Mich. II, 779)
cu100a | 3 | Aurelius Ptolemaios, epimeletes achyrou Babylonos (see also O.Mich. II, 779
cu100a | 4 | III, 1012)
cu100a | 5 | Panesates son of Aunes (see also O.Mich. I, p. 201
cu100a | 6 | II, 780
cu100a | 7 | III, 1012)
cu245ab | 1 | Receipt for Delivery in Kind
cu245f | 1 | August 31[?], 303 A.D.
cu300 | 1 | 1 ostracon ; 9 x 8 cm
cu500 | 2 | Location: Cairo
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 7
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | Aurelii Apollonios and Ptolemaios, overseer of the chaff for Babylon. Has brought Panesates, son of Aunes, for the village of Karanis, one basket (sargane) of chaff, for the 19th and 18th and 11th year, on Thoth 2(?).
cu510 | 2 | Amundsen L, OMich I, 187, 1935
cu510_dd | 1 | O.Mich.:1:187
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-392&viewid=4555O.TIF
cu518 | 1 | unknown harbor, Herakleopolite or Memphite nome, province of Egypt
cu520 | 1 | Receipt for chaff of Karanis brought by  Panesates, son of Aunes, to the collectors of Babylon
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | Complete
cu653 | 1 | Babylon; Karanis
cu653 | 2 | Supervisors--Egypt.
cu653 | 3 | Land value taxation--Egypt.
cu653 | 4 | Receipts (Acknowledgments)--Egypt.
cu653 | 5 | Tax collection--Egypt.
cu653 | 6 | Crop residues--Transportatopm--Egypt.
cu655 | 1 | Documentary
cu655 | 1 | Ostracon
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 303
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/5/5/o/4555o.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-392&viewid=4555O.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-392&viewid=4555O.TIF&quality=large
perm_group | 1 | w
