cu001 | 1 | michigan.apis.2633
cu035 | 1 | (MiU)2633
cu090 | 1 | P.Mich.inv. 6057
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu100a | 1 | A[- - -]
cu100a | 2 | Herakleios
cu100a | 3 | Claudius, Emperor
cu245ab | 1 | Customshouse Order
cu245f | 1 | 43/44 A.D.
cu300 | 1 | 1 papyrus ; 6.5 x 11.2 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 10
cu500_rec | 1 | Source of description: C; Recto
cu500_t | 1 | Let pass through the gate-house of Bacchias Herakleios, importing one young, tawny donkey, equals 1 donkey. Year 4 of Tiberius Claudius Caesar Augustus Germanicus Imperator, the seventeenth of [. . .], 17. I, A[- - -, have signed].
cu510 | 2 | Sijpesteijn PJ, PCustoms, 4, 1987
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2633&viewid=1
cu518 | 1 | Bacchias, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Order to let pass a man who has paid the 3 % customs duty
cu546 | 1 | Greek
cu561 | 1 | Soknopaiou Nesos, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | slightly broken off at the bottom; original not found (december 1997)
cu653 | 1 | Bacchias
cu653 | 2 | Receipts (Acknowledgments)--Egypt.
cu653 | 3 | Customhouses--Egypt--Bacchias (Extinct city)
cu653 | 4 | Taxation--Egypt.
cu653 | 5 | Bacchias (Extinct city)
cu653 | 6 | Donkeys--Transportation--Egypt.
cu653 | 7 | Tariff--Egypt.
cu653 | 8 | Signatures (Writing)
cu653 | 9 | Imports--Egypt.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 43
cuDateValue | 2 | 44
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
perm_group | 1 | w
