cu001 | 1 | michigan.apis.4711
cu035 | 1 | (MiU)4711
cu090 | 1 | P.Mich.inv. 77
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu100a | 1 | Thermouthis (=Thermouthion), daughter of Achilleus and Plutarche
cu100a | 2 | Thermouthis (=Thermouthion), daughter of Achilleus and Plutarche
cu100a | 3 | Stratonikos, son of Apion
cu245ab | 1 | Repaymnet of a loan
cu245f | 1 | November 3, 61 A.D.
cu300 | 1 | 1 papyrus ; 10.6 x 33.1 cm
cu500 | 1 | There is one more glass with mounted papyri with inv. no 74-94 at the end of the series of glasses concerning the archive. Locker B. There are 8 fragmnets that could be parts of 3 or 4 papyri.
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: under research; contact institution
cu500_lin | 1 | 38 lines
cu500_pal | 1 | Two hands: Hand 1: lines 1-22: cursive handwriting, experient, with many ligatures. Hand 2: lines 23-34: The letters are upright. the scribe used the same pen. Hand 3, lines 35-38: cursive again with ligatures. Between hand 1 and 2 there is a horizontal stroke to denote the different sections
cu500_rec | 1 | Source of description: recto
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-4711&viewid=1
cu518 | 1 | Oxyrhynchos, Oxyrhinchite nome, Egypt
cu520 | 1 | Repayment of a loan (P.Mich. inv. 79)
cu544_n | 1 | P.Mich. inv. 72; P.Mich. inv. 73; P.Mich. inv.  74; P.Mich. inv. 75; P.Mich. inv. 76; P.Mich. inv. 78; P.Mich. inv. 79; P.Mich. inv. 80; P.Mich. inv. 81; P.Mich. inv. 82; P.Mich. inv. 83; P.Mich. inv. 84; P.Mich. inv. 85; P.Mich. inv. 86; P.Mich. inv. 87; P.Mich. inv. 88; P.Mich. inv. 89; P.Mich. inv. 90; P.Mich. inv.  91; P.Mich. inv. 92; P.Mich. inv.  93; P.Mich. inv.  94
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | Complete. Three long vertical strips have been joined and prererve the entire document. Some holes at the points it was broken.
cu653 | 1 | Oxyrhynchos, Oxyrhynchite nome, Egypt
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 61
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_no | 1 | 1 | 1
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/7/7/R/77R.jpg
perm_group | 1 | w
