cu001 | 1 | michigan.apis.6367
cu035 | 1 | (MiU)6367
cu090 | 1 | P.Mich.Inv. 1538
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Unknown
cu245ab | 1 | P.Mich.Inv. 1538
cu300 | 1 | 1 papyrus ; 6.8 x 12.4 cm
cu500 | 2 | Location: Ann Arbor
cu500_lin | 1 | 4 lines written in large letters; 4 files written in small-to medium-sized letters
cu500_rec | 1 | Source of description: verso
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-6367&viewid=1
cu518 | 1 | Unknown
cu546 | 1 | Arabic
cu561 | 1 | Unknown
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuLCODE | 1 | ara
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Verso
perm_group | 1 | w
