cu001 | 1 | michigan.apis.3051
cu035 | 1 | (MiU)3051
cu090 | 1 | P.Mich.inv. 6963
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu100a | 1 | Peteminis (alias Ptolemaios)
cu100a | 2 | Diophantos
cu100a | 3 | Petesouchos (see also P.Mich. XVIII, 778?)
cu100a | 4 | (Ptolemy V Epiphanes?), basileus
cu245ab | 1 | Official Notice of Non-Payment
cu245f | 1 | 205-204 B.C.[?] (or 180 B.C.[?] Kramer)
cu300 | 1 | 1 papyrus ; 11.5 x 26.2 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto (written across the fibres) + Verso
cu500_lin | 1 | Recto - 17;;Verso - 2
cu500_pal | 1 | Recto written across the fibres
cu500_rec | 1 | Source of description: Recto + Verso
cu500_t | 1 | To Diophantos from Peteminis, resident of Mouchis in the Division of Polemon. I inform you of Petesouchos, the holder of the beer concession at Mouchis and Aphroditopolis for the [. .] year: 27 talents for the (sc. beer shop) in Mouchis, 12 talents for Aphroditopolis, 39 talents in all, from which has been paid 8 talents for Mouchis, and 6 talents for Aphroditopolis, totaling 14, the remainder being 25 talents - from which there is for security to him a house in Mouchis and a vacant plot of land.;;(Verso);;(2nd hand) Year 1, which (debts) the King has forgiven.
cu510 | 2 | Loftus A - Schwendner G, PMich XVIII, 780A, 1996, Pl. XVII
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-3051&viewid=6963R.TIF
cu518 | 1 | Mouchis, Polemonos meris, Arsinoite nome, Egypt
cu520 | 1 | Official notice of the non-payment of most of the money owed for the concession of the beer sales in Mouchis; the verso shows that the debt was covered by an amnesty
cu544_n | 1 | P.Mich. XVIII, 775-780; P.Heid. VI, 374
cu546 | 1 | Greek
cu561 | 1 | Unknown necropolis (cemeteries at Abusir al-Malaq or al-Lahun?)
cu590_con | 1 | Partly damaged
cu653 | 1 | Mouchis, Polemonos meris; Aphrodites polis
cu653 | 2 | Concessions (Amusements, etc.)--Egypt
cu653 | 3 | Beer--Egypt.
cu653 | 4 | Exclusive licenses--Egypt
cu653 | 5 | Debt cancellation--Egypt
cu653 | 6 | Aphrodito (Extinct city) 
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 205
cuDateValue | 2 | 180
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | medium
cuPresentation_display_res | 2 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/6/3/R/6963R.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3051&viewid=6963R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3051&viewid=6963R.TIF&quality=large
cuPresentation_url | 2 | 1 | http://images.umdl.umich.edu/a/apis/thumb/6/3/V/6963V.jpg
cuPresentation_url | 2 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3051&viewid=6963V.TIF&quality=medium
cuPresentation_url | 2 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3051&viewid=6963V.TIF&quality=large
perm_group | 1 | w
