cu001 | 1 | michigan.apis.7780
cu035 | 1 | (MiU)7780
cu090 | 1 | P.Mich.Inv. 609
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Unknown
cu245ab | 1 | Unknown
cu300 | 1 | 1 papyrus ; 11 x 13.7 cmm
cu500 | 2 | Location: Ann Arbor
cu500_lin | 1 | Recto: 13;Verso: 3
cu500_pal | 1 | Recto is written across the fibers in large detached bold letters; the interlinear spaces are almost even of ca. 0.7 cm. Verso is written against the fibers in rapid hand with fine nib; only traces of some letters are survived at the beginning of the lines as a result of frayed fibers.
cu500_rec | 1 | Source of description: c; recto + verso
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-7780&viewid=1
cu518 | 1 | Unknown
cu546 | 1 | Coptic
cu561 | 1 | Unknown
cu590_con | 1 | Light brown papyrus of mediocre quality; badly damaged at several parts. A big portion is lost at the left to bottom; a small vertical strip of fibers has been removed from the left side.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuLCODE | 1 | cop
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
perm_group | 1 | w
