cu001 | 1 | michigan.apis.7999
cu035 | 1 | (MiU)7999
cu090 | 1 | P.Mich.inv. 1730
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu1004 | 8 | asn
cu1004 | 9 | asn
cu100a | 1 | Unknown
cu100a | 2 | Lukos
cu100a | 3 | Diokles
cu100a | 4 | Latron
cu100a | 5 | kokkos
cu100a | 6 | Inachos
cu100a | 7 | Diogenes
cu100a | 8 | Isidoros
cu100a | 9 | Lukophron
cu245ab | 1 | Petition
cu245f | 1 | IInd century B.C.
cu300 | 1 | 2 papyri ; fr. 1: 6.6 x 11.4 cm; fr. 2: 2 x 4.3 cm
cu500 | 2 | Location: Ann Arbor
cu500_lin | 1 | recto: fr. 1: 13 lines; verso: col. 1; 18 lines; col. 2: 13 lines
cu500_pal | 1 | Small cursive letters. 
cu500_rec | 1 | Source of description: recto-verso
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-7999&viewid=1
cu518 | 1 | Unknown 
cu520 | 1 | It is not certain if the texts on recto and verso are related.
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | Light brown papyrus broken off at all sides
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 199
cuDateValue | 2 | 100
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 2 | 1 | 1
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/2/8/r/1728r.jpg
cuPresentation_url | 2 | 1 | http://images.umdl.umich.edu/a/apis/thumb/2/8/v/1728v.jpg
perm_group | 1 | w
