cu001 | 1 | michigan.apis.6007
cu035 | 1 | (MiU)6007
cu090 | 1 | P.Mich.Inv. 1253
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu100a | 1 | Unknown
cu100a | 2 | Ellenat[ ]
cu245ab | 1 | Land register?
cu245f | 1 | Ist-IInd century A.D.
cu300 | 1 | 1 papyrus ; 2.5 x 3.5 cm
cu500 | 2 | Location: Ann Arbor
cu500_lin | 1 | 3 lines
cu500_rec | 1 | Source of description: (25); recto-verso
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-6007&viewid=1
cu518 | 1 | Unknown
cu520 | 1 | It refers to land under inundation?
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | broken off at the top, the left- and the right-hand sides. Recto is blank, but it is probably the bottom margin of a lost document.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 1
cuDateValue | 2 | 199
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
perm_group | 1 | w
