cu001 | 1 | michigan.apis.2246
cu035 | 1 | (MiU)2246
cu090 | 1 | P.Mich.inv. 4649
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu1004 | 8 | asn
cu1004 | 9 | asn
cu1004 | 10 | asn
cu1004 | 11 | asn
cu1004 | 12 | asn
cu1004 | 13 | asn
cu1004 | 14 | asn
cu1004 | 15 | asn
cu1004 | 16 | asn
cu1004 | 17 | asn
cu1004 | 18 | asn
cu100a | 1 | Unknown
cu100a | 2 | (Lucius Valerius) Proclus (prefect of Egypt)
cu100a | 3 | (Marcus) Petronius (Honoratus, prefect of Egypt)
cu100a | 4 | Torquatus & Iulianus, consuls
cu100a | 5 | Onnopher (Onnophris), son of Nilus (Neilos)
cu100a | 6 | (Lucius) Munatius (Felix, prefect of Egypt)
cu100a | 7 | Gallicanus & Vetus, consuls
cu100a | 8 | Apollos, servus (doulos) of Sarapion
cu100a | 9 | Tiberinus(?), centurio
cu100a | 10 | Praesens & Rufinus, consuls
cu100a | 11 | Arrius (Arrios) son of Sarapion
cu100a | 12 | Victor, centurio
cu100a | 13 | Optatus, centurio
cu100a | 14 | [(Marcus) Sempronius (Liberalis, prefect of Egypt)]
cu100a | 15 | [Commodus &] Lateranus, consuls
cu100a | 16 | Fortis, centurio
cu100a | 17 | [Silvanus &] Augurinus, consuls
cu100a | 18 | (Marcus Annius) Syriacus (prefect of Egypt)
cu245ab | 1 | Report of Uncertain Nature, Perhaps of Police Action(?)
cu245f | 1 | IInd century A.D., after 163[?]
cu300 | 1 | 1 papyrus ; 9.5 x 21 cm (P.Mich. inv. 4649 only)
cu500 | 2 | Location: Cairo
cu500 | 4 | Pub. status: Recto; Verso is P.Mich. VII, 429
cu500_lin | 1 | Col. I - 9;Col. II - 6
cu500_pal | 1 | cursive capitals, with rustic capitals of a larger size used for subheadings (Dunlap); second hand: some abreviated notations in a more cursive script
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | (Text too fragmentary to be translated)
cu510 | 1 | Rep Editor - Bruckner A-Marichal R;   Rep Ser. - Ch.L.A. III;    1963;     Rep_Pg_No 218, with photo;;Rep Editor - Fink RO;    Rep Ser. - AJA  68;    1964;     pg. 297-299, with pl. 95 (P.Lond. Inv. 2723 recto only);;Rep Editor - Daris S;    Rep Ser. - Doc.Eser.Rom;    1964;     No. 26;;Rep Editor - Dorandi T;   Rep Ser. - Ch.L.A. XLII;    1994;     Rep_Pg_No 1225, with photo -- BL X, 124 (bibliography)
cu510 | 2 | Dunlap JE, PMich VII, 447, 1947, Pl. IIb
cu510 | 3 | Cavenaile R, C.P.L., 121 (with addenda, p. 439), 1957
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2246&viewid=1
cu518 | 1 | Unknown place
cu520 | 1 | Report of actions of uncertain nature, apparently taken by centurions according to orders of an unknown official; a consular date is mentioned for each action, with an adjective referring to the corresponding prefect
cu544_n | 1 | P.Lond. Inv. 2723 recto
cu546 | 1 | Latin
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | broken off on the left and right sides and at top and bottom
cu653 | 1 | -
cu653 | 2 | Army
cu653 | 3 | Personal status: slave
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 100
cuDateValue | 2 | 199
cuLCODE | 1 | lat
cuOrgcode | 1 | MiU
perm_group | 1 | w
