cu001 | 1 | michigan.apis.274
cu035 | 1 | (MiU)274
cu090 | 1 | O.Mich.inv. 4430
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu100a | 1 | Unknown tax-collector
cu100a | 2 | Pasoknopaios
cu245ab | 1 | Receipt of tax payment in kind (or memorandum of delivery?)
cu245f | 1 | (Early) Ist century A.D.[?]
cu300 | 1 | 1 ostracon ; 5.7 x 4.3 cm
cu500 | 2 | Location: Cairo
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 5
cu500_pal | 1 | See electronic version of OMich I 362
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | (Has brought/has been brought to) Pasoknopaios, on Pachon 7, 3 lakkoi of beer. In the 1st year, Pachon 7.
cu510 | 2 | Amundsen L, OMich I, 362, 1935
cu510 | 3 | Youtie HC, TAPA 71, 639, 1940 -- SB XIV 11445
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-274&viewid=4430O.TIF
cu518 | 1 | probably Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Receipt or memorandum for delivery of beer from or to a Petesoknopaios
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | complete
cu653 | 1 | -
cu653 | 2 | Beer--Transportation--Egypt--Karanis (Extinct city)
cu653 | 3 | Tax collection--Egypt--Karanis (Extinct city)
cu653 | 4 | Taxation--Egypt--Karanis (Extinct city)
cu653 | 5 | Weights and measures, Ancient.
cu655 | 1 | Documentary
cu655 | 1 | Ostracon
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 1
cuDateValue | 2 | 99
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/3/0/O/4430O.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-274&viewid=4430O.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-274&viewid=4430O.TIF&quality=large
perm_group | 1 | w
