cu001 | 1 | michigan.apis.2691
cu035 | 1 | (MiU)2691
cu090 | 1 | P.Mich.inv. 6189
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu100a | 1 | Stotoetis, Tesenouphis, Herieus & Tapiomis, children of Tesenouphis son of Tesenouphis
cu100a | 2 | Stotoetis son of Tesenouphis grandson of Tesenouphis
cu100a | 3 | Tesenouphis son of Tesenouphis grandson of Tesenouphis
cu100a | 4 | Herieus daughter of Tesenouphis granddaughter of Tesenouphis
cu100a | 5 | Tapiomis daughter of Tesenouphis granddaughter of Tesenouphis
cu100a | 6 | Stotoetis son of Pekysis
cu100a | 7 | Stotoetis son of Peteuris
cu245ab | 1 | Draft of a Declaration of Uninundated Land
cu245f | 1 | IInd century/(early) IIIrd century A.D.
cu300 | 1 | 1 papyrus ; 10.8 X 9.5 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto (written across the fibres); Verso is blank
cu500_lin | 1 | 11
cu500_rec | 1 | Source of description: A; Recto
cu500_t | 1 | From Stotoetis and Tesenouphis and their sisters, Herieus and Tapiomis, the 4 children of Tesenouphis son of Tesenouphis. (We declare) the 7 1/4 arourai of a catoecic allotment which belong to us near the village of Neilou polis, of which 3 5/8 arourai are registered for taxation in the name of Stotoetis son of Pekysis, and the remaining 3 5/8 arourai in the name of Stotoetis son of Peteuris, and of which the same 3 5/8 arourai are under lien for unpaid taxes in the name of the same Stotoetis [- - -?]
cu510 | 2 | Youtie LC, ZPE 42, 89-90, 1981, Pl. IVa -- SB XVI 12679 -- L. 4: read Tesenoupheos tou Tesenoupheos (with ed.pr.) rather than Tesenoupheos kai Tesenoupheos (Gonis). Reading of Tesenoupheos tou Tesenoupheos (ed. pr.) now stands (Gonis).
cu510_dd | 1 | SB:16:12679
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2691&viewid=6189AR_A.TIF
cu518 | 1 | probably Neilou polis, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Incomplete draft of a report concerning land, probably a declaration of uninundated land rather than a property return
cu546 | 1 | Greek
cu561 | 1 | Soknopaiou Nesos, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | perhaps broken off at the bottom
cu653 | 1 | Neilou polis
cu653 | 2 | Agriculture
cu653 | 3 | Cadastre
cu653 | 4 | Irrigation(?)
cu653 | 5 | Taxation (Land)
cu653 | 6 | Unpaid taxes
cu653 | 7 | Woman
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 100
cuDateValue | 2 | 224
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/R/_/A/6189AR_A.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2691&viewid=6189AR_A.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2691&viewid=6189AR_A.TIF&quality=large
perm_group | 1 | w
