cu001 | 1 | michigan.apis.1310
cu035 | 1 | (MiU)1310
cu090 | 1 | P.Mich.inv. 1050
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu100a | 1 | Zenon
cu100a | 2 | Martyrios
cu100a | 3 | Zenon
cu100a | 4 | Theodosios
cu245ab | 1 | Receipt for Garments
cu245f | 1 | Vth century or VIth century A.D.
cu300 | 1 | 1 papyrus ; 12 x 16.8 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto + Verso
cu500_lin | 1 | Recto - 17;;Verso - 1
cu500_pal | 1 | The script is rapid. The style of writing ranges from cramped lettering to excessive floridity (McCarren)
cu500_rec | 1 | Source of description: Recto + Verso
cu500_t | 1 | (Recto);;(Christian symbols). List of clothes which are in the rest-house (praetorium) <or: press-house (pressorium)?>, through brother Martyrios, from me, Zenon: A linen variegated tunic, 1, one; cloaks made in the Antiochian style, 5, in total, five; similarly, an Antioch hood, 1, in total, one; combed linen variegated tunic, 1, in total, one; wrapping clothes, 3, three; a shirt and a cloak; a light-green upper garment, 1, one; embroidered panels, 4, in total, four; a fine linen cloth, 1 in total, one; silver spoons, 10, in total, ten. Give these effects to brother Theodosios, taking from him on account of what he owes to me for  - - -;;(Verso);;A receipt of Zenon - - -.
cu510 | 2 | McCarren VP, Diss, 9, 1975
cu510 | 3 | McCarren VP, PMich XIV, 684, 1980, Pl. IX -- BL VIII, 218 (l. 3, 7, 9, 15-16, 15-17, 17); BL X, 127 (l. 3)
cu510_dd | 1 | P.Mich.:14:684
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-1310&viewid=1050R.TIF
cu518 | 1 | Unknown
cu520 | 1 | List of garments to be given to Theodosios in Zenon&apos;s name
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | Broken off at the bottom
cu653 | 1 | Antiochesios
cu653 | 2 | Clothing and dress--Egypt.
cu653 | 3 | Linen--Egypt.
cu653 | 4 | Receipts (Acknowledgements)--Egypt.
cu653 | 5 | Christian art and symbolism--Egypt.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 400
cuDateValue | 2 | 599
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | medium
cuPresentation_display_res | 2 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/5/0/R/1050R.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1310&viewid=1050R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1310&viewid=1050R.TIF&quality=large
cuPresentation_url | 2 | 1 | http://images.umdl.umich.edu/a/apis/thumb/5/0/V/1050V.jpg
cuPresentation_url | 2 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1310&viewid=1050V.TIF&quality=medium
cuPresentation_url | 2 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1310&viewid=1050V.TIF&quality=large
perm_group | 1 | w
