cu001 | 1 | michigan.apis.1384
cu035 | 1 | (MiU)1384
cu090 | 1 | P.Mich.inv. 1316
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu1004 | 8 | asn
cu1004 | 9 | asn
cu1004 | 10 | asn
cu1004 | 11 | asn
cu1004 | 12 | asn
cu1004 | 13 | asn
cu1004 | 14 | asn
cu100a | 1 | Unknown
cu100a | 2 | Argonauts
cu100a | 3 | Hesione
cu100a | 4 | Laomedon
cu100a | 5 | Telamon
cu100a | 6 | Pelias
cu100a | 7 | Athena
cu100a | 8 | Aphrodite
cu100a | 9 | Aietes
cu100a | 10 | Medea
cu100a | 11 | Ares
cu100a | 12 | Pasiphae
cu100a | 13 | Phaaedra
cu100a | 14 | Ariadne
cu245ab | 1 | Either a commenatry on a poem, with an excursus on the arrangement of the work as a whole, or a continuous monograph on oikonomia (illustrated with specific examples).
cu245f | 1 | IInd century A.D.
cu300 | 1 | 1 papyrus ; 12.7 x 24.8 cm
cu500 | 1 | Already scanned
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Verso; Recto is unpublished
cu500_lin | 1 | 39 lines
cu500_pal | 1 | There are ample margins below and to the right: top margin 1.7 cm; bottom margin 7.6 cm; right margin 5.8 cm. The column may have formed the end of the work, but no title or other such mark is visible. Parsons suugests however that the traces of ink in the right margin may have contained the author&apos;s name, and the book number. The original width of the column cannot be preceisely estimated, but to judge from the contents, a substantial portion of the column is missing to the left; if the text was a hypomnema, the column could have been quite wide. The text is written in a small rounded informal hand, roughly bilinear (phi projects above and below, ypsilon and rho occasionally project below). There are occasionally ligatures.  There are no lectional signs; iota adscript is written. Ther is no punctuation (a space in line 3 may indicate the beginning of a new sentence). A wedge-shaped line filler is used in lines 4 (?), 11 and 18.
cu500_rec | 1 | Source of description: Verso
cu500_t | 1 | Too fragmentary to be translated
cu510 | 2 | Rusten JS, Dionysius Scytobrachion, Papyrologica Coloniensia X, 53-64, 1982, Pl II
cu510 | 3 | Lloyd-Jones H, Parsons P, Supplementum Hellenisticum, 339A
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-1384&viewid=1316V.TIF
cu518 | 1 | Unknown
cu520 | 1 | A commentary on the Argonaut story or a treatise on literary criticism. Several episodes from that the story (none of which is found in Apollonius of Rhodes) are discussed, among them Heracles&apos; rescue of Hesione (with a citation of Dionysius Scytobrachion, lines 5-8) and Aphrodite&apos;s intervention with Aietes (line 23? known from Naupactia). Although both Dionysius and Apollonius are mentioned by name, it seems unlikely that either is the main subject of the text. Lines 9-17 evidently contained an estimate of the arrangement (oikonomia) of a work (presumably on the Argonauts), but here too the prcise subject is unclear, and perhaps there is a comparison between two works.
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | The text is written on the verso of a roll (acroos the fibres) and is perhaps itself a palimpsest. Illegible traces of earlier writing survive to the right of ll. 30-34.  It is badly smeared or faded in parts (and broken at line 19).
cu653 | 1 | Ilion; Bebrycia (?)
cu653 | 2 | Argonauts (Greek mythology)
cu653 | 3 | Epic poetry, Greek.
cu653 | 4 | Greek literature--History and criticism--Egypt.
cu655 | 1 | Literary; Mythological commentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 100
cuDateValue | 2 | 199
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/1/6/v/1316v.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1384&viewid=1316V.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1384&viewid=1316V.TIF&quality=large
perm_group | 1 | w
