cu001 | 1 | michigan.apis.5164
cu035 | 1 | (MiU)5164
cu090 | 1 | P.Mich.inv. 5578
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu100a | 1 | N»Ìjid b. Muslim
cu100a | 2 | N»Ìjid b. Muslim
cu100a | 3 | √¨Abd All»Ìh b. As√¨ad
cu245ab | 1 | Standing Guarantee 
cu245f | 1 | VIIIth Cent. A.D.
cu300 | 1 | 3 papyri ; 8 x 7.5; 2 x 3; 10.3  x 7 cm
cu500 | 1 | Edition&apos;s Side A is Recto; Side B Verso according to APIS guidelines.
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | Fragment A and B: 5 lines; Fragment C: 5 lines
cu500_pal | 1 | Written in black ink with a medium pen perpendicular to the fibers on Recto. There are no diacritical dots. 
cu500_rec | 1 | Source of description: (7)Fragmanet A; B; C Recto
cu500_t | 1 | Fragments A/B ;1. In the name of] God [the Compassionate, the M]erciful. ;2. From] N»Ìjid [b. Muslim to √¨Ab]d All»Ìh b. As√¨ad. Peace  ;3. be upon you and I praise for you] God besides Whom there is no [god but He. ;4. Further, . . .to] you the Ç«™ which I wrote [. . . ;5. . . . ] . . . you [ ;; ;Fragment C ;6. and [ . . . ;7. on [ . . . ;8. and I char[ge]d all the people [of your district . . . and I have informed you ;9. of their insta[ll]ment. And make them stand guarantee for [it . . . And peace be ;10. upon you and the blessings [of God. 
cu510 | 2 | Sijpesteijn, Petra Marieke, Shaping a Muslim State. Papyri related to a mid-eighth-century Egyptian official, Ph.D. Diss., Princeton University, 202-203, 2004, Plate XII 
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-5164&viewid=5578_7R.TIF
cu518 | 1 | Fayyum
cu520 | 1 | N»Ìjid b. Muslim writes √¨Abd All»Ìh that he has calculated what all the people, presumably of √¨Abd All»ÌhÇ«÷s district owe in taxes. He also instructs √¨Abd All»Ìh to have some people stand guarantee for the (current) installment, presumably concerning these same taxes. ;The following documents are addresed to the same recipient: P.Mich.Inv. 5558(1); 5629; 5624; 5627; 5578(1); 5558(2); 5578(2); 5578(3); 5578(4); 5578(5); 5578(6); 5610; 5613(B); 5625 (A); 5620; 5619; 5613(A); 5632; 5578(9); 5622; 5609; 5621; 5623; 5625(1); 2526(B); 5631; 5578(8).
cu546 | 1 | Arabic
cu561 | 1 | Unknown
cu590_con | 1 | Three fragments of light brown papyrus, which are darkly discolored in the middle. The original cutting lines have been preserved at the top of fragments A and B and the bottom and right sides of fragment C. The three fragments form one letter of which the top right corner and the bottom left corner are missing as well as a large part in the middle of the papyrus. Several smaller holes in the papyrus have caused some damage to the fibers. 
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 700
cuDateValue | 2 | 799
cuLCODE | 1 | ara
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/_/7/r/5578_7r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-5164&viewid=5578_7R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-5164&viewid=5578_7R.TIF&quality=large
perm_group | 1 | w
