cu001 | 1 | michigan.apis.1852
cu035 | 1 | (MiU)1852
cu090 | 1 | P.Mich.inv. 3167
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu100a | 1 | Sibilla, daughter of Dioskoros
cu100a | 2 | Sibilla, daughter of Dioskoros
cu100a | 3 | Dioskoros, father of Sibilla
cu245ab | 1 | Receipts for naubion katoikon
cu245f | 1 | September 23, 160 A.D. - August 8, 162 A.D.
cu300 | 1 | 1 papyrus ; 15 x 22.2 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 11 lines
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | Year twenty-two of Imperator Caesar Titus Aelius Harianus Antoninus Augustus Pius, Phaophi 1. Paid to Heron and his associate collectors of money taxes for Bacchias, by Sibilla, daughter of Dioskoros, for the naudion-tax on catoeci for year twenty-three, 4 obol, for supplementary fees /2 obol, for agio 2 chalkoi, and a fee for the receipt;(2nd hand). Year two of Imperator Caesar Marcus Aurelius Antoninus Augustus and Imperator Caesr Lucius Aurelius Verus Augustus, Mesore 15. Paid to Pemnas and his associate collectors of money taxes for Bacchias, for Sibilla, daughter of Dioskoros, for the naubion-tax on catoeci for year twenty-four, 4 obols, for supplementary fees 1/2 obol, for agio 2 chalkoi, and a fee for the receipt.
cu510 | 2 | Shelton JC, ZPE 6, 92-4, 1970 -- SB XII 10960
cu510_dd | 1 | SB:12:10960
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-1852&viewid=3167R.TIF
cu518 | 1 | Bacchias, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Receipts for naubion katoikon together with prosdiagraphomena, kollybos and symbolika.
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu653 | 1 | Bacchias, Herakleides division, Arsinoite nome, province of Egypt
cu653 | 2 | Bacchias (Extinct city)
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 160
cuDateValue | 2 | 162
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/6/7/r/3167r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1852&viewid=3167R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1852&viewid=3167R.TIF&quality=large
perm_group | 1 | w
