cu001 | 1 | michigan.apis.2354
cu035 | 1 | (MiU)2354
cu090 | 1 | P.Mich.inv. 4961
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu100a | 1 | Demetrous
cu100a | 2 | Demetrous
cu100a | 3 | Moros heniochos
cu245ab | 1 | Private Letter
cu245f | 1 | IIIrd century  A.D.
cu300 | 1 | 1 papyrus ; 7.5 x 8 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto + Verso
cu500_lin | 1 | Recto - 10;;Verso - 1
cu500_pal | 1 | A fair-sized rough cursive (Turner)
cu500_rec | 1 | Source of description: Recto + Verso
cu500_t | 1 | Demetrous to Mel[--](?) my son very many greetings. I make obeisance for you every day before my lord Apis. I write to you, therefore, that you may know that on the 5th [. . .] from the city [- - -]
cu510 | 2 | Turner EG, Studien zur Papyrologie und antiken Wirtschaftsgeschichte Friedrich Oertel zum achtzigsten Geburtstag gewidemt (Festschrift Oertel), 32-33, 1964, Pl. II -- SB VIII 9930 -- BL XI, 211 (l. 8)
cu510_dd | 1 | SB.:8:9930
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2354&viewid=4961R.TIF
cu518 | 1 | Perhaps Memphis, Memphite nome, province of Egypt
cu520 | 1 | Beginning of a private letter, with the rather uncommon invocation to the god Apis, which might point to a Memphite origin
cu546 | 1 | Greek
cu561 | 1 | unknown
cu590_con | 1 | Broken off at the bottom
cu653 | 2 | Egyptian letters--Egypt--Memphis (Extinxt city)
cu653 | 3 | Fathers and sons--Egypt--Memphis (Extinct city)
cu653 | 4 | Apis (Egyptian deity)
cu653 | 5 | Intercessory prayer.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 200
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | medium
cuPresentation_display_res | 2 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/6/1/r/4961r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2354&viewid=4961R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2354&viewid=4961R.TIF&quality=large
cuPresentation_url | 2 | 1 | http://images.umdl.umich.edu/a/apis/thumb/6/1/v/4961v.jpg
cuPresentation_url | 2 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2354&viewid=4961V.TIF&quality=medium
cuPresentation_url | 2 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2354&viewid=4961V.TIF&quality=large
perm_group | 1 | w
