cu001 | 1 | michigan.apis.3398
cu035 | 1 | (MiU)3398
cu090 | 1 | P.Mich.inv. 4926
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Unknown
cu245ab | 1 | P.Mich.inv. 4926
cu300 | 1 | 1 papyrus ; 6 x 7.5 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Verso; Recto is unpublished;;under research; contact institution
cu500_rec | 1 | Source of description: A;  (Recto)
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-3398&viewid=4926AR_A.TIF
cu518 | 1 | Unknown
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/R/_/A/4926AR_A.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3398&viewid=4926AR_A.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3398&viewid=4926AR_A.TIF&quality=large
perm_group | 1 | w
