cu001 | 1 | michigan.apis.4609
cu035 | 1 | (MiU)4609
cu090 | 1 | P. Mich. inv. 1205
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Unknown
cu245ab | 1 | Account
cu245f | 1 | Ist century/IInd century A.D.
cu300 | 1 | 1 papyrus ; 9.6 x 10 cm
cu500 | 1 | The description of papyrus was made by Eugene Cruz-Uribe, A Descriptive Catalogue of the Demotic Papyri at University of Michigan, 1988, p.5-6
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; demotic text on the verso
cu500_lin | 1 | 11 lines
cu500_rec | 1 | Source of description: Verso
cu500_t | 1 | -
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-4609&viewid=1
cu518 | 1 | Unknown
cu520 | 1 | Surviving sections show portions of names followed by a number.
cu544_n | 1 | -
cu546 | 1 | Demotic
cu561 | 1 | Unknown, Fayyum (inv. list states it is from Karanis)
cu590_con | 1 | Irregularly torn off at top and at the right. There are many holes in the papyrus. 
cu653 | 1 | -
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 1
cuDateValue | 2 | 199
cuLCODE | 1 | dem
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_no | 1 | 1 | 1
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/0/5/v/1205v.jpg
perm_group | 1 | w
