cu001 | 1 | michigan.apis.2523
cu035 | 1 | (MiU)2523
cu090 | 1 | P.Mich.inv. 5638
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu100a | 1 | Unknown (Gaius Iulius Apollinarius?)
cu100a | 2 | Iulianus
cu100a | 3 | Aurelianus
cu100a | 4 | Philetas
cu245ab | 1 | Private Letter
cu245f | 1 | IInd century  A.D.
cu300 | 1 | 1 papyrus ; 13 X 21.7 cm
cu500 | 2 | Location: Cairo
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 25
cu500_pal | 1 | See electronic version of PMich VIII, 501
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | . . . Let us nevertheless see their gratitude when the materials are prepared and dressed. Concerning the purple dye I can write you nothing until it comes from the dyeshop. If I learn anything about it sooner, I will let you know. In the letters that I sent by Aurelian I wrote you to get from Philetas four . . . which I left with him, but nonetheless I wrote to him also about this, as well as the itinerary that I made through Syria, Asia, and Achaea, as far as Rome. If by  luck you come to Alexandria, [buy(?)] for me . . . Marseilles flasks so that [I may not put off giving thanks(?)] for the favors of the lord Sarapis . . .
cu510 | 2 | Winter JG-Youtie HC, PMich VIII, 501, 1982
cu510_dd | 1 | P.Mich.:8:501
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2523&viewid=1
cu518 | 1 | perhaps Alexandria, province of Egypt
cu520 | 1 | Fragment of letter (from or to Apollinarius?), concerning the writer&apos;s journeys to Rome and back from Rome to Alexandria and some business he is making with his correspondent
cu544_n | 1 | archive of Gaius Iulius Sabinus (& family)
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | two strips are missing, at the upper and lower left edge; broken at left and right: there should have been (at least) 1 column of writing before what is preserved, and another after it
cu653 | 1 | Syria; Asia; Achaia; Rome; Alexandria
cu653 | 2 | Religion
cu653 | 3 | Trade
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 100
cuDateValue | 2 | 199
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
perm_group | 1 | w
