cu001 | 1 | michigan.apis.2163
cu035 | 1 | (MiU)2163
cu090 | 1 | P.Mich.inv. 4220
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu100a | 1 | Aunes, son of Harthotes
cu100a | 2 | Nero Claudius Caesar Augustus Germanicus Imperator
cu100a | 3 | Aunes, son of Harthotes
cu100a | 4 | Harpaesis
cu100a | 5 | Herakleides, antigrapheus
cu100a | 6 | Philoxenos, strategos
cu100a | 7 | Euhemeros, antigrapheus
cu245ab | 1 | Penthemeros-certificate
cu245f | 1 | 60/61 A.D.
cu300 | 1 | 1 papyrus ; 6.5 x 4.3 cm
cu500 | 1 | Published as P. Mich. inv. 4220
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 1-7
cu500_pal | 1 | All hands are semi-cursive hand.
cu500_rec | 1 | Source of description: A; Recto
cu500_t | 1 | "The holy seventh year of Nero Claudius Caesar Augustus Germanicus Imperator. He has worked in the Pholemis canal for five days on the dikes for the same year, on behalf of Theadelphia: Aunes, son of Harthotes. (2nd hand) I, Harpaesis, have signed on behalf of Aunes, son of Harthotes. (3rd hand) I, Herakleides, antigrapheus from the (office of) strategos Philoxenos have signed. (4th hand) I, Euhemeros, antigrapheus of the (office of) the basilikogrammateus have signed."
cu510 | 2 | Sijpesteijn PJ, ZPE 103, 94-5, 1994, Taf X -- SB XXII, 15759
cu510_dd | 1 | SB.:22:15759
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2163&viewid=4220AR.TIF
cu518 | 1 | probably Theadelphia, Themistou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Confirmation of completion of forced labor on the canals and dikes in the area around Theadelphia
cu546 | 1 | Greek
cu561 | 1 | Theadelphia, Themistou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | Most heavily abraded on the right side of the papyrus. The papyrus is rather regularly broken off, or cut, on all sides. At the left 0.7 cm. is left free and at the bottom 0.8 cm.; 
cu653 | 1 | Pholemis canal,;Theadelphia
cu653 | 2 | Administration
cu653 | 3 | Kharabat Ihrit (Egypt)
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 60
cuDateValue | 2 | 61
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/0/A/R/4220AR.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2163&viewid=4220AR.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2163&viewid=4220AR.TIF&quality=large
perm_group | 1 | w
