cu001 | 1 | michigan.apis.2624
cu035 | 1 | (MiU)2624
cu090 | 1 | P.Mich.inv. 6015
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | unknown
cu245ab | 1 | List of Villages
cu245f | 1 | IIIrd century  A.D.
cu300 | 1 | 2 papyri ; 13.4 x 5.8 cm
cu500 | 2 | Location: Cairo
cu500 | 4 | Pub. status: Verso; Recto: remains of an account in artabai(?) (unpublished)
cu500_lin | 1 | Col. I - 3;;col. II - 13
cu500_rec | 1 | Source of description: A; Verso
cu500_t | 1 | Of Andrianton;Of Perseai;Of Onneiton;Of Dinnis; Hiera (Nesos);Of Alabanthis;Of Thudamas;Of Philopator (he kai Theogenous);Of Philoteris;Of Tamauis;Of Metrodorou epoikion;Of Neilou polis;Of Tanais
cu510 | 2 | Sijpesteijn PJ, ZPE 108, 208-209, 1995, Pl. Vc -- SB XXII, 15828 -- The text runs across the fiber, not along them; one small fragment added (lower left corner). (PH)
cu510_dd | 1 | SB.:22:15828
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2624&viewid=1
cu518 | 1 | Unknown place, probably in Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | List of villages of the Herakleidou meris, made for an unknown purpose
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | broken off on the left side
cu653 | 1 | Andrianton; Perseai; Onneiton (Onniton Koitai); Dinnis; Hiera (Nesos); Alabanthis; Thudamas; Philopator (he kai Theogenous); Philoteris; Tamauis (Tamais); Metrodorou epoikion; Neilou polis; Tanais
cu653 | 2 | List
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 200
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
perm_group | 1 | w
