cu001 | 1 | michigan.apis.3138
cu035 | 1 | (MiU)3138
cu090 | 1 | P.Mich.inv. 831
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu100a | 1 | Stratippos, son of Titan
cu100a | 2 | Maron
cu100a | 3 | Stratippos, son of Titan
cu100a | 4 | Nemesion
cu100a | 5 | Tiberios Claudius Caesar Augustus Germanicus Imperator
cu245ab | 1 | notification of death
cu245f | 1 | 48 A.D.
cu300 | 1 | 1 papyrus ; 10 x 15.5 cm.
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 1-20
cu500_pal | 1 | Written in a strongly cursive hand. (TC)
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | "To Maron, village of secretary of Philadephia, from Stratippos, son of Titan, resident of Philadelphia. My son Nemesion, registered for the poll-tax in the village died on the 5th of Choiak of the present 9th year of Tiberius Claudius Caesar Augustus Germanicus Imperator. Wherefore I submit this report to you so that you may inform those whom it concerns and so that hsi name may be removed (from the tax-lists) and registered on the list of the dead so that I may not be responsible, as indeed I am. Farewell."
cu510 | 1 | Rep_editor Casarico L;    Rep_Ser C.P.Gr. II/1;     Rep_Year 1985;     Rep_No. 6 and tav. VI
cu510 | 2 | Michael EM, PMich Michael, 10, 1965 -- SB XII 11112
cu510 | 3 | Browne GM, PMich X, Pg. 8, n. 19, 1970 -- BL VIII, 367 (bibliography)
cu510_dd | 1 | SB.:12:11112
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-3138&viewid=831R.TIF
cu518 | 1 | Philadelphia, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Stratippos, son of Titan, informs the village scribe of Theadelphia that his son, Nemesion, registered for the poll-tax in Philadelphia, died on the 5th of Choiak (December 1) in the 9th year of the emperor Claudius. The letter proceeds with the request that his son&apos;s name be removed from the list of individuals recorded in the village of Philadelphia as subject to the poll-tax.
cu544_n | 1 | -
cu561 | 1 | Philadelphia, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | Document is complete at all sides. Only damage is a hole in the lower half and the bottom right hand corner has a smooth round shape. (TC)
cu653 | 1 | Philadelphia
cu653 | 2 | Rome--Politics and government.
cu653 | 3 | Taxation--Egypt--Philadelphia  (Extinct city)
cu653 | 4 | Tax collection--Egypt--Philadelphia (Extinct city)
cu653 | 5 | Taxation--Lists--Egypt--Philadelphia (Extinct city)
cu653 | 6 | Poll tax--Egypt--Philadelphia (Extinct city)
cu653 | 7 | Death.
cu655 | 1 | Papyrus
cu655 | 1 | documentary
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 48
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/3/1/r/831r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3138&viewid=831R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3138&viewid=831R.TIF&quality=large
perm_group | 1 | w
