cu001 | 1 | michigan.apis.1806
cu035 | 1 | (MiU)1806
cu090 | 1 | P.Mich.inv. 3117
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu100a | 1 | Philon
cu100a | 2 | Philon (see Pros.Ptol. IV 8568)
cu100a | 3 | Zenon  (son of Agreophon) (see Pros.Ptol. I 80 + add.)
cu100a | 4 | Aristandros (oikonomos) (see Pros.Ptol. I 1021 + add.)
cu100a | 5 | Sostratos (see Pros.Ptol. IV 11760)
cu245ab | 1 | Business Letter
cu245f | 1 | ca. 251-248 B.C.[?]
cu300 | 1 | 1 papyrus ; 7.5 x 34.5 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto + Verso
cu500_lin | 1 | Recto - 30;;Verso - 3
cu500_rec | 1 | Source of description: Recto + Verso
cu500_t | 1 | (Recto);;Philon to Zenon greeting. The reason why you have been kept waiting about the two hundred-drachma pieces is that Aristandros interfered with us. However, this must not go on, but the money will shortly be obtained from other sources and repaid to you. You will be kind enough then not to believe that you have been kept waiting by my fault, but to take note of the real cause. If you or Sostratos need any green wild chickling (arakos), take as much as you wish, whether to the value of the whole sum or to part of it. If not, I have agreed with some shepherds who will pay me a price for it, so that in any case your claim shall be settled. I should have been away in town long ago if this particular thing had not prevented me. Farewell. See that this letter is not thrown aside until I come to you.;;(Verso);;To Zenon.;From Philon.
cu510 | 2 | Edgar CC, PMich I, 56, 1931
cu510_dd | 1 | P.Mich.:1:56
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-1806&viewid=3117R.TIF
cu518 | 1 | Unknown place, Egypt
cu520 | 1 | Letter from Philon to Zenon, about a deferred payment of two hundred-drachma pieces (mnaieia) which are due to Zenon and which the writer proposes to repay in green arakos
cu544_n | 1 | Zenon archive
cu546 | 1 | Greek
cu561 | 1 | Philadelpheia, Herakleidou meris, Arsinoite nome, Egypt
cu590_con | 1 | complete
cu653 | 2 | Stewards--Egypt.
cu653 | 3 | Debtor and creditor--Egypt.
cu653 | 4 | Drachma.
cu653 | 5 | Commercial correspondence--Egypt.
cu653 | 6 | Vetch--Egypt.
cu653 | 7 | Exchange--Egypt.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 251
cuDateValue | 2 | 248
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/1/7/R/3117R.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1806&viewid=3117R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1806&viewid=3117R.TIF&quality=large
perm_group | 1 | w
