cu001 | 1 | michigan.apis.2187
cu035 | 1 | (MiU)2187
cu090 | 1 | P.Mich.inv. 431
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu100a | 1 | unknown
cu100a | 2 | Komon
cu100a | 3 | Nonna
cu100a | 4 | Agathinos
cu245ab | 1 | letter
cu245f | 1 | IVth century A.D.
cu300 | 1 | 1 papyrus ; 9.3 x 8.8 cm.
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto + Verso
cu500_lin | 1 | 1-13
cu500_pal | 1 | To the left of the text is a narrow margin somewhat less than 1 cm. On the right side the lines are generally carried to the edge of the sheet. There is no margin below the text, but this may have been lost in a horizontal tear at the bottom. The address on the verso was also written parallel with the fibers on that side.
cu500_rec | 1 | Source of description: Recto + Verso
cu500_t | 1 | (Recto): ". . . In the matter of the iron, show courage. Give hearty salutations from me to the mother of Komon. And since there is need of it for the fields, do not neglect it. I salute repeatedly Nonna together  with her daughter the nun. I pray for your good health, my lord brother.";(Verso): " Deliver to Agathinos."
cu510 | 2 | Youtie HC, ZPE 37, 216-7, 1980, Pl VIIa -- SB XVI 12620
cu510_dd | 1 | SB.:16:12620
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2187&viewid=431R.TIF
cu518 | 1 | unknown
cu520 | 1 | This papyrus contains the ending of a letter sent by a Christian to his relatives. The content of the letter cannot be established on the basis of this surviving part, although the second line suggests that at least a section of the letter was concerned with farming tools. 
cu544_n | 1 | -
cu546 | 1 | Greek
cu561 | 1 | unknown
cu590_con | 1 | Medium-brown papyrus with some holes. A  small piece of papyrus is cut off in the lower left corner.
cu653 | 1 | -
cu655 | 1 | Papyrus
cu655 | 1 | documentary
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 300
cuDateValue | 2 | 399
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | medium
cuPresentation_display_res | 2 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/3/1/r/431r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2187&viewid=431R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2187&viewid=431R.TIF&quality=large
cuPresentation_url | 2 | 1 | http://images.umdl.umich.edu/a/apis/thumb/3/1/v/431v.jpg
cuPresentation_url | 2 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2187&viewid=431V.TIF&quality=medium
cuPresentation_url | 2 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2187&viewid=431V.TIF&quality=large
perm_group | 1 | w
