cu001 | 1 | michigan.apis.3055
cu035 | 1 | (MiU)3055
cu090 | 1 | P.Mich.inv. 6971
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu1004 | 8 | asn
cu100a | 1 | Ptolemaios
cu100a | 2 | Ptolemaios (see also P.Mich. XVIII, 771
cu100a | 3 | see also P.Mich. XVIII, p. 93 and 119)
cu100a | 4 | Menches (see also P.Mich. XVIII, 771
cu100a | 5 | 774)
cu100a | 6 | Harentotes son of Petosiris (see also P.Mich. XVIII, 771)
cu100a | 7 | Menches neoteros (see also P.Mich. XVIII, 771
cu100a | 8 | 774)
cu245ab | 1 | Receipt
cu245f | 1 | ca. 195/194 B.C.
cu300 | 1 | 1 papyrus ; 7.9 x 8.6 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 7
cu500_pal | 1 | Written in very large and unelegant majuscule letters (same hand as P.Mich. XVIII, 771, verso?) (Lord)
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | Ptolemaios to Menches, Harentotes, and Menches the younger, greetings. I have [from] you [- - -]
cu510 | 2 | Lord KO, PMich XVIII, 772, 1996, Pl. X
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-3055&viewid=6971R.TIF
cu518 | 1 | Arsinoite nome, Egypt
cu520 | 1 | Receipt from Ptolemaios, tax farmer of the kollybos and of the goldsmith&apos;s tax for the Arsinoite nome, to three subcontractors (see P.Mich. XVIII, 771)
cu544_n | 1 | P.Mich. XVIII, 771; 773-774
cu546 | 1 | Greek
cu561 | 1 | Unknown necropolis (cemeteries at Abusir al-Malaq or al-Lahun?)
cu590_con | 1 | Broken off on the left side and at the bottom
cu653 | 2 | Receipts (Acknowledgments)--Egypt--Arsinoite Nome.
cu653 | 3 | Taxes, Farming of--Egypt--Arsinoite Nome.
cu653 | 4 | Tax collelction--Egypt--Arsinoite Nome.
cu653 | 5 | Goldsmiths--Taxation--Egypt--Arsinoite Nome.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 195
cuDateValue | 2 | 194
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/7/1/R/6971R.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3055&viewid=6971R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3055&viewid=6971R.TIF&quality=large
perm_group | 1 | w
