cu001 | 1 | michigan.apis.2085
cu035 | 1 | (MiU)2085
cu090 | 1 | P.Mich.inv. 3749
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu100a | 1 | Harpokration, Apollos, (and probably 1 or 2 other persons)
cu100a | 2 | Harpokration
cu100a | 3 | Apollos
cu100a | 4 | Diemoun
cu100a | 5 | Sansneutas
cu245ab | 1 | complaint
cu245f | 1 | Vth/VIth century A.D.
cu300 | 1 | 1 papyrus ; 10.3 x 15.9 cm.
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso contains two lines which have been struck out.
cu500_lin | 1 | 1-12
cu500_pal | 1 | At the top there is a free margin of approx. 1.5 cm. and at the bottom one of approx. 0.5 cm.
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | [text too fragmentary for translation]
cu510 | 2 | Sijpesteijn PJ, Aegyptus 66, 78, 1986 -- SB XVIII 13112
cu510_dd | 1 | SB.:18:13112
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2085&viewid=3749R.TIF
cu518 | 1 | Oxyrhynchos, Oxyrhynchite nome, Middle Egypt, province of Egypt
cu520 | 1 | The writers of this letter complain to a person whom they address as despotes that they are being bothered probably in connection with people who exercise the same profession as they do.
cu544_n | 1 | -
cu546 | 1 | Greek
cu561 | 1 | Oxyrhynchos, Oxyrhynchite nome, Middle Egypt, province of Egypt
cu590_con | 1 | A light-brown papyrus regularly cut off at the top and partly at the bottom. The papyrus is frayed at both the left and the right side.
cu653 | 1 | Oxyrhynchos.
cu653 | 2 | Complaint letters--Egypt--Bahnasïa.
cu655 | 1 | Papyrus
cu655 | 1 | documentary
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 400
cuDateValue | 2 | 599
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/4/9/r/3749r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2085&viewid=3749R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2085&viewid=3749R.TIF&quality=large
perm_group | 1 | w
