cu001 | 1 | michigan.apis.1231
cu035 | 1 | (MiU)1231
cu090 | 1 | P.Corn. Inv. I 83
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Unknown
cu245ab | 1 | Conclusion of an official letter
cu245f | 1 | IIIrd century A.D.
cu300 | 1 | 2 papyri ; a: 9.3 x 9.6 cm; b: 3 x 1 cm
cu500 | 1 | Some strips of papyrus have been glued on the verso and must be removed as separate fragments. They belong to the same papyrus (because of the forms of the preserved letters). They are not ancient or modern repairs (NL)
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is unpublished (only a few traces of letters)
cu500_lin | 1 | a: 8 lines;b: 2 lines
cu500_pal | 1 | Written in large uncials with backward slope. 
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | ... send, because you have to know that if you neglect, if it is understood that the debt should be calculated, it will be a search for you
cu510 | 2 | Westermann WL - Kraemer CJ, PCorn, 48, 1926 -- BL II 2, 50; L. 6 of the edition should be written as ll. 6-7 ;;;line 6: "h zetesis pros se";;;line 7:"genhsetai" (NL; forthcoming);;
cu510_dd | 1 | P.Corn.:48
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-1231&viewid=C1_83R.TIF
cu518 | 1 | Unknown
cu520 | 1 | End of a letter evidently from a higher official to a lower, urging him to send some object. The order is accompanied by threat in cae of carelessness on the part of the official addressed. 
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | Broken off at the top. Very damaged at the lower margin, but no letters are lost there. On the verso there are some traces of letters, which seem to be the address of the letter.  Two pieces of papyrus were removed from the verso and one joined on the left upper corner, the other (fragment b)does join.
cu653 | 2 | Letter writing, Egyptian--Egypt.
cu653 | 3 | Sanctions, Administrative--Egypt.
cu653 | 4 | Government publications--Egypt.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 200
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/8/3/r/c1_83r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1231&viewid=C1_83R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1231&viewid=C1_83R.TIF&quality=large
perm_group | 1 | w
