cu001 | 1 | michigan.apis.2265
cu035 | 1 | (MiU)2265
cu090 | 1 | P.Mich.inv. 4695
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu100a | 1 | Unnamed komogrammateis and presbyteroi of the Herakleidou meris
cu100a | 2 | Herakleides, strategos of the Herakleidou meris
cu100a | 3 | (unnamed) komogrammateis of villages of the Herakleidou meris
cu100a | 4 | (unnamed) presbyteroi acting as komogrammateis of villages of the Herakleidou meris
cu245ab | 1 | Summary Copy of Reports to a Strategos
cu245f | 1 | January 21, 149 A.D.
cu300 | 1 | 1 papyrus ; 12 X 19.5 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso: traces of seven lines on the back of the sheet bearing col. II only
cu500_lin | 1 | Col. I - 14;;col. II - 2
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | (Col. I);To Herakleides, strategos of the Herakleides division of the Arsinoite nome, from the village secretaries of the division and in the case of those villages where there are none, from the elders, performing the duties. In accordance with the communication (epistalma) sent to us by you, of which there is a copy, and a copy of the aforesaid communication has been appended after which it continued thus: (up to this point the communication) in accordance with which we declare that the previously mentioned man has neither assets nor an abode in the nome. 12th year, Tybi 26.;;(Col. II);To Herakleides [- - -] from [- - -]
cu510 | 2 | Michael EM, PMich Michael, 2, 1965 -- SB XII 11104 (and XIII, p. 139) -- BL VII, 225 (date); BL VIII, 366 (lines 6, 14). - Line 13: read en to nomo, instead of en nomo
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2265&viewid=4695R.TIF
cu518 | 1 | Unknown place, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Document summarizing reports from village officials of the Herakleidou meris to Herakleides, strategos of the same meris, who had asked information about a man.
cu544_n | 1 | Archive of Sokrates son of Sarapion?
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | Made of two sheets of papyri glued together; another one, which was glued to them on the left side, is lost; the one on the right side (bearing col. II) is nearly completely broken off; damaged along the folds
cu653 | 1 | Herakleidou meris, Arsinoite nome
cu653 | 2 | Rome--Politics and government.
cu653 | 3 | Service, Compulsory non -military--Egypt.
cu653 | 4 | Exemption (Roman law)
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 149
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/9/5/R/4695R.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2265&viewid=4695R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2265&viewid=4695R.TIF&quality=large
perm_group | 1 | w
