cu001 | 1 | michigan.apis.5498
cu035 | 1 | (MiU)5498
cu090 | 1 | P.Mich.Inv. 836
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu100a | 1 | Unknown
cu100a | 2 | Ptolemaios
cu100a | 3 | Xairemon
cu245ab | 1 | Beginning of a letter
cu245f | 1 | IInd/ IIIrd Century A.D.
cu300 | 1 | 1 papyrus ; 5.9 x 4.2 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Under research; contact institution
cu500_lin | 1 | 5
cu500_pal | 1 | Written along the fibers in medium-sized cursive letters; the hand is slow and well formed; the scribe used a thick pen and infrequently dibbed his pen into the inkwell. Verso has one word, probably the sender‚ÇÖs name.
cu500_rec | 1 | Source of description: Recto + Verso
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-5498&viewid=1
cu518 | 1 | Unknown
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | Small scrap of papyrus; broken off at right and bottom; it has the left and top margins; the preserved text only contains the beginning of the first 5 lines.
cu653 | 2 | Letters
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 100
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
perm_group | 1 | w
