cu001 | 1 | michigan.apis.2651
cu035 | 1 | (MiU)2651
cu090 | 1 | P.Mich.inv. 6160
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu100a | 1 | Unknown customs official
cu100a | 2 | Neilos
cu245ab | 1 | Customshouse Receipt
cu245f | 1 | August 25, 184 or 216 A.D.
cu300 | 1 | 1 papyrus ; 5.5 X 6.5 A.D.
cu500 | 1 | The magenta-colored clay seal (1.0 cm in diameter) shows part of a head facing right, and little remains of an inscription.
cu500 | 2 | Location: Cairo
cu500 | 4 | Pub. status: Recto
cu500_lin | 1 | 9 + 2 on seal
cu500_pal | 1 | same hand as P.Mich. inv. 6160a
cu500_rec | 1 | Source of description: C; Recto
cu500_t | 1 | Paid, through the gate-house of Soknopaiou Nesos, the 3 % (customs duty), by Neilos, importing on the fifth of Thoth one basket (sphyridion) of glazed pottery on one donkey. Year 24, on the second of the intercalary days, 2.;;(On the seal) [- - -] Aurelius [- - -]. The 3 % (customs duty).
cu510 | 2 | Boak AER, Soknopaiou Nesos, 3, 1935, Pl. XIII -- SB V 7820 -- BL III, 195 (lines 7-8); BL VII, 197  (lines 5-6); BL IX, 249 (date)
cu510_dd | 1 | SB:5:7820
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2651&viewid=1
cu518 | 1 | Soknopaiou Nesos, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Receipt for payment of the 3 % customs duty (see also P.Mich. inv. 6160a)
cu546 | 1 | Greek
cu561 | 1 | Soknopaiou Nesos, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | intact except for small wormholes; seal preserved (see note)
cu653 | 1 | Nesos Soknopaiou
cu653 | 2 | Animal
cu653 | 3 | Customs
cu653 | 4 | Taxation
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 184
cuDateValue | 2 | 216
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
perm_group | 1 | w
