cu001 | 1 | michigan.apis.4223
cu035 | 1 | (MiU)4223
cu090 | 1 | P.Mich.inv. 617
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Unknown
cu245ab | 1 | Tax Account
cu245f | 1 | Ist century A.D.
cu300 | 1 | 1 papyrus ; 15.5 x 28.5 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Under research; contact institution
cu500_lin | 1 | recto: 31 lines; verso: 31 lines
cu500_pal | 1 | Small cursive handwriting
cu500_rec | 1 | Source of description: Recto + Verso
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-4223&viewid=1
cu518 | 1 | Unknown
cu546 | 1 | Greek
cu561 | 1 | Philadelphia
cu590_con | 1 | Broken off at the left-hand side (recto) from the 6 lines downwards.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 1
cuDateValue | 2 | 99
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
perm_group | 1 | w
