cu001 | 1 | michigan.apis.3961
cu035 | 1 | (MiU)3961
cu090 | 1 | P.Mich. Inv. 5457
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | unknown
cu245ab | 1 | Tax-list
cu245f | 1 | IIIrd cenury A.D. (266-267 A.D.?)
cu300 | 1 | 1 papyrus ; 6 x 13 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto + Verso
cu500_lin | 1 | 7 lines
cu500_rec | 1 | Source of description: Recto
cu510 | 2 | Caldwell R - Gagos T, PBingen , 469-470, no 115, 2002, Pl. 69
cu510_dd | 1 | P.Bingen:115
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-3961&viewid=5457R.TIF
cu518 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | It contains poor remains of what appears to be a tax-list written upside down in relation to the text on the verso. It must be the end of a tax-collector&apos;s synopsis, i.e. a record of people who have died, turned fourthenn -i.e. added to the tax rolls- or sixty two -and, hence, are tax-exempt - during a particular year. A detailed list naming the people in all these categories must have preceded; the fragmnet records only the total numbers from each category and concludes with the total reduction ("elasswma, line 7) in the anticipated number of tax-payers. Most of the numbers are missing, but the reduction number must be between 10 and 19 (line 7).
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 |  
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 266
cuDateValue | 2 | 267
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/5/7/r/5457r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3961&viewid=5457R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3961&viewid=5457R.TIF&quality=large
perm_group | 1 | w
