cu001 | 1 | michigan.apis.1396
cu035 | 1 | (MiU)1396
cu090 | 1 | P.Mich.inv. 1349
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu100a | 1 | Aurelius Sarapion
cu100a | 2 | Caesar Marcus Aurelius Severus Alexander Pius Felix Augustus, emperor
cu100a | 3 | Aurelius Sarapion
cu100a | 4 | Taorsenouphis
cu100a | 5 | Aurelius Ammonaspasis
cu100a | 6 | Aurelius Horus
cu245ab | 1 | Sale of two cows
cu245f | 1 | June/August 225 A.D.
cu300 | 1 | 1 papyrus ; 7.0 x 29.5 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 1-25
cu500_pal | 1 | Written in a somewhat irregular but fairly clear semi-cursive.
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | "Fourth year of Imperator Caesar Marcus Aurelius Severus Alexander Pius Felix Augustus . . . Aurelius Sarapion son of . . . whose mother is Taorsenouphis from Karanis, about 36 years old, with a scar on his left leg, acknowledges to Aurelius Ammonaspasis from the village of Philadelphia that Sarapion, the party making the agreement, has sold to Ammonaspasis the two cows which belong to me (sic), the hide of one (red?)-colored, and the hide of the other . . .-colored. And he has received the price . . . (l. 20) and in response to the formal question whether this sale has been made in the right and proper manner, he has agreed. I, Aurelius Horus, from the village of Philadelphia wrote on his behalf as he is illiterate."
cu510 | 2 | Whitehorne J, Tyche 4, 187-8, 1989, Pl XV -- SB XX 14680
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-1396&viewid=1349R.TIF
cu518 | 1 | Philadelphia, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | document in which Aurelius Sarapion acknowledges that he has sold two cows to Aurelius Ammonaspasis
cu544_n | 1 | -
cu546 | 1 | Greek
cu561 | 1 | Philadelphia, Herakleidou meris, Arsinoite nome, province of Egypt (?)
cu590_con | 1 | A light-brown papyrus in fairly good condition with two vertical folds. Regularly cut at the left, the top and the bottom; at center right a piece of papyrus was cut off and about three lines have been stripped off the surface of this papyrus where the price would have stood.
cu653 | 1 | Karanis,;Philadelphia
cu653 | 2 | Livestock
cu653 | 3 | agriculture
cu655 | 1 | Papyrus
cu655 | 1 | documentary
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 225
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/4/9/r/1349r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1396&viewid=1349R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1396&viewid=1349R.TIF&quality=large
perm_group | 1 | w
