cu001 | 1 | michigan.apis.2259
cu035 | 1 | (MiU)2259
cu090 | 1 | P.Mich.inv. 4684
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu1004 | 8 | asn
cu1004 | 9 | asn
cu1004 | 10 | asn
cu100a | 1 | Dioskoros (alias Kastor?)
cu100a | 2 | Apollonios, strategos of the Herakleidou meris
cu100a | 3 | Dioskoros, komogrammateus of Psenyris ano
cu100a | 4 | Kastor, komogrammateus (other name of the preceding?)
cu100a | 5 | (unnamed) praktores argyrikon
cu100a | 6 | Eros son of Anchorimphis
cu100a | 7 | Paesis son of Petermouthis
cu100a | 8 | Claudius son of Sarapion
cu100a | 9 | Isidoros son of Deios
cu100a | 10 | Commodus, Emperor
cu245ab | 1 | Official letter: nominations to a liturgy
cu245f | 1 | January 12, 185 A.D.
cu300 | 1 | 1 papyrus ; 17 X 10 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 21
cu500_pal | 1 | See electronic version of PMich IX, 536
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 |    To Apollonios, strategos of the Arsinoite nome, Herakleides division, from Dioskoros, village secretary of Upper Psenyris.;   To help and assist the collectors of money-taxes, because they are not sufficient for the collection of the receipts, which are very great, at your request for names I submit the following as financially able and suitable. They are:;   Eros, son of Anchorimphis, having property worth 600 drachmai;;   Paesis, son of Petermouthis, ditto, 800 drachmai;;   Claudius, son of Sarapion, ditto, 800 drachmai;;   Isidoros, son of Deios, ditto, 800 drachmai.;(2nd hand) I, Kastor, village secretary, have submitted (the nominations). {I, Kastor, village secretary, have submitted (the nominations).};(1st hand) Year 25 of Marcus Aurelius Commodus Antoninus Augustus Pius. Tybi 17.
cu510 | 2 | Husselman EM, PMich IX, 536, 1971
cu510_dd | 1 | P.Mich.:9:536
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2259&viewid=4684R.TIF
cu518 | 1 | Psenyris ano, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Report addressed by Dioskoros, village secretary of Psenyris ano, to the strategos Apollonios, submitting to him names of persons qualified to assist the praktores argyrikon (perhaps because of the massive preparations needed for an impending visit of the prefect Longaeus Rufus?)
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | complete
cu653 | 1 | Herakleidou meris of the Arsinoite nome; Psenyris ano
cu653 | 2 | Rome--Politics and government.
cu653 | 3 | Service, Compulsory non-military--Egypt--Arsinoite Nome.
cu653 | 4 | Visits of state--Egypt--Arsinoite Nome.
cu653 | 5 | Tax collection--Egypt--Arsinoite Nome.
cu653 | 6 | Wealth--Egypt--Arsinoite Nome.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 185
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/-/T/N/4684R-TN.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2259&viewid=4684R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2259&viewid=4684R.TIF&quality=large
perm_group | 1 | w
