cu001 | 1 | michigan.apis.1226
cu035 | 1 | (MiU)1226
cu090 | 1 | P.Corn. Inv. I 74
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu1004 | 8 | asn
cu1004 | 9 | asn
cu1004 | 10 | asn
cu1004 | 11 | asn
cu100a | 1 | Unknown
cu100a | 2 | Horion
cu100a | 3 | Parion
cu100a | 4 | Pempotes
cu100a | 5 | Aphous
cu100a | 6 | Tauris
cu100a | 7 | Ereous
cu100a | 8 | Apollos
cu100a | 9 | Atinos
cu100a | 10 | Pempas
cu100a | 11 | Aphous
cu245ab | 1 | Account
cu245f | 1 | IIIrd century A.D.
cu300 | 1 | 1 papyrus ; 7 x 13 cm.
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Verso; Recto contains 17 lines of writing
cu500_lin | 1 | 1-17
cu500_pal | 1 | Written in a large,upright and separate letters. The scribe has separated the various sections of this account by drawing a long horizontal stroke across the document (between ll.5-6) and by skipping a line (between ll. 10-11).
cu500_rec | 1 | Source of description: Verso
cu500_t | 1 | Horion,;Parion,;Pempotes,;Aphous,;Tauris,;". . . . . . . . . artab .[..,; . . . . . . .os artaba[,;. . . . artaba,; . . [.] artaba,;of Horion.;;Account of grain.     Horion,;Parion, an artaba,;Pempotes, an artaba,;Aphous, an artaba,;Tauris, an artaba.;;Account of hay:;Ereous, lyparachmas,;Apollos, lyparachmas,;Atinos, lyparachmas,;Pempas, lyparachmas,;Aphous, lyparachmas.
cu510 | 2 | Westermann WL - Kraemer CJ, PCorn, 31, 1926 -- L. 3 on the papyrus left out in the edition (TC);  l. 15 papyrus has lyprachmas (TC); l. 16 ly is interlinear addition.
cu510_dd | 1 | P.Corn.:31
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-1226&viewid=C1_74V.TIF
cu518 | 1 | Unknown
cu520 | 1 | Account of grain and hay
cu544_n | 1 | -
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | This medium-brown papyrus is regularly cut to the left and to the right and rather regularly at the bottom. The top of the papyrus has been torn off and the text does not allow us to establish whether any text is missing. No damage to the remaining part of the papyrus. (TC)
cu653 | 1 | -
cu653 | 2 | Farm produce;vRegisters--Egypt.
cu653 | 3 | Agricultural administration--Egypt.
cu653 | 4 | Measures and weights, Ancient.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 200
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/7/4/v/c1_74v.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1226&viewid=C1_74V.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1226&viewid=C1_74V.TIF&quality=large
perm_group | 1 | w
