cu001 | 1 | michigan.apis.5254
cu035 | 1 | (MiU)5254
cu090 | 1 | P.Mich.Inv. 531
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Unknown
cu245ab | 1 | Short Poem
cu245f | 1 | XIVth Century A.D.
cu300 | 1 | 1 papyrus ; 9 x 14.8 cm.
cu500 | 2 | Location: Ann Arbor
cu500_lin | 1 | 18
cu500_rec | 1 | Source of description: recto-verso
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-5254&viewid=1
cu518 | 1 | Unknown
cu546 | 1 | Hebrew
cu561 | 1 | Unknown
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 1300
cuDateValue | 2 | 1399
cuLCODE | 1 | heb
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 2 | 1 | 1
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/3/1/r/531r.jpg
cuPresentation_url | 2 | 1 | http://images.umdl.umich.edu/a/apis/thumb/3/1/v/531v.jpg
perm_group | 1 | w
