cu001 | 1 | michigan.apis.8564
cu035 | 1 | (MiU)8564
cu090 | 1 | P.Mich. inv. 4286
cu090_orgcode | 1 | MiU
cu245ab | 1 | Psamls
cu500 | 2 | Location: Ann Arbor
cu500_pal | 1 | A papyrus quire only four leaves of which are intact. The text is written in a crude hand, and it is of a character that suggests that it was written for private use. The sewing, which is in situ, consists of short horizontal stich in place; there is a rather elaborate knot at each stitch and an additional knot at the bottom of the quire, with an end of cord drawn up between the leaves.
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-8564&viewid=1
cu546 | 1 | Coptic
cu655 | 1 | Literary
cu655 | 1 | Papyrus
cuLCODE | 1 | cop
cuOrgcode | 1 | MiU
perm_group | 1 | w
