cu001 | 1 | michigan.apis.5021
cu035 | 1 | (MiU)5021
cu090 | 1 | P.Mich.Inv. 350
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Unknown
cu245ab | 1 | ?
cu245f | 1 | IIIrd century A.D.
cu300 | 1 | 1 papyrus ; 9 x 10 cm
cu500 | 2 | Location: Ann Arbor
cu500_lin | 1 | 8 lines
cu500_pal | 1 | Written in medium-sized cursive hand. The letters tend to be separated rather than ligatured. No diaersis or other diacritical marks are attested. Few letters have been stroked out at the end of one line.
cu500_rec | 1 | Source of description: Verso
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-5021&viewid=1
cu518 | 1 | Unknown
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | This small papyrus is in a bad condition and it has many holes and lacunae, which fairly affected the text along with the removal of some fibers. It has only the lower margin, and broken off at the other sides. It is also damaged at the left side as a result of a fold.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 200
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Verso
perm_group | 1 | w
