cu001 | 1 | michigan.apis.2293
cu035 | 1 | (MiU)2293
cu090 | 1 | P.Mich.inv. 4737
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu100a | 1 | Valerius alias Heron, son of Dioskoros
cu100a | 2 | Valerius alias Heron, son of Dioskoros (see also P.Mich. IV/2 p. 195)
cu100a | 3 | Hermias son of Didymos grandson of Hermias, Sosikosmios alias Althaieus
cu100a | 4 | Marcus Aurelius, Emperor
cu245ab | 1 | Acknowledgment of Deposit of Money
cu245f | 1 | 169/170 A.D.
cu300 | 1 | 3 papyri ; 14.5 x 18.5 cm
cu500 | 1 | The article by A.A. Aly has been reprinted in 1952 as Ibrahim University Studies in Papyrology 1.
cu500 | 2 | Location: Cairo
cu500 | 4 | Pub. status: Recto
cu500_lin | 1 | 21
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | Valerius also called Heron, son of Dioskoros, of the village of Karanis in the Herakleides division of the Arsinoite nome, to Hermias, son of Didymos, grandson of Hermias, of the Sosicosmian tribe and the Althaean deme, greeting. I acknowledge that I have received from you a deposit of one hundred and forty silver drachmai guaranteed against risk, which I will return to you whenever you wish. You shall have the right of execution on my person and all my property, as if in accordance with a legal decision. Let this chirograph, written by me in a single copy, be valid wherever it is produced, as if it were filed in a public record-office.;(2nd hand) Year 10 of Antoninus Caesar, the lord, Armeniacus Medicus Parthicus Maximus .  . .
cu510 | 2 | Aly AA, Annals of the Faculty of Arts, Ibrahim Pasha University 2, 10, 1952, Pl. X -- SB VI 9247
cu510_dd | 1 | SB:6:9247
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2293&viewid=1
cu518 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Chirograph in which Valerius alias Heron acknowledges that Hermias, son of Didymos, has deposited with him the sum of 140 drachmai, which he will return on demand
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | broken off at the bottom; damaged along the breaks
cu653 | 1 | Karanis, Herakleidou meris of the Arsinoite nome; Sosikosmios; Althaieus
cu653 | 2 | Receipts (Acknowledgments)--Karanis (Extinct city)
cu653 | 3 | Citizenship--Egypt--Alexandria.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 169
cuDateValue | 2 | 170
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
perm_group | 1 | w
