cu001 | 1 | michigan.apis.4230
cu035 | 1 | (MiU)4230
cu090 | 1 | P.Mich.inv. 789
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Unknown
cu245ab | 1 | Register
cu300 | 1 | 1 papyrus ; 11 x 23 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Under research; contact institution
cu500_lin | 1 | recto: (ends of 5 lines); verso: col.1, ends of 9 lines; col. 2, 14 lines
cu500_pal | 1 | Cursive handwriting
cu500_rec | 1 | Source of description: recto verso
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-4230&viewid=1
cu518 | 1 | Unknown
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | Broken off at the left- and the right-hand sides, and the bottom.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
perm_group | 1 | w
