cu001 | 1 | michigan.apis.2770
cu035 | 1 | (MiU)2770
cu090 | 1 | P.Mich.inv. 6232
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Homer
cu245ab | 1 | Homeric papyrus (Iliad 5.202-212, 231-240)
cu245f | 1 | IIIrd century A.D.
cu300 | 1 | 1 papyrus ; 13.4 x 8.9 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is unpublished
cu500_lin | 1 | col. 1: 11 lines; col. 2: 12 lines
cu500_pal | 1 | The text is written in black ink.  Intercolumniation averages 2.2 cm., and a lower margin of 3.4 cm is extant. The letters, 3 mm high, are upright, neat capitals with no ligatures, slightly rounded, thick and squat. The text is well accented and contains numerous diacritical marks and stops. Three errors have been corrected.
cu500_rec | 1 | Source of description: Recto
cu510 | 2 | Priest NE, Homeric Papyri in the Michigan Collection (Diss.), 68-71, no 14, 1975
cu510 | 3 | Priest NE, ZPE 46, 73-4, 1982
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2770&viewid=6232R.TIF
cu518 | 1 | Unknown
cu520 | 1 | Homer, Iliad 5.202-212, 231-240
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | A light-colored, smooth papyrus. It preserves the bottoms of two columns. Kollesis appears 4 cm from the left edge. 
cu653 | 2 | Homer.--Iliad.--Book 5.
cu653 | 3 |  
cu653 | 4 |  
cu653 | 5 |  
cu653 | 6 | Accentuation
cu653 | 7 | Punctuation
cu653 | 8 | Diacritical marks
cu655 | 1 | Literary; Epic
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 200
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/3/2/r/6232r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2770&viewid=6232R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2770&viewid=6232R.TIF&quality=large
perm_group | 1 | w
