cu001 | 1 | michigan.apis.1443
cu035 | 1 | (MiU)1443
cu090 | 1 | P.Mich.inv. 1455
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | unknown
cu245ab | 1 | recipe for an emollient or plaster
cu245f | 1 | IInd- IVth century A.D.
cu300 | 1 | 1 papyrus ; 6.5 x 7.5 cm.
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 1-6
cu500_pal | 1 | The large letters, in very black ink, are individually made and not ill-formed. They are capitals with rounded a, e, and m. The letters are strictly bilinear and there is no evidence of Byzantine tendencies, but a recent experience of being forced to redate to the 4th century a papyrus (P. Corn. 29) with similarly made letters has induced a salutary caution. There is an upper margin of 1.3 cm., left and right margins of 0.5 - 1 cm.
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | "(A medication) for foot fractures and for gout and for stiffened joints and . . ."
cu510 | 2 | Youtie LC, ZPE 27, 140-1, 1977 -- SB XIV 12141
cu510_dd | 1 | SB.:14:12141
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-1443&viewid=1455R.TIF
cu518 | 1 | unknown
cu520 | 1 | This narrow fragment contains the title only of a medical prescription for the treatment of fractures of the foot, gout, and stiffened joints. At least one further use was listed before the ingredients of the prescription were added.
cu544_n | 1 | -
cu546 | 1 | Greek
cu561 | 1 | unknown
cu590_con | 1 | Regularly cut off to the left and to the right; broken off at top and bottom.
cu653 | 1 | -
cu655 | 1 | Papyrus
cu655 | 1 | literary; medicine
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 100
cuDateValue | 2 | 399
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/5/5/r/1455r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1443&viewid=1455R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1443&viewid=1455R.TIF&quality=large
perm_group | 1 | w
