cu001 | 1 | michigan.apis.3727
cu035 | 1 | (MiU)3727
cu090 | 1 | P.Mich.inv. 3521
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Gospel of John
cu245ab | 1 | excerpts of the Gospel of John
cu245f | 1 | (late) IIIrd - (early) IVth century A. D.
cu300 | 1 | 1 papyrus ; 11.6 x 13.2 cm.
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto
cu500_lin | 1 | 1-16
cu500_pal | 1 | 19 lines to the page, 12-21 letters to the line; cf. also electronic version of P. Mich. inv. 3521.
cu500_rec | 1 | Source of description: fol. 4
cu500_t | 1 | -
cu510 | 2 | Husselman EM, Gospel of John, 53, 1962
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-3727&viewid=3521_4R.TIF
cu518 | 1 | unknown
cu520 | 1 | John VI, 40-43
cu546 | 1 | Coptic (Fayumic)
cu561 | 1 | unknown
cu590_con | 1 | Two fragments making up the larger part of a folio, broken off at the bottom
cu653 | 1 | -
cu655 | 1 | Papyrus
cu655 | 1 | literary
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 250
cuDateValue | 2 | 350
cuLCODE | 1 | cop
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/_/4/r/3521_4r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3727&viewid=3521_4R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3727&viewid=3521_4R.TIF&quality=large
perm_group | 1 | w
