cu001 | 1 | michigan.apis.2472
cu035 | 1 | (MiU)2472
cu090 | 1 | P.Mich.inv. 5474
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu100a | 1 | unknown
cu100a | 2 | Septimius Severus & Caracalla, Emperors
cu100a | 3 | Lucius Septimius Aper & Annius Maximus, consuls
cu100a | 4 | Morsolis (Mursilos) son of . . 
cu100a | 5 | Petreius Antiochus
cu100a | 6 | Anilla, doule, Paphlagaina
cu100a | 7 | Aurelius Sempronius
cu245ab | 1 | Application for Examination of a Slave with Appended Copy of Contract of Sale
cu245f | 1 | 207 A.D. (August/September, lines 2-5; June 11, line 6-7)
cu300 | 1 | 1 papyrus ; 9 x12 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto + Verso
cu500_lin | 1 | Recto - 14;;Verso - 1
cu500_pal | 1 | See electronic version of PMich IX, 546
cu500_rec | 1 | Source of description: Recto + Verso
cu500_t | 1 | . . . The 16th year of the Emperors Caesars Lucius Septimius Severus Pius Pertinax Arabicus Adiabenicus Parthicus Maximus and Marcus Aurelius Antoninus Pius Augusti, Thoth(?).;It is as follows:;    In the consulship of Lucius Septimius Aper and Annius Maximus, the 5th day before the Ides of June, in Pompeiopolis, the metropolis of Paphlagonia, under his excellency . . ., Morsolis, son of . . ., has purchased from Petreius Antiochus [his slave, by name] Anilla or by whatever other [name she may be called], a Paphlagonian(?) [by race], about eleven years old . . .
cu510 | 2 | Husselman EM, Archiv 11, 110-112, 1933 -- SB V 7563
cu510 | 3 | Husselman EM, PMich IX, 546, 1971 -- BL VII, 113 on line 12; BL IX, 162 on line 8
cu510_dd | 1 | P.Mich.:9:546
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2472&viewid=5474R.TIF
cu518 | 1 | unknown place, province of Egypt
cu520 | 1 | End of a document
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | broken off at the top and bottom
cu653 | 1 | Pompeiopolis, Paphlagonia
cu653 | 2 | Slavery--Egypt--Karanis (Extinct city)
cu653 | 3 | Slave records--Egypt--Karanis (Extinct city)
cu653 | 4 | Women slaves--Egypt--Karanis (Extinct city)
cu653 | 5 |  
cu653 | 6 |  
cu653 | 7 |  
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 207
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | medium
cuPresentation_display_res | 2 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/7/4/R/5474R.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2472&viewid=5474R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2472&viewid=5474R.TIF&quality=large
cuPresentation_url | 2 | 1 | http://images.umdl.umich.edu/a/apis/thumb/7/4/V/5474V.jpg
cuPresentation_url | 2 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2472&viewid=5474V.TIF&quality=medium
cuPresentation_url | 2 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2472&viewid=5474V.TIF&quality=large
perm_group | 1 | w
