cu001 | 1 | michigan.apis.2084
cu035 | 1 | (MiU)2084
cu090 | 1 | P.Mich.inv. 3747
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu100a | 1 | unknown
cu100a | 2 | Sabinus
cu100a | 3 | Rufinus
cu245ab | 1 | letter
cu245f | 1 | May 21, 316 A.D.
cu300 | 1 | 1 papyrus ; 7.9 x 16.6 cm.
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 1-15
cu500_pal | 1 | At the bottom there is a free margin of approx. 1.5 cm. Approx. 0.5 cm. from the right side a strip of papyrus with (0.3 cm.) with vertical fibers runs over the whole length of the papyrus. The script runs over it.
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | lines 9-15: " (2nd hd.) I pray for your long lasting good health, brother. (3rd hd.) I pray for your long lasting good health. (4th hd.) Pachon 26 of the consulship of the most glorious Sabinus and Rufinus."
cu510 | 2 | Sijpesteijn PJ, Aegyptus 66, 72-73, 1986 -- SB XVIII 13108
cu510_dd | 1 | SB.:18:13108
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2084&viewid=3747R.TIF
cu518 | 1 | unknown
cu520 | 1 | Ohe letter is too fragmentary to provide any more detailed information; only the greetings and the dating of the letter remain.
cu544_n | 1 | -
cu546 | 1 | Greek
cu561 | 1 | unknown
cu590_con | 1 | A light-brown papyrus fairly regularly broken off at the right side. The reverse is reinforced with several strips of papyrus showing horizontal fibers that may be modern. 
cu653 | 1 | -
cu653 | 2 | Letter writing, Egyptian.
cu655 | 1 | Papyrus
cu655 | 1 | documentary
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 316
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/4/7/r/3747r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2084&viewid=3747R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2084&viewid=3747R.TIF&quality=large
perm_group | 1 | w
