cu001 | 1 | michigan.apis.5556
cu035 | 1 | (MiU)5556
cu090 | 1 | P.Mich.Inv. 841
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Unknown
cu245ab | 1 | Petition
cu245f | 1 | 134 A.D
cu300 | 1 | 1 papyrus ; 7.1 x 9 cm
cu500 | 2 | Location: Ann Arbor
cu500_lin | 1 | 12
cu500_pal | 1 | Written along the fibers in relatively small-sized cursive letters; the hand is slow, inconsistent and moderately skilled; irregularly dipped the pen into the inkwell; the interlinear space are relatively small (ca. 0.4 cm). No punctuation or other diacritical marks.
cu500_rec | 1 | Source of description: Recto
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-5556&viewid=1
cu518 | 1 | Unknown
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | Small scrap of papyrus; broken off at the top and right; it has the left and bottom margins; the papyrus has a coarse surface; it is damaged at the middle as a result of a fold.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 134
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
perm_group | 1 | w
