cu001 | 1 | michigan.apis.2066
cu035 | 1 | (MiU)2066
cu090 | 1 | P.Mich.inv. 3724
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu100a | 1 | Copres
cu100a | 2 | Hermes, father of Copres
cu100a | 3 | Copres, author of letter
cu100a | 4 | Hermation, overseer of Copres
cu245ab | 1 | Private letter
cu245f | 1 | IIIrd century A.D.
cu300 | 1 | 1 papyrus ; 9.8 x 10.5 cm.
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto + Verso (both sides parallel with the fibers)
cu500_lin | 1 | recto: 1-14;verso: 1-3
cu500_pal | 1 | Written in a large uncial hand. At the top there was a free margin of at least 1 cm. One line of writing in the left margin running upwards across the fibers. Diaeresisin line 3. 
cu500_rec | 1 | Source of description: Recto + Verso
cu500_t | 1 | "To my lord Hermes, my father, Kopres, greetings. Before all things I pray for your health and I make daily obeisance for you in presence of our ancestral gods. Therefore now I wrote to you at another time about the sorrow which took hold of all because of my overseer Hermation. Therefore now come out and bring me resin and spattles to work with and the basket which he told you. I pray for your good health. In margine sinistra: Bring me sandals.";(Verso): "Copres to Hermes, his father. Deliver to Hermes from Copres."
cu510 | 2 | Sijpesteijn PJ, Misc Pap Roca-Puig, 313-6, 1987, Plate -- SB XVIII, 13613 -- BL IX, 303 (l. 7-8); BL X, 221 (l. 5; 8; 9; 10-11)
cu510 | 3 | Chapa J, Acts of the 20th Intern. Congress of Papyrologists, 525-533, 1994 -- l. 8: alpha after the lacuna is very doubtful; l. 10:lambda not there at end of line (checked on original by Traianos Gagos).
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2066&viewid=3724R.TIF
cu518 | 1 | unknown
cu520 | 1 | Private letter in which Copres writes to his father with the request that he brings some materials and some personal goods to Copres.
cu544_n | 1 | -
cu546 | 1 | Greek
cu561 | 1 | unknown
cu590_con | 1 | Medium brown papyrus irregularly broken off at the top, but fairly regularly on the other sides. At the extreme left border there is a kollesis. Four vertical folds are still visible.
cu653 | 1 | -
cu653 | 2 | Egyptian letters.
cu653 | 3 | Fathers and sons--Egypt.
cu653 | 4 | Intercessory prayer--Paganism--Egypt.
cu653 | 5 | Implements, utensils, etc.--Egypt.
cu653 | 6 | Footwear--Egypt.
cu653 | 7 |  
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 200
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | medium
cuPresentation_display_res | 2 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/2/4/R/3724R.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2066&viewid=3724R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2066&viewid=3724R.TIF&quality=large
cuPresentation_url | 2 | 1 | http://images.umdl.umich.edu/a/apis/thumb/2/4/V/3724V.jpg
cuPresentation_url | 2 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2066&viewid=3724V.TIF&quality=medium
cuPresentation_url | 2 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2066&viewid=3724V.TIF&quality=large
perm_group | 1 | w
