cu001 | 1 | michigan.apis.2157
cu035 | 1 | (MiU)2157
cu090 | 1 | P.Mich.inv. 42
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Thucydides
cu245ab | 1 | History VII, 57, 11
cu245f | 1 | IInd century  A.D.
cu300 | 1 | 1 papyrus ; 9.5 x 9
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 12
cu500_pal | 1 | Neat, medium-sized uncials, upright and narrow (Winter); the script corresponds to W. Schubart&apos;s "strenge Stil"; rather narrow columns (16-20 letters per line) (Wouters)
cu500_rec | 1 | Source of description: Recto
cu510 | 2 | Winter JG, PMich III, 141, 1936
cu510_dd | 1 | P.Mich.:2:141
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2157&viewid=42.TIF
cu518 | 1 | Unknown
cu520 | 1 | Fragment of a luxurious roll, preserving Thucydides, History VII, 57, 11. Traces of the preceding and following columns are to be seen along the edges of the fragment
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | Broken off at the left, right and bottom; badly damaged
cu653 | 2 | Historians.
cu653 | 3 | Greek prose literature--Egypt.
cu653 | 4 | Greece--History--Peloponnesian War, 431-404 B.C.
cu655 | 1 | Literary: Historical
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 100
cuDateValue | 2 | 199
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/4/2/42.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2157&viewid=42.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2157&viewid=42.TIF&quality=large
perm_group | 1 | w
