cu001 | 1 | michigan.apis.1472
cu035 | 1 | (MiU)1472
cu090 | 1 | P.Mich.inv. 1573
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Old Testament
cu245ab | 1 | Psalm III, 4 - 8
cu245f | 1 | Vth century A.D.
cu300 | 1 | Par ; 7.5 x 5 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Both sides
cu500_lin | 1 | page I -12;page II -12
cu500_pal | 1 | A leaf of a codex of the smallest format (7.5 x 5 cm,12 lines to a page, 8-13 letters to the line); punctuation is in the form of a colon; no abbreviations
cu500_rec | 1 | Source of description: Page  i; Page ii
cu510 | 2 | Sanders HA, PMich III, 132, 1936
cu510_dd | 1 | P.Mich.:2:132
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-1472&viewid=1573R.TIF
cu518 | 1 | Unknown
cu520 | 1 | Fragment of a leaf of a parchment codex, bearing Psalm III, 4-8
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | Quite damaged; Page II badly defaced
cu653 | 2 | Bible.--O.T.--Psalms III, 6-10--Greek.
cu653 | 3 | Judaism--Egypt.
cu653 | 4 | Church history--Primitive and early church, ca. 30-600--Egypt.
cu655 | 1 | Literary: Biblical
cu655 | 1 | Parchment
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 400
cuDateValue | 2 | 499
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | medium
cuPresentation_display_res | 2 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/7/3/r/1573r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1472&viewid=1573R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1472&viewid=1573R.TIF&quality=large
cuPresentation_url | 2 | 1 | http://images.umdl.umich.edu/a/apis/thumb/7/3/v/1573v.jpg
cuPresentation_url | 2 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1472&viewid=1573V.TIF&quality=medium
cuPresentation_url | 2 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1472&viewid=1573V.TIF&quality=large
perm_group | 1 | w
