cu001 | 1 | michigan.apis.1452
cu035 | 1 | (MiU)1452
cu090 | 1 | P.Mich. inv. 15
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Homer
cu245ab | 1 | Homeric papyrus (Iliad 3.408-419)
cu245f | 1 | (Late) IInd/early IIIrd century A.D.
cu300 | 1 | 1 papyrus ; 6.4 x 2.8 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 12 lines
cu500_pal | 1 | The long lower margin suggests that this fragment comes from the bottom of a column. Part of the right margin is extant.  It is written in a broad, gently sloping uncial hand. The type is common in literary papyri from the second century A.D. onwards. Parallels place the text in the late second or early third century: cf. P.Oxy. I 26, III 446 and 447 (all late 2nd cent.), and P.Oxy VI 946 (late 2nd/early 3rd). Compared with these examples, the writing on the Michigan fragment is more compact, but the shape of the letters is very similar, especially to those in P.Oxy. 26 and 946. Rough breathing and accents are indicated, but the scribe did not add a grave on the eta in line 409. 
cu500_rec | 1 | Source of description: Recto
cu510 | 1 | LDAB 1810 "C.W. Shelmerdine, BASP 12,1975, 21-22 + G. Schwendner, Literary and non-literary Papyri, Mich. Diss. 1988 no. 5 (joined by P. van Minnen)
cu510 | 2 | Shelmerdine CW, BASP 12, 21-22, 1975
cu510 | 3 | Schwendner GW, Diss, 13, no 5, 1988 -- The editor  (Schwendner GW) did not publish ll. 418-419 and did not know  the ed. princ. He referred to the papyrus as "not inventoried"
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-1452&viewid=15R.TIF
cu518 | 1 | Unknown
cu520 | 1 | Homer, Iliad 3.408-419
cu544_n | 1 | + P.Mich. inv. 15bis
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | The writing is parallel to the fibers. This papyrus is one of the fragments listed in R.A. Pack, The Greek and Latin Literary Texts from Graeco-Roman Egypt, no 565. It was briefly mentioned by A.E.R. Boak in Aegyptus 4 (1923), p. 38, where it was said to contain Iliad 3.408-422. Evidently the papyrus has since suffered damage, for it now reads only lines 408-419
cu653 | 2 | Homer--Illiad--Book 3.
cu655 | 1 | Literary; epic
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 150
cuDateValue | 2 | 250
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/1/5/R/15R.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1452&viewid=15R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1452&viewid=15R.TIF&quality=large
perm_group | 1 | w
