cu001 | 1 | michigan.apis.827
cu035 | 1 | (MiU)827
cu090 | 1 | O.Mich.inv. 9421
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu100a | 1 | Unknown tax-collector
cu100a | 2 | Pabous son of Akoris(?)
cu100a | 3 | Thaktes
cu245ab | 1 | Receipt for money tax
cu245f | 1 | IVth century A.D. 
cu300 | 1 | 1 ostracon ; 5.2 X 4.3 cm
cu500 | 2 | Location: Cairo
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 3
cu500_pal | 1 | see electronic version of OMich III, 990
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | (For) the pittakion, Pabous son of Akoris, hiring fellow-labourer(?) of the 1st year, through Thaktes, 1 talent.
cu510 | 2 | Youtie HC, TAPA 73, 76, 1942
cu510 | 3 | Youtie HC, OMich III, 990, 1951
cu510_dd | 1 | O.Mich.:3:990
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-827&viewid=9421O.TIF
cu518 | 1 | probably Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Receipt for payment for the pittakion by a Pabous
cu544_n | 1 | -
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | complete
cu653 | 1 | -
cu653 | 2 | Taxation--Egypt--Karanis (Extinct city)
cu655 | 1 | Documentary
cu655 | 1 | Ostracon
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 300
cuDateValue | 2 | 399
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/2/1/O/9421O.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-827&viewid=9421O.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-827&viewid=9421O.TIF&quality=large
perm_group | 1 | w
