cu001 | 1 | michigan.apis.2955
cu035 | 1 | (MiU)2955
cu090 | 1 | P.Mich.inv. 6833
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu100a | 1 | Didymos, sitologos
cu100a | 2 | Antoninus Pius, Emperor
cu100a | 3 | Didymos, en klero sitologias of Karanis(& associates)
cu100a | 4 | Amasis son of Pasoxis
cu245ab | 1 | Receipt for Delivery in Kind
cu245f | 1 | August 5, 146 A.D.
cu300 | 1 | 1 papyrus ; 9.4 X 8.8 cm
cu500 | 2 | Location: Cairo
cu500 | 4 | Pub. status: Recto
cu500_lin | 1 | 6
cu500_rec | 1 | Source of description: E; Recto
cu500_t | 1 | The ninth year of the Emperor Caesar Titus Aelius Hadrianus Antoninus Augustus Pius, Mesore 12. We, Didymos and his associates in the allotment of the sitologia of Karanis, have received from the crops of the same year by levelled public measure . . . to the account of Amasis, son of Pasoxis, for catoecic dues of Kerkesoucha, one and one-twelfth artabai of wheat, equal 1 1/12 artabai of wheat, and the extra charges.
cu510 | 2 | Pearl OM, Aegyptus 33, 16, 1953 -- SB VI 9435
cu510_dd | 1 | SB:6:9435
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2955&viewid=1
cu518 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Receipt for catoecic dues paid by Amasis son of Pasoxis
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | complete
cu653 | 1 | Karanis; Kerkesoucha
cu653 | 2 | Agriculture--Taxation--Egypt--Karanis (Extinct city)
cu653 | 3 | Agriculture--Taxation--Egypt--Kerkesoucha Orous (Extinct city)
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 146
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
perm_group | 1 | w
