cu001 | 1 | michigan.apis.2342
cu035 | 1 | (MiU)2342
cu090 | 1 | P.Mich.inv. 4912
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu100a | 1 | Unknown
cu100a | 2 | The philosopher Anaxarchos,  Nikokreon, the tyrant of Cyprus,Epameinondas
cu245ab | 1 | A moral treatise with exempla
cu245f | 1 | IInd- IIIrd century A.D.
cu300 | 1 | 2 papyri ; fr. 1: 7.3 x 9.5; fr. 2: 2.1 x 4 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | Fr. I, col. I, 14 lines; col. II, 15 lines; Fr. II, 6 lines
cu500_pal | 1 | The text is written in black ink. The intercolumniar space is 1.1 cm at its narrowest point. Only one rough breathing in l. 7 and a paragraphus-mark in l. 21.  The hans is rounded, upright uncial of a rather small size (letter-height average only 2 mm), written slowly with regular spacing.
cu500_rec | 1 | Source of description: A; Recto
cu510 | 2 | Gronewald M, ZPE 28, 278-80, 1978
cu510 | 3 | Priest NE, ZPE 31, 61-9, 1978
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2342&viewid=4912AR.TIF
cu518 | 1 | Unknown
cu520 | 1 | An anthology of examples of men who bravely faced and accepted somewhat brutal forms of the death
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | The papyrus fragments are broken off at all sides.  Fr. 1 contains the ends of the lines of one column and the beginnings of the lines of a second. The papyrus is dark brown, rather coarse.The verso seems to contain some slight traces of writing, but these may be only ink blots.
cu653 | 2 | Literature
cu653 | 3 | Prose
cu653 | 4 | Oratory? Philosophy? Anthology
cu653 | 5 | Papyrus roll
cu653 | 6 | Accentuation
cu653 | 7 | Punctuation
cu655 | 1 | Literary; anthology
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 100
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/2/A/R/4912AR.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2342&viewid=4912AR.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2342&viewid=4912AR.TIF&quality=large
perm_group | 1 | w
