cu001 | 1 | michigan.apis.2608
cu035 | 1 | (MiU)2608
cu090 | 1 | P.Mich.inv. 5961
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu100a | 1 | Ptolemaios(?) son of Petheus, acting for Longinus Maximus
cu100a | 2 | Longinus Maximus
cu100a | 3 | Ptolemaios(?) son of Petheus, phrontistes of Longinus Maximus
cu100a | 4 | Antoninus Pius, Emperor
cu245ab | 1 | Census Declaration
cu245f | 1 | July 24, 147 A.D.
cu300 | 1 | 3 papyri ; 10.2 x 20.3 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso unpublished (traces of 1 line)
cu500_lin | 1 | 19
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | . . .;From Longinus Maximus, through his agent [Ptolemaios(?)], son of Petheus. I declare for the house-by-house registration of the past 9th year of Antoninus Caesar the lord the fourth share which belongs to me of a house and courtyard in the village of Karanis. (2nd hand) I, Longinus Maximus, through my agent Ptolemaios(?), son of Petheus, have submitted the declaration. Year 10 of the Emperor Caesar Titus Aelius Hadrianus Antoninus Augustus Pius, Epeiph 30.
cu510 | 2 | Pearl OM, CE 28, 343-344, 1953 -- SB VI 9554, 4 -- BL X, 200 (l. 8)
cu510_dd | 1 | SB:6:9554
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2608&viewid=5961R.TIF
cu518 | 1 | perhaps Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Declaration (kat&apos;oikian apographe) of a share of a house for the census of 146/147 A.D. 
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | broken off and damaged at the top
cu653 | 1 | Karinis (Karanis)
cu653 | 2 | Absentee landlordism--Egypt--Karanis (Extinct city)
cu653 | 3 | Land tenure--Egypt--Karanis (Extinct city)
cu653 | 4 | Karanis (Extinct city)--Census.
cu653 | 5 | Home ownership--Egypt--Karanis (Extinct city)
cu653 | 6 |  
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 147
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | medium
cuPresentation_display_res | 2 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/6/1/R/5961R.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2608&viewid=5961R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2608&viewid=5961R.TIF&quality=large
cuPresentation_url | 2 | 1 | http://images.umdl.umich.edu/a/apis/thumb/6/1/V/5961V.jpg
cuPresentation_url | 2 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2608&viewid=5961V.TIF&quality=medium
cuPresentation_url | 2 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2608&viewid=5961V.TIF&quality=large
perm_group | 1 | w
