cu001 | 1 | michigan.apis.1703
cu035 | 1 | (MiU)1703
cu090 | 1 | P.Mich.inv. 2940
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu100a | 1 | [- - -] son of Sambathion
cu100a | 2 | [Maximus alias] Nearchos, strategos of the Herakleidou meris
cu100a | 3 | Herakleides, [basilikos grammateus] of the Herakleidou meris
cu100a | 4 | Orsenouphis, [komogrammateus] of Karanis
cu100a | 5 | [Dioskoros], laographos of Karanis (& associates)
cu245ab | 1 | Census Declaration
cu245f | 1 | 146/147 A.D.
cu300 | 1 | 1 papyrus ; 4.2 x 7.6 cm
cu500 | 2 | Location: Cairo
cu500_lin | 1 | 12
cu500_t | 1 | To Maximus also called Nearchos, strategos of the division of Herakleides of the Arsinoite nome, and Herakleides, royal secretary of the same division, and Orsenouphis, village secretary of Karanis, and Dioskoros and the other laographoi of the same village.;From . . ., son of Sambathion, of the village of Karanis. There belongs to . . . Gemellus, whose interests I represent . . .
cu510 | 2 | Pearl OM, CE 28, 335-336, 1953 -- SB VI 9554, 1
cu510 | 3 | Fuks A-Tcherikover V, CPJ III, 492, 18, 1964
cu510_dd | 1 | SB:6:9554
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-1703&viewid=1
cu518 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Declaration (kat&apos;oikian apographe for the census of 146/147 A.D.) addressed to several officials by the representative acting for a Gemellus
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | broken off on the left side and at the bottom
cu653 | 1 | Karanis, Herakleidou meris of the Arsinoite nome
cu653 | 2 | Absentee landlordism--Egypt--Karanis (Extinct city)
cu653 | 3 | Karanis (Extinct city)--Census.
cu653 | 4 | Land tenure--Egypt--Karanis (Extinct city)
cu653 | 5 | Citizenship--Rome.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 146
cuDateValue | 2 | 147
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
perm_group | 1 | w
