cu001 | 1 | michigan.apis.3426
cu035 | 1 | (MiU)3426
cu090 | 1 | P.Mich.inv. 1589
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | unknown
cu245ab | 1 | P.Mich.inv. 1589
cu300 | 1 | 2 papyri ; a: 10.2 x 15.1 cm; fr. b 1.8 x 2.2. cm
cu500 | 1 | Ed. princ. refers to fr. a: 4.7 x 8.5 cm and fr. b: 7.4 x 7.2 cm, but they are joined to one fragment  10.2  x 15.1 cm. There is one more fragment not mentioned in ed. princ. which preserved letters from four lines, 1.8 x 2.2. cm and does not join to the main fragment (NL)
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is unpublished;;under research; contact institution
cu500_rec | 1 | Source of description: Verso
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-3426&viewid=1
cu518 | 1 | Unknown
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_no | 1 | 1 | 1
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/8/9/v/1589v.jpg
perm_group | 1 | w
