cu001 | 1 | michigan.apis.933
cu035 | 1 | (MiU)933
cu090 | 1 | O.Mich.inv. 9546
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu100a | 1 | Unknown dyke-surveyor
cu100a | 2 | Eutyches, freedman of Longus (see also O. Mich. III, 1044)
cu245ab | 1 | receipt (certificate) for work on the embankments; text incomplete
cu245f | 1 | IIIrd century A.D.
cu300 | 1 | 1 ostracon ; 7.5 X 5.5 cm
cu500 | 2 | Location: Cairo
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 2
cu500_pal | 1 | see electronic version of OMich II, 844
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | 2nd (cleruchy). Eutyches, freedman of Longus.
cu510 | 2 | Youtie HC, CP 39, 29, 1944
cu510 | 3 | Pearl OM-Youtie HC, OMich II, 844, 1944
cu510_dd | 1 | O.Mich.:2:844
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-933&viewid=9546O.TIF
cu518 | 1 | probably Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Certificate for work on the embankment performed by a freedman named Eutyches
cu544_n | 1 | OMich. III, 1044
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | complete
cu653 | 1 | 2nd (cleruchy)
cu653 | 2 | Irrigation--Egypt--Karanis (Extinct city)
cu653 | 3 | CorvȨe--Egypt--Karanis (Extinct city)
cu653 | 4 | Freedmen--Egypt--Karanis (Extinct city)
cu653 | 5 | Dikes (Engineering)--Egypt--Karanis (Extinct city)
cu653 | 6 |  
cu655 | 1 | Documentary
cu655 | 1 | Ostracon
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 200
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/4/6/O/9546O.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-933&viewid=9546O.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-933&viewid=9546O.TIF&quality=large
perm_group | 1 | w
