cu001 | 1 | michigan.apis.3249
cu035 | 1 | (MiU)3249
cu090 | 1 | P.Mich.inv. 988
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu1004 | 8 | asn
cu1004 | 9 | asn
cu100a | 1 | . . .noitarion alias Thermouthion
cu100a | 2 | . . .noitarion alias Thermouthion, daughter of . . . Faustos and Teteuris
cu100a | 3 | Diodotos
cu100a | 4 | Theogenes, son of Theogenes and Kallistrate, grandson of Theogenes
cu100a | 5 | . . .anor
cu100a | 6 | Herakleides
cu100a | 7 | Gregorios
cu100a | 8 | Dionysios, son of Theon
cu100a | 9 | Commodus, emperor
cu245ab | 1 | copy of a deed of sale
cu245f | 1 | 189 (?)
cu300 | 1 | 2 papyri ; ca. 14 x 27 cm.
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 1-32
cu500_pal | 1 | The hand is small, well-practiced and semi-cursive with some ligature, a typical late second century documentary hand. The subscriptions, less cursive and compact than the rest of the text, are written by less practiced hands. The text is written in black ink. The left (0.7 cm. - 1.2 cm.) and bottom (6 cm. - 9 cm.) margins are preserved, and the top line of the extant text is almost certainly the first full line of the original, although a brief address to the strategos may have existed one line above. The lettering averages 3 mm. in height with an average interlineation of 3 mm.
cu500_rec | 1 | Source of description: Recto
cu510 | 2 | Damen ML-Priest NE, BASP 19, 129-41, 1982 -- SB XVI 12333 (and p. 540) -- BL VIII, 381 (l. 2; 13; 25)
cu510_dd | 1 | SB.:16:12333
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-3249&viewid=988R.TIF
cu518 | 1 | Oxyrhynchos, Oxyrhynchite nome, Middle Egypt, province of Egypt (?)
cu520 | 1 | This papyrus contains the copy of a deed of sale. The buyer, . . .noitarion alias Thermouthion, has submitted to the archidicastes, Diodotos, a copy of the deed of sale of twenty-eight and a half arouras of land, including vineyards, plus a half-share of a water-wheel, which she purchased from Theogenes for 17,100 drachmas. The archidicastes has, in turn, submitted copies of the original contractand her request for publication to the Libraries of Hadrian and of the Nanaion; he has also returned to her a copy of the document as published, with his approval appended. She then sent a copy to the strategos with a request that he serve it on Theogenes. The text which we have is the copy which Theogenes received, since it bears his and a clerk&apos;s subscriptions acknowledging the serving of the document.
cu544_n | 1 | -
cu546 | 1 | Greek
cu561 | 1 | Oxyrhynchos, Oxyrhynchite nome, Middle Egypt, province of Egypt (?)
cu590_con | 1 | The upper left quarter of this light brown papyrus has been detached along folds. Of the detached quarter, there is extant only a small fragment containing the left margin and about eight letters per line of lines 4-15. The fragment measures 3 x 6 cm., and an average of 4 cm. is missing between the fragment and the left edge of the upper right quarter of the text. 
cu653 | 1 | Oxyrhynchite nome
cu653 | 2 | Vineyards--Egypt--Bahnasïa.
cu653 | 3 | Land titles--Registration and transfer--Egypt--Bahnasïa.
cu653 | 4 | Water-wheels--Egypt--Bahnasïa.
cu653 | 5 | Clerks--Egypt--Bahnasïa.
cu653 | 6 | Library of Hadrian (Athens, Greece)--Archival resources.
cu655 | 1 | Papyrus
cu655 | 1 | documentary
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 189
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/8/8/r/988r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3249&viewid=988R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3249&viewid=988R.TIF&quality=large
perm_group | 1 | w
