cu001 | 1 | michigan.apis.1884
cu035 | 1 | (MiU)1884
cu090 | 1 | P.Mich.inv. 3220
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu100a | 1 | Philinos
cu100a | 2 | Philinos (see Pros.Ptol. IV 10105)
cu100a | 3 | Zenon (son of Agreophon) (see Pros.Ptol. I 80 + add.)
cu245ab | 1 | Business Letter
cu245f | 1 | March 16, 250 B.C.
cu300 | 1 | 1 papyrus ; 11.5 x 22 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto + Verso
cu500_lin | 1 | Recto - 12;;Verso - 2
cu500_rec | 1 | Source of description: Recto + Verso
cu500_t | 1 | (Recto);;Philinos to Zenon greeting. If you are well, it would be good. I too am well. If it is convenient to you, kindly reserve me 1,000 artabai of wheat from the new crop. And write me the price, in order that I may send it to you. Farewell.;;(Verso);;To Zenon.;(Docket, 2nd hand) Year 35, Tybi 23. Philinos about 1,000 artabai of wheat.
cu510 | 2 | Edgar CC, PMich I, 51, 1931
cu510_dd | 1 | P.Mich.:1:51
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-1884&viewid=3220R.TIF
cu518 | 1 | Unknown place, Egypt
cu520 | 1 | Letter to Zenon from Philinos, who requests him to reserve 1,000 artabai of wheat for him
cu544_n | 1 | Zenon archive
cu546 | 1 | Greek
cu561 | 1 | Philadelpheia, Herakleidou meris, Arsinoite nome, Egypt
cu590_con | 1 | much damaged along the folds
cu653 | 2 | Commercial correspondence--Egypt.
cu653 | 3 | Measures and weights, Ancient.
cu653 | 4 | Wheat--Purchasing--Egypt.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 1 | 250
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | medium
cuPresentation_display_res | 2 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/2/0/R/3220R.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1884&viewid=3220R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1884&viewid=3220R.TIF&quality=large
cuPresentation_url | 2 | 1 | http://images.umdl.umich.edu/a/apis/thumb/2/0/V/3220V.jpg
cuPresentation_url | 2 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1884&viewid=3220V.TIF&quality=medium
cuPresentation_url | 2 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1884&viewid=3220V.TIF&quality=large
perm_group | 1 | w
