cu001 | 1 | michigan.apis.1637
cu035 | 1 | (MiU)1637
cu090 | 1 | P.Mich.inv. 2810
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Homer
cu245ab | 1 | Iliad 1. 283; 308-375; 397-520; 561-578
cu245f | 1 | IInd century  A.D.
cu300 | 1 | 5 papyri ; (a) 27 x 25.5 cm; (b) 14.4 x 12 cm; (c) 11.5 x 21 cm; (d) 19.5 x 26.5 cm; (e) 4 x 10.5 cm
cu500 | 1 | Fragment (a) contains verses 308-375 (col. X-XI); fragment (b), verses 397-411 (lower part of col. XII) + 443-448 (beginnings of lower part of col. XIII); fragment (c), verses 412-442 (col. XIII); fragment (d), verses 449-520 (col. XIV-XV); fragment (e), verses 561-578 (col. XVII).
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | Col. X - 33;;Col. XI - 35;;Col. XII - 15;;Col. XIII - 37;;Col. XIV - 36;;Col. XV - 36;;Col. XVII - 18
cu500_pal | 1 | a neat, upright uncial, with letters strictly separated; corrections by the same hand, though more quickly and with less care. Diagonal paragraphoi, tremata, occasional stops, a few accents. Column number conserved on top of col. X; stichometric letter against line 505
cu500_rec | 1 | Source of description: A - E; Recto
cu510 | 1 | Rep Editor - Priest NE;   Rep Ser. - ZPE 46;   1982;   pg. 58 - 69
cu510 | 2 | Schwartz J, BIFAO 61, 147-151 (col. X-XI only), 1962
cu510 | 3 | Priest NE, Homeric Papyri in the Michigan Collection (Diss.), 5, 1975
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-1637&viewid=2810R1.TIF
cu518 | 1 | Unknown place, province of Egypt
cu520 | 1 | Large fragments of a roll which contained Iliad I
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | broken off on the left and right sides, in some places also at the top and/or bottom
cu653 | 1 | -
cu653 | 2 | Homer--Illiad--Book 1.
cu655 | 1 | Literary: Epic
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 100
cuDateValue | 2 | 199
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_caption | 3 | Overview
cuPart_caption | 4 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_no | 3 | 3
cuPart_no | 4 | 4
cuPart_section | 1 | Recto
cuPart_section | 2 | Recto
cuPart_section | 3 | Recto
cuPart_section | 4 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | medium
cuPresentation_display_res | 2 | 3 | large
cuPresentation_display_res | 3 | 1 | thumbnail
cuPresentation_display_res | 3 | 2 | medium
cuPresentation_display_res | 3 | 3 | large
cuPresentation_display_res | 4 | 1 | thumbnail
cuPresentation_display_res | 4 | 2 | medium
cuPresentation_display_res | 4 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 3 | 1 | 1
cuPresentation_no | 3 | 2 | 2
cuPresentation_no | 3 | 3 | 3
cuPresentation_no | 4 | 1 | 1
cuPresentation_no | 4 | 2 | 2
cuPresentation_no | 4 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/0/R/1/2810R1.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1637&viewid=2810R1.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1637&viewid=2810R1.TIF&quality=large
cuPresentation_url | 2 | 1 | http://images.umdl.umich.edu/a/apis/thumb/0/R/3/2810R3.jpg
cuPresentation_url | 2 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1637&viewid=2810R3.TIF&quality=medium
cuPresentation_url | 2 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1637&viewid=2810R3.TIF&quality=large
cuPresentation_url | 3 | 1 | http://images.umdl.umich.edu/a/apis/thumb/2/_/1/2810R2_1.jpg
cuPresentation_url | 3 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1637&viewid=2810R2_1.TIF&quality=medium
cuPresentation_url | 3 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1637&viewid=2810R2_1.TIF&quality=large
cuPresentation_url | 4 | 1 | http://images.umdl.umich.edu/a/apis/thumb/2/_/2/2810R2_2.jpg
cuPresentation_url | 4 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1637&viewid=2810R2_2.TIF&quality=medium
cuPresentation_url | 4 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1637&viewid=2810R2_2.TIF&quality=large
perm_group | 1 | w
