cu001 | 1 | michigan.apis.4942
cu035 | 1 | (MiU)4942
cu090 | 1 | P.Mich.Inv. 380
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu100a | 1 | Unknown
cu100a | 2 | Stefanos
cu100a | 3 | Kornelios
cu245ab | 1 | Letter
cu245f | 1 | (Late) IIIrd century A.D.
cu300 | 1 | 1 papyrus ; 10.2 x 9.8 cm
cu500 | 2 | Location: Ann Arbor
cu500_lin | 1 | recto: 12 lines; verso: 2 lines (address)
cu500_pal | 1 | Written along the fibers in cursive and rapid but practiced hand; the letters are ligatured; some letters like ru, iota, phi . . . etc have long leg with a tendency to the left. Verso has two lines; they are written in different hand of the recto, Letters in 1st line are detached; and ligatured in 2nd line.
cu500_rec | 1 | Source of description: Recto + Verso
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-4942&viewid=1
cu518 | 1 | Unknown
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | This small papyrus has the left and right margins. It is broken off at the top and bottom; damaged at the left and middle as a result of 3 vertical folds. Some fibers are removed at the bottom to the left at recto, and at the top and middle at verso.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 250
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
perm_group | 1 | w
