cu001 | 1 | michigan.apis.2260
cu035 | 1 | (MiU)2260
cu090 | 1 | P.Mich.inv. 4686
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu100a | 1 | Ptolemaios
cu100a | 2 | Ptolemaios
cu100a | 3 | his (unnamed) father
cu100a | 4 | his (unnamed) mother
cu245ab | 1 | Private Letter
cu245f | 1 | (First half of the) IIIrd century A.D.
cu300 | 1 | 1 papyrus ; 9.5 X 16.2xm
cu500 | 2 | Location: Cairo
cu500 | 4 | Pub. status: Recto; Verso described
cu500_lin | 1 | Recto - 22
cu500_pal | 1 | See electronic version of PMich VIII, 511
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | Ptolemaios to his father, greeting. I want you and my mother to know that the novices&apos; fee (siopetikon) for the banquet is 24 drachmai and for a place another 22 drachmai. After consideration, therefore, I have taken up the post of agoranomos so that I need not pay the novices&apos; fee nor for a place; but also I receive double portions, and I provide them with wood. For this reason, then, give the matter thought, and if you come up you will receive the freightage for the donkeys. For there is a need of 5 loads. If you need me, send me word and I will come down with two friends as well in order that you may not tire yourself. For a  man cannot refuse our lord Sarapis. It is another two months until the banquet. If you are able to bring up the wood with your donkey, bring it up, and you will get the money to cover your expense.;(2nd hand) Farewell.
cu510 | 2 | Winter JG-Youtie HC, PMich VIII, 511, 1951, Pl. VII -- BL VIII, 215 (bibliography)
cu510 | 3 | Totti M, Ausgewaehlte Texte der Isis- und Sarapis-Religion, 49, 1985
cu510_dd | 1 | P.Mich.:8:511
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2260&viewid=1
cu518 | 1 | Unknown place (perhaps Memphis, Memphite nome, or Arsinoe, Arsinoite nome?), province of Egypt
cu520 | 1 | Letter from Ptolemaios to his father, informing him that Ptolemaios has chosen to act as agoranomos for a cult banquet in honor of Sarapis and asking him to undertake for him the duty of providing five loads of wood for the banquet
cu544_n | 1 | Found with the archive of the praktor Sokrates son of Sarapion
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | nearly complete; a few traces of ink are all that remain of the address on the verso
cu653 | 1 | -
cu653 | 2 | Family
cu653 | 3 | Feast
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 200
cuDateValue | 2 | 250
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
perm_group | 1 | w
