cu001 | 1 | michigan.apis.28
cu035 | 1 | (MiU)28
cu090 | 1 | O.Mich.inv. 4003
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu100a | 1 | Unknown
cu100a | 2 | Lucius Septimius Aurelius Poseidonios, eutheniarchesas, agoranomesas, exegeteusas, genomenos hypomnematographos of Alexandria (see P.Mich. XI, p. 16)
cu245ab | 1 | Address
cu245f | 1 | IIIrd century  A.D.
cu300 | 1 | 1 ostracon ; 10.3 x 6.4 cm
cu500 | 2 | Location: Kelsey Museum
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 7
cu500_t | 1 | To Lucius Septimius Aurelius Poseidonios, former eutheniarches, former agoranomos, former exegetes, and former hypomnematographos of the most glorious city of Alexandria, and however he is styled . . .
cu510 | 2 | Amundsen L, OMich I, 94, 1935 -- BLVI, 207 (date)
cu510_dd | 1 | O.Mich.:1:94
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-28&viewid=1
cu518 | 1 | Unknown
cu520 | 1 | Draft of theginning of a letter or document addressed to Lucius Septimius Aurelius Poseidonios, an eminent Alexandrian
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | Complete
cu653 | 1 | polis ton Alexandreon (Alexandria)
cu653 | 2 | Cities and towns;Offiicials and employees--Egypt--Alexandria.
cu653 | 3 | Citizenship--Egypt--Alexandria.
cu653 | 4 | Petition, Right of--Egypt--Alexandria.
cu655 | 1 | Documentary
cu655 | 1 | Ostracon
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 200
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
perm_group | 1 | w
