cu001 | 1 | michigan.apis.1927
cu035 | 1 | (MiU)1927
cu090 | 1 | P.Mich.inv. 3298
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu1004 | 8 | asn
cu1004 | 9 | asn
cu1004 | 10 | asn
cu1004 | 11 | asn
cu1004 | 12 | asn
cu1004 | 13 | asn
cu1004 | 14 | asn
cu100a | 1 | Unknown
cu100a | 2 | Horion son of Daueit (David)
cu100a | 3 | Apollos son of Victor
cu100a | 4 | Victor son of Postumus
cu100a | 5 | Horion son of Mathaios grandson of Menas
cu100a | 6 | Ammon
cu100a | 7 | Pisatos son of Marcus
cu100a | 8 | Ta . rios son(?) of Iosos(?)
cu100a | 9 | Apollos son of Menas grandson(?) of . . . presbyteros
cu100a | 10 | S . . . nkios son of Senouthes
cu100a | 11 | Severinus(?) son of Patronios
cu100a | 12 | Ioanness, presbyteros tou apostolou
cu100a | 13 | Ioannes son of Phoibammon
cu100a | 14 | (unnamed) son of . . ., oikodomos
cu245ab | 1 | Two Accounts of Wheat
cu245f | 1 | VIth/VIIth century A.D.
cu300 | 1 | 1 papyrus ; 11 x 8.5 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto + Verso
cu500_lin | 1 | Recto - 10;;Verso - 4
cu500_rec | 1 | Source of description: Recto + Verso
cu500_t | 1 | (Recto);;[- - -];Through Horion, son of David: 1/6 1/48 artabai;Through Apollos, son of Victor: 3 1/2 (?)1/48 artabai;Through Victor, son of Postumus: 1 1/2 1/12 artabe;Through Horion, son of Mathaios, grandson of Menas, through Ammon: 1/6 1/48 artabai;Through Pisatos, son of Marcus: 3 1/2(?) 1/48 artabai;Through Ta . rios, son(?) of Iosos(?): 1/2 1/3 1/12 (?) artabe;Through Apollos, son of Menas, grandson(?) of . . . the elder: 1/2 artabe;Through Daniel, son of Xa(--): 1/2 artabe;Through S . . . nkios, son of Senouthes: 1/2 artabe;[- - -];;(Verso);;(Cross) Severinus(?), son of Patronius;Ioanness, elder of the Apostle: 1 artabe;Ioannes, son of Phoibammon . . .: 1 artabe;The son of . . . the builder
cu510 | 2 | Sijpesteijn PJ, Aegyptus 59, 61-62, 1979
cu510 | 3 | Sijpesteijn PJ, PMich XV, 747, 1982, Pl. XXX -- BL IX 164 (l. 11)
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-1927&viewid=3298R.TIF
cu518 | 1 | Unknown
cu520 | 1 | Two lists of payments in wheat by various persons, for an uncertain purpose; it is not certain that the two are connected
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | Broken (or cut) off at the top and bottom
cu653 | 2 | Accounting--Egypt.
cu653 | 3 | Clergy--Egypt.
cu653 | 4 | Building trades--Egypt.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 600
cuDateValue | 2 | 699
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | medium
cuPresentation_display_res | 2 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/9/8/r/3298r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1927&viewid=3298R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1927&viewid=3298R.TIF&quality=large
cuPresentation_url | 2 | 1 | http://images.umdl.umich.edu/a/apis/thumb/9/8/v/3298v.jpg
cuPresentation_url | 2 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1927&viewid=3298V.TIF&quality=medium
cuPresentation_url | 2 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1927&viewid=3298V.TIF&quality=large
perm_group | 1 | w
