cu001 | 1 | michigan.apis.2798
cu035 | 1 | (MiU)2798
cu090 | 1 | P.Mich.inv. 6303
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu100a | 1 | Ammon son of Harpokras(?)
cu100a | 2 | (unnamed) sitologoi of Karanis
cu100a | 3 | Ammon son of Harpokras(?)
cu100a | 4 | Chairemon son of Pamounis
cu100a | 5 | Kastor, agoranomos
cu245ab | 1 | Receipt for Seed Grain
cu245f | 1 | December 26, 214 A.D.
cu300 | 1 | 1 papyrus ; 7.5 X 9.1 cm
cu500 | 2 | Location: Cairo
cu500 | 4 | Pub. status: Recto
cu500_lin | 1 | 11
cu500_rec | 1 | Source of description: 20; Recto
cu500_t | 1 | To the sitologoi of the village of Karanis, greeting. I, Ammon, son of Harpokras(?), of the public (cultivators) of the 86th cleruchy of Karanis, have received from you as loan of seed grain for the present 23rd year from the grain of the past 22nd year, 3 1/2 artabai of wheat. I, Chairemon, son of Pamounis, have written for him because he is illiterate. (2nd hand) I, Kastor, agoranomos, have signed for three and one-half artabai. Year 23, Hadrianos 30.
cu510 | 2 | Pearl OM, Aegyptus 33, 11, 1953 -- SB VI 9432c
cu510_dd | 1 | SB:6:9432
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2798&viewid=1
cu518 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Receipt for seed grain, issued by a cultivator to the sitologoi of Karanis
cu544_n | 1 | P.Mich. inv. 6303 (17-19; 21-22)
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | complete
cu653 | 1 | Karanis; 86th cleruchy
cu653 | 2 | Loans--Egypt--Karanis (Extinct city)
cu653 | 3 | Agriculture--Egypt;Karanis (Extinct city)
cu653 | 4 | Literacy--Egypt--Karanis (Extinct city)
cu653 | 5 |  Loans--Rome.
cu653 | 6 | Tax collection--Egypt--Karanis (Extinct city)
cu653 | 7 | Receipts (Acknowledgements)--Egypt.
cu653 | 8 | Karanis (Extinct city)--Politics and government.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 214
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
perm_group | 1 | w
