cu001 | 1 | michigan.apis.2290
cu035 | 1 | (MiU)2290
cu090 | 1 | P.Mich.inv. 4731
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu100a | 1 | A woman of uncertain name
cu100a | 2 | Antoninus Pius, deceased Emperor
cu100a | 3 | Marcus Aurelius & Lucius Verus, Emperors
cu245ab | 1 | Census Declaration
cu245f | 1 | July-August, 161 A.D.
cu300 | 1 | 1 papyrus ; 4.6 x 18.1 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso unpublished (ends of 12 lines)
cu500_lin | 1 | ca. 25
cu500_pal | 1 | 1st hand: highly developed cursive with sweeping strokes and linkage; 2nd hand: consists of square letters, laboriously traced; 3rd hand: a skilled commercial hand
cu500_rec | 1 | Source of description: B
cu500_t | 1 | . . . [buildings which I declare] for the house-by-house census of the past 23rd year of Antoninus [Caesar] the lord, for which I declare [no one].;(2nd hand) I, . . . ia, also called . . . nis, have submitted the declaration.;(3rd hand) [1st year] of the Emperor [Caesar] Marcus Aurelius Antoninus Augustus [and] of the Emperor [Caesar Lucius] Aurelius [Verus] Augustus, Mesore [. .].
cu510 | 2 | Pearl OM, CE 28, 344-346, 1953 -- SB VI 9554, 5 -- BL VIII, 350 (line 20)
cu510_dd | 1 | SB:6:9554
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2290&viewid=4731BR.TIF
cu518 | 1 | unknown place, province of Egypt
cu520 | 1 | Fragmentary declaration (kat&apos;oikian apographe for the census of 160/161 A.D.) of an unoccupied dwelling
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | very badly damaged; broken off at the top and on the left side; probably part of a tomos synkollesimos, that would have been composed of several declarations glued side by side
cu653 | 1 | [- - -]
cu653 | 2 | Egypt--Census.
cu653 | 3 | Land tenure--Egypt--Karanis (Extinct city)
cu653 | 4 | Home ownership--Egypt--Karanis (Extinct city)
cu653 | 5 |  
cu653 | 6 |  
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 161
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | medium
cuPresentation_display_res | 2 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/1/B/R/4731BR.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2290&viewid=4731BR.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2290&viewid=4731BR.TIF&quality=large
cuPresentation_url | 2 | 1 | http://images.umdl.umich.edu/a/apis/thumb/1/B/V/4731BV.jpg
cuPresentation_url | 2 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2290&viewid=4731BV.TIF&quality=medium
cuPresentation_url | 2 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2290&viewid=4731BV.TIF&quality=large
perm_group | 1 | w
