cu001 | 1 | michigan.apis.4674
cu035 | 1 | (MiU)4674
cu090 | 1 | P.Mich.inv. 1851
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Unknown
cu245ab | 1 | Letter to pagarch
cu245f | 1 | VIIth centiry A.D.
cu300 | 1 | 4 papyri ; fr. 1: 21,.5 x 15.5 cm; fr. 2: 9.2 x 4 cm; fr. 3: 3.5 x 2.3 cm; fr. 4: 8 x 1 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: under research; contact institution
cu500_lin | 1 | Recto: Fr. 1: 5 lines; fr. 2: 2 lines; fr. 3: 1 line; fr. 4: just a trace of ink. Verso: 1 line (address)
cu500_pal | 1 | Written in a cursive hand. Small letters.
cu500_rec | 1 | Source of description: recto-verso
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-4674&viewid=1
cu518 | 1 | Unknown
cu546 | 1 | Coptic
cu561 | 1 | Thebes, Egypt
cu590_con | 1 | Broken off ta the bottom, partially at the left hand side and totally at the right hand side.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 600
cuDateValue | 2 | 699
cuLCODE | 1 | cop
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
perm_group | 1 | w
