cu001 | 1 | michigan.apis.3464
cu035 | 1 | (MiU)3464
cu090 | 1 | P. Corn. inv. I 30
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu100a | 1 | unknown
cu100a | 2 | Kalamaus
cu100a | 3 | Sarapous
cu100a | 4 | Theonas
cu100a | 5 | Saraeous
cu100a | 6 | Imperator Caesar Domitianus Augustus Germanicus
cu245ab | 1 | Private letter
cu245f | 1 | November 11, 86 A.D.
cu300 | 1 | 1 papyrus ; 14.3 x 15.6 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 1-17
cu500_pal | 1 | The writing is entirely legible. The individual letters are made to a large scale and are well characterized, but they clearly reveal the awkwardsness of an unpractised writer. The left margin, where the script is preserved (ll. 8-17), broadens as it moves downward from 2 to 3 cm. Below the text is a blank space of 2 cm.
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | ". . . and the . . . container in which are three measures of dates, and from the son of Kalamaus for the children one measure of dates. Send me the . . . and the iron tools and 8 silver drachmas and 4 bronze drachmas. Write to me about the sandals for Bereis and for you. One pair is being made for each of you. Expect me by the 10th of next month together with the animals. If Sarapous desires anything of what I sent, give it to her, and salute her, Theonas, all those at home, and little Sarapous. Farewell.;Sixth year of Imperator Caesar Domitianus Augustus Germanicus, Hathyr 15."
cu510 | 2 | Youtie H C, ZPE 34, 90-92, 1979, Pl. VIIa -- SB XVI,12578 -- BL IX, 287 on l. 9.
cu510_dd | 1 | P.Corn.:18
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-3464&viewid=C1_30R.TIF
cu518 | 1 | unknown
cu520 | 1 | Letter in which the author notifies his correspondent that he has sent dates and asks the correspondent to send him tools and money.
cu544_n | 1 | -
cu546 | 1 | Greek 
cu561 | 1 | unknown
cu590_con | 1 | The upper portions of this papyrus has been lost, and the irregular tear along the upper edge of the surviving portion has had a disastrous effect on the legibility of lines 1 and 2. An oblong piece of papyrus has also been lost at the upper left corner, carrying with it the beginnings of ll. 1-7.
cu653 | 1 | -
cu653 | 2 | Dates--Egypt.
cu653 | 3 | Sandals--Egypt.
cu653 | 4 | Iron implements--Egypt.
cu655 | 1 | Papyrus
cu655 | 1 | documentary
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 86
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/3/0/r/c1_30r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3464&viewid=C1_30R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3464&viewid=C1_30R.TIF&quality=large
perm_group | 1 | w
