cu001 | 1 | michigan.apis.271
cu035 | 1 | (MiU)271
cu090 | 1 | O.Mich.inv. 4427
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu1004 | 8 | asn
cu1004 | 9 | asn
cu1004 | 10 | asn
cu1004 | 11 | asn
cu100a | 1 | Unknown
cu100a | 2 | (unnamed) dekatarches (dekadarches)
cu100a | 3 | (unnamed) boethos of the dekatarches
cu100a | 4 | Ptollas
cu100a | 5 | (unnamed) balaneiophylakes
cu100a | 6 | (unnamed) boethos of balaneiophylakes
cu100a | 7 | (unnamed) phylakes
cu100a | 8 | (unnamed) lestopiastai
cu100a | 9 | Plosanos(?) (Plousianos?)
cu100a | 10 | (unnamed) petaria (paidaria)
cu100a | 11 | Turbo, phylax
cu245ab | 1 | Money Account
cu245f | 1 | (Early) IVth century A.D.
cu300 | 1 | 1 ostracon ; 15.9 x 10.3 cm
cu500 | 2 | Location: Cairo
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 18
cu500_t | 1 | Account of expenses:;For the decurio, 1 (keramion) of wine, and for his assistant: 300 drachmai;And for Ptollas, 1 (keramion) of wine; 240 drachmai;And 1 pig: 200 drachmai;For the bath-guards(?), 1 (keramion) of wine: 240(?) drachmai;For the assistant of the decurio, 1 (keramion) of wine: 240 drachmai;For the assistant of the bath-guards(?), 1 (keramion) of wine: 240 drachmai;For the assistant of the decurio, as travel money: 100 drachmai;And for the guards, 1 (keramion) of wine: 240 drachmai;For the thief-catchers, 2 (keramia) of wine: 480 drachmai;For Plosanos, 1 (keramion) of wine: 240 drachmai;For the thief-catchers, 1 pig: 200 drachmai;For the guard and . . .: 60 drachmai;And for the slaves: 120 drachmai;And for the man looking for chaff, 1 (keramion) of wine: 240 drachmai;and as travel money: 200 drachmai;And for Turbo the guard: 40 drachmai
cu510 | 2 | Amundsen L, OMich I, 102, 1935 -- BL III, 261 (l. 11; 13)
cu510_dd | 1 | O.Mich.:1:102
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-271&viewid=1
cu518 | 1 | probably Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Account of expenses
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | Complete, but partly faded
cu653 | 2 | Swine--Egypt--Karanis (Extinct city)
cu653 | 3 | Expense accounts--Egypt--Karanis (Extinct city)
cu653 | 4 | Police--Egypt--Karanis (Extinct city)
cu653 | 5 | Travel costs--Egypt--Karanis (Extinct city)
cu653 | 6 | Slaves--Egypt--Karanis (Extinct city)
cu653 | 7 | Drachma.
cu653 | 8 | Crop residues--Egypt--Karanis (Extinct city)
cu653 | 9 | Wine and wine making--Egypt--Karanis (Extinct city)
cu653 | 10 | Weights and measures, Ancient.
cu655 | 1 | Documentary
cu655 | 1 | Ostracon
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 300
cuDateValue | 2 | 399
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
perm_group | 1 | w
