cu001 | 1 | michigan.apis.1734
cu035 | 1 | (MiU)1734
cu090 | 1 | P.Mich.inv. 2996
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu100a | 1 | Germanus
cu100a | 2 | [Commodus, Emperor]
cu100a | 3 | Souin, metropolites
cu100a | 4 | Tabous daughter of Pakoisis (Pakysis)
cu100a | 5 | Gaius Iulius Niger (see P. Mich. VI, 422 introd
cu245ab | 1 | Receipt for Tax Payment in Kind
cu245f | 1 | January 17, 186[?] A.D.
cu300 | 1 | 1 papyrus ; 7 X 8.3 cm
cu500 | 2 | Location: Cairo
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 15
cu500_pal | 1 | see electronic version of PMich VI, 396
cu500_rec | 1 | Source of description: A; Recto
cu500_t | 1 | [The twenty-sixth(?) year of Marcus Aurelius Commodus] An[toninus(?) Augustus] Pius, Tybi 22. We, Germanus and associates, sitologoi of the village of Philoteris, have received at the granary of Souin, resident of the metropolis, from the produce of the past 25th(?) year by leveled public wheat-measure . . . to the account of Tabous, daughter of Pakysis, through Gaius Iulius Niger, for catoecic dues of Bacchias, one and five-sixths artabai of wheat and the extra-charges.;(2nd hand) I, Germanus, son of . . ., have received the wheat, as stated above.
cu510 | 2 | Pearl OM-Youtie HC, PMich VI, 396, 1944
cu510_dd | 1 | P.Mich.:6:396
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-1734&viewid=1
cu518 | 1 | Philoteris, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Receipt of wheat for taxes paid on a plot of catoecic land
cu544_n | 1 | archive of Gaius Apolinarius Niger (& family)
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | broken at the top
cu653 | 1 | Bacchias; Philoteris
cu653 | 2 | Citizenship--Rome.
cu653 | 3 | Taxation (Land)
cu653 | 4 | Veterans--Rome.
cu653 | 5 | Citizenship--Egypt--Antinoȵpolis (Extinct city)
cu653 | 6 | Bacchias (Extinct city)
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 186
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
perm_group | 1 | w
