cu001 | 1 | michigan.apis.940
cu035 | 1 | (MiU)940
cu090 | 1 | O.Mich.inv.9554
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | unknown
cu245ab | 1 | Account of beer
cu245f | 1 | Ist century B.C. /Ist century A.D.
cu300 | 1 | 1 ostracon ; 9.2 X 10.8 cm
cu500 | 2 | Location: Cairo
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 7
cu500_pal | 1 | see electronic version of OMich III, 1003
cu500_t | 1 | On Mecheir 26, 1 keramion of beer;;on the 27th, . . ., 1 keramion of beer;;on the 28th, . . ., 1 keramion of beer;;[on the . . .], . . ., 1 [keramion] of beer;;on Phamenoth 13, 4 keramia of beer;;on the 15th, . . ., 2 keramia [of beer];;on the 16th, . . ., 4(?) [keramia of beer]
cu510 | 2 | Youtie HC, OMich III, 1003, 1951
cu510_dd | 1 | O.Mich.:3:1003
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-940&viewid=1
cu518 | 1 | probably Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Account of beer
cu544_n | 1 | -
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | complete, but much faded; the surface of the ostracon is obscured by numerous blots
cu653 | 1 | -
cu653 | 2 | Measures and weights, Ancient.
cu653 | 3 | Beer;vRegisters--Egypt--Karanis (Extinct city)
cu653 | 4 | Tax collection--Egypt--Karanis (Extinct city)
cu655 | 1 | Documentary
cu655 | 1 | Ostracon
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 99
cuDateValue | 2 | 1
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
perm_group | 1 | w
