cu001 | 1 | michigan.apis.4020
cu035 | 1 | (MiU)4020
cu090 | 1 | P.Mich.inv. 1224
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Unknown
cu245ab | 1 | P.Mich.inv. 1224
cu300 | 1 | 3 papyri ; fr. 1: 1.3 x 13.4 cm; fr. 2: 1.8  x 7 cm; fr. 3: 2.3 x 4 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Under research; contact institution
cu500_lin | 1 | fr. 1: 29 lines; fr. 2: 11 lines; fr. 3: 4 lines
cu500_pal | 1 | Small-sized letters
cu500_rec | 1 | Source of description: recto
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-4020&viewid=1
cu518 | 1 | Unknown
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | Broken off at top and the right-hand side. The left-hand side is probably preserved in fr. 3 and the bottom side in fr. 1. Two small fragments come from the lower margin (?)
cu655 | 1 | Literary
cu655 | 1 | Papyrus
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
perm_group | 1 | w
