cu001 | 1 | michigan.apis.2868
cu035 | 1 | (MiU)2868
cu090 | 1 | P.Mich.inv. 6546
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu100a | 1 | Petheus the elder, son of Petheus
cu100a | 2 | Telephos
cu100a | 3 | Sokrates, former gymnasiarchos, bibliophylax enkteseon of the Arsinoite (see also P.Ryl. II, 107)
cu100a | 4 | Antipatros, bibliophylax enkteseon of the Arsinoite  (see also P.Ryl. II, 107)
cu100a | 5 | Petheus presbyteros, son of Petheus, [grandson of Petheus(?)] (see also P.Mich. IX, 540?)
cu245ab | 1 | Declaration to the bibliophylakes enkteseon
cu245f | 1 | 84-96 A.D.
cu300 | 1 | 1 papyrus ; 13.6 x 5.2 cm
cu500 | 2 | Location: Cairo
cu500 | 4 | Pub. status: Recto
cu500_lin | 1 | 5
cu500_rec | 1 | Source of description: B; Recto
cu500_t | 1 | (2nd hand) I, Telephos, have signed - - - the 9th of the month Soterios.;(1st hand) To Sokrates, former gymnasiarch, and Antipatros, keepers of property record-office for  the Arsinoite nome, from Petheus the elder, son of Petheus, [grandson of Petheus(?)], from Karanis. Besides [what I registered you, I register in addition - - -]
cu510 | 2 | Sijpesteijn PJ, ZPE 106, 227-8, 1995, Pl IXg -- SB XXII, 15792
cu510_dd | 1 | SB.:22:15792
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2868&viewid=1
cu518 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Beginning of a declaration to the keepers of property record-office
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | broken off at the bottom, damaged
cu653 | 1 | Arsinoite nome; Karanis
cu653 | 2 | Administration (archive)
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 84
cuDateValue | 2 | 96
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
perm_group | 1 | w
