cu001 | 1 | michigan.apis.2932
cu035 | 1 | (MiU)2932
cu090 | 1 | P.Mich.inv. 675
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu100a | 1 | Haryotes the elder, Kronion, and Haryotes the younger, also called Arabarches, sons of Herodion
cu100a | 2 | Heryotes presbyteros son of Herodion and Taorseus (see also P.Mich. V, 339)
cu100a | 3 | Haryotes alias Arabarches son of Herodion and Taorseus
cu100a | 4 | Thermoutharion, doule
cu100a | 5 | Sambous, doule
cu100a | 6 | Heraklous, chole, doule
cu245ab | 1 | Division of Property
cu245f | 1 | February 23, 47 A.D.
cu300 | 1 | 1 papyrus ; 21.2 x 28 cm
cu500 | 1 | The date is given by the copies where the body of the contract has been written (P.Mich. inv. 1264 and 1273).
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 5
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | (1st hand) I, Haryotes, son of Herodion, have joined in making a division at the present time, and have received as my share the aforesaid slave, Sambous, and I will do everything as aforesaid.;(2nd hand) I, Haryotes the younger, also called Arabarches, son of Herodion, have joined in making a division at the present time, and have received as my share the two aforesaid slaves, Thermoutharion and Heraklous, who is lame, and I will do everything as aforesaid.
cu510 | 2 | Husselman EM, PMich V, 325, 1944
cu510_dd | 1 | P.Mich.:5:325
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2932&viewid=675R.TIF
cu518 | 1 | Tebtynis, Polemonos meris, Arsinoite nome, province of Egypt
cu520 | 1 | Contract for the division among three brothers, Haryotes the elder, Kronion, and Haryotes the younger, of four slaves inherited from their father, Herodion; the services of one of these is however reserved, in accordance with the terms of Herodion&apos;s will, for the mother Taorseus, for as long as she lives
cu544_n | 1 | Duplicate of some of the subscriptions of P.Mich. V, 323 (inv. 1264); 324 (inv. 1273); and P.S.I. VIII, 903. - Archive of Kronion son of Apion, nomographos of the grapheion of Tebtynis
cu546 | 1 | Greek
cu561 | 1 | Tebtynis, Polemonos meris, Arsinoite nome, province of Egypt
cu590_con | 1 | complete
cu653 | 1 | Tebtynis, Polemonos meris, Arsinoite nome
cu653 | 2 | Family
cu653 | 3 | Health
cu653 | 4 | Inheritance
cu653 | 5 | Slave
cu653 | 6 | Woman
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 47
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/7/5/r/675r.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2932&viewid=675R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2932&viewid=675R.TIF&quality=large
perm_group | 1 | w
