cu001 | 1 | michigan.apis.2499
cu035 | 1 | (MiU)2499
cu090 | 1 | P.Mich.inv. 5574
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Homer
cu245ab | 1 | Homeric papyrus (Iliad 12. 114-146)
cu245f | 1 | (late) IIIrd century A.D.
cu300 | 1 | 1 papyrus ; 3.3 x 20.8 cm
cu500 | 1 | There is a small fragment blank in both sides that probably does not come from the same papyrus, 2.4 x 1.7 cm, and cannot be joined
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 31 lines
cu500_pal | 1 | The text is written in black ink. The upper margin is 2.4 cm and the lower margin is 2 cm. The single hand is a small, broad cursive, with letters averaging between 2 and 3 mm in height. The writing sometimes slants to the left and exhibits characteristic cursive the letters mu and upsilon.  Only occasional diacritical marks (accents and apostrophes)
cu500_rec | 1 | Source of description: Recto
cu510 | 2 | Priest NE, Homeric Papyri in the Michigan Collection (Diss.), 106-109, no 25, 1975
cu510 | 3 | Priest NE, ZPE 46, 85-87, 1982
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2499&viewid=5574R.TIF
cu518 | 1 | Unknown
cu520 | 1 | Homer, Iliad 12. 114-146
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | The left portion of a full column of a very coarse, thick papyrus, light brown with discolorations.  
cu653 | 2 | Homer--Iliad--Book 12.
cu653 | 3 |  
cu653 | 4 |  
cu653 | 5 |  
cu653 | 6 | Accentuation
cu653 | 7 | Apostrophe
cu655 | 1 | Literary; Epic
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 250
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/7/4/R/5574R.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2499&viewid=5574R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2499&viewid=5574R.TIF&quality=large
perm_group | 1 | w
