cu001 | 1 | michigan.apis.5455
cu035 | 1 | (MiU)5455
cu090 | 1 | P.Mich.inv. 276
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Unknown
cu245ab | 1 | P.Mich.inv. 276
cu245f | 1 | IInd - IIIrd century A.D.
cu300 | 1 | 1 papyrus ; 34.2 x 18.3 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: under research; contact institution
cu500_lin | 1 | recto: col. I: 17 lines; col II: 17 lines 
cu500_pal | 1 | It is tomos synkollesimos. Two documents have been glued together to for a writing surface for being used on the this side.
cu500_rec | 1 | Source of description: verso
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-5455&viewid=1
cu518 | 1 | Unknown
cu546 | 1 | Greek
cu561 | 1 | Philadelphia, Arsinoite nome, Egypt
cu590_con | 1 | The papyrus is broken off at the left and right hand side. The bottom is only partly preserved. Many holes all over the fragmnet.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 100
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_caption | 3 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_no | 3 | 3
cuPart_section | 1 | Verso
cuPart_section | 2 | Verso
cuPart_section | 3 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 3 | 1 | thumbnail
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 3 | 1 | 1
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/6/v/a/276va.jpg
cuPresentation_url | 2 | 1 | http://images.umdl.umich.edu/a/apis/thumb/6/v/b/276vb.jpg
cuPresentation_url | 3 | 1 | http://images.umdl.umich.edu/a/apis/thumb/6/v/o/276vo.jpg
perm_group | 1 | w
