cu001 | 1 | michigan.apis.2911
cu035 | 1 | (MiU)2911
cu090 | 1 | P.Mich.inv. 6653
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Homer
cu245ab | 1 | Homeric papyrus (Iliad1.129-146, 151-190, 192-211)
cu245f | 1 | IInd century A.D. - IIIrd century A.D.
cu300 | 1 | 4 papyri ; a: 5.4 x 17.2 cm; b: 5.7 x 17 cm; c: 2.8 x 4.7 cm; d: 10 x 15.6 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Verso; Recto is unpublished
cu500_lin | 1 | col. I (= col. 8), 19 lines;col. II (= col. 9), 21 lines;col. III (col. 10), 20 lines
cu500_pal | 1 | The text is written with black ink in letters 5 mm high. The hand is very large, upright, so what angular uncial. There are no diacritical marks, but numerous stops appear.;The most interesting features of the text are the two marginal signs, an asterisk at the line 196 and a stichometric notation at 201.
cu500_rec | 1 | Source of description: Verso
cu510 | 1 | Rep Editor - Priest NE;    Rep Ser. - ZPE 33;   1979;   pg. 35-7;Rep Editor - Priest NE;    Rep Ser. - ZPE 46;   1982;   pg. 54-5
cu510 | 2 | Merkelbach R, ZPE 14, 89-90, 1974, Pl IIIc
cu510 | 3 | Priest NE, Diss, 19-25, no 3, 1975
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-2911&viewid=6653V.TIF
cu518 | 1 | Unknown
cu520 | 1 | Homer, Iliad1.129-146, 151-190, 192-211;The history of the text&apos;s editions:;R.Merkelbach, ZPE 14 (1974), p.89-90 gives the text of P.Mich. inv. 6653, Iliad 1.195-202 (col. III ), where he indicates the asteriscos in l. 196.;N.E. Priest published in her Diss., 1975,  1. 151-190, 192-211 , the three preserved col. I, II, III (= col. 8, 9, 10 according to her calculation in the roll) ;P.Koeln I 21 (ed. in 1985): Iliad. 1.129-146; 176-180; 187-190; 205-211 was preserved in 5 fragmnets which come from 3 columns, I, III, IV;N.E. Priest, ZPE 33 (1979), p.35-37; ;N.E.Priest, ZPE 46 (1982), p.54-55 joined the two papyri P.Koeln I 21 and P.Mich. inv. 6653 and gives the text of col. 9, 10 (according again her calculations), which correspond to the columns II and III of the preserved papyrus fragments.;N,E. Priest, ZPE 46 (1982), pg. 54-55, gives the transcription of the text of the col. 8 (according to her calculations), which correponded to the col. I of the preserved  papyrus. 
cu544_n | 1 | PKoln I 21
cu546 | 1 | Greek
cu561 | 1 | Unknown (Oxyrhynchos?)
cu590_con | 1 | The three fragments come from three consecutive columns. Fr. a contains the ends of lines 151-169, with a right margin of 1.4 cm, an upper margin of 2.8 cm, and a lower margin of 1.5 cm. Fragment b, containing the middle portions of lines 170-190, has upper and lower margins of 1.1 cm each. Fragment c contains the ends of lines 175-181, with no margins extant. Fragment d containing the beginnings of lines 192-211, has a left intercolumniation of 3 cm, indicated by ink on the edge of the papyrus opposite lines 191 and 201, and a lower margin of 1.8 cm. Kollesis appears on the  front of the papyrus in fragment b, varying from 1.7 to 2.4 cm from the left edge; this corresponds to the area of the right intercolumniation on the back. The papyrus is medium-brown in color.
cu653 | 2 | Literary
cu653 | 3 | Epic poetry
cu653 | 4 | Homer
cu653 | 5 | Iliad
cu653 | 6 | papyrus roll
cu653 | 7 | Joined papyri from different collections
cu653 | 8 | punctuation
cu655 | 1 | Literary; epic
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 100
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Verso
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2911&viewid=6653V.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-2911&viewid=6653V.TIF&quality=large
perm_group | 1 | w
