cu001 | 1 | michigan.apis.1383
cu035 | 1 | (MiU)1383
cu090 | 1 | P.Mich.inv. 1315
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Unknown
cu245ab | 1 | Hypothesis to Iliad, Books10-17
cu245f | 1 | IInd / IIIrd century A.D.
cu300 | 1 | 1 papyrus ; 29.5 x 28 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Verso; Recto unpublished
cu500_lin | 1 | Col. I, 28 lines; col. II 30 lines
cu500_pal | 1 | Coarse, but not unusual hand. Diaeresis in ll. 31, 41, 44, 50. The scribe has some difficulties with the homeric forms and the division of words.  There are some orthographic errors some of them corrected.;The document in recto is dated in the IInd century A.D. and it is a land register
cu500_rec | 1 | Source of description: verso
cu510 | 2 | Henrichs A, ZPE 12, 23-30, no 11, 1973, Pl IIa
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-1383&viewid=1315V.TIF
cu518 | 1 | Unknown
cu520 | 1 | Hypothesis to Iliad Books 10-17. Scholia Minora; Paraphrase of the Iliad
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | Broken off at the left hand side, where most of the column  is lost.
cu653 | 2 | Literature
cu653 | 3 | Schoila Minora
cu653 | 4 | Homer
cu653 | 5 | Iliad
cu653 | 6 | Homer Hypothesis
cu653 | 7 | Paraphrase
cu655 | 1 | Literary; Scholia Minora to Homer
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 100
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/1/5/v/1315v.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1383&viewid=1315V.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1383&viewid=1315V.TIF&quality=large
perm_group | 1 | w
