cu001 | 1 | michigan.apis.5128
cu035 | 1 | (MiU)5128
cu090 | 1 | P.Mich.inv. 94
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu100a | 1 | Dioskous and Ammonios sons of Pausiris and Thaesis of Hippeon Parembole
cu100a | 2 | Dioskous son of Pausiris and Thaesis of Hippeon Parembole
cu100a | 3 | Ammonios son of Pausiris and Thaesis of Hippeon Parembole
cu245ab | 1 | Private letter
cu245f | 1 | April, 26 - May 25, A.D. 79
cu300 | 1 | 1 papyrus ; 16.4 x 21.2 cm
cu500 | 1 | There is one more glass with mounted papyri with inv. no 74-94 at the end of the series of glasses concerning the archive. Locker B. There are 8 fragmnets that could be parts of 3 or 4 papyri.
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: under research; contact institution
cu500_lin | 1 | 27 lines
cu500_pal | 1 | One hand which writes cursively with many liagtures
cu500_rec | 1 | Source of description: recto
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-5128&viewid=1
cu518 | 1 | Oxyrhynchos, Oxyrhinchite nome, Egypt
cu520 | 1 | Sworn declaration that brother Pausiris is staying in Alexandria. Reference to edict of C. Aeterninus Fronto (see P.Oxy. 36.2756) "about those staying in Alexandria" in connection with the continued obligation to pay the poll tax.
cu544_n | 1 | P.Mich. inv. 72; P.Mich. inv. 73; P.Mich. inv.  74; P.Mich. inv. 75; P.Mich. inv. 76; P.Mich. inv. 77; P.Mich. inv. 78; P.Mich. inv. 79; P.Mich. inv. 80; P.Mich. inv. 81; P.Mich. inv. 82; P.Mich. inv. 83; P.Mich. inv. 84; P.Mich. inv. 85; P.Mich. inv. 86; P.Mich. inv. 87; P.Mich. inv. 88; P.Mich. inv. 89; P.Mich. inv.  90; P.Mich. inv. 91; P.Mich. inv.  92; P.Mich. inv.  93
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | Complete. Some small holes at all the fragment preserved
cu653 | 1 | Oxyrhynchos, Oxyrhynchite nome, Egypt
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 79
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_no | 1 | 1 | 1
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/9/4/R/94R.jpg
perm_group | 1 | w
