cu001 | 1 | michigan.apis.1612
cu035 | 1 | (MiU)1612
cu090 | 1 | P.Mich.inv. 27
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Old Testament
cu245ab | 1 | Ecclesiastes, VI, 3-5 and 8-11
cu245f | 1 | IIIrd century A.D.
cu300 | 1 | 1 papyrus ; 7 x 3.5 cm
cu500 | 1 | On the verso of the Michigan fragment, the end of line 3 is continued in the unused end of line 2 and likewise the end of line 9 is completed in the end of line 8; in both cases because only a few letters were needed to complete the verse (stichos).
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Both sides
cu500_lin | 1 | Page i - 9;;Page ii - 9
cu500_pal | 1 | Book hand with broad letters; heavier and less elegant handwriting than P.Mich. III, 133 (Sanders); disposition is stichometric (with double point marking the end of the verses [stichoi])
cu500_rec | 1 | Source of description: Page  i; Page ii
cu510 | 2 | Sanders HA, PMich III, 135, 1936
cu510 | 3 | Roca Puig R, Aegyptus 32, 215-222, 1952, pl.
cu510_dd | 1 | P.Mich.:2:135
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-1612&viewid=27R.TIF
cu518 | 1 | Unknown
cu520 | 1 | Fragment of a leaf of a papyrus codex, bearing Ecclesiastes, VI, 3-5 and 8-11
cu544_n | 1 | + P.Med. I, 13? (Eccl. III, 17-18, 21-22)
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | Broken off at the right and bottom (of Page i)
cu653 | 2 | Bible. --O.T.--Ecclesiastes--Greek.
cu653 | 3 | Church history--Primitive and early church, ca. 30-600--Egypt.
cu653 | 4 | Judaism--History--Talmudic period, 10-425--Egypt.
cu655 | 1 | Literary: Biblical
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 200
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | Recto
cuPart_section | 2 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | medium
cuPresentation_display_res | 2 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/2/7/R/27R.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1612&viewid=27R.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1612&viewid=27R.TIF&quality=large
cuPresentation_url | 2 | 1 | http://images.umdl.umich.edu/a/apis/thumb/2/7/V/27V.jpg
cuPresentation_url | 2 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1612&viewid=27V.TIF&quality=medium
cuPresentation_url | 2 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-1612&viewid=27V.TIF&quality=large
perm_group | 1 | w
