cu001 | 1 | michigan.apis.635
cu035 | 1 | (MiU)635
cu090 | 1 | O.Mich.inv. 9189
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Unknown
cu245ab | 1 | Text of Uncertain Nature
cu245f | 1 | Ist century A.D.[?] (Youtie; late IIIrd century/(early) IVth century A.D.[?] Amundsen)
cu300 | 1 | 1 ostracon ; 7.5 x 9.1 cm
cu500 | 2 | Location: Cairo
cu500 | 4 | Pub. status: Recto; Verso is blank
cu500_lin | 1 | 2
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | (Text too fragmentary to be translated)
cu510 | 2 | Amundsen L, OMich I, 291, 1935 -- From H.C. Youtie&apos;s unpublished notes: "In view of the material found in B115*, this text was doubtless like O,Mich. II, 729. - The ostracon is complete; the text consisted of 2 lines only. - At the end of l. 1, I suggest, e.g., Pnepher["
cu510_dd | 1 | O.Mich.:1:291
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-635&viewid=1
cu518 | 1 | probably Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Receipt for money, rather than certificate for work on the embankments?
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu590_con | 1 | Broken off on the left side(?); surface damaged by decay
cu653 | 2 | Tax collection--Egypt--Karanis (Extinct city)
cu653 | 3 | Receipts (Acknowledgments)--Egypt--Karanis (Extinct city)
cu655 | 1 | Documentary
cu655 | 1 | Ostracon
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 1
cuDateValue | 2 | 99
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
perm_group | 1 | w
