cu001 | 1 | michigan.apis.3433
cu035 | 1 | (MiU)3433
cu090 | 1 | P.Corn. Inv. MSS. A 101.  XV
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu100a | 1 | Unknown
cu100a | 2 | Eudaimon, son of E[
cu100a | 3 | Zoilos
cu245ab | 1 | List of villages in the Themistou meris
cu245f | 1 | (early) IVth century A.D.
cu300 | 1 | 1 papyrus ; 6 x 18 cm
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Recto + Verso
cu500_lin | 1 | 20 lines
cu500_pal | 1 | Left margin is c. 2.3 cm.  Some notes written in the left hand side margin. Cancellation of line 19 with two encircling strokes.
cu500_rec | 1 | Source of description: Verso
cu500_t | 1 | of Pu[rreia;of Sentrepaei [;and from the account [;of Ptolemais Drymou [;of Argias [;of Alexandrou Nesos [;of Archelais [;of Eudaimon, son of E[;of Ptolemais [;of Ptolemais Drymou [;of Alexandrou Nesos [;of Psentymis [;of his wheat [;of Kanopias [;of Psent[ymis;of Euhm[ereia;of Sentr[epaei;of Theadelph[eia;and from the account of [ (this line is cancelled);of Zoil[os;in the left margin opposite ll. 9-11 adjacent to Euhmeria; adjacent to Dionysias; adjacent to Theadelpheia
cu510 | 2 | Grenfell BP-Hunt AS-Hogarth DG, PFay, 243, 1900
cu510 | 3 | Youtie LC, ZPE 50, 51-55, 1983 -- SB XVI 13001
cu510_dd | 1 | SB.:16:13001
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-3433&viewid=C0_XVV.TIF
cu518 | 1 | village of Euhemeria, Themistou meris, Arsinoite nome, Egypt
cu520 | 1 | A list of villages with amounts of grain credited to each by certain individuals who were undoubtedly sitologoi. Of the 12 villages named, 3 of them whose location has not been previously known with any exactness, have marginal notes describing them as adjacent to specific villages whose locations are vely well known to us due to the excavations of Grenfell and Hunt. These are: Ptolemais, Ptolemais Drymou and Alexandrou Nesos, which are said to be adjacent to Euemeria, Dionysias and Theadelphia respectively.
cu546 | 1 | Greek
cu561 | 1 | Kasr el Banat,Fayum (village of Euhemeria, Themistou meris, Arsinoite nome, Egypt)
cu590_con | 1 | The papyrus is broken of the lower and right hand side.  
cu653 | 1 | Pu[rreia; Sentrepaei; Ptolemais Drymou; Argias; Alexandrou Nesos; Archelais; Ptolemais; Psentymis; Kanopias; Euemeria; Theadelphia; Dionysias
cu653 | 2 | Lists--Egypt.
cu653 | 3 | Wheat--Egypt.
cu653 | 4 | Kharabat Ihrit (Egypt)
cu653 | 5 | Kanopias (Extinct city)
cu653 | 6 | Qasr al Banat (Egypt)
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 300
cuDateValue | 2 | 350
cuLCODE | 1 | grc
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_display_res | 1 | 3 | large
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/X/V/v/C0_XVv.jpg
cuPresentation_url | 1 | 2 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3433&viewid=C0_XVV.TIF&quality=medium
cuPresentation_url | 1 | 3 | http://images.umdl.umich.edu/cgi/i/image/getimage-idx?cc=apis&entryid=X-3433&viewid=C0_XVV.TIF&quality=large
perm_group | 1 | w
