cu001 | 1 | michigan.apis.4451
cu035 | 1 | (MiU)4451
cu090 | 1 | P.Mich.inv. 521
cu090_orgcode | 1 | MiU
cu1004 | 1 | aut
cu100a | 1 | Unknown
cu245ab | 1 | Account
cu245f | 1 | Vrd/VI century A.D.
cu300 | 1 | 1 papyrus ; 35.4 x 29 cm.
cu500 | 2 | Location: Ann Arbor
cu500 | 4 | Pub. status: Under research; contact institution
cu500_lin | 1 | 16
cu500_pal | 1 | Written along the fibers in medium-sized semi cursive letters; well practiced business hand; the scribe used a thick nib. The intercolumniation between the tow columns is 2.0 cm; the interlinear spaces are even of 0.5 cm. The document has many abbreviations, signs, diereses, colon and stichometric letters with a horizontal stroke over the numbers. The letters are characterized by short form. Since the average of lines in the column is 32 and the last numbered line is 99; so, the document is consists of, at least, 3 columns. 
cu500_rec | 1 | Source of description: Recto
cu510_m | 1 | http://images.umdl.umich.edu/cgi/i/image/image-idx?view=entry&subview=detail&cc=apis&entryid=X-4451&viewid=1
cu518 | 1 | Unknown
cu546 | 1 | Coptic
cu561 | 1 | Unknown
cu590_con | 1 | This sheet of papyrus has a dark brown color; it is regularly cut at the top and bottom; it seems that this document has been written in two columns; only few letters at the end of the first column are survived; fibers are frayed and removed at the right side. There are two kolleses at the middle and at the very right side of the sheet. In addition to, at least 6 vertical folds, the papyrus was also diagonally folded; some holes and lacunae are being result of these folds. At least a vertical portion of ca. 8 cm has been lost at the left hand side, which can be notice from the upper part where it is extended that distance to the right; and of ca. 4 cm. in length. The surface is damaged at several parts.
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 400
cuDateValue | 2 | 599
cuLCODE | 1 | cop
cuOrgcode | 1 | MiU
cuPart_caption | 1 | Overview
cuPart_caption | 2 | Overview
cuPart_caption | 3 | Overview
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_no | 3 | 3
cuPart_section | 1 | Recto
cuPart_section | 2 | Recto
cuPart_section | 3 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 3 | 1 | thumbnail
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 3 | 1 | 1
cuPresentation_url | 1 | 1 | http://images.umdl.umich.edu/a/apis/thumb/1/r/o/521ro.jpg
cuPresentation_url | 2 | 1 | http://images.umdl.umich.edu/a/apis/thumb/1/r/a/521ra.jpg
cuPresentation_url | 3 | 1 | http://images.umdl.umich.edu/a/apis/thumb/1/r/b/521rb.jpg
perm_group | 1 | w
