# file create date: 2005-08-03
# modified: this initial template based on Hermitage 1.04
# template version: 1.04
# APIS Editor [06/30/2006] rla2118 - replacement
# APIS Editor [07/23/2007] aso2101 - replacement
cu001 | 1 | berenike.apis.108
cu035 | 1 | (EG-Ber)108
cu090 | 1 | Inv. BE98-19-A-086
cu090_orgcode | 1 | EG-Ber
cu245ab | 1 | Greek Ostracon
cu245f | 1 | 33 - 70 A.D.?
cu300 | 1 | 1 ostracon
cu500 | 1 | 3 lines of text.
cu500 | 2 | The script has "pretentions to a literary style" in the words of the editors, but if this is indeed the remains of some literary quotation or exercise, it had an Egyptian theme, evidenced by the name "Peteminis" in line 1.
cu510 | 1 | O.Berenike I 108
cu510_dd | 1 | O.Berenike:1:108
cu518 | 1 | Roman dump at Berenike.
cu520 | 1 | Remains of a literary or sub-literary text of an uncertain character.  Perhaps an exercise.
cu546 | 1 | Greek
cu561 | 1 | Currently stored in a magazine of the Supreme Council of Antiquities in Quft.
cu655 | 1 | Ostraca
cu655 | 2 | Literary
cu655 | 3 | Subliterary
cu655 | 4 | Exercise
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 33
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 70
cuOrgcode | 1 | EG-Ber
cuR_TYPE | 1 | r
perm_group | 1 | w
