dd001 | 1 | berkeley.apis.780
dd035 | 1 | (CU)780
dd046 | 1 | 16
dd090 | 1 | P.Tebt.0410 Recto
dd100_a | 1 | Hermias
dd100_4 | 1 | aut
dd100_a | 2 | Akousilaos
dd100_4 | 2 | asn
dd100_a | 3 | Soterichos
dd100_4 | 3 | asn
dd245_a | 1 | Letter to a toparch.
dd245_f | 1 | 16 A.D.
dd300 | 1 | 1 papyrus ; 28.7 x 12.8 cm.
dd500_rec | 1 | On verso, along the fibers: (1) Address; across the fibers: (2) List of payments for sheep
dd500 | 1 | Verso (2) unpublished
dd500 | 2 | Margins: top, 4.2 cm.,; left, 3 cm.; right, 0.6 cm.; bottom, 2.8 cm.; on verso, in black ink: T290 (twice).
dd500 | 3 | 3rd year of the Emperor Tiberius, the 17th of the month Neos Sebastos.
dd500_lin | 1 | 17 lines, on recto along the fibers.
dd500_pal | 1 | Large regular cursive.
dd500_tra | 1 | Hermias to his dearest Akousilaos, very many greetings. Give heed to Soterichos the stonemason on account of the encroachments being made on him by a neighbor who has bought some of the adjoining property, and (inform?) Lusimachos the komogrammateus. Remember how zealous you were at Tristomos to remain with me. I beg you to close the matter with all speed, in order that when Soterichos comes to me on the 24th he may answer to me for your activity. Good-bye. The 3rd year of Tiberius Caesar Augustus, the 17th of the month Neos Sebastos. (Addressed on the verso) To Akousilaos, toparches of Tebtunis.
dd510 | 1 | P.Tebt., II.410; Olsson, Papyrusbriefe, no. 14; J.L. White, Light from Ancient Letters, no. 75.
dd510_dd | 1 | P.Tebt.:2:410
dd518 | 1 | Tebtunis
dd520 | 1 | Letter to Akousilaos, an official at Tebtunis, requesting him to assist Soterichos, whose land was being encroached by a neighbor.
dd546 | 1 | Greek
dd561 | 1 | House at Tebtunis T290
dd590 | 1 | 1380
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Land encroachment
dd653 | 2 | Tebtunis
dd655 | 1 | Private letters, Roman Period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/780
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | Recto
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02126a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02126a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02126a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02126a
