dd001 | 1 | berkeley.apis.418
dd035 | 1 | (CU)418
dd046 | 1 | 151
dd090 | 1 | P.Tebt.0300
dd100_a | 1 | Paopis, son of Psoiphis, grandson of Paopis
dd100_g | 1 | Hiereus
dd100_4 | 1 | aut
dd100_a | 2 | Melanas
dd100_g | 2 | Komogrammateus of Tebtunis
dd100_4 | 2 | asn
dd100_a | 3 | Psoiphis, son of Paopis and Asis
dd100_4 | 3 | asn
dd245_a | 1 | Declaration of death
dd245_f | 1 | 9 Feb. 151 A.D.
dd300 | 1 | 1 papyrus ; 21.6 x 9.3 cm.
dd500_rec | 1 | On verso, along the fibers, Title of document.
dd500 | 1 | Verso published
dd500 | 2 | Margins: top, 0.9 cm.; left, 1.7 cm.; bottom 3.5 cm.; on verso, in black ink: T 14.
dd500 | 3 | 2nd year of the Emperor Antoninus Pius, 15th of the Egyptian month Mecheir.
dd500 | 4 | Priests of Soknebtunis
dd500_lin | 1 | 27 lines, on recto along the fibers.
dd500_pal | 1 | Three hands: 1st (lines 1-17, 20-23) regular cursive; 2nd (lines 18-19) signature of declarant, irregular unpracticed hand; 3rd (lines 24-27) signature of Komogrammateus, regular cursive.
dd500_tra | 1 | To Melanas, village scribe of Tebtunis, from Paopis son of Phoiphis the son of Paopis, exempted priest of the famous temple at Tebtunis. My father Psoiphis son of Paopis and Asis of the said village, exempted priest of the said temple, died in the month Tybi of the present 14th year of Antoninus Caesar the Lord. Wherefore I present this notice, that this name may be struck off and may be inscribed in the list of such persons, and I swear by the Fortune of Antoninus Caesar the Lord that the information above given is true. (2nd h.) I, Paopis son of Psoiphis, have presented (the notice). (1st h.) The 14th year of Imperator Caesar Titus Aelius Hadrianus Antoninus Augustus Pius, Mecheir 15. (3rd h.) I, Melanas, village scribe, have received a copy of this. The 14th year of Imperator Caesar Titus Aelius Hadrianus Antoninus Augustus Pius, Mecheir 15. (On the verso) Declaration of death of Phyphis son of Paopis.
dd510 | 1 | P.Tebt., II.300; C.P.Gr., v. 2, no. 41 (with plate).
dd510_dd | 1 | P.Tebt.:2:300
dd520 | 1 | Paopis informs Melanas, village scribe of Tebtunis, Egypt, of the death of his father Psoiphis.
dd546 | 1 | Greek
dd561 | 1 | House at Tebtunis T14
dd581 | 1 | On line 12 see BL v. 1, p. 426.
dd590 | 1 | 1365
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Death; Fathers
dd653 | 2 | Tebtunis
dd655 | 1 | Declarations, Roman Period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/418
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | UC 1365a Recto.
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00860a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00860a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00860a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00860a
partNumber | 2 | 2
partSide | 2 | verso
partCaption | 2 | UC 1365a Verso.
presentationNumber | 2 | 1 | 1
presentationDisplayRes | 2 | 1 | thumbnail
presentationAddress | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01311a
presentationNumber | 2 | 2 | 2
presentationDisplayRes | 2 | 2 | 75 dpi
presentationAddress | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01311a
presentationNumber | 2 | 3 | 3
presentationDisplayRes | 2 | 3 | 150 dpi
presentationAddress | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01311a
presentationNumber | 2 | 4 | 4
presentationDisplayRes | 2 | 4 | 300 dpi
presentationAddress | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01311a
