dd001 | 1 | berkeley.apis.10865
dd035 | 1 | (CU)10865
dd046 | 1 | -300
dd046 | 2 | -130
dd090 | 1 | P.Tebt.Frag.15,247 Recto
dd245_a | 1 | Documentary text
dd245_f | 1 | Between 300 and 130 B.C.
dd300 | 1 | papyri ; 11.2 x 6.8 cm
dd500_rec | 1 | On verso, documentary text
dd500_lin | 1 | 8+ lines, on recto along fibers.
dd546 | 1 | Greek
dd590_con | 1 | Presence of gesso on edge.
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/10865
