cu001 | 1 | berkeley.apis.847
cu035 | 1 | (CU)847
cu090 | 1 | P.Tebt.0484 Verso (2)
cu090_orgcode | 1 | CU
cu245ab | 1 | Private account.
cu245f | 1 | About 14 A.D.
cu300 | 1 | 1 papyrus ; 12.5 x 8.7 cm.
cu500 | 1 | Recto and verso unpublished.
cu500 | 2 | Margins: top, 1 cm.; left, 0.6 cm.; right, 5.1 cm.; bottom, 8 cm.; in bottom left corner, in black ink: T 292.
cu500_lin | 1 | 5 lines, across the fibers.
cu500_pal | 1 | Very small regular cursive.
cu500_rec | 1 | Also on verso: notice of receipt. Recto: Letter of Tiberius : copy
cu510 | 1 | P.Tebt., II.484 (desc. only)
cu510_dd | 1 | P.Tebt.:2:484
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/847
cu520 | 1 | Short account, listing expenditure on certain days of Mecheir (3rd and 18th).
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T292
cu590 | 1 | 1436
cu653 | 1 | Accounting
cu655 | 1 | Accounts, Roman Period
cu655 | 2 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 14
cuOrgcode | 1 | CU
perm_group | 1 | w
