cu001 | 1 | berkeley.apis.240
cu035 | 1 | (CU)240
cu090 | 1 | P.Tebt.0694 Recto
cu090_orgcode | 1 | CU
cu245ab | 1 | Treatise on music
cu245f | 1 | 3rd century B.C.
cu300 | 1 | 23 papyri ; various
cu500 | 1 | Verso unpublished
cu500_lin | 1 | 3+ cols. (99 lines) on recto along the fibers.
cu500_pal | 1 | Regular uncial written with a fine reed
cu500_rec | 1 | On verso: Official correspopndence : fragment
cu510 | 1 | P.Tebt., III.694; Plate: P.Tebt., III.1, pl. I (Fr. 1, cols. II-III)
cu510_dd | 1 | P.Tebt.:3.1:694
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/240
cu520 | 1 | A treatise on music, apparently emanating from a school not represented in other extant early Greek writings on the subject.
cu546 | 1 | Greek
cu561 | 1 | Mummy cartonnage at Tebtunis 6
cu581 | 1 | Pack, R.A. Greek and Latin literary texts from Greco-Roman Egypt (2nd ed.) no. 2443
cu590 | 1 | 1509; 2377
cu590_con | 1 | OUT TO PHOTOLAB 10/28/04 PJR
cu653 | 1 | Music
cu655 | 1 | Sub-literary papyri; Musical works
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 299
cuDateValue | 2 | 200
cuOrgcode | 1 | CU
cuPart_caption | 1 | Recto
cuPart_no | 1 | 1
cuPart_section | 1 | recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP04482a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP04482a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP04482a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP04482a
perm_group | 1 | w
