dd001 | 1 | berkeley.apis.315
dd035 | 1 | (CU)315
dd046 | 1 | 149
dd090 | 1 | P.Tebt.0394
dd100_a | 1 | Didymos alias Louris, son of Lysimachos
dd100_4 | 1 | aut
dd100_a | 2 | Lysimachos, son of Pasion
dd100_4 | 2 | asn
dd100_a | 3 | Ptolema, daughter of Didymos
dd100_4 | 3 | asn
dd100_a | 4 | Tamystha daughter of Lysimachos
dd100_4 | 4 | asn
dd245_a | 1 | Receipt for payment of wheat
dd245_f | 1 | 23 Mar. 149 A.D.
dd300 | 1 | 1 papyrus ; 22.8 x 9 cm.
dd500_rec | 1 | Verso empty.
dd500 | 1 | Margins: top, 1.7 cm.; left, 1.5 cm.; bottom, 7 cm.; on verso, in black ink: T 411.
dd500 | 2 | 12th year of the Emperor Antoninus Pius, 17th of the Egyptian month Phamenoth.
dd500_lin | 1 | 20 lines, on recto along the fibers.
dd500_pal | 1 | Much ligatured cursive.
dd500_tra | 1 | Didumos also called Lourios, son of Lusimachos, to Lysimachos son of Pasion, greeting. I have received from you the price of bought wheat which you have deducted from the public bank from the credit of Ptolema daughter of Didymos, at Kerkesephis, 5 1/4 artabas of wheat, and from the credit of Tamystha daughter of Lysimachos, at Tebtunis, 1 1/2 artabas, and at Kerkeosiris likewise 1 1/2. Together the total is 8 1/4 artabas, making at 7 drachmas per artaba the sum of fifty-seven drachmas, four and a half obols, total 57 dr. 4 1/2 ob. The 12th year of Antoninus Caesar the lord, Phamenoth 27.
dd510 | 1 | P.Tebt., II.394
dd510_dd | 1 | P.Tebt.:2:394
dd520 | 1 | Didymos, also called Louris, acknowledges the receipt of money of 8 1/2 artabas for wheat for the military from the buyer Lysimachos, through the agency of a bank of Kerkesephis.
dd546 | 1 | Greek
dd561 | 1 | House at Tebtunis T411
dd581 | 1 | See R. Bogaert, Ancient Society v. 19 (1988), p. 220-222.
dd590 | 1 | 1399
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Women, 30 B.C.-640 A.D.; Wheat
dd653 | 2 | Kerkesephis; Tebtunis; Kerkeosiris; Arsinoites nomos
dd655 | 1 | Receipts, Roman period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/315
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | Recto.
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00778a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00778a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00778a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00778a
partNumber | 2 | 2
partSide | 2 | verso
partCaption | 2 | Verso.
presentationNumber | 2 | 1 | 1
presentationDisplayRes | 2 | 1 | thumbnail
presentationAddress | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01229a
presentationNumber | 2 | 2 | 2
presentationDisplayRes | 2 | 2 | 75 dpi
presentationAddress | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01229a
presentationNumber | 2 | 3 | 3
presentationDisplayRes | 2 | 3 | 150 dpi
presentationAddress | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01229a
presentationNumber | 2 | 4 | 4
presentationDisplayRes | 2 | 4 | 300 dpi
presentationAddress | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01229a
