cu001 | 1 | berkeley.apis.895
cu035 | 1 | (CU)895
cu090 | 1 | P.Tebt.0188 Recto
cu090_orgcode | 1 | CU
cu245ab | 1 | Account of payments
cu245f | 1 | Late 2nd or early 1st century B.C.
cu300 | 1 | 2 papyri
cu500 | 1 | Verso unpublished.
cu500_lin | 1 | 12 cols. on recto across the fibers.
cu500_rec | 1 | On verso: Account of payments
cu510 | 1 | P.Tebt., I.188 (desc. only)
cu510_dd | 1 | P.Tebt.:1:188
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/895
cu520 | 1 | Account listing payments by or to various persons, mostly 500 drachmas.
cu546 | 1 | Greek
cu561 | 1 | Crocodile cartonnage at Tebtunis 22.1
cu590 | 1 | 3023, 3024
cu590_con | 1 | OUT TO PHOTOLAB 10/28/04 PJR
cu655 | 1 | Accounts, Ptolemaic Period
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 125
cuDateValue | 2 | 75
cuOrgcode | 1 | CU
cuPart_caption | 1 | Frame 1/2 Recto
cuPart_caption | 2 | Frame 2/2 Recto
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | recto
cuPart_section | 2 | recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP04419a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP04419a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP04419a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP04419a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP04420a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP04420a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP04420a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP04420a
perm_group | 1 | w
