dd001 | 1 | berkeley.apis.9371
dd035 | 1 | (CU)9371
dd046 | 1 | 1
dd046 | 2 | 350
dd090 | 1 | P.Tebt.Suppl.01,001
dd100_a | 1 | Serapis
dd100_4 | 1 | asn
dd100_a | 2 | Didymos, Son of Didymos
dd100_4 | 2 | asn
dd100_a | 3 | Lysimachos
dd100_4 | 3 | asn
dd245_a | 1 | Documentary text
dd245_f | 1 | Between 1 and 350 A.D.
dd300 | 1 | 1 papyrus ; 10.7 x 13.3 cm. and smaller
dd500_rec | 1 | Verso empty
dd500 | 1 | Bottom margin 1 cm.
dd500 | 2 | Related to Lysimachoi and Didymoi dossier
dd500_lin | 1 | 14 lines, on recto along the fibers.
dd500_pal | 1 | Medium cursive hand.
dd518 | 1 | Tebtunis
dd546 | 1 | Greek
dd561 | 1 | House at Tebtunis T703
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Tebtunis
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/9371
