dd001 | 1 | berkeley.apis.244
dd035 | 1 | (CU)244
dd046 | 1 | 150
dd046 | 2 | 199
dd090 | 1 | P.Tebt.0272 Recto
dd245_a | 1 | Account
dd245_f | 1 | 2nd half 2nd century A.D.
dd300 | 1 | 1 papyrus ; 10.3 x 8.4 cm.
dd500_rec | 1 | On verso, Herodotus, the Physician.
dd500 | 1 | Verso published
dd500 | 2 | Margins: top, 1.8 cm.; right 1.2 cm.; in right margin, in black ink: T 423.
dd500_lin | 1 | 8 lines, on recto along the fibers.
dd500_pal | 1 | Regular cursive
dd510 | 1 | P.Tebt., II.272
dd510_dd | 1 | P.Tebt.:2:272
dd546 | 1 | Greek
dd561 | 1 | House at Tebtunis T423
dd590 | 1 | 2223
dd590_con | 1 | Two pieces of gummed paper used in restoration
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd655 | 1 | Accounts, Roman period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/244
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | Recto
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP04039a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP04039a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP04039a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP04039a
