cu001 | 1 | berkeley.apis.587
cu035 | 1 | (CU)587
cu090 | 1 | P.Tebt.0137
cu090_orgcode | 1 | CU
cu1004 | 1 | aut
cu100a | 1 | Sosos
cu245ab | 1 | Lease of a vineyard.
cu245f | 1 | Late 2nd century B.C.
cu300 | 1 | 2 papyri ; Frag. 1, 33.2 x 13.6 cm.; Frag. 2, 3.5 x 6.5 cm.
cu500 | 1 | Verso unpublished
cu500 | 2 | Margins: top, 1.1 cm.; bottom, 3 cm.; space between line 21 and 22, 3.1 cm.; in bottom margin, in red ink: 137. On verso, in black ink: T128.
cu500 | 3 | [?]5th year of Ptolemy VIII Euergetis II
cu500 | 4 | Doppelurkunde
cu500_lin | 1 | 49 lines, on recto along the fibers.
cu500_pal | 1 | Very cursive hand.
cu500_rec | 1 | Verso: Names of witnesses and a line of Demotic
cu510 | 1 | P.Tebt., I.137 (desc. only)
cu510_dd | 1 | P.Tebt.:1:137
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/587
cu518 | 1 | Theogonis
cu520 | 1 | Remains of the lease of a vineyard at Ibion from Sosos to an Arsinoitis. In duplicate.
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T128
cu581 | 1 | On date, see BL v. 3, p. 241; v. 5, p. 146; v. 6, p. 198; v. 7, p. 270; On lines 1-2 see BL v. 7, p. 270; See BL v. 2.2, p. 169.
cu590 | 1 | 1740
cu653 | 1 | Vineyards
cu653 | 2 | Ibion Eikosipentarouron
cu655 | 1 | Contracts, Ptolemaic Period; Leases, Ptolemaic Period
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 125
cuDateValue | 2 | 100
cuOrgcode | 1 | CU
cuPart_caption | 1 | Recto.
cuPart_caption | 2 | Verso
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | recto
cuPart_section | 2 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01823a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01823a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01823a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01823a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01824a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01824a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01824a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01824a
perm_group | 1 | w
