dd001 | 1 | berkeley.apis.9875
dd035 | 1 | (CU)9875
dd046 | 1 | 1
dd046 | 2 | 350
dd090 | 1 | P.Tebt.Suppl.01,622, 01,623, 01,624
dd245_a | 1 | Contract
dd245_f | 1 | Between A.D. 1 and 350
dd300 | 1 | 3 papyri ; fragment 1: 17.1 cm x 7.9 cm; fragment 2: 7 x 3.1 cm; fragment 3: 2.7 x 2.7 cm
dd500_rec | 1 | verso blank
dd500 | 1 | Publication in progress: Todd Hickey
dd500_lin | 1 | 3 frags. (37 lines) on recto along fibers
dd500_pal | 1 | The first 15 lines of fragment 1 and all of fragments 2 and 3 are in the same small regular cursive; lines 16-19 of fragment 1 are in a different hand, and lines 20-21 might be in either hand or a third.
dd520 | 1 | Repeated use of word "thesauros" indicates grain deal
dd546 | 1 | Greek
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/9875
