dd001 | 1 | berkeley.apis.9920
dd035 | 1 | (CU)9920
dd046 | 1 | 1
dd046 | 2 | 350
dd090 | 1 | P.Tebt.Suppl.01,690
dd245_a | 1 | List or account?
dd245_f | 1 | Between A.D. 1 and 350 (late 3rd-early 4th century?)
dd300 | 1 | 1 papyrus
dd500_rec | 1 | verso blank
dd500 | 1 | Suggested late dating based on following letters: deltas similar to Boswinkel-Sijpesteijn #38 (4th cen., provenance unknown), #41 (AD 321, Plelo) and #42 (AD 345, Oxyrhynchus); beta resembles Boswinkel #31 (AD 259-60, Oxyrhynchus)
dd500_lin | 1 | 6 lines on recto along fibers
dd500_pal | 1 | large cursive
dd520 | 1 | Each line finishes with numerical and financial notation.
dd546 | 1 | Greek
dd561 | 1 | house at Tebtunis T358
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/9920
