cu001 | 1 | berkeley.apis.739
cu035 | 1 | (CU)739
cu090 | 1 | P.Tebt.0337 Recto
cu090_orgcode | 1 | CU
cu245ab | 1 | Revenue-return.
cu245f | 1 | Late 2nd or early 3rd century A.D.
cu300 | 1 | 1 papyrus ; 17.5 x 11.7 cm.
cu500 | 1 | Verso unpublished.
cu500 | 2 | Margins: top, 2.2 cm.; left, 2 cm.; on verso, in black ink: T 723.
cu500_lin | 1 | 17 (and 6 marginal) lines, on recto along the fibers.
cu500_pal | 1 | Regular cursive.
cu500_rec | 1 | On verso: List of tax payments.
cu500_t | 1 | Total of items declared by ... And placed in suspense, out of 2068 drachmas 3 obols, after deducting the sums which were withdrawn from the category of suspended payments because they were collected before they were suspended, at Dionysias 20 dr., at Herakleia .. dr., at Arsinoe 20 dr., at Apias .. dr., at Athena 28 dr., making 206 dr., remainder in suspense 1862 dr. 3 ob. Remainder for … 1 talent of silver 1763 dr. 5 ob. 2 chalkoi; for value of wine 574 dr. Total 1 talent 2337 dr. 5 ob. 2 chal. of which the classification and list of individual items is as it was sent in. Revenues from properties in grain-land and building sites which were confiscated to pay the debts of the division ... (2nd hand, in left-hand margin) Account of expenses: to Aithiopas, 9 dr., to Aurelius 4 dr., for cutting grass 6 dr. 1 chalkous, for the price of papyrus 1 dr., for a purse 1 dr.
cu510 | 1 | P.Tebt., II.337
cu510_dd | 1 | P.Tebt.:2:337
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/739
cu520 | 1 | Official account dealing with certain revenues; with fragment of an unrelated private account in the left-hand margin.
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T723
cu590 | 1 | 2254
cu653 | 1 | Revenue
cu653 | 2 | Dionysias; Herakleia; Arsinoe; Athena; Apias
cu655 | 1 | Official accounts, Roman Period
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 175
cuDateValue | 2 | 225
cuOrgcode | 1 | CU
cuPart_caption | 1 | Recto
cuPart_no | 1 | 1
cuPart_section | 1 | recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02021a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02021a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02021a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02021a
perm_group | 1 | w
