cu001 | 1 | berkeley.apis.1201
cu035 | 1 | (CU)1201
cu090 | 1 | P.Tebt.0923
cu090_orgcode | 1 | CU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu100a | 1 | Petosiris
cu100a | 2 | Thaesis
cu100g | 1 | Komogrammateus of Oxyrhyncha
cu245ab | 1 | Statement regarding the registration of a house.
cu245f | 1 | 2nd century B.C.
cu300 | 1 | 1 papyrus ; 8.5 x 11 cm.
cu500 | 1 | Margins: top, 3.6 cm.; left, 2.7 cm.
cu500_lin | 1 | 5 lines, on recto along the fibers.
cu500_rec | 1 | Verso: empty, some plaster with design
cu510 | 1 | p.Tebt., III.923
cu510_dd | 1 | P.Tebt.:3.2:923
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/1201
cu546 | 1 | Greek
cu561 | 1 | Mummy cartonnage at Tebtunis 82
cu590 | 1 | 2063
cu653 | 1 | Dwellings
cu653 | 2 | Oxyrhyncha
cu655 | 1 | Varia, Ptolemaic Period
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 199
cuDateValue | 2 | 100
cuOrgcode | 1 | CU
perm_group | 1 | w
