cu001 | 1 | berkeley.apis.786
cu035 | 1 | (CU)786
cu090 | 1 | P.Tebt.0418 Verso
cu090_orgcode | 1 | CU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu100a | 1 | Soterichos
cu100a | 2 | Origines
cu245ab | 1 | Soterichos' letter : to Origines
cu245f | 1 | 3rd century A.D.
cu300 | 1 | 1 papyrus ; 35 x 14.3 cm.
cu500 | 1 | Recto (2) unpublished.
cu500 | 2 | Margins: top, 2.3 cm.; left, 2.2 cm.; bottom, 6.4 cm.; on recto, in black ink: T545.
cu500_lin | 1 | 20 lines, on verso across the fibers; address on recto is 1 line.
cu500_pal | 1 | Regular cursive.
cu500_rec | 1 | Recto: (1) Address; (2) Report of judicial proceedings
cu500_t | 1 | Soterichos to his esteemed Origenes, very many greetings. Before all else I supplicate the lord Sarapis and the associated gods on your behalf, praying that you may have life's greatest blessings. You will do well, brother, to come up and bring my wife with you, for I have written to her to come with you; and give her any money she may need until you arrive and receive it back from me in good faith, as I have trusted no one to take it to her. Salute all your family for me; I pray for the health and prosperity of them and you and all your household. (Addressed on the verso) To Origenes from his friend Soterichos.
cu510 | 1 | P.Tebt., II.418; Tibiletti, Le lettere private, no. 14.
cu510_dd | 1 | P.Tebt.:2:418
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/786
cu520 | 1 | Soterichos asks Origines to come and bring with him the writer's wife, and to provide for her necessary expenses meantime.
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T545
cu590 | 1 | 1378
cu653 | 1 | Women, 30 B.C.-640 A.D.; Wives
cu655 | 1 | Private letters, Roman Period
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 200
cuDateValue | 2 | 299
cuOrgcode | 1 | CU
cuPart_caption | 1 | Verso: Text
cuPart_caption | 2 | Recto: Verso Text Address
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | verso
cuPart_section | 2 | recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP04239a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP04239a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP04239a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP04239a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP04240a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP04240a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP04240a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP04240a
perm_group | 1 | w
