dd001 | 1 | berkeley.apis.337
dd035 | 1 | (CU)337
dd046 | 1 | -100
dd090 | 1 | P.Tebt.0002 (d) verso
dd245_a | 1 | Greek mime : fragment
dd245_f | 1 | ca. 100 B.C.
dd300 | 1 | 1 papyrus ; 18.8 x 9 cm.
dd500_rec | 1 | On recto: Contract.
dd500 | 1 | Recto unpublished
dd500_lin | 1 | 21 lines, on verso across the fibers.
dd500_pal | 1 | Small cursive hand, with abbreviations
dd510 | 1 | P.Tebt., I.2 (d verso)
dd510_dd | 1 | P.Tebt.:1:2
dd520 | 1 | Appears to be part of a dialogue, from a mime.
dd546 | 1 | Greek
dd561 | 1 | crocodile cartonnage at Tebtunis 23.4
dd581 | 1 | Pack, R.A. Greek and Latin literary texts from Greco-Roman Egypt (2nd ed.), no. 1607.
dd590 | 1 | 2471
dd590_con | 1 | DO NOTE DELETE original image. This frame was damaged and had to be redone, in the course of which a very small small text portion was lost. Pjr 11/25/03
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd655 | 1 | Literary papyri, unidentified authors; Mimes
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/337
partNumber | 1 | 1
partSide | 1 | verso
partCaption | 1 | Frame 3/3 Verso (Old undamaged image)
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01251a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01251a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01251a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01251a
partNumber | 2 | 2
partSide | 2 | verso
partCaption | 2 | Frame 3/3 Verso (New remounted damaged papyrus)
presentationNumber | 2 | 1 | 1
presentationDisplayRes | 2 | 1 | thumbnail
presentationAddress | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP04203a
presentationNumber | 2 | 2 | 2
presentationDisplayRes | 2 | 2 | 75 dpi
presentationAddress | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP04203a
presentationNumber | 2 | 3 | 3
presentationDisplayRes | 2 | 3 | 150 dpi
presentationAddress | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP04203a
presentationNumber | 2 | 4 | 4
presentationDisplayRes | 2 | 4 | 300 dpi
presentationAddress | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP04203a
