dd001 | 1 | berkeley.apis.218
dd035 | 1 | (CU)218
dd046 | 1 | -181
dd046 | 2 | -157
dd090 | 1 | P.Tebt.0906
dd100_a | 1 | Horos
dd100_g | 1 | Komarches
dd100_4 | 1 | aut
dd100_a | 2 | Teos
dd100_g | 2 | Komogrammateus
dd100_4 | 2 | asn
dd245_a | 1 | Endorsement of Order for Crop Release
dd245_f | 1 | 6 May 181 B.C. or 30 Apr. 157 B.C.
dd300 | 1 | 1 papyrus ; 12 x 10 cm.
dd500_rec | 1 | verso empty
dd500 | 1 | Margins: left, 1.2 cm.; bottom, 5.2 cm.
dd500 | 2 | 24th year of Ptolemy V Epiphanes or VI Philometor, 2nd of the Egyptian month Pharmouthi
dd500_lin | 1 | 4 lines, on recto along the fibers.
dd500_pal | 1 | Large, coarse hand written with an Egyptian brush
dd510 | 1 | P.Tebt., III.906 (desc. only)
dd510_dd | 1 | P.Tebt.:3.2:906
dd520 | 1 | Horos (Komarches) endorses the above-written order by Teos.
dd544_n | 1 | belongs together with P.Tebt. 714 (lower half)
dd546 | 1 | Greek
dd561 | 1 | mummy cartonnage at Tebtunis 29
dd590 | 1 | 1212
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Crops
dd655 | 1 | Business letters, Ptolemaic period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/218
