cu001 | 1 | berkeley.apis.121
cu035 | 1 | (CU)121
cu090 | 1 | P.Tebt.0877
cu090_orgcode | 1 | CU
cu1004 | 1 | aut
cu100a | 1 | Ammonios
cu100g | 1 | Logeutes
cu245ab | 1 | Account of payments of beer-tax
cu245f | 1 | Oct./Nov. 132 B.C.?
cu300 | 1 | 1 papyrus ; 24.2 x 11.4 cm.
cu500 | 1 | Recto described
cu500 | 2 | Top margin: 2.4 cm.; writing much faded
cu500 | 3 | 39th year of Ptolemy VIII Euergetes II (?), in the Egyptian month Phaophi.
cu500_lin | 1 | 11 lines, on verso across the fibers.
cu500_pal | 1 | Small regular cursive
cu500_rec | 1 | On recto: Register of land (P.Tebt.1020)
cu510 | 1 | P.Tebt., III.877
cu510_dd | 1 | P.Tebt.:3.2:877
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/121
cu520 | 1 | List of payments in talents and drachmas for the beer-tax of the 39th (?) year.
cu546 | 1 | Greek
cu561 | 1 | Mummy cartonnage at Tebtunis 55
cu581 | 1 | The reading suggested for line 1 in BL v. 3, p. 247 should be rejected; the reading of the edition is right.
cu590 | 1 | 1295
cu653 | 1 | Beer tax
cu653 | 2 | Polemonos meris
cu655 | 1 | Official accounts, Ptolemaic period
cu655 | 2 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 1 | 132
cuOrgcode | 1 | CU
cuPart_caption | 1 | Verso.
cuPart_no | 1 | 1
cuPart_section | 1 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01037a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01037a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01037a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01037a
perm_group | 1 | w
