dd001 | 1 | berkeley.apis.473
dd035 | 1 | (CU)473
dd046 | 1 | -125
dd046 | 2 | -100
dd090 | 1 | P.Tebt.0056
dd100_a | 1 | Petesouchos son of Marres
dd100_g | 1 | Georgos from Kerkesephis
dd100_4 | 1 | aut
dd100_a | 2 | Marres, son of Petosiris.
dd100_4 | 2 | asn
dd245_a | 1 | Private letter from Marres to Marres.
dd245_f | 1 | Late 2nd century B.C.
dd300 | 1 | 1 papyrus ; 24 x 13.4 cm.
dd500_rec | 1 | On verso some effaced lines.
dd500 | 1 | Verso unpublished.
dd500 | 2 | In red ink in top margin: 56.
dd500_lin | 1 | 18 lines, on recto along the fibers.
dd500_pal | 1 | Regular cursive.
dd500_tra | 1 | Petesouchos son of Marres, cultivator of Kerkesephis, to Marres son of Petosiris … his brother, greeting. You must hear about our plain having been inundated; we have not so much as food for our cattle. Please therefore in the first place to give thanks to the gods and secondly to save many lives by seeking out in the neighborhood of your village five arouras for our maintenance so that we may thence obtain food. If you do this I shall be eternally obliged to you. Good-bye.
dd510 | 1 | P.Tebt., I.56; Hunt, A.S. Sel. pap. v. 1, no. 102; Witkowski, Epistulae privatae, no. 54; White, J.L. Light from Ancient Letters, no. 52.
dd510_dd | 1 | P.Tebt.:1:56
dd518 | 1 | Kerkesephis
dd520 | 1 | Marres asks another Marres to find him land at Kerkeosiris for the maintenance of himself and the cattle.
dd546 | 1 | Greek
dd561 | 1 | Crocodile cartonnage at Tebtunis 5.2
dd581 | 1 | See BL v. 2, p. 169.
dd590 | 1 | 1658
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Flood damage; Cost of living
dd653 | 2 | Kerkesephis; Tebtunis
dd655 | 1 | Personal letters, Ptolemaic period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/473
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | Recto
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01602a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01602a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01602a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01602a
partNumber | 2 | 2
partSide | 2 | verso
partCaption | 2 | Verso
presentationNumber | 2 | 1 | 1
presentationDisplayRes | 2 | 1 | thumbnail
presentationAddress | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01603a
presentationNumber | 2 | 2 | 2
presentationDisplayRes | 2 | 2 | 75 dpi
presentationAddress | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01603a
presentationNumber | 2 | 3 | 3
presentationDisplayRes | 2 | 3 | 150 dpi
presentationAddress | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01603a
presentationNumber | 2 | 4 | 4
presentationDisplayRes | 2 | 4 | 300 dpi
presentationAddress | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01603a
