cu001 | 1 | berkeley.apis.431
cu035 | 1 | (CU)431
cu090 | 1 | P.Tebt.0528
cu090_orgcode | 1 | CU
cu245ab | 1 | Division of catoecic land
cu245f | 1 | 138-161 A.D.
cu300 | 1 | 1 papyrus ; 20.5 x 15 cm.
cu500 | 1 | Margins: top, 1.8 cm.; left, 1.8 cm.; bottom, 2.2 cm.; in right bottom margin, in red ink "528"; on verso, in black ink: T 604.
cu500 | 2 | Reign of the Emperor Antoninus Pius
cu500_lin | 1 | 35 lines, on recto along the fibers.
cu500_pal | 1 | Small regular cursive
cu500_rec | 1 | Verso empty
cu510 | 1 | P.Tebt., II.528 (desc. only)
cu510_dd | 1 | P.Tebt.:2:528
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/431
cu520 | 1 | Contract for the Division of cleruchic land in two plots.
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T604
cu590 | 1 | 1459
cu653 | 1 | Cleruchic land
cu653 | 2 | Tkanabis
cu655 | 1 | Contracts, Roman period
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 138
cuDateValue | 2 | 161
cuOrgcode | 1 | CU
cuPart_caption | 1 | UC 1459 Recto.
cuPart_caption | 2 | UC 1459 Verso.
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | recto
cuPart_section | 2 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00873a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00873a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00873a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00873a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01324a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01324a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01324a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01324a
perm_group | 1 | w
