cu001 | 1 | berkeley.apis.382
cu035 | 1 | (CU)382
cu090 | 1 | P.Tebt.0025 Verso
cu090_orgcode | 1 | CU
cu245ab | 1 | Lists of names
cu245f | 1 | Between 125 and 100 B.C.
cu300 | 1 | 1 papyrus ; 28 x 18.8 cm.
cu500 | 1 | Menches archive
cu500_lin | 1 | 2 cols. (21+ lines) on verso across the fibers.
cu500_pal | 1 | Small regular cursive.
cu500_rec | 1 | On recto: conclusion of an official letter, 117 Mar. 6; and Writing exercise.
cu510_dd | 1 | P.Tebt.:1:25
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/382
cu520 | 1 | Two lists of names, written in opposite directions.
cu546 | 1 | Greek
cu561 | 1 | crocodile cartonnage at Tebtunis 17.12
cu590 | 1 | 1657
cu590_con | 1 | Traces of linen in center.
cu655 | 1 | Lists, Ptolemaic Period
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 125
cuDateValue | 2 | 100
cuOrgcode | 1 | CU
cuPart_caption | 1 | UC 1657 Verso.
cuPart_no | 1 | 1
cuPart_section | 1 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01342a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01342a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01342a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01342a
perm_group | 1 | w
