dd001 | 1 | berkeley.apis.1007
dd035 | 1 | (CU)1007
dd046 | 1 | -199
dd046 | 2 | -175
dd090 | 1 | P.Tebt.0784
dd245_a | 1 | Petition
dd245_f | 1 | Early 2nd century B.C.
dd300 | 1 | 1 papyrus ; 16.2 x 9 cm.
dd500_rec | 1 | Verso empty.
dd500 | 1 | Margins: left, 2.3 cm.; bottom, 3.8 cm.
dd500_lin | 1 | 14 lines, on recto along the fibers.
dd500_pal | 1 | Regular semi-uncial, written with a fine pen.
dd500_tra | 1 | ... (Having entered) the bath with a number of other persons he went off with my outer garment. I therefore ask you, if you see fit, to order a letter to be sent to the proper official to summon him before you, in order that he may be punished for this at the tribunal and by this punishment you may deter others from like courses. If this is done, I shall have found energetic succour at your hands. Farewell.
dd510 | 1 | P.Tebt., III.784
dd510_dd | 1 | P.Tebt.:3.1:784
dd520 | 1 | Conclusion of a petition about an alleged theft of a garment.
dd546 | 1 | Greek
dd561 | 1 | Mummy cartonnage at Tebtunis 13
dd590 | 1 | 2151
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Theft
dd655 | 1 | Petitions, Ptolemaic Period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/1007
