cu001 | 1 | berkeley.apis.1219
cu035 | 1 | (CU)1219
cu090 | 1 | P.Tebt.0231
cu090_orgcode | 1 | CU
cu245ab | 1 | Private account.
cu245f | 1 | 97/96 or 64/63 B.C.
cu300 | 1 | 26 papyri ; 19.4 x 32.7 cm. or smaller.
cu500 | 1 | 18th year is mentioned.
cu500_lin | 1 | 11+ cols. on recto along the fibers; 15+ cols. on verso across the fibers.
cu500_pal | 1 | Large uncultivated hand.
cu500_rec | 1 | Verso: continuation of text
cu510 | 1 | P.Tebt., I.231
cu510_dd | 1 | P.Tebt.:1:231
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/1219
cu520 | 1 | Perhaps relates to the dance and drama.
cu546 | 1 | Greek
cu561 | 1 | Crocodile cartonnage at Tebtunis 29.4
cu590 | 1 | 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 2531, 2532, 1533,
cu653 | 1 | Dance; Greek drama
cu655 | 1 | Accounts, Ptolemaic Period
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 97
cuDateValue | 2 | 63
cuOrgcode | 1 | CU
cuPart_caption | 1 | Frame 1/11 Recto
cuPart_caption | 2 | Frame 1/11 Verso
cuPart_caption | 3 | Frame 2/11 Recto
cuPart_caption | 4 | Frame 2/11 Verso
cuPart_caption | 5 | Frame 3/11 Recto
cuPart_caption | 6 | Frame 3/11 Verso
cuPart_caption | 7 | Frame 4/11 Recto
cuPart_caption | 8 | Frame 4/11 Verso
cuPart_caption | 9 | Frame 5/11 Recto
cuPart_caption | 10 | Frame 5/11 Verso
cuPart_caption | 11 | Frame 6/11 Recto
cuPart_caption | 12 | Frame 6/11 Verso
cuPart_caption | 13 | Frame 7/11 Recto
cuPart_caption | 14 | Frame 7/11 Verso
cuPart_caption | 15 | Frame 8/11 Recto
cuPart_caption | 16 | Frame 8/11 Verso
cuPart_caption | 17 | Frame 9/11 Recto
cuPart_caption | 18 | Frame 9/11 Verso
cuPart_caption | 19 | Frame 10/11 Recto
cuPart_caption | 20 | Frame 10/11 Verso
cuPart_caption | 21 | Frame 11/11 Recto
cuPart_caption | 22 | Frame 11/11 Verso
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_no | 3 | 3
cuPart_no | 4 | 4
cuPart_no | 5 | 5
cuPart_no | 6 | 6
cuPart_no | 7 | 7
cuPart_no | 8 | 8
cuPart_no | 9 | 9
cuPart_no | 10 | 10
cuPart_no | 11 | 11
cuPart_no | 12 | 12
cuPart_no | 13 | 13
cuPart_no | 14 | 14
cuPart_no | 15 | 15
cuPart_no | 16 | 16
cuPart_no | 17 | 17
cuPart_no | 18 | 18
cuPart_no | 19 | 19
cuPart_no | 20 | 20
cuPart_no | 21 | 21
cuPart_no | 22 | 22
cuPart_section | 1 | recto
cuPart_section | 2 | verso
cuPart_section | 3 | recto
cuPart_section | 4 | verso
cuPart_section | 5 | recto
cuPart_section | 6 | verso
cuPart_section | 7 | recto
cuPart_section | 8 | verso
cuPart_section | 9 | recto
cuPart_section | 10 | verso
cuPart_section | 11 | recto
cuPart_section | 12 | verso
cuPart_section | 13 | recto
cuPart_section | 14 | verso
cuPart_section | 15 | recto
cuPart_section | 16 | verso
cuPart_section | 17 | recto
cuPart_section | 18 | verso
cuPart_section | 19 | recto
cuPart_section | 20 | verso
cuPart_section | 21 | recto
cuPart_section | 22 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_display_res | 3 | 1 | thumbnail
cuPresentation_display_res | 3 | 2 | 75 dpi
cuPresentation_display_res | 3 | 3 | 150 dpi
cuPresentation_display_res | 3 | 4 | 300 dpi
cuPresentation_display_res | 4 | 1 | thumbnail
cuPresentation_display_res | 4 | 2 | 75 dpi
cuPresentation_display_res | 4 | 3 | 150 dpi
cuPresentation_display_res | 4 | 4 | 300 dpi
cuPresentation_display_res | 5 | 1 | thumbnail
cuPresentation_display_res | 5 | 2 | 75 dpi
cuPresentation_display_res | 5 | 3 | 150 dpi
cuPresentation_display_res | 5 | 4 | 300 dpi
cuPresentation_display_res | 6 | 1 | thumbnail
cuPresentation_display_res | 6 | 2 | 75 dpi
cuPresentation_display_res | 6 | 3 | 150 dpi
cuPresentation_display_res | 6 | 4 | 300 dpi
cuPresentation_display_res | 7 | 1 | thumbnail
cuPresentation_display_res | 7 | 2 | 75 dpi
cuPresentation_display_res | 7 | 3 | 150 dpi
cuPresentation_display_res | 7 | 4 | 300 dpi
cuPresentation_display_res | 8 | 1 | thumbnail
cuPresentation_display_res | 8 | 2 | 75 dpi
cuPresentation_display_res | 8 | 3 | 150 dpi
cuPresentation_display_res | 8 | 4 | 300 dpi
cuPresentation_display_res | 9 | 1 | thumbnail
cuPresentation_display_res | 9 | 2 | 75 dpi
cuPresentation_display_res | 9 | 3 | 150 dpi
cuPresentation_display_res | 9 | 4 | 300 dpi
cuPresentation_display_res | 10 | 1 | thumbnail
cuPresentation_display_res | 10 | 2 | 75 dpi
cuPresentation_display_res | 10 | 3 | 150 dpi
cuPresentation_display_res | 10 | 4 | 300 dpi
cuPresentation_display_res | 11 | 1 | thumbnail
cuPresentation_display_res | 11 | 2 | 75 dpi
cuPresentation_display_res | 11 | 3 | 150 dpi
cuPresentation_display_res | 11 | 4 | 300 dpi
cuPresentation_display_res | 12 | 1 | thumbnail
cuPresentation_display_res | 12 | 2 | 75 dpi
cuPresentation_display_res | 12 | 3 | 150 dpi
cuPresentation_display_res | 12 | 4 | 300 dpi
cuPresentation_display_res | 13 | 1 | thumbnail
cuPresentation_display_res | 13 | 2 | 75 dpi
cuPresentation_display_res | 13 | 3 | 150 dpi
cuPresentation_display_res | 13 | 4 | 300 dpi
cuPresentation_display_res | 14 | 1 | thumbnail
cuPresentation_display_res | 14 | 2 | 75 dpi
cuPresentation_display_res | 14 | 3 | 150 dpi
cuPresentation_display_res | 14 | 4 | 300 dpi
cuPresentation_display_res | 15 | 1 | thumbnail
cuPresentation_display_res | 15 | 2 | 75 dpi
cuPresentation_display_res | 15 | 3 | 150 dpi
cuPresentation_display_res | 15 | 4 | 300 dpi
cuPresentation_display_res | 16 | 1 | thumbnail
cuPresentation_display_res | 16 | 2 | 75 dpi
cuPresentation_display_res | 16 | 3 | 150 dpi
cuPresentation_display_res | 16 | 4 | 300 dpi
cuPresentation_display_res | 17 | 1 | thumbnail
cuPresentation_display_res | 17 | 2 | 75 dpi
cuPresentation_display_res | 17 | 3 | 150 dpi
cuPresentation_display_res | 17 | 4 | 300 dpi
cuPresentation_display_res | 18 | 1 | thumbnail
cuPresentation_display_res | 18 | 2 | 75 dpi
cuPresentation_display_res | 18 | 3 | 150 dpi
cuPresentation_display_res | 18 | 4 | 300 dpi
cuPresentation_display_res | 19 | 1 | thumbnail
cuPresentation_display_res | 19 | 2 | 75 dpi
cuPresentation_display_res | 19 | 3 | 150 dpi
cuPresentation_display_res | 19 | 4 | 300 dpi
cuPresentation_display_res | 20 | 1 | thumbnail
cuPresentation_display_res | 20 | 2 | 75 dpi
cuPresentation_display_res | 20 | 3 | 150 dpi
cuPresentation_display_res | 20 | 4 | 300 dpi
cuPresentation_display_res | 21 | 1 | thumbnail
cuPresentation_display_res | 21 | 2 | 75 dpi
cuPresentation_display_res | 21 | 3 | 150 dpi
cuPresentation_display_res | 21 | 4 | 300 dpi
cuPresentation_display_res | 22 | 1 | thumbnail
cuPresentation_display_res | 22 | 2 | 75 dpi
cuPresentation_display_res | 22 | 3 | 150 dpi
cuPresentation_display_res | 22 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_no | 3 | 1 | 1
cuPresentation_no | 3 | 2 | 2
cuPresentation_no | 3 | 3 | 3
cuPresentation_no | 3 | 4 | 4
cuPresentation_no | 4 | 1 | 1
cuPresentation_no | 4 | 2 | 2
cuPresentation_no | 4 | 3 | 3
cuPresentation_no | 4 | 4 | 4
cuPresentation_no | 5 | 1 | 1
cuPresentation_no | 5 | 2 | 2
cuPresentation_no | 5 | 3 | 3
cuPresentation_no | 5 | 4 | 4
cuPresentation_no | 6 | 1 | 1
cuPresentation_no | 6 | 2 | 2
cuPresentation_no | 6 | 3 | 3
cuPresentation_no | 6 | 4 | 4
cuPresentation_no | 7 | 1 | 1
cuPresentation_no | 7 | 2 | 2
cuPresentation_no | 7 | 3 | 3
cuPresentation_no | 7 | 4 | 4
cuPresentation_no | 8 | 1 | 1
cuPresentation_no | 8 | 2 | 2
cuPresentation_no | 8 | 3 | 3
cuPresentation_no | 8 | 4 | 4
cuPresentation_no | 9 | 1 | 1
cuPresentation_no | 9 | 2 | 2
cuPresentation_no | 9 | 3 | 3
cuPresentation_no | 9 | 4 | 4
cuPresentation_no | 10 | 1 | 1
cuPresentation_no | 10 | 2 | 2
cuPresentation_no | 10 | 3 | 3
cuPresentation_no | 10 | 4 | 4
cuPresentation_no | 11 | 1 | 1
cuPresentation_no | 11 | 2 | 2
cuPresentation_no | 11 | 3 | 3
cuPresentation_no | 11 | 4 | 4
cuPresentation_no | 12 | 1 | 1
cuPresentation_no | 12 | 2 | 2
cuPresentation_no | 12 | 3 | 3
cuPresentation_no | 12 | 4 | 4
cuPresentation_no | 13 | 1 | 1
cuPresentation_no | 13 | 2 | 2
cuPresentation_no | 13 | 3 | 3
cuPresentation_no | 13 | 4 | 4
cuPresentation_no | 14 | 1 | 1
cuPresentation_no | 14 | 2 | 2
cuPresentation_no | 14 | 3 | 3
cuPresentation_no | 14 | 4 | 4
cuPresentation_no | 15 | 1 | 1
cuPresentation_no | 15 | 2 | 2
cuPresentation_no | 15 | 3 | 3
cuPresentation_no | 15 | 4 | 4
cuPresentation_no | 16 | 1 | 1
cuPresentation_no | 16 | 2 | 2
cuPresentation_no | 16 | 3 | 3
cuPresentation_no | 16 | 4 | 4
cuPresentation_no | 17 | 1 | 1
cuPresentation_no | 17 | 2 | 2
cuPresentation_no | 17 | 3 | 3
cuPresentation_no | 17 | 4 | 4
cuPresentation_no | 18 | 1 | 1
cuPresentation_no | 18 | 2 | 2
cuPresentation_no | 18 | 3 | 3
cuPresentation_no | 18 | 4 | 4
cuPresentation_no | 19 | 1 | 1
cuPresentation_no | 19 | 2 | 2
cuPresentation_no | 19 | 3 | 3
cuPresentation_no | 19 | 4 | 4
cuPresentation_no | 20 | 1 | 1
cuPresentation_no | 20 | 2 | 2
cuPresentation_no | 20 | 3 | 3
cuPresentation_no | 20 | 4 | 4
cuPresentation_no | 21 | 1 | 1
cuPresentation_no | 21 | 2 | 2
cuPresentation_no | 21 | 3 | 3
cuPresentation_no | 21 | 4 | 4
cuPresentation_no | 22 | 1 | 1
cuPresentation_no | 22 | 2 | 2
cuPresentation_no | 22 | 3 | 3
cuPresentation_no | 22 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02779a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02779a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02779a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02779a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02780a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02780a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02780a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02780a
cuPresentation_url | 3 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02781a
cuPresentation_url | 3 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02781a
cuPresentation_url | 3 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02781a
cuPresentation_url | 3 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02781a
cuPresentation_url | 4 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02782a
cuPresentation_url | 4 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02782a
cuPresentation_url | 4 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02782a
cuPresentation_url | 4 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02782a
cuPresentation_url | 5 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02783a
cuPresentation_url | 5 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02783a
cuPresentation_url | 5 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02783a
cuPresentation_url | 5 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02783a
cuPresentation_url | 6 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02784a
cuPresentation_url | 6 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02784a
cuPresentation_url | 6 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02784a
cuPresentation_url | 6 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02784a
cuPresentation_url | 7 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02785a
cuPresentation_url | 7 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02785a
cuPresentation_url | 7 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02785a
cuPresentation_url | 7 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02785a
cuPresentation_url | 8 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02786a
cuPresentation_url | 8 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02786a
cuPresentation_url | 8 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02786a
cuPresentation_url | 8 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02786a
cuPresentation_url | 9 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02787a
cuPresentation_url | 9 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02787a
cuPresentation_url | 9 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02787a
cuPresentation_url | 9 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02787a
cuPresentation_url | 10 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02788a
cuPresentation_url | 10 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02788a
cuPresentation_url | 10 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02788a
cuPresentation_url | 10 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02788a
cuPresentation_url | 11 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02789a
cuPresentation_url | 11 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02789a
cuPresentation_url | 11 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02789a
cuPresentation_url | 11 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02789a
cuPresentation_url | 12 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02790a
cuPresentation_url | 12 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02790a
cuPresentation_url | 12 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02790a
cuPresentation_url | 12 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02790a
cuPresentation_url | 13 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02791a
cuPresentation_url | 13 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02791a
cuPresentation_url | 13 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02791a
cuPresentation_url | 13 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02791a
cuPresentation_url | 14 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02792a
cuPresentation_url | 14 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02792a
cuPresentation_url | 14 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02792a
cuPresentation_url | 14 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02792a
cuPresentation_url | 15 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02793a
cuPresentation_url | 15 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02793a
cuPresentation_url | 15 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02793a
cuPresentation_url | 15 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02793a
cuPresentation_url | 16 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02794a
cuPresentation_url | 16 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02794a
cuPresentation_url | 16 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02794a
cuPresentation_url | 16 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02794a
cuPresentation_url | 17 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02795a
cuPresentation_url | 17 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02795a
cuPresentation_url | 17 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02795a
cuPresentation_url | 17 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02795a
cuPresentation_url | 18 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02796a
cuPresentation_url | 18 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02796a
cuPresentation_url | 18 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02796a
cuPresentation_url | 18 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02796a
cuPresentation_url | 19 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02797a
cuPresentation_url | 19 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02797a
cuPresentation_url | 19 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02797a
cuPresentation_url | 19 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02797a
cuPresentation_url | 20 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02798a
cuPresentation_url | 20 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02798a
cuPresentation_url | 20 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02798a
cuPresentation_url | 20 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02798a
cuPresentation_url | 21 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02799a
cuPresentation_url | 21 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02799a
cuPresentation_url | 21 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02799a
cuPresentation_url | 21 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02799a
cuPresentation_url | 22 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02800a
cuPresentation_url | 22 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02800a
cuPresentation_url | 22 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02800a
cuPresentation_url | 22 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02800a
perm_group | 1 | w
