dd001 | 1 | berkeley.apis.1501
dd035 | 1 | (CU)1501
dd046 | 1 | 175
dd046 | 2 | 225
dd090 | 1 | P.Tebt.0557
dd100_a | 1 | Kollouthos
dd100_g | 1 | veteran
dd100_4 | 1 | asn
dd245_a | 1 | Customs receipt
dd245_f | 1 | Late 2nd or early 3rd century A.D.
dd300 | 1 | 1 papyrus ; 4.5 x 7.2 cm.
dd500_rec | 1 | Verso empty.
dd500 | 1 | 3rd year of an unnamed emperor.
dd500 | 2 | Papyrus not located 7/26/00 av; not on shelf 5/5/03 pjr
dd500_lin | 1 | 4 lines, on recto along the fibers.
dd500_tra | 1 | Paid through the customs gate of Tebtunis for the 1/100th and 1/50th, Kollouthos, veteran, exporting one foal (carrying) three artabas of bitter fetch (?). The 3rd year, twentieth day of Epeiph, 20th.
dd510 | 1 | P.Tebt., II.557 (desc. only); P. Customs 387.
dd510_dd | 1 | P.Customs:387
dd518 | 1 | Tebtunis
dd520 | 1 | Customs receipt for the 1 percent and 2 percent tax.
dd546 | 1 | Greek
dd561 | 1 | House at Tebtunis
dd590 | 1 | 2312
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Customhouses
dd655 | 1 | Receipts, Roman Period; Seals (Numismatics)
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/1501
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | Recto
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP04405a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP04405a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP04405a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP04405a
partNumber | 2 | 2
partSide | 2 | verso
partCaption | 2 | Verso
presentationNumber | 2 | 1 | 1
presentationDisplayRes | 2 | 1 | thumbnail
presentationAddress | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP04406a
presentationNumber | 2 | 2 | 2
presentationDisplayRes | 2 | 2 | 75 dpi
presentationAddress | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP04406a
presentationNumber | 2 | 3 | 3
presentationDisplayRes | 2 | 3 | 150 dpi
presentationAddress | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP04406a
presentationNumber | 2 | 4 | 4
presentationDisplayRes | 2 | 4 | 300 dpi
presentationAddress | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP04406a
