cu001 | 1 | berkeley.apis.534
cu035 | 1 | (CU)534
cu090 | 1 | P.Tebt.0284
cu090_orgcode | 1 | CU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu100a | 1 | Lysimachos
cu100a | 2 | Taarmiysis
cu245ab | 1 | Letter from Lysimachos
cu245f | 1 | 28 Dec. 70 B.C.
cu300 | 1 | 1 papyrus ; 10.7 x 6.3 cm.
cu500 | 1 | Margins: top, 1 cm.; left, 0.8 cm.; bottom, 0.3 cm.; on verso, in black ink: T 268.
cu500 | 2 | 12th year of probably Ptolemy XII Neos Dionysos, 20th of the Egyptian month Choiak.
cu500_lin | 1 | 16 lines, on recto along the fibers.
cu500_pal | 1 | Regular cursive
cu500_rec | 1 | Verso empty.
cu500_t | 1 | Lysimachos to his sister Taarmiysis, greeting. It has been decided for me that I should not go down till the 25th; and as Soknebtynis the mighty god wills it I will go with boldness. And do you together with the children … concerning the supplication, if by good fortune … if I go; and take care of yourself so as to remain in good health. Good-bye. The 12th year, Choiak 20.
cu510 | 1 | P.Tebt., II.284; Witkowski, Epistulae privatae, no. 67; White, J.L. Light from Ancient Letters, no. 60.
cu510_dd | 1 | P.Tebt.:2:284
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/534
cu520 | 1 | Lysimachos informs his sister about the outcome of an oracular question.
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T268
cu581 | 1 | On line 15 see BL v. 8, p. 491.
cu590 | 1 | 2268
cu653 | 1 | Oracles
cu653 | 2 | Tebtunis
cu655 | 1 | Private letters, Ptolemaic period
cu655 | 2 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 1 | 70
cuOrgcode | 1 | CU
cuPart_caption | 1 | Recto.
cuPart_caption | 2 | Verso.
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | recto
cuPart_section | 2 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01977a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01977a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01977a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01977a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01978a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01978a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01978a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01978a
perm_group | 1 | w
