cu001 | 1 | berkeley.apis.27
cu035 | 1 | (CU)27
cu090 | 1 | P.Tebt.0645
cu090_orgcode | 1 | CU
cu1004 | 1 | asn
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu100a | 1 | Aphrodeitos
cu100a | 2 | Dionysios
cu100a | 3 | Hermodoros, Son of Isidoros and Tap[--, Grandson of Herakles
cu100a | 4 | Horos, Son of Horos
cu100a | 5 | Isidoros
cu100g | 1 | Resident of Egypt
cu245ab | 1 | Penthemeros certificate
cu245f | 1 | 100/101 A.D.
cu300 | 1 | 1 papyrus ; 7.2 x 7.3 cm.
cu500 | 1 | Margins: left, 0.6 cm.; bottom, 1.2 cm.; in bottom right corner, in red ink "645"; on verso, in black ink: T 454. (twice)
cu500 | 2 | 4th year of the Emperor Trajanus
cu500_lin | 1 | 8 lines, on recto along the fibers.
cu500_pal | 1 | 6 different hands: 1 (lines 1-3); 2 (lines 3-4); 3 (line 5) and 3 signatures
cu500_rec | 1 | Verso empty
cu500_t | 1 | Year four of Imperator Caesar Nerva Trajanus Augustus Germanicus. Has performed for five days for work on dikes for the same fourth year in the desert canal of Polemon, (2nd h.) on behalf of Tebtunis, Horos, son of Horos, grandson of N.N. (3rd h.) for Hermodoros, son of Isidoros, son of Herakles, his mother is Tap[- -]. (4th h.) I, Isidoros, have signed. (5th h.) I, Aphrodeitos, have signed. (6th h.) I, Dionysios, have signed.
cu510 | 1 | P.Tebt., II.645; SB, XVIII, no. 13365
cu510_dd | 1 | SB:18:13365
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/27
cu518 | 1 | Tebtunis
cu520 | 1 | Certificate that Horos, son of Horos, has performed five days of dike corvee.
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T454
cu581 | 1 | Sijpesteijn, P.J. Chr.d'Eg. v. 61 (1986), p. 290-291 (where wrongly P.Tebt.644)
cu590 | 1 | 1485
cu653 | 1 | Dikes (Engineering)
cu653 | 2 | Tebtunis; Desert Canal of Polemon
cu655 | 1 | Certificates
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 100
cuDateValue | 2 | 101
cuOrgcode | 1 | CU
cuPart_caption | 1 | Recto.
cuPart_caption | 2 | Verso.
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | recto
cuPart_section | 2 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00490a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00490a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00490a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00490a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00941a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00941a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00941a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00941a
perm_group | 1 | w
