cu001 | 1 | berkeley.apis.343
cu035 | 1 | (CU)343
cu090 | 1 | P.Tebt.0712
cu090_orgcode | 1 | CU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu100a | 1 | Herakleides
cu100a | 2 | Horos
cu100a | 3 | Petenouris
cu100a | 4 | Petesokonouris
cu100g | 1 | Resident of Egypt
cu100g | 2 | Resident of Egypt
cu245ab | 1 | Official letter of Herakleides : to elders of the farmers of Areos Kome
cu245f | 1 | Late 2nd century B.C.
cu300 | 1 | 1 papyrus ; 16.9 x 18.2 cm.
cu500 | 1 | Verso published
cu500 | 2 | Margins: left, 2.8 cm.; the last two lines written in the top margin. Some traces of paint and stucco on recto.
cu500_lin | 1 | 18 lines, on recto along the fibers.
cu500_pal | 1 | Regular semi-uncial cursive.
cu500_rec | 1 | On verso, along the fibers, address
cu500_t | 1 | Herakleides to Horos and Petenouris and the elders of the cultivators, greeting. In accordance with your request that I should do nothing further up to the 25th until I met Petesokonouris, having now waited instead of the 25th till the 5th of Mecheir without any of you having brought me to …, even so, notwithstanding my annoyance I have had patience and written to you: even now, if you have made any decision about what I had determined to do to Petesokonouris, come and bring him, on the understanding that I take such other steps as you prefer; and do not leave him and the office thus in the lurch and make trial of other measures. If another decision has been made, acquaint me. Goodbye. (P.S. in the top margin) I have written also to Petesokonouris himself the letter sealed up with this ... (Addressed on the verso) To the cultivator at Areos kome.
cu510 | 1 | P.Tebt., III.712
cu510_dd | 1 | P.Tebt.:3.1:712
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/343
cu520 | 1 | Herakleides complains to the elders of the farmers at Areos Kome for waiting too long regarding steps to be taken against Petesokonouris. Meaning and nature of action is not clear.
cu546 | 1 | Greek
cu561 | 1 | mummy cartonnage at Tebtunis 39 (a)
cu590 | 1 | 1211
cu653 | 1 | Farmers
cu653 | 2 | Areos kome
cu655 | 1 | Business letters, Ptolemaic period
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 125
cuDateValue | 2 | 100
cuOrgcode | 1 | CU
cuPart_caption | 1 | Recto.
cuPart_caption | 2 | Verso.
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | recto
cuPart_section | 2 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00806a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00806a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00806a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00806a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01257a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01257a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01257a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01257a
perm_group | 1 | w
