cu001 | 1 | berkeley.apis.1121
cu035 | 1 | (CU)1121
cu090 | 1 | P.Tebt.0607
cu090_orgcode | 1 | CU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu100a | 1 | Apion
cu100a | 2 | Horos
cu100g | 1 | Nomarches
cu100g | 2 | Pragmateutes
cu245ab | 1 | Tax receipt
cu245f | 1 | 11 Sept. 193 or 194 A.D.
cu300 | 1 | 1 papyrus ; 10 x 7.4 cm.
cu500 | 1 | Margins: top, 0.9 cm.; bottom, 6.4 cm. In red ink in lower right corner: 607. In black ink on verso: T146.
cu500 | 2 | 2nd or 3rd year of Septimius Severus, the 14th of the Egyptian month Thoth.
cu500 | 3 | Priest of Soknebtunis
cu500_lin | 1 | 4 lines, on recto along the fibers.
cu500_pal | 1 | Small regular cursive.
cu500_rec | 1 | Verso: empty.
cu500_t | 1 | The ..th year of Lucius Septimius Severus Pertinax Augustus, Thoth 14. Paid to Apion, nomarch of the Arsinoite nome, acting through his representative Horos, for the ten-percent tax on calves, for the village of Tebtunis, by the priests, for the receipts of year 2, on account, twenty drachmas, total 20 dr.
cu510 | 1 | P.Tebt., II.607 (desc. only); SB, v. 12, 10959.
cu510_dd | 1 | SB:12:10959
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/1121
cu520 | 1 | Receipt for payment of ten-percent tax on calves by the priests of Tebtunis.
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T145
cu581 | 1 | Shelton, J.C., ZPE 6 (1970), p. 91.
cu590 | 1 | 2332
cu653 | 1 | Calves; Taxation; Sacrifice; Religion, Egyptian
cu653 | 2 | Arsinoites nomos; Tebtunis
cu655 | 1 | Receipts, Roman Period
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 193
cuDateValue | 2 | 194
cuOrgcode | 1 | CU
cuPart_caption | 1 | Recto
cuPart_caption | 2 | Verso
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | recto
cuPart_section | 2 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02318a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02318a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02318a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02318a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02319a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02319a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02319a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02319a
perm_group | 1 | w
