dd001 | 1 | berkeley.apis.654
dd035 | 1 | (CU)654
dd046 | 1 | 151
dd090 | 1 | P.Tebt.0439
dd100_a | 1 | Zoilos
dd100_4 | 1 | aut
dd245_a | 1 | Petition from Zoilos.
dd245_f | 1 | 15 June 151 A.D.
dd300 | 1 | 1 papyrus ; 16.9 x 12.8 cm.
dd500_rec | 1 | Verso empty.
dd500 | 1 | Margins: left, 2.5 cm.; right, 0.3 cm.; bottom, 5.4 cm.; in bottom right corner, in red ink: 439; on verso, in black ink: T 246.
dd500 | 2 | 14th year of the Emperor Antoninus Pius, the 21st of the Egyptian month Payni.
dd500_lin | 1 | 15 lines, on recto along the fibers.
dd500_pal | 1 | 3 different hands: 1 (lines 1-12), body of petition and date: regular cursive; 2 (line 15), date: small semi-uncials; 3 (lines 16-17), subscription of official: dark semi-uncials.
dd510 | 1 | P.Tebt., II.439 (desc. only)
dd510_dd | 1 | P.Tebt.:2:439
dd520 | 1 | Conclusion of a petition, probably addressed to the epistrategos, following Zoilos' signature and date is the signed bill of indictment of the epistrategos.
dd546 | 1 | Greek
dd561 | 1 | House at Tebtunis T246
dd590 | 1 | 1424
dd590_con | 1 | Three strips of blue gommed paper glued onto verso.
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Themistou meris; Polemonos meris
dd655 | 1 | Petitions, Roman Period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/654
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | Recto.
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01716a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01716a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01716a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01716a
partNumber | 2 | 2
partSide | 2 | verso
partCaption | 2 | Verso.
presentationNumber | 2 | 1 | 1
presentationDisplayRes | 2 | 1 | thumbnail
presentationAddress | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01717a
presentationNumber | 2 | 2 | 2
presentationDisplayRes | 2 | 2 | 75 dpi
presentationAddress | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01717a
presentationNumber | 2 | 3 | 3
presentationDisplayRes | 2 | 3 | 150 dpi
presentationAddress | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01717a
presentationNumber | 2 | 4 | 4
presentationDisplayRes | 2 | 4 | 300 dpi
presentationAddress | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01717a
