dd001 | 1 | berkeley.apis.2434
dd035 | 1 | (CU)2434
dd046 | 1 | -68
dd046 | 2 | -67
dd090 | 1 | P.Tebt.Frag.08,144 Recto
dd245_a | 1 | Account (?)
dd245_f | 1 | 68/67 B.C.?
dd300 | 1 | 1 papyrus ; 17.5 x 6.8 cm.
dd500_rec | 1 | verso empty
dd500 | 1 | recto unpublished
dd500 | 2 | See connections; Muhs & Hoogendijk
dd500_lin | 1 | 10 lines on recto, along the fibers
dd500_pal | 1 | Demotic written with pen
dd520 | 1 | Mentions oil and a Greek born in Egypt.
dd544_n | 1 | Same scribe as P.Tebt.227 possibly part of same account as P.Tebt.Frag 8143-8150, 1731, 8141, and 2490.
dd546 | 1 | Demotic
dd561 | 1 | Crocodile cartonnage at Tebtunis
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd655 | 1 | Accounts, Ptolemaic Period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/2434
