dd001 | 1 | berkeley.apis.9926
dd035 | 1 | (CU)9926
dd046 | 1 | 1
dd046 | 2 | 350
dd090 | 1 | P.Tebt.Suppl.01,696-01,697
dd100_a | 1 | Basile[i]os
dd100_g | 1 | 2x?
dd100_4 | 1 | asn
dd245_a | 1 | Account
dd245_f | 1 | Between A.D. 1 and 350
dd300 | 1 | 2 papyri ; frag.1: 10.5 x 3.1 cm; frag.2: 4.5 x 9.6 cm
dd500_rec | 1 | verso blank
dd500_lin | 1 | 15 lines on recto along fibers
dd500_pal | 1 | small regular cursive
dd520 | 1 | A list of names, some entries followed by numerical symbols.
dd546 | 1 | Greek
dd561 | 1 | house at Tebtunis T388
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/9926
