cu001 | 1 | berkeley.apis.387
cu035 | 1 | (CU)387
cu090 | 1 | P.Tebt.0681
cu090_orgcode | 1 | CU
cu245ab | 1 | Fragment of medical text
cu245f | 1 | 2nd century A.D.
cu300 | 1 | 1 papyrus ; 7 x 3.4 cm.
cu500 | 1 | Margins: top, 1.7 cm.; intercolumnar space, 0.9 cm.; in top margin, in red ink "681"; on verso, in black ink: T 25.
cu500_lin | 1 | 2 cols., (col. 1 ends of lines; col. 2 beginnings of 11 lines) on recto along the fibers.
cu500_pal | 1 | Medium-sized uncials.
cu500_rec | 1 | Verso empty
cu510 | 1 | P.Tebt., II.681
cu510_dd | 1 | P.Tebt.:2:681
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/387
cu520 | 1 | This fragment is part of a medical work (P.Tebt.II.677)focusing on the practical application of medicine and pharmacology against lung diseases.
cu544_n | 1 | This fragment forms part of text of P.Tebt.0677
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T25
cu581 | 1 | Pack, R.A. Greek and Latin literary texts from Greco-Roman Egypt (2nd ed.) no. 2904.
cu590 | 1 | 2340
cu590_con | 1 | This piece should be re-mounted with P.Tebt.0677
cu655 | 1 | Sub-literary papyri; Medical works
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 100
cuDateValue | 2 | 199
cuOrgcode | 1 | CU
cuPart_caption | 1 | UC 2340 Recto.
cuPart_caption | 2 | UC 2340 Verso.
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | recto
cuPart_section | 2 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00896a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00896a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00896a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00896a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01347a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01347a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01347a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01347a
perm_group | 1 | w
