dd001 | 1 | berkeley.apis.1268
dd035 | 1 | (CU)1268
dd046 | 1 | -155
dd090 | 1 | P.Tebt.0952
dd100_a | 1 | Apollonios, Son of Herakleides
dd100_4 | 1 | aut
dd100_a | 2 | Zopyros, Son of Meleager
dd100_4 | 2 | asn
dd100_a | 3 | Antipatros
dd100_4 | 3 | asn
dd245_a | 1 | Apollonios' petition : to the superintendent of the syntaxis.
dd245_f | 1 | ca. 155 B.C.
dd300 | 1 | 1 papyrus ; 23.5 x 10 cm.
dd500_rec | 1 | Verso empty
dd500 | 1 | Top margin: 2.4 cm.
dd500_lin | 1 | 28 lines, on recto along the fibers.
dd510 | 1 | P.Tebt., III.952 (desc.)
dd510_dd | 1 | P.Tebt.:3.2:952
dd520 | 1 | Apollonios complains that he has not received satisfaction for a complaint against a cleruch who owed him a quantity of wheat, and asks that further measures be taken.
dd546 | 1 | Greek
dd561 | 1 | Mummy cartonnage at Tebtunis 13
dd590 | 1 | 1342
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Wheat; Complaints (Civil procedure)
dd655 | 1 | Petitions, Ptolemaic Period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/1268
