dd001 | 1 | berkeley.apis.9912
dd035 | 1 | (CU)9912
dd046 | 1 | 1
dd046 | 2 | 350
dd090 | 1 | P.Tebt.Suppl.01,676-01,680
dd100_a | 1 | l.3 Asklas
dd100_g | 1 | father
dd100_4 | 1 | asn
dd245_a | 1 | will?
dd245_f | 1 | Between A.D. 1 and 350
dd300 | 1 | 6 papyri ; frag.1: 11.7 x 12.4 cm; frag.2: 11.1 x 6.9 cm; frag.3: 6 x 4.2 cm; frag.4: 6 x 2.9 cm; frag.5: 3.3 x 2.2 cm; frag.6: 2.2 x 1.3 cm
dd500_rec | 1 | verso blank
dd500_lin | 1 | 2 cols. (31+ lines) on recto along fibers
dd500_pal | 1 | small neat cursive
dd520 | 1 | Date at the first line: tou kuriou pharmouthi... l.2: tou meridos tou arsinoitou l.3 ]ros asklatos l.4 os (eton) mb (42) asemos "hyparchousan" at one point, "suka" and "aulh" in the second column, a freed woman (probably) at another point, "loiphn" appears several times, and "metria" appears once.
dd546 | 1 | Greek
dd561 | 1 | house at Tebtunis T230
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Arsinoites nomos; col.2 Sukaminos
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/9912
