dd001 | 1 | berkeley.apis.644
dd035 | 1 | (CU)644
dd046 | 1 | 145
dd090 | 1 | P.Tebt.0355
dd245_a | 1 | Tax receipts.
dd245_f | 1 | ca. 145 A.D.
dd300 | 1 | 1 papyrus ; 20.5 x 5.2 cm.
dd500_rec | 1 | Verso empty, except for three fragmentary lines at bottom.
dd500_lin | 1 | 18 lines, on recto along the fibers.
dd510 | 1 | P.Tebt., II.355
dd510_dd | 1 | P.Tebt.:2:355
dd520 | 1 | Two receipts, issued apparently to different persons, for various taxes, including charge for guards, and for guard boats, written soon after the 7th year of the Emperor Antininus.
dd546 | 1 | Greek
dd561 | 1 | House at Tebtunis (no T-number)
dd581 | 1 | On line 5, see BL v. 8, p. 492; on line 13, see BL v. 9, p. 356; on line 17, see BL v. 2.2, p. 170 repeating BL v. 1, p. 427.
dd590 | 1 | 1385
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Guards' taxes
dd655 | 1 | Receipts, Roman Period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/644
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | Recto.
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01754a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01754a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01754a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01754a
partNumber | 2 | 2
partSide | 2 | verso
partCaption | 2 | Verso.
presentationNumber | 2 | 1 | 1
presentationDisplayRes | 2 | 1 | thumbnail
presentationAddress | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01755a
presentationNumber | 2 | 2 | 2
presentationDisplayRes | 2 | 2 | 75 dpi
presentationAddress | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01755a
presentationNumber | 2 | 3 | 3
presentationDisplayRes | 2 | 3 | 150 dpi
presentationAddress | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01755a
presentationNumber | 2 | 4 | 4
presentationDisplayRes | 2 | 4 | 300 dpi
presentationAddress | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01755a
