cu001 | 1 | berkeley.apis.8894
cu035 | 1 | (CU)8894
cu090 | 1 | P.Tebt.Suppl.01,241 (1)
cu090_orgcode | 1 | CU
cu245ab | 1 | Documentary text
cu300 | 1 | 1 papyrus ; 33.6 x 24.5 cm.
cu500 | 1 | Top margin 5 cm., bottom margin 9.7 cm.
cu500 | 2 | Between 1 and 350 A.D.
cu500_lin | 1 | 19 lines, on recto along the fibres
cu500_rec | 1 | Verso: Inaros epic, P.Tebt.Suppl.01,241 (2)
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/8894
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T228
cu590_con | 1 | OUT TO Conservation/PhotoLab 03/15/06
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 1
cuDateValue | 2 | 350
cuOrgcode | 1 | CU
perm_group | 1 | w
