dd001 | 1 | berkeley.apis.233
dd035 | 1 | (CU)233
dd046 | 1 | 117
dd046 | 2 | 138
dd090 | 1 | P.Tebt.Frag.21,016
dd245_a | 1 | Declaration of death
dd245_f | 1 | 117-138 A.D.
dd300 | 1 | 1 papyrus ; 8.4 x 6.5 cm.
dd500_rec | 1 | Verso empty
dd500 | 1 | Reign of Hadrianus
dd500_lin | 1 | 8 lines, on recto along the fibers.
dd500_pal | 1 | Regular cursive
dd500_tra | 1 | … N.N., registered at the same city, died in the present month Tybi of the present year of Trajanus Hadrianus Caesar the Lord. I therefore submit the declaration so that this name may be removed and inscribed in the list of the deceased as in similar cases.
dd510 | 1 | SB, XX, no. 15011
dd510_dd | 1 | SB:20:15011
dd518 | 1 | Tebtunis
dd520 | 1 | Conclusion of a declaration attesting the death of an unknown person.
dd546 | 1 | Greek
dd581 | 1 | Molyviati-Toptsi, U. ZPE v. 77 (1989), p. 281-282.
dd590 | 1 | -
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Death
dd655 | 1 | Declarations, Roman Period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/233
