dd001 | 1 | berkeley.apis.299
dd035 | 1 | (CU)299
dd046 | 1 | 216
dd090 | 1 | P.Tebt.0333
dd100_a | 1 | Aurelia Tisais, daughter of Kalabalis and Tais
dd100_4 | 1 | aut
dd100_a | 2 | Marcellinus, Aurelius Julius
dd100_g | 2 | Centurion
dd100_4 | 2 | asn
dd100_a | 3 | Tais
dd100_4 | 3 | asn
dd100_a | 4 | Kalabalis
dd100_4 | 4 | asn
dd100_a | 5 | Neilos, brother of Tisais
dd100_4 | 5 | asn
dd100_a | 6 | Aurelius Idiomachos
dd100_4 | 6 | asn
dd245_a | 1 | Petition to the Centurion
dd245_f | 1 | 22 Dec. 216 A.D.
dd300 | 1 | 1 papyrus ; 22.1 x 12.2 cm.
dd500_rec | 1 | Verso: traces of lines 16-18 (apparently the ink was still wet when the papyrus was rolled from right to left). Verso otherwise empty
dd500 | 1 | Margins: top, 1 cm.; left, 2 cm.; bottom, 6.5 cm.; on verso, in black ink: T 7 (3 times).
dd500 | 2 | 25th year of the Emperor Caracalla, 26th of the Egyptian month Choiak.
dd500_lin | 1 | 21 lines, on recto along the fibers.
dd500_pal | 1 | Two hands: 1, lines 1-15 and 19-21 (body of petition and date) regular rather large cursive; 2, lines 16-18 (postscript), regular cursive, very smudged.
dd500_tra | 1 | To Aurelius Julius Marcellinus, centurion, from Aurelia Tisais, whose mother is Tais, formerly styled as an inhabitant of the village of Tebtunis in the division of Polemon. My father Kalabalis, Sir, who is a hunter, set off with my brother Neilos as long ago as the 3rd of the present month to hunt hares, and up to this time they have not returned. I therefore suspect that they have met with some accident, and I present this statement making this matter known to you, in order that if they have met with any accident the persons found guilty may be held accountable to me. (2nd h.) I happen to have also presented a copy of this notice to the strategos Aurelius Idiomachos to be placed on the register. (1st h.) The 25th year of Marcus Aurelius Severus Antoninus Caesar the Lord, Choiak 26.
dd510 | 1 | P.Tebt., II.333; Chrest. Mitt., no. 115
dd510_dd | 1 | P.Tebt.:2:333
dd520 | 1 | Aurelia Tisais, daughter of Kalibalis and Tais, petitions Julius Marcellinus, centurion, stating that her father and brother had disappeared on a hunting trip.
dd546 | 1 | Greek
dd561 | 1 | House at Tebtunis T7
dd581 | 1 | On line 17 see BL v. 9, p. 356.
dd590 | 1 | 1396
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Accidents; Fathers; Daughters
dd653 | 2 | Tebtunis; Polemonos meris
dd655 | 1 | Petitions, Roman period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/299
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | UC 1396 Recto.
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00762a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00762a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00762a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00762a
partNumber | 2 | 2
partSide | 2 | verso
partCaption | 2 | UC 1396 Verso.
presentationNumber | 2 | 1 | 1
presentationDisplayRes | 2 | 1 | thumbnail
presentationAddress | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01213a
presentationNumber | 2 | 2 | 2
presentationDisplayRes | 2 | 2 | 75 dpi
presentationAddress | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01213a
presentationNumber | 2 | 3 | 3
presentationDisplayRes | 2 | 3 | 150 dpi
presentationAddress | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01213a
presentationNumber | 2 | 4 | 4
presentationDisplayRes | 2 | 4 | 300 dpi
presentationAddress | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01213a
