dd001 | 1 | berkeley.apis.1006
dd035 | 1 | (CU)1006
dd046 | 1 | -150
dd090 | 1 | P.Tebt.0783 Verso
dd245_a | 1 | Account
dd245_f | 1 | Mid 2nd century B.C.
dd300 | 1 | 4 papyri ; 18.4 x 20.6 cm. and smaller.
dd500_rec | 1 | On recto: Petition and Account
dd500 | 1 | Petition on recto published; account unpublished.
dd500 | 2 | Space between col. I and II, 2.2 cm.
dd500_lin | 1 | 2 cols. (14+ lines) on verso across the fibers.
dd500_pal | 1 | Large, rather dark regular cursive.
dd510 | 1 | P.Tebt., III.783 (desc. only)
dd510_dd | 1 | P.Tebt.:3.1:783
dd520 | 1 | Account listing amounts in money.
dd546 | 1 | Greek
dd561 | 1 | Mummy cartonnage at Tebtunis 15
dd590 | 1 | 1249
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd655 | 1 | Accounts, Ptolemaic Period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/1006
