cu001 | 1 | berkeley.apis.310
cu035 | 1 | (CU)310
cu090 | 1 | P.Tebt.0412
cu090_orgcode | 1 | CU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu100a | 1 | Damas
cu100a | 2 | Artemidora, sister of Damas
cu100g | 1 | Hyperetes
cu245ab | 1 | Damas' letter : to his sister Artemidora
cu245f | 1 | Late 2nd century A.D.
cu300 | 1 | 1 papyrus ; 6.7 x 22.9 cm.
cu500 | 1 | Margins: top, 1.3 cm.; left, 2.2 cm.; bottom, 1.6 cm.
cu500_lin | 1 | 5 lines, on recto across the fibers.
cu500_pal | 1 | Regular cursive.
cu500_rec | 1 | Verso empty.
cu500_t | 1 | Damas, assistant, to Artemidora my sister, greeting. Before all else I make supplication for you every day. Please come up to the metropolis at the New Year, since I also am coming up to the city. Salute your mother and your father. I pray for your health.
cu510 | 1 | P.Tebt., II.412; Hunt, A.S. Sel.pap., v. 1, no. 128
cu510_dd | 1 | P.Tebt.:2:412
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/310
cu520 | 1 | Damas asks his sister Artemidora to meet him at the Metropolis (i.e., Arsinoe) at the New Year.
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis (no T-number)
cu590 | 1 | 1375
cu590_prs | 1 | Mounted with: P.Tebt.409 (Dorion's letter : to Akousilaos)
cu655 | 1 | Private letters, Roman period
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 175
cuDateValue | 2 | 199
cuOrgcode | 1 | CU
cuPart_caption | 1 | UC 1375 Recto.
cuPart_caption | 2 | UC 1375 Verso.
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | recto
cuPart_section | 2 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00773a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00773a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00773a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00773a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01224a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01224a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01224a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01224a
perm_group | 1 | w
