dd001 | 1 | berkeley.apis.105
dd035 | 1 | (CU)105
dd046 | 1 | -113
dd046 | 2 | -112
dd090 | 1 | P.Tebt.0075 (1)
dd100_a | 1 | Menches
dd100_g | 1 | Komogrammateus of Kerkeosiris
dd100_4 | 1 | aut
dd245_a | 1 | Register of crops of crown land
dd245_f | 1 | 113/112 B.C.
dd300 | 1 | 3 papyri ; Frag. 1: 29.4 x 15.5 cm.; Frag. 2: 28.7 x 19.5 cm.; Frag. 3: 28.5 x 21.2 cm.
dd500_rec | 1 | (2): Report concerning cleruchic land; (3): Register of unusable crown land.
dd500 | 1 | Recto (2) and (3) and verso published
dd500 | 2 | Top margin: 3.5 cm.; Fr. 2 has a sheet join 3.4 cm. from left edge (overlap 1.8 cm.).
dd500 | 3 | Menches archive
dd500_lin | 1 | 3 cols. (35 lines) on recto along the fibers.
dd500_pal | 1 | Regular cursive
dd510 | 1 | P.Tebt., I.75 (only last two lines published)
dd510_dd | 1 | P.Tebt.:1:75
dd518 | 1 | Kerkeosiris
dd520 | 1 | Register of the various crops grown on crown lands at Kerkeosiris, with statement of the amount of rent due to the crown in 113/112 B.C.
dd544_n | 1 | Similar registers are P.Tebt.66, 67, 68, 69, 70, 153, 154, and 155
dd546 | 1 | Greek
dd561 | 1 | crocodile cartonnage at Tebtunis 17.7
dd581 | 1 | P. L. Bat. 29, p. 99 and 103-105
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Crops; Crown land
dd653 | 2 | Kerkeosiris
dd655 | 1 | Registers of land, Ptolemaic period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/105
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | Frame 1/7 Recto.
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00568a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00568a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00568a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00568a
partNumber | 2 | 2
partSide | 2 | verso
partCaption | 2 | Frame 1/7 Verso.
presentationNumber | 2 | 1 | 1
presentationDisplayRes | 2 | 1 | thumbnail
presentationAddress | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01019a
presentationNumber | 2 | 2 | 2
presentationDisplayRes | 2 | 2 | 75 dpi
presentationAddress | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01019a
presentationNumber | 2 | 3 | 3
presentationDisplayRes | 2 | 3 | 150 dpi
presentationAddress | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01019a
presentationNumber | 2 | 4 | 4
presentationDisplayRes | 2 | 4 | 300 dpi
presentationAddress | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01019a
partNumber | 3 | 3
partSide | 3 | recto
partCaption | 3 | Frame 2/7 Recto.
presentationNumber | 3 | 1 | 1
presentationDisplayRes | 3 | 1 | thumbnail
presentationAddress | 3 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01524a
presentationNumber | 3 | 2 | 2
presentationDisplayRes | 3 | 2 | 75 dpi
presentationAddress | 3 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01524a
presentationNumber | 3 | 3 | 3
presentationDisplayRes | 3 | 3 | 150 dpi
presentationAddress | 3 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01524a
presentationNumber | 3 | 4 | 4
presentationDisplayRes | 3 | 4 | 300 dpi
presentationAddress | 3 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01524a
partNumber | 4 | 4
partSide | 4 | verso
partCaption | 4 | Frame 2/7 Verso.
presentationNumber | 4 | 1 | 1
presentationDisplayRes | 4 | 1 | thumbnail
presentationAddress | 4 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01525a
presentationNumber | 4 | 2 | 2
presentationDisplayRes | 4 | 2 | 75 dpi
presentationAddress | 4 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01525a
presentationNumber | 4 | 3 | 3
presentationDisplayRes | 4 | 3 | 150 dpi
presentationAddress | 4 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01525a
presentationNumber | 4 | 4 | 4
presentationDisplayRes | 4 | 4 | 300 dpi
presentationAddress | 4 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01525a
partNumber | 5 | 5
partSide | 5 | recto
partCaption | 5 | Frame 3/7 Recto.
presentationNumber | 5 | 1 | 1
presentationDisplayRes | 5 | 1 | thumbnail
presentationAddress | 5 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01526a
presentationNumber | 5 | 2 | 2
presentationDisplayRes | 5 | 2 | 75 dpi
presentationAddress | 5 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01526a
presentationNumber | 5 | 3 | 3
presentationDisplayRes | 5 | 3 | 150 dpi
presentationAddress | 5 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01526a
presentationNumber | 5 | 4 | 4
presentationDisplayRes | 5 | 4 | 300 dpi
presentationAddress | 5 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01526a
partNumber | 6 | 6
partSide | 6 | verso
partCaption | 6 | Frame 3/7 Verso.
presentationNumber | 6 | 1 | 1
presentationDisplayRes | 6 | 1 | thumbnail
presentationAddress | 6 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01527a
presentationNumber | 6 | 2 | 2
presentationDisplayRes | 6 | 2 | 75 dpi
presentationAddress | 6 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01527a
presentationNumber | 6 | 3 | 3
presentationDisplayRes | 6 | 3 | 150 dpi
presentationAddress | 6 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01527a
presentationNumber | 6 | 4 | 4
presentationDisplayRes | 6 | 4 | 300 dpi
presentationAddress | 6 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01527a
