cu001 | 1 | berkeley.apis.204
cu035 | 1 | (CU)204
cu090 | 1 | P.Tebt.0634
cu090_orgcode | 1 | CU
cu1004 | 1 | asn
cu100a | 1 | Sotas, Son of Didymos
cu245ab | 1 | Tax receipt
cu245f | 1 | 16 May 149 A.D.
cu300 | 1 | 1 papyrus ; 8.5 x 9 cm.
cu500 | 1 | Margins: top, 2 cm.; left, 2 cm.; bottom, 2.2 cm.; in top margin, in red ink, "634"; on verso, in black ink: T 709.
cu500 | 2 | 12th year of the Emperor Antoninus Pius, 21st of the Egyptian month Pachon
cu500_lin | 1 | 6 lines, on recto along the fibers.
cu500_pal | 1 | small regular cursive
cu500_rec | 1 | verso empty
cu500_t | 1 | Year 12 of Imperator Caesar Titus Aelius Hadrianus Antoninus Augustus Pius, Pachon 21 for the arithmesis of Pachon. Paid by Sotas son of Didymos the son of Pathermouthios, his mother being Sote( ) for poll-tax of the twelfth year in the Treasury district twenty drachmas, that is, 20, with additional payments of ten bronze obols.
cu510 | 1 | P.Tebt., II.634; SB XX, no. 141138
cu510_dd | 1 | SB:20:14138
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/204
cu520 | 1 | Receipt for poll tax paid by Sotas
cu544_n | 1 | written by the same hand as P.Tebt. 618, 628 and possibly P.Fay. 353
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T709
cu581 | 1 | Sijpesteijn, P.J. Aegyptus 71 (1991), p. 29 with photo (Pl. 3)
cu590 | 1 | 1484
cu653 | 1 | Poll tax
cu655 | 1 | Receipts, Roman period
cu655 | 2 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 149
cuOrgcode | 1 | CU
cuPart_caption | 1 | Recto.
cuPart_caption | 2 | Verso.
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | recto
cuPart_section | 2 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00671a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00671a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00671a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00671a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01122a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01122a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01122a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01122a
perm_group | 1 | w
