cu001 | 1 | berkeley.apis.61
cu035 | 1 | (CU)61
cu090 | 1 | P.Tebt.0288
cu090_orgcode | 1 | CU
cu1004 | 1 | aut
cu100a | 1 | Aurelius Sereniskos alias Hermesias
cu100g | 1 | Strategos
cu245ab | 1 | Proclamation of a strategos
cu245f | 1 | 3 Feb. 226 A.D.
cu300 | 1 | 1 papyrus ; 35 x 19 cm.
cu500 | 1 | Margins: top, 2.5 cm.; left, 3.2 cm.; bottom, 5 cm.; between lines 17 and 18 a blank space of 6 cm. High; on verso, in black ink: T 141 (twice).
cu500 | 2 | 5th year of the Emperor Severus Alexander, 9th of the Egyptian month Mecheir
cu500_lin | 1 | 20 lines, on recto along the fibers.
cu500_pal | 1 | Fairly large regular cursive
cu500_rec | 1 | Verso empty
cu500_t | 1 | Aurelius Sereniskos also called Hermesias, strategos of the divisions of Themistos and Polemon of the Arsinoite nome. It is hereby proclaimed to the collectors of revenues from the cultivators and owners for the 5th year that they shall observe the survey of the crops now auspiciously in progress, and shall set down all the land sown with both wheat and other produce, and the names of the public cultivators and owners who have planted the different kinds, so that there be no fraud against the most sacred treasury on the part of the laographoi or tax-collectors, since you not less than they will incur the risk of any misdemeanor or irregularity be proved to have occurred, no pretext with regard to the collection being left to you touching the identification (of the crops); and moreover send in a duplicate of the survey-list which you make. The 5th year of Imperator Caesar Marcus Aurelius Severus Alexander Pius Felix Augustus, Mecheir 9.
cu510 | 1 | P.Tebt., II.288; Hunt, A.S. Sel.pap., v. 2, no. 229; Chrest. Wilck., no. 266.
cu510_dd | 1 | P.Tebt.:2:288
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/61
cu520 | 1 | Proclamation by Aurelius Sereniskos, strategos of the divisions of Themistos and Polemon of the Arsinoite nome, addressed to the collectors of the grain revenues ordering them to draw up a survey of the crops and the owners of them.
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T141
cu590 | 1 | 1410
cu653 | 1 | Politics and government, 30 B.C.-640 A.D.
cu653 | 2 | Themistou meris; Polemonos meris; Arsinoites nomos
cu655 | 1 | Official legal documents, Roman Period
cu655 | 2 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 226
cuOrgcode | 1 | CU
cuPart_caption | 1 | Recto
cuPart_caption | 2 | Verso
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | recto
cuPart_section | 2 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP04188a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP04188a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP04188a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP04188a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP04189a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP04189a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP04189a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP04189a
perm_group | 1 | w
