cu001 | 1 | berkeley.apis.1061
cu035 | 1 | (CU)1061
cu090 | 1 | P.Tebt.0838
cu090_orgcode | 1 | CU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu100a | 1 | Herakleides
cu100a | 2 | Apollodoros.
cu100g | 1 | Sitologos
cu245ab | 1 | Receipt for guard-tax (phylakitikon)
cu245f | 1 | 139 B.C.
cu300 | 1 | 2 papyri ; Frag. 1, 15.3 x 6.1 cm.; Frag. 2, 19.2 x 6.3 cm.
cu500 | 1 | Margins: top, 2.4 cm.; bottom, 8.5 cm.
cu500 | 2 | 31st year of Ptolemy VIII Euergetes II, in the Egyptian month Mesore.
cu500_lin | 1 | 16 lines, on recto along the fibers.
cu500_pal | 1 | Regular cursive.
cu500_rec | 1 | Verso empty.
cu500_t | 1 | Apollodoros and Herakleides. Herakleides, sitologos of … in the Suburb (Peri Polin), reports that he has received in Mesore, in conjunction with Dorion …, from Theomnestos son of Timarchos, spearman, on land at Niseus for guard-tax of the 31st year … artabas of wheat. (7 more lines.)
cu510 | 1 | P.Tebt., III.838
cu510_dd | 1 | P.Tebt.:3.2:838
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/1061
cu518 | 1 | Herakleopolis
cu520 | 1 | Heliodoros reports the receipt of payments for guard-tax.
cu546 | 1 | Greek
cu561 | 1 | Mummy cartonnage at Tebtunis 38
cu590 | 1 | 2104
cu653 | 1 | Guards' taxes; Phylakitikon tax
cu653 | 2 | Peri Polin
cu655 | 1 | Receipts, Ptolemaic Period
cu655 | 2 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 1 | 139
cuOrgcode | 1 | CU
cuPart_caption | 1 | Recto
cuPart_caption | 2 | Verso
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | recto
cuPart_section | 2 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02530a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02530a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02530a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02530a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02531a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02531a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02531a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02531a
perm_group | 1 | w
