cu001 | 1 | berkeley.apis.1095
cu035 | 1 | (CU)1095
cu090 | 1 | P.Tebt.0554 Recto
cu090_orgcode | 1 | CU
cu245ab | 1 | Account of persons paying temple tax.
cu245f | 1 | Late 1st century B.C.
cu300 | 1 | 6 papyri ; 15.3 x 11 cm. or smaller.
cu500 | 1 | Verso unpublished.
cu500 | 2 | Top margin: 1.5 cm.; space between col. I and II: 2.5 cm.; In red ink at top: 554.
cu500_lin | 1 | 3+ cols., on recto along the fibers.
cu500_pal | 1 | Irregular, rather dark semi-uncial.
cu500_rec | 1 | Verso: Account
cu510 | 1 | P.Tebt., II.554 (desc. only)
cu510_dd | 1 | P.Tebt.:2:554
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/1095
cu520 | 1 | Account listing people who pay their temple tax (logeia).
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T382
cu590 | 1 | 1463
cu653 | 1 | Temple taxation
cu655 | 1 | Accounts, Roman Period
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 25
cuDateValue | 2 | 1
cuOrgcode | 1 | CU
cuPart_caption | 1 | Recto
cuPart_no | 1 | 1
cuPart_section | 1 | recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02266a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02266a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02266a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02266a
perm_group | 1 | w
