dd001 | 1 | berkeley.apis.260
dd035 | 1 | (CU)260
dd046 | 1 | 200
dd046 | 2 | 225
dd090 | 1 | P.Tebt.0277 Recto
dd245_a | 1 | Register of land
dd245_f | 1 | Early 3rd century A.D.
dd300 | 1 | 1 papyrus ; 18 x 9.7 cm.
dd500_rec | 1 | On verso, Astrological work : fragment
dd500 | 1 | Verso published
dd500 | 2 | Margins, right, 1 cm.; bottom, 2.2 cm.; in top right corner, in black ink: T 727.
dd500_lin | 1 | 21 lines, on recto along the fibers.
dd500_pal | 1 | Regular cursive
dd500_tra | 1 | and with Hermes and Ares, ring-makers…measurers, key-makers, utensil-crafters, and with…cooks, bakers, preparers (?) …being added to... …potters, and if even Dios[kouroi (?)... …and with Kronos, linen-weavers, hair-[dressers?]…embroiderers, hierophants …Ares [produces?] barbers (?), hair-dressers (epimeletas)... …cobblers, stitchers, cloak-makers (himatio[poious]?)... …and with Zeus and Helios shining golden (chryso[poi]?)... …of master-builders... …and of Ares for public... on the one hand, in the boundaries of Kronos are actived…givings and takings, and of Hermes…hirers of women, and of Kronos brothel-keepers, and upon the...
dd510 | 1 | P.Tebt., II.277
dd510_dd | 1 | P.Tebt.:2:277
dd520 | 1 | Fragment of a register of land, giving a list of persons leasing land and the rents paid.
dd546 | 1 | Greek
dd561 | 1 | House at Tebtunis T727
dd590 | 1 | 2224
dd590_con | 1 | Three pieces of gummed paper (one blue) used in restoration.
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Rent
dd653 | 2 | Tebtunis
dd655 | 1 | Registers of land, Roman Period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/260
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | UC 2224 Recto.
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00723a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00723a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00723a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00723a
