dd001 | 1 | berkeley.apis.74
dd035 | 1 | (CU)74
dd046 | 1 | 133
dd090 | 1 | P.Tebt.0522
dd100_a | 1 | Herakleides son of Didymos
dd100_g | 1 | Resident of Arsinoe
dd100_4 | 1 | aut
dd100_a | 2 | Melas
dd100_g | 2 | Komogrammateus of Ibion Eikosipentarouron
dd100_4 | 2 | asn
dd100_a | 3 | Ptolemaios
dd100_4 | 3 | asn
dd100_a | 4 | Tyrannos
dd100_4 | 4 | asn
dd245_a | 1 | Census declaration
dd245_f | 1 | 4 Aug. 133 A.D.
dd300 | 1 | 1 papyrus ; 12.7 x 8.4 cm.
dd500_rec | 1 | Verso empty
dd500 | 1 | Top margin: 2 cm.; in top left corner, in red ink "522"; on verso, in black ink: T 206.
dd500 | 2 | 17th year of the Emperor Hadrianus, 11th of the Egyptian month Mesore
dd500_lin | 1 | 16 lines, on recto along the fibers.
dd500_pal | 1 | 2 hands: 1, body of declaration (lines 1-14); 2, signature of Basilikos Grammateus (lines 14-16)
dd500_tra | 1 | To Ptolemaios, Basilikos Grammateus of the Division of Polemon of the Arsinoite nome, discharging also the duties of strategos of the same division, and to Melas, komogrammateus of Ibion Eikosipentarouron, from Herakleides, son of Didymos the younger the son of Herodes, formerly gymnasiarch, Katoikos of the 6475, registered in the Quarter of Tharapeia, in absentia, through his agent, Tyrannos … There belongs to Herakleides in the village (?) Ibion Eikosipentarouron one-half portion of a house and courtyard and open-air hall and storage vaults and other appurtenances which I register for the house-by-house registration of the past 16th year of Hadrianus Caesar the Lord, in which no one is registered. (2nd h.) Ptolemaios, Basilikos Grammateus, discharging also the office of strategos. Year 17 of Hadrianus Caesar the Lord, Mesore 11.
dd510 | 1 | P.Tebt., II.522; SB, XII, no. 10842
dd510_dd | 1 | SB:12:10842
dd518 | 1 | Arsinoe?
dd520 | 1 | Herakleides declares his property in Ibion Eikosipentarouron
dd546 | 1 | Greek
dd561 | 1 | House at Tebtunis T206
dd581 | 1 | Keenan, J.G. Chr.d'Eg. 46 (1971), p. 125 with photo (Fig. 1)
dd590 | 1 | 2297
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Census -- 133 A.D.; Real property
dd653 | 2 | Polemonos meris; Arsinoites nomos; Ibion Eikosipentarouron
dd655 | 1 | Declarations, Roman Period; Census records, Roman Period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/74
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | UC 2297 Recto.
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00537a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00537a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00537a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00537a
partNumber | 2 | 2
partSide | 2 | verso
partCaption | 2 | UC 2297 Verso.
presentationNumber | 2 | 1 | 1
presentationDisplayRes | 2 | 1 | thumbnail
presentationAddress | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00988a
presentationNumber | 2 | 2 | 2
presentationDisplayRes | 2 | 2 | 75 dpi
presentationAddress | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00988a
presentationNumber | 2 | 3 | 3
presentationDisplayRes | 2 | 3 | 150 dpi
presentationAddress | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00988a
presentationNumber | 2 | 4 | 4
presentationDisplayRes | 2 | 4 | 300 dpi
presentationAddress | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00988a
