dd001 | 1 | berkeley.apis.502
dd035 | 1 | (CU)502
dd046 | 1 | -115
dd046 | 2 | -114
dd090 | 1 | P.Tebt.0088
dd100_a | 1 | Menches
dd100_g | 1 | Komogrammateus of Kerkeosiris
dd100_4 | 1 | aut
dd245_a | 1 | Register of shrines at Kerkeosiris
dd245_f | 1 | 115/114 B.C.
dd300 | 1 | 1 papyrus ; 31 x 40.5 cm.
dd500_rec | 1 | Verso empty
dd500 | 1 | Beginning of roll (protokollon preserved).
dd500 | 2 | 3rd year of Ptolemy IX Soter II.
dd500 | 3 | Menches archive
dd500_lin | 1 | 3 cols. (63 lines) on recto along the fibers.
dd510 | 1 | P.Tebt., I.88; Chrest. Wilck., no. 67.
dd510_dd | 1 | P.Tebt.:1:88
dd518 | 1 | Kerkeosiris
dd520 | 1 | Statement of shrines at Kerkeosiris with their priesthoods and property.
dd546 | 1 | Greek
dd561 | 1 | Crocodile cartonnage at Tebtunis 27.19
dd590 | 1 | 3048
dd590_con | 1 | OUT TO CONSERVATION 13 Dec 04 PJR
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Temple property; Temples
dd653 | 2 | Kerkeosiris
dd655 | 1 | Registers, Ptolemaic Period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/502
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | Recto
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP04584a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP04584a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP04584a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP04584a
partNumber | 2 | 2
partSide | 2 | verso
partCaption | 2 | Verso
presentationNumber | 2 | 1 | 1
presentationDisplayRes | 2 | 1 | thumbnail
presentationAddress | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP04585a
presentationNumber | 2 | 2 | 2
presentationDisplayRes | 2 | 2 | 75 dpi
presentationAddress | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP04585a
presentationNumber | 2 | 3 | 3
presentationDisplayRes | 2 | 3 | 150 dpi
presentationAddress | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP04585a
presentationNumber | 2 | 4 | 4
presentationDisplayRes | 2 | 4 | 300 dpi
presentationAddress | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP04585a
