dd001 | 1 | berkeley.apis.830
dd035 | 1 | (CU)830
dd046 | 1 | 100
dd046 | 2 | 199
dd090 | 1 | P.Tebt.0511
dd245_a | 1 | Contract for the sale of land.
dd245_f | 1 | 2nd century A.D.
dd300 | 1 | 1 papyrus ; 20.1 x 24.5 cm.
dd500_rec | 1 | Verso empty.
dd500 | 1 | Bottom margin: 11 cm. In red ink in bottom margin: 511. On verso, in black ink: T627.
dd500 | 2 | 2011 BYU Summer School text
dd500_lin | 1 | 15 lines, on recto along the fibers.
dd500_pal | 1 | Small regular cursive.
dd510 | 1 | P.Tebt., II.511 (desc. only)
dd510_dd | 1 | P.Tebt.:2:511
dd546 | 1 | Greek
dd561 | 1 | House at Tebtunis T627
dd590 | 1 | 1448
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Land sales
dd655 | 1 | Contracts, Roman Period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/830
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | Recto
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02208a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02208a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02208a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02208a
partNumber | 2 | 2
partSide | 2 | verso
partCaption | 2 | Verso
presentationNumber | 2 | 1 | 1
presentationDisplayRes | 2 | 1 | thumbnail
presentationAddress | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02209a
presentationNumber | 2 | 2 | 2
presentationDisplayRes | 2 | 2 | 75 dpi
presentationAddress | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02209a
presentationNumber | 2 | 3 | 3
presentationDisplayRes | 2 | 3 | 150 dpi
presentationAddress | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02209a
presentationNumber | 2 | 4 | 4
presentationDisplayRes | 2 | 4 | 300 dpi
presentationAddress | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02209a
