dd001 | 1 | berkeley.apis.102
dd035 | 1 | (CU)102
dd046 | 1 | -152
dd090 | 1 | P.Tebt.0843 (1)
dd100_a | 1 | Chairemon
dd100_g | 1 | Epimeletes
dd100_4 | 1 | asn
dd100_a | 2 | Dionysios
dd100_4 | 2 | asn
dd245_a | 1 | Register of land
dd245_f | 1 | About 152 B.C.
dd300 | 1 | 1 papyrus ; 23.9 x 15.6 cm.
dd500_rec | 1 | Below: Receipts for fodder (P.Tebt.843(2)); On verso, Account of payments in kind (P.Tebt.1053)
dd500 | 1 | Recto published; verso described
dd500 | 2 | Left margin: 2.3 cm.; writing much faded due to remains of stucco
dd500_lin | 1 | 10 lines, on recto along the fibers.
dd500_pal | 1 | Small regular cursive
dd500_tra | 1 | … land leased for copper money by Chairemon, one of the diadochi and epimeletes, 390 1/16 1/32 arouras, of which 30 arouras belong to the land leased for grain, yielding, at 1 artaba, 30 artabas, the remainder being 360 1/16 1/32 ar., of which there is a lease till the 28th year to Dionysios at a total for the nome of 1 talent 4500 drachmas of copper.
dd510 | 1 | P.Tebt., III.843, lines 1-10
dd510_dd | 1 | P.Tebt.:3.2:843
dd520 | 1 | Part of an account concerning crown land.
dd546 | 1 | Greek
dd561 | 1 | mummy cartonnage at Tebtunis 39
dd581 | 1 | On line 10 see BL v. 3, p. 246.
dd590 | 1 | 1113
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Crown land
dd655 | 1 | Registers of land, Ptolemaic period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/102
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | Recto.
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00565a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00565a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00565a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00565a
