cu001 | 1 | berkeley.apis.636
cu035 | 1 | (CU)636
cu090 | 1 | P.Tebt.0478
cu090_orgcode | 1 | CU
cu1004 | 1 | asn
cu100a | 1 | Chaerammon
cu245ab | 1 | Receipt for various taxes.
cu245f | 1 | 148/149 A.D.
cu300 | 1 | 1 papyrus ; 10.5 x 10.5 cm.
cu500 | 1 | Margins: top, 2 cm.; left, 3.1 cm.; bottom, 3.3 cm.; in top left corner, in red ink: 478; on verso, in black ink: T 208.
cu500 | 2 | 12th year of the Emperor Antoninus Pius (?)
cu500_lin | 1 | 8 lines, on recto along the fibers.
cu500_pal | 1 | Small regular cursive.
cu500_rec | 1 | Verso empty
cu510 | 1 | P.Tebt., II.478; P. Ryl. v. 2, p. 253.
cu510_dd | 1 | P.Tebt.:2:478
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/636
cu520 | 1 | Receipt for various taxes on land at Kerkesephis paid by Chaerammon.
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T208
cu590 | 1 | 1436
cu653 | 1 | Taxation
cu653 | 2 | Kerkesephis
cu655 | 1 | Receipts, Roman Period
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 148
cuDateValue | 2 | 149
cuOrgcode | 1 | CU
cuPart_caption | 1 | Recto
cuPart_caption | 2 | Verso
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | recto
cuPart_section | 2 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01704a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01704a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01704a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01704a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01705a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01705a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01705a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01705a
perm_group | 1 | w
