cu001 | 1 | berkeley.apis.819
cu035 | 1 | (CU)819
cu090 | 1 | P.Tebt.0496
cu090_orgcode | 1 | CU
cu1004 | 1 | asn
cu100a | 1 | Heron
cu245ab | 1 | Sub-lease of land.
cu245f | 1 | Between 161 and 169 A.D.
cu300 | 1 | 1 papyrus ; 16.9 x 12.7 cm.
cu500 | 1 | Margins: top, 1.1 cm.; bottom, 3.8 cm. In red ink in top margin: 496. On verso, in black ink: T 617.
cu500 | 2 | Reign of the Emperors Marcus Aurelius and Verus
cu500_lin | 1 | 19 lines, on recto along the fibers.
cu500_pal | 1 | Three different hands: 1, body of contract (lines 1-17), regular cursive; 2, signature of Heron (lines 17-18), irregular semi-uncial; 3, registration docket (line 19).
cu500_rec | 1 | Verso empty.
cu510 | 1 | P.Tebt., II.496 (desc. only)
cu510_dd | 1 | P.Tebt.:2:496
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/819
cu520 | 1 | Lease for 1 aroura of crown land at Tebtunis.
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T617
cu590 | 1 | 1443
cu653 | 1 | Crown land
cu653 | 2 | Tebtunis
cu655 | 1 | Contracts, Roman Period; Leases, Roman Period
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 161
cuDateValue | 2 | 169
cuOrgcode | 1 | CU
cuPart_caption | 1 | Recto
cuPart_caption | 2 | Verso
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | recto
cuPart_section | 2 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02188a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02188a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02188a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02188a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02189a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02189a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02189a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02189a
perm_group | 1 | w
