dd001 | 1 | berkeley.apis.8208
dd035 | 1 | (CU)8208
dd046 | 1 | -300
dd046 | 2 | -130
dd090 | 1 | P.Tebt.Frag.13,617
dd245_a | 1 | Drawing
dd245_f | 1 | Between 300 and 130 B.C.
dd300 | 1 | papyri ; 4.2 x 2.9 cm.
dd500 | 1 | Two fragments joined to form one piece. Gesso and red and blue paint remain.Traces of an image possibly remian on one side.
dd500_lin | 1 | No writing.
dd546 | 1 | Greek
dd561 | 1 | Mummy cartonnage at Tebtunis
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/8208
