cu001 | 1 | berkeley.apis.254
cu035 | 1 | (CU)254
cu090 | 1 | P.Tebt.0424
cu090_orgcode | 1 | CU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu100a | 1 | Sarapammon
cu100a | 2 | Piperas
cu100g | 1 | Resident of Egypt
cu100g | 2 | Resident of Egypt
cu245ab | 1 | Private letter from Sarapammon : t Piperas : draft or copy
cu245f | 1 | Late 3rd century A.D.
cu300 | 1 | 1 papyrus ; 21 x 32.2 cm.
cu500 | 1 | Recto and verso published.
cu500 | 2 | Margins: top, 2.4 cm.; left (including protokollon), 15.2 cm.; right, 4.2 cm.; the verso of the protokollon was not used; on protokollon, in black ink: T 425.
cu500_lin | 1 | 9 lines, written on verso along the fibers.
cu500_pal | 1 | Regular cursive
cu500_rec | 1 | Also on verso, written in reverse direction, Account of payments (P.Tebt.404). On recto: Phienous. Petitions : copies (P.Tebt.335)
cu500_t | 1 | Sarapammon to Piperas. I sent you a letter by the baker, and perhaps you know what I wrote to you. If you persist in your folly, I congratulate you; if you repent, you only know. Let me tell you that you owe seven years' rents and dues, so unless you now send discharges you know your danger.
cu510 | 1 | P.Tebt., II.424; Hunt, A.S. Sel.pap., v. 1, no. 154; Tibiletti, G. Lettere private, no. 17
cu510_dd | 1 | P.Tebt.:2:424
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/254
cu520 | 1 | Sarapammon urges Piperas not to fool around any more because he has a large debt
cu544_n | 1 | The papyrus was found in a bundle with P.Tebt.285, 319, 326, 378, 406 and 588
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T425
cu581 | 1 | P. L. Bat. 30, p. 142-154. On line 8 see BL v. 1, p. 428
cu590 | 1 | 1394
cu653 | 1 | Debt
cu653 | 2 | Tebtunis
cu655 | 1 | Private letters, Roman period
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 275
cuDateValue | 2 | 299
cuOrgcode | 1 | CU
cuPart_caption | 1 | UC 1394 Verso.
cuPart_no | 1 | 1
cuPart_section | 1 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01168a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01168a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01168a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01168a
perm_group | 1 | w
