dd001 | 1 | berkeley.apis.21
dd035 | 1 | (CU)21
dd046 | 1 | -115
dd046 | 2 | -114
dd090 | 1 | P.Tebt.1150
dd100_a | 1 | Marres
dd100_g | 1 | Phylax
dd100_4 | 1 | asn
dd245_a | 1 | Accounts of payments
dd245_f | 1 | probably 115/114 B.C.
dd300 | 1 | 1 papyrus ; 30.1 x 41 cm.
dd500_rec | 1 | Recto col. I: Official letter from Menches to Ptolemaios : draft (P.Tebt.13); col. III: Account of payments in kind (P.Tebt.1134); On verso, Accounts of grain (P.Tebt.1140)
dd500 | 1 | Recto and verso published
dd500 | 2 | Written on the protokollon with verso-side up
dd500 | 3 | Menches archive
dd500 | 4 | The text is probably contemporary to the other texts on this papyrus.
dd500_lin | 1 | 10 lines, on protokollon.
dd500_pal | 1 | Regular cursive
dd500_tra | 1 | Income. Marres, guard, on behalf of Kollouthes son of Petosiris, 7-aroura cleruch. Pesythes son of Pachos, 450 copper drachmas. Phaesis son of Phibis, 2 artabas wheat for … 23rd (?). In … Hermon son of Orses, 3 1/2 artabas on behalf of a 7-aroura cleruch. Katytis son of Katytis, 1/2 artaba on behalf of himself, 1 artaba on behalf of a 7-aroura and a 20-aroura cleruch. Total, 1 1/2 art.
dd510 | 1 | P.Tebt., IV.1150
dd510_dd | 1 | P.Tebt.:4:1150
dd518 | 1 | Kerkeosiris
dd520 | 1 | Two short accounts of payments both in money and kind on behalf of holders of cleruchic land.
dd546 | 1 | Greek
dd561 | 1 | crocodile cartonnage at Tebtunis 27.25
dd590 | 1 | 3049
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Cleruchic land
dd653 | 2 | Kerkeosiris
dd655 | 1 | Official accounts, Ptolemaic period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/21
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | 0013 + 1150 + 1134.
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00484a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00484a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00484a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00484a
