cu001 | 1 | berkeley.apis.1725
cu035 | 1 | (CU)1725
cu090 | 1 | P.Tebt.UC 2349 Recto
cu090_orgcode | 1 | CU
cu245ab | 1 | Demotic document
cu245f | 1 | 2nd century B.C.
cu300 | 1 | 2 papyri ; Frag. 1: 17.7 cm. x 6.3 cm.; frag. 2: 3.3 cm. x 4.2 cm.
cu500 | 1 | Frag. 1: top margin, 1.5 cm.
cu500_lin | 1 | 13+ lines on recto along the fibers.
cu500_rec | 1 | On verso, List of names with figures
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/1725
cu546 | 1 | Demotic
cu561 | 1 | Mummy cartonnage at Tebtunis 61
cu590 | 1 | 2349
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 199
cuDateValue | 2 | 100
cuOrgcode | 1 | CU
perm_group | 1 | w
