dd001 | 1 | berkeley.apis.9697
dd035 | 1 | (CU)9697
dd046 | 1 | 1
dd046 | 2 | 350
dd090 | 1 | P.Tebt.Suppl.01,439-01440
dd245_a | 1 | Documentary text
dd245_f | 1 | between A.D. 1 and 350
dd300 | 1 | 2 papyri ; Frag. 1: 4.5 x 7.5 ; Frag. 2: 3.4 x 7.7 cm
dd500_rec | 1 | verso blank
dd500 | 1 | recto: two fragments of a document
dd500 | 2 | M. Zellmann-Rohrer
dd500_lin | 1 | 2 frags. (12 lines) on recto along fibers
dd500_pal | 1 | medium-small cursive
dd546 | 1 | Greek
dd561 | 1 | House at Tebtunis T629
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/9697
