cu001 | 1 | berkeley.apis.829
cu035 | 1 | (CU)829
cu090 | 1 | P.Tebt.0510
cu090_orgcode | 1 | CU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu100a | 1 | Herakleides
cu100a | 2 | Didyme
cu245ab | 1 | Sale of house property
cu245f | 1 | 114/115 A.D.
cu300 | 1 | 3 papyri ; Frag. 1: 16 x 7.8 cm.; frag. 2, 6.1 x 4.8 cm.; frag. 3: 21.8 x 31 cm.
cu500 | 1 | Margins: left, 1 cm.; bottom, 7 cm. In left bottom margin in red ink (frag. 3) and in right margin (frag. 2): 510. On verso, in black ink: T514 (on frag. 1 also T407?, which is struck through).
cu500 | 2 | 18th year [of the Emperor Trajanus?]
cu500_lin | 1 | 20 lines, on recto along the fibers.
cu500_pal | 1 | Regular cursive.
cu500_rec | 1 | Verso empty.
cu510 | 1 | P.Tebt., II.510 (desc. only)
cu510_dd | 1 | P.Tebt.:2:510
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/829
cu520 | 1 | Herakleides sells house property to Didyme.
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T514
cu581 | 1 | J.G. Keenan, Akten XIII. Int. Kongr. (1974), p. 210 (BL v. 7, p. 272).
cu590 | 1 | 1877, 2559
cu653 | 1 | Personal property; Real property
cu655 | 1 | Contracts, Roman Period
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 114
cuDateValue | 2 | 115
cuOrgcode | 1 | CU
cuPart_caption | 1 | Frame 1/2 Recto
cuPart_caption | 2 | Frame 1/2 Verso
cuPart_caption | 3 | Frame 2/2 Recto
cuPart_caption | 4 | Frame 2/2 Verso
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_no | 3 | 3
cuPart_no | 4 | 4
cuPart_section | 1 | recto
cuPart_section | 2 | verso
cuPart_section | 3 | recto
cuPart_section | 4 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_display_res | 3 | 1 | thumbnail
cuPresentation_display_res | 3 | 2 | 75 dpi
cuPresentation_display_res | 3 | 3 | 150 dpi
cuPresentation_display_res | 3 | 4 | 300 dpi
cuPresentation_display_res | 4 | 1 | thumbnail
cuPresentation_display_res | 4 | 2 | 75 dpi
cuPresentation_display_res | 4 | 3 | 150 dpi
cuPresentation_display_res | 4 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_no | 3 | 1 | 1
cuPresentation_no | 3 | 2 | 2
cuPresentation_no | 3 | 3 | 3
cuPresentation_no | 3 | 4 | 4
cuPresentation_no | 4 | 1 | 1
cuPresentation_no | 4 | 2 | 2
cuPresentation_no | 4 | 3 | 3
cuPresentation_no | 4 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02204a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02204a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02204a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02204a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02205a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02205a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02205a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02205a
cuPresentation_url | 3 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02206a
cuPresentation_url | 3 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02206a
cuPresentation_url | 3 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02206a
cuPresentation_url | 3 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02206a
cuPresentation_url | 4 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02207a
cuPresentation_url | 4 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02207a
cuPresentation_url | 4 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02207a
cuPresentation_url | 4 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02207a
perm_group | 1 | w
