dd001 | 1 | berkeley.apis.428
dd035 | 1 | (CU)428
dd046 | 1 | -237
dd046 | 2 | -211
dd090 | 1 | P.Tebt.0769
dd245_a | 1 | Petition to the king : draft
dd245_f | 1 | 237/236 or 212/211 B.C.
dd300 | 1 | 1 papyrus ; 36.7 x 30.4 cm.
dd500_rec | 1 | Written on recto (cols. I-II) and verso (col. III); also On verso, literary text (P.Tebt.693); and 7 lines of an effaced text
dd500 | 1 | Recto and verso published
dd500 | 2 | 8th year of either Ptolemy III Euergetes or Ptolemy IV Philopator
dd500_lin | 1 | 3 cols. (94 lines) on recto along, and on verso across the fibers.
dd500_pal | 1 | Regular cursive
dd510 | 1 | P.Tebt., III.769
dd510_dd | 1 | P.Tebt.:3.1:769
dd520 | 1 | Draft of a petition to the king from a cultivator of flax.
dd546 | 1 | Greek
dd561 | 1 | Mummy cartonnage at Tebtunis 104
dd590 | 1 | 3006
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Flax
dd653 | 2 | Tebtunis
dd655 | 1 | Petitions, Ptolemaic period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/428
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | Recto.
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00870a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00870a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00870a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00870a
