cu001 | 1 | berkeley.apis.60
cu035 | 1 | (CU)60
cu090 | 1 | P.Tebt.0224 Verso
cu090_orgcode | 1 | CU
cu245ab | 1 | Accounts of payments
cu245f | 1 | 110-107 B.C.
cu300 | 1 | 4 papyri ; Frag. 1: 22 x 17 cm.; Frag. 2: 22.1 x 13.4 cm. and two smaller Frag.s.
cu500 | 1 | Recto and verso described
cu500 | 2 | Separate accounts written in one column are separated by horizontal lines.
cu500 | 3 | 8th, 9th, and 10th year of Ptolemy IX Soter II
cu500_lin | 1 | 5+ cols., on verso across the fibers.
cu500_pal | 1 | Regular semi-uncial
cu500_rec | 1 | On recto: Account of a club (?)
cu510 | 1 | P.Tebt., I.224 (desc. only)
cu510_dd | 1 | P.Tebt.:1:224
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/60
cu520 | 1 | Various accounts listing payments in money and kind connected with various plots of land.
cu544_n | 1 | Written by the same hand as P.Tebt.131
cu546 | 1 | Greek
cu561 | 1 | Crocodile cartonnage at Tebtunis 23.28
cu590 | 1 | 1807; 1808; 2528
cu653 | 1 | Land Costs
cu655 | 1 | Accounts, Ptolemaic period
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 110
cuDateValue | 2 | 107
cuOrgcode | 1 | CU
cuPart_caption | 1 | Frame 1/3 Verso.
cuPart_caption | 2 | Frame 2/3 Verso.
cuPart_caption | 3 | Frame 3/3 Verso.
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_no | 3 | 3
cuPart_section | 1 | recto
cuPart_section | 2 | verso
cuPart_section | 3 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_display_res | 3 | 1 | thumbnail
cuPresentation_display_res | 3 | 2 | 75 dpi
cuPresentation_display_res | 3 | 3 | 150 dpi
cuPresentation_display_res | 3 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_no | 3 | 1 | 1
cuPresentation_no | 3 | 2 | 2
cuPresentation_no | 3 | 3 | 3
cuPresentation_no | 3 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00523a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00523a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00523a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00523a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00974a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00974a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00974a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00974a
cuPresentation_url | 3 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01533a
cuPresentation_url | 3 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01533a
cuPresentation_url | 3 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01533a
cuPresentation_url | 3 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01533a
perm_group | 1 | w
