dd001 | 1 | berkeley.apis.1219
dd035 | 1 | (CU)1219
dd046 | 1 | -97
dd046 | 2 | -63
dd090 | 1 | P.Tebt.0231
dd245_a | 1 | Private account.
dd245_f | 1 | 97/96 or 64/63 B.C.
dd300 | 1 | 26 papyri ; 19.4 x 32.7 cm. or smaller.
dd500_rec | 1 | Verso: continuation of text
dd500 | 1 | 18th year is mentioned.
dd500 | 2 | Muhs & Hoogendijk
dd500_lin | 1 | 11+ cols. on recto along the fibers; 15+ cols. on verso across the fibers.
dd500_pal | 1 | Large uncultivated hand.
dd510 | 1 | P.Tebt., I.231
dd510_dd | 1 | P.Tebt.:1:231
dd520 | 1 | Perhaps relates to the dance and drama.
dd546 | 1 | Greek
dd561 | 1 | Crocodile cartonnage at Tebtunis 29.4
dd590 | 1 | 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 2531, 2532, 1533,
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Dance; Greek drama
dd655 | 1 | Accounts, Ptolemaic Period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/1219
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | Frame 1/11 Recto
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02779a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02779a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02779a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02779a
partNumber | 2 | 2
partSide | 2 | verso
partCaption | 2 | Frame 1/11 Verso
presentationNumber | 2 | 1 | 1
presentationDisplayRes | 2 | 1 | thumbnail
presentationAddress | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02780a
presentationNumber | 2 | 2 | 2
presentationDisplayRes | 2 | 2 | 75 dpi
presentationAddress | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02780a
presentationNumber | 2 | 3 | 3
presentationDisplayRes | 2 | 3 | 150 dpi
presentationAddress | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02780a
presentationNumber | 2 | 4 | 4
presentationDisplayRes | 2 | 4 | 300 dpi
presentationAddress | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02780a
partNumber | 3 | 3
partSide | 3 | recto
partCaption | 3 | Frame 2/11 Recto
presentationNumber | 3 | 1 | 1
presentationDisplayRes | 3 | 1 | thumbnail
presentationAddress | 3 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02781a
presentationNumber | 3 | 2 | 2
presentationDisplayRes | 3 | 2 | 75 dpi
presentationAddress | 3 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02781a
presentationNumber | 3 | 3 | 3
presentationDisplayRes | 3 | 3 | 150 dpi
presentationAddress | 3 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02781a
presentationNumber | 3 | 4 | 4
presentationDisplayRes | 3 | 4 | 300 dpi
presentationAddress | 3 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02781a
partNumber | 4 | 4
partSide | 4 | verso
partCaption | 4 | Frame 2/11 Verso
presentationNumber | 4 | 1 | 1
presentationDisplayRes | 4 | 1 | thumbnail
presentationAddress | 4 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02782a
presentationNumber | 4 | 2 | 2
presentationDisplayRes | 4 | 2 | 75 dpi
presentationAddress | 4 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02782a
presentationNumber | 4 | 3 | 3
presentationDisplayRes | 4 | 3 | 150 dpi
presentationAddress | 4 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02782a
presentationNumber | 4 | 4 | 4
presentationDisplayRes | 4 | 4 | 300 dpi
presentationAddress | 4 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02782a
partNumber | 5 | 5
partSide | 5 | recto
partCaption | 5 | Frame 3/11 Recto
presentationNumber | 5 | 1 | 1
presentationDisplayRes | 5 | 1 | thumbnail
presentationAddress | 5 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02783a
presentationNumber | 5 | 2 | 2
presentationDisplayRes | 5 | 2 | 75 dpi
presentationAddress | 5 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02783a
presentationNumber | 5 | 3 | 3
presentationDisplayRes | 5 | 3 | 150 dpi
presentationAddress | 5 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02783a
presentationNumber | 5 | 4 | 4
presentationDisplayRes | 5 | 4 | 300 dpi
presentationAddress | 5 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02783a
partNumber | 6 | 6
partSide | 6 | verso
partCaption | 6 | Frame 3/11 Verso
presentationNumber | 6 | 1 | 1
presentationDisplayRes | 6 | 1 | thumbnail
presentationAddress | 6 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02784a
presentationNumber | 6 | 2 | 2
presentationDisplayRes | 6 | 2 | 75 dpi
presentationAddress | 6 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02784a
presentationNumber | 6 | 3 | 3
presentationDisplayRes | 6 | 3 | 150 dpi
presentationAddress | 6 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02784a
presentationNumber | 6 | 4 | 4
presentationDisplayRes | 6 | 4 | 300 dpi
presentationAddress | 6 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02784a
partNumber | 7 | 7
partSide | 7 | recto
partCaption | 7 | Frame 4/11 Recto
presentationNumber | 7 | 1 | 1
presentationDisplayRes | 7 | 1 | thumbnail
presentationAddress | 7 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02785a
presentationNumber | 7 | 2 | 2
presentationDisplayRes | 7 | 2 | 75 dpi
presentationAddress | 7 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02785a
presentationNumber | 7 | 3 | 3
presentationDisplayRes | 7 | 3 | 150 dpi
presentationAddress | 7 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02785a
presentationNumber | 7 | 4 | 4
presentationDisplayRes | 7 | 4 | 300 dpi
presentationAddress | 7 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02785a
partNumber | 8 | 8
partSide | 8 | verso
partCaption | 8 | Frame 4/11 Verso
presentationNumber | 8 | 1 | 1
presentationDisplayRes | 8 | 1 | thumbnail
presentationAddress | 8 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02786a
presentationNumber | 8 | 2 | 2
presentationDisplayRes | 8 | 2 | 75 dpi
presentationAddress | 8 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02786a
presentationNumber | 8 | 3 | 3
presentationDisplayRes | 8 | 3 | 150 dpi
presentationAddress | 8 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02786a
presentationNumber | 8 | 4 | 4
presentationDisplayRes | 8 | 4 | 300 dpi
presentationAddress | 8 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02786a
partNumber | 9 | 9
partSide | 9 | recto
partCaption | 9 | Frame 5/11 Recto
presentationNumber | 9 | 1 | 1
presentationDisplayRes | 9 | 1 | thumbnail
presentationAddress | 9 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02787a
presentationNumber | 9 | 2 | 2
presentationDisplayRes | 9 | 2 | 75 dpi
presentationAddress | 9 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02787a
presentationNumber | 9 | 3 | 3
presentationDisplayRes | 9 | 3 | 150 dpi
presentationAddress | 9 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02787a
presentationNumber | 9 | 4 | 4
presentationDisplayRes | 9 | 4 | 300 dpi
presentationAddress | 9 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02787a
partNumber | 10 | 10
partSide | 10 | verso
partCaption | 10 | Frame 5/11 Verso
presentationNumber | 10 | 1 | 1
presentationDisplayRes | 10 | 1 | thumbnail
presentationAddress | 10 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02788a
presentationNumber | 10 | 2 | 2
presentationDisplayRes | 10 | 2 | 75 dpi
presentationAddress | 10 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02788a
presentationNumber | 10 | 3 | 3
presentationDisplayRes | 10 | 3 | 150 dpi
presentationAddress | 10 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02788a
presentationNumber | 10 | 4 | 4
presentationDisplayRes | 10 | 4 | 300 dpi
presentationAddress | 10 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02788a
partNumber | 11 | 11
partSide | 11 | recto
partCaption | 11 | Frame 6/11 Recto
presentationNumber | 11 | 1 | 1
presentationDisplayRes | 11 | 1 | thumbnail
presentationAddress | 11 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02789a
presentationNumber | 11 | 2 | 2
presentationDisplayRes | 11 | 2 | 75 dpi
presentationAddress | 11 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02789a
presentationNumber | 11 | 3 | 3
presentationDisplayRes | 11 | 3 | 150 dpi
presentationAddress | 11 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02789a
presentationNumber | 11 | 4 | 4
presentationDisplayRes | 11 | 4 | 300 dpi
presentationAddress | 11 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02789a
partNumber | 12 | 12
partSide | 12 | verso
partCaption | 12 | Frame 6/11 Verso
presentationNumber | 12 | 1 | 1
presentationDisplayRes | 12 | 1 | thumbnail
presentationAddress | 12 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02790a
presentationNumber | 12 | 2 | 2
presentationDisplayRes | 12 | 2 | 75 dpi
presentationAddress | 12 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02790a
presentationNumber | 12 | 3 | 3
presentationDisplayRes | 12 | 3 | 150 dpi
presentationAddress | 12 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02790a
presentationNumber | 12 | 4 | 4
presentationDisplayRes | 12 | 4 | 300 dpi
presentationAddress | 12 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02790a
partNumber | 13 | 13
partSide | 13 | recto
partCaption | 13 | Frame 7/11 Recto
presentationNumber | 13 | 1 | 1
presentationDisplayRes | 13 | 1 | thumbnail
presentationAddress | 13 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02791a
presentationNumber | 13 | 2 | 2
presentationDisplayRes | 13 | 2 | 75 dpi
presentationAddress | 13 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02791a
presentationNumber | 13 | 3 | 3
presentationDisplayRes | 13 | 3 | 150 dpi
presentationAddress | 13 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02791a
presentationNumber | 13 | 4 | 4
presentationDisplayRes | 13 | 4 | 300 dpi
presentationAddress | 13 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02791a
partNumber | 14 | 14
partSide | 14 | verso
partCaption | 14 | Frame 7/11 Verso
presentationNumber | 14 | 1 | 1
presentationDisplayRes | 14 | 1 | thumbnail
presentationAddress | 14 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02792a
presentationNumber | 14 | 2 | 2
presentationDisplayRes | 14 | 2 | 75 dpi
presentationAddress | 14 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02792a
presentationNumber | 14 | 3 | 3
presentationDisplayRes | 14 | 3 | 150 dpi
presentationAddress | 14 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02792a
presentationNumber | 14 | 4 | 4
presentationDisplayRes | 14 | 4 | 300 dpi
presentationAddress | 14 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02792a
partNumber | 15 | 15
partSide | 15 | recto
partCaption | 15 | Frame 8/11 Recto
presentationNumber | 15 | 1 | 1
presentationDisplayRes | 15 | 1 | thumbnail
presentationAddress | 15 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02793a
presentationNumber | 15 | 2 | 2
presentationDisplayRes | 15 | 2 | 75 dpi
presentationAddress | 15 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02793a
presentationNumber | 15 | 3 | 3
presentationDisplayRes | 15 | 3 | 150 dpi
presentationAddress | 15 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02793a
presentationNumber | 15 | 4 | 4
presentationDisplayRes | 15 | 4 | 300 dpi
presentationAddress | 15 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02793a
partNumber | 16 | 16
partSide | 16 | verso
partCaption | 16 | Frame 8/11 Verso
presentationNumber | 16 | 1 | 1
presentationDisplayRes | 16 | 1 | thumbnail
presentationAddress | 16 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02794a
presentationNumber | 16 | 2 | 2
presentationDisplayRes | 16 | 2 | 75 dpi
presentationAddress | 16 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02794a
presentationNumber | 16 | 3 | 3
presentationDisplayRes | 16 | 3 | 150 dpi
presentationAddress | 16 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02794a
presentationNumber | 16 | 4 | 4
presentationDisplayRes | 16 | 4 | 300 dpi
presentationAddress | 16 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02794a
partNumber | 17 | 17
partSide | 17 | recto
partCaption | 17 | Frame 9/11 Recto
presentationNumber | 17 | 1 | 1
presentationDisplayRes | 17 | 1 | thumbnail
presentationAddress | 17 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02795a
presentationNumber | 17 | 2 | 2
presentationDisplayRes | 17 | 2 | 75 dpi
presentationAddress | 17 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02795a
presentationNumber | 17 | 3 | 3
presentationDisplayRes | 17 | 3 | 150 dpi
presentationAddress | 17 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02795a
presentationNumber | 17 | 4 | 4
presentationDisplayRes | 17 | 4 | 300 dpi
presentationAddress | 17 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02795a
partNumber | 18 | 18
partSide | 18 | verso
partCaption | 18 | Frame 9/11 Verso
presentationNumber | 18 | 1 | 1
presentationDisplayRes | 18 | 1 | thumbnail
presentationAddress | 18 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02796a
presentationNumber | 18 | 2 | 2
presentationDisplayRes | 18 | 2 | 75 dpi
presentationAddress | 18 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02796a
presentationNumber | 18 | 3 | 3
presentationDisplayRes | 18 | 3 | 150 dpi
presentationAddress | 18 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02796a
presentationNumber | 18 | 4 | 4
presentationDisplayRes | 18 | 4 | 300 dpi
presentationAddress | 18 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02796a
partNumber | 19 | 19
partSide | 19 | recto
partCaption | 19 | Frame 10/11 Recto
presentationNumber | 19 | 1 | 1
presentationDisplayRes | 19 | 1 | thumbnail
presentationAddress | 19 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02797a
presentationNumber | 19 | 2 | 2
presentationDisplayRes | 19 | 2 | 75 dpi
presentationAddress | 19 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02797a
presentationNumber | 19 | 3 | 3
presentationDisplayRes | 19 | 3 | 150 dpi
presentationAddress | 19 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02797a
presentationNumber | 19 | 4 | 4
presentationDisplayRes | 19 | 4 | 300 dpi
presentationAddress | 19 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02797a
partNumber | 20 | 20
partSide | 20 | verso
partCaption | 20 | Frame 10/11 Verso
presentationNumber | 20 | 1 | 1
presentationDisplayRes | 20 | 1 | thumbnail
presentationAddress | 20 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02798a
presentationNumber | 20 | 2 | 2
presentationDisplayRes | 20 | 2 | 75 dpi
presentationAddress | 20 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02798a
presentationNumber | 20 | 3 | 3
presentationDisplayRes | 20 | 3 | 150 dpi
presentationAddress | 20 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02798a
presentationNumber | 20 | 4 | 4
presentationDisplayRes | 20 | 4 | 300 dpi
presentationAddress | 20 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02798a
partNumber | 21 | 21
partSide | 21 | recto
partCaption | 21 | Frame 11/11 Recto
presentationNumber | 21 | 1 | 1
presentationDisplayRes | 21 | 1 | thumbnail
presentationAddress | 21 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02799a
presentationNumber | 21 | 2 | 2
presentationDisplayRes | 21 | 2 | 75 dpi
presentationAddress | 21 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02799a
presentationNumber | 21 | 3 | 3
presentationDisplayRes | 21 | 3 | 150 dpi
presentationAddress | 21 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02799a
presentationNumber | 21 | 4 | 4
presentationDisplayRes | 21 | 4 | 300 dpi
presentationAddress | 21 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02799a
partNumber | 22 | 22
partSide | 22 | verso
partCaption | 22 | Frame 11/11 Verso
presentationNumber | 22 | 1 | 1
presentationDisplayRes | 22 | 1 | thumbnail
presentationAddress | 22 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP02800a
presentationNumber | 22 | 2 | 2
presentationDisplayRes | 22 | 2 | 75 dpi
presentationAddress | 22 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP02800a
presentationNumber | 22 | 3 | 3
presentationDisplayRes | 22 | 3 | 150 dpi
presentationAddress | 22 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP02800a
presentationNumber | 22 | 4 | 4
presentationDisplayRes | 22 | 4 | 300 dpi
presentationAddress | 22 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP02800a
