dd001 | 1 | berkeley.apis.9560
dd035 | 1 | (CU)9560
dd046 | 1 | 1
dd046 | 2 | 350
dd090 | 1 | P.Tebt.Suppl.01,253-01,255
dd245_a | 1 | Documentary text
dd245_f | 1 | between A.D. 1 and 350
dd300 | 1 | 3 papyri ; Frag. 1: 14.4 x 7; Frag. 2: 9.2 x 5.9; Frag. 3: 8.4 x 5.9 cm
dd500_rec | 1 | verso blank
dd500 | 1 | column 1 at left of Frags. 2 and 3 badly faded, contrasting with the clear column 2.
dd500_lin | 1 | 3 frags, 2 columns (64 lines) on recto along fibers
dd500_pal | 1 | column 1: medium-small cursive; column 2: medium-small cursive; neat and letter-like
dd546 | 1 | Greek
dd561 | 1 | House at Tebtunis T163
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/9560
