cu001 | 1 | berkeley.apis.139
cu035 | 1 | (CU)139
cu090 | 1 | P.Tebt.0440
cu090_orgcode | 1 | CU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu100a | 1 | Sarapias
cu100a | 2 | Achilles
cu100g | 2 | Resident of Arsinoiton polis
cu245ab | 1 | Repayment of a loan
cu245f | 1 | Mid 2nd century A.D.
cu300 | 1 | 1 papyrus ; 9.1 x 7.1 cm.
cu500 | 1 | No margins preserved. On verso, in red ink "440"; in black ink: T 467.
cu500_lin | 1 | 19 lines, on recto along the fibers.
cu500_pal | 1 | Small regular cursive
cu500_rec | 1 | Verso empty
cu500_t | 1 | … in the month of Mesore … Sarapias, without legal father, her mother being … [about] ..-seven [years old] with a scar on the right knee, with her guardian … [about] ..-five [years old] with a scar on the left shin, agrees with Achilles … of Arsinoiton polis, registered in the Gymnasium quarter … [and with] N.N. child of Apollonios, about fifty-.. Years old … [to the] both [of them], that she, Sarapias, has received from them … four thousand … drachmas [of silver] … the balance of … which both Achilles and … owed … of the Treasuries quarter … [in accordance with a] loan [contract] drawn up through and through the [register of deeds,] by which mortgage … [drawn up through] the register [of deeds] some property … and the … through the … of … [And this receipt shall be valid wheresoever] it is taken and by whomsoever [it is taken] … nor shall .. nor their assigns …
cu510 | 1 | P.Tebt., II.440; SB, XVIII, no. 13788
cu510_dd | 1 | P.Tebt.Wall:7
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/139
cu518 | 1 | Tebtunis
cu520 | 1 | Sarapias acknowledges the repayment of a loan of at least 4000 drachmas from two persons
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T467
cu581 | 1 | Wall, E.W. New texts in the economy of Tebtunis, p. 110-117 with photo (Pl. VII)
cu590 | 1 | 2280
cu653 | 1 | Loans
cu653 | 2 | Arsinoe
cu655 | 1 | Contracts, Roman period
cu655 | 2 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 150
cuOrgcode | 1 | CU
cuPart_caption | 1 | UC 2280 Recto.
cuPart_caption | 2 | UC 2280 Verso.
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | recto
cuPart_section | 2 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00604a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00604a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00604a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00604a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01055a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01055a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01055a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01055a
perm_group | 1 | w
