cu001 | 1 | berkeley.apis.318
cu035 | 1 | (CU)318
cu090 | 1 | P.Tebt.0366
cu090_orgcode | 1 | CU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu100a | 1 | Ponnis, son of Zoilos
cu100a | 2 | Eutychos, Son of Koumaris
cu100a | 3 | Eutychos, Son of Hermes
cu100a | 4 | Taarmiysis, Daughter of Pakebkis
cu100a | 5 | Kronous, Daughter of Herakleos
cu100a | 6 | Sarapammon, Son of Eutychos
cu100a | 7 | Eirene, Daughter of Areios
cu100g | 1 | Sitologos of Tebtunis
cu100g | 2 | Sitologos of Tebtunis
cu245ab | 1 | Receipt for payments in kind
cu245f | 1 | 24 June 188 A.D.
cu300 | 1 | 1 papyrus ; 18 x 12.3 cm.
cu500 | 1 | Margins: top, 1.5 cm.; left, 1.5 cm.; bottom, 8.5 cm.
cu500 | 2 | 28th year of the Emperor Commodus, 30th of the Egyptian month Payni
cu500_lin | 1 | 13 lines, on recto along the fibers.
cu500_pal | 1 | Small cursive
cu500_rec | 1 | Verso empty.
cu500_t | 1 | The 28th year of Marcus Aurelius Commodus Antoninus Caesar the Lord, Payni 30. We, Ponnis son of Zoilos and Eutychos son of Koumaris and partners, (sitologoi) of the village of Tebtunis, have had measured to us from the produce of the said year by smoothed public measure to the account of Eutychos son of Hermes for the tax on cleruchs 14 1/8 artabas of wheat, and by Taarmiysis daughter of Pakebkis for the tax on cleruchs 6 1/8 art. of wheat, by the same at Hiera for the tax on cleruchs 4 1/24 art. of wheat, and by Kronous daughter of Herakleos on Epeiph 9 for the tax upon katoikoi 7 1/12 art. of wheat, by the same for the tax upon guards (?) 1 17/24 art. of wheat, and to the account of Sarapammon son of Eutychos, successor to Eirene daughter of Areios, for the tax on katoikoi 6 1/8 artabas of wheat. Total of the receipt including the extra payments 39 23/24 art. of wheat.
cu510 | 1 | P.Tebt., II.366; Chrest. Wilck., no. 371
cu510_dd | 1 | P.Tebt.:2:366
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/318
cu518 | 1 | Tebtunis
cu520 | 1 | Ponnis and Eutychos, collectors of grain at Tebtunis, acknowledge having received various payments of wheat for various land taxes. Two of the taxpayers are women.
cu546 | 1 | Greek
cu561 | 1 | House at Tebtunis T583
cu590 | 1 | 2247
cu590_prs | 1 | Two pieces of gumed paper on verso.
cu653 | 1 | Payment; Real property; Women, 30 B.C.-640 A.D.
cu653 | 2 | Tebtunis; Hiera
cu655 | 1 | Receipts, Roman period
cu655 | 2 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 188
cuOrgcode | 1 | CU
cuPart_caption | 1 | Recto.
cuPart_caption | 2 | Verso.
cuPart_no | 1 | 1
cuPart_no | 2 | 2
cuPart_section | 1 | recto
cuPart_section | 2 | verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | 75 dpi
cuPresentation_display_res | 1 | 3 | 150 dpi
cuPresentation_display_res | 1 | 4 | 300 dpi
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_display_res | 2 | 2 | 75 dpi
cuPresentation_display_res | 2 | 3 | 150 dpi
cuPresentation_display_res | 2 | 4 | 300 dpi
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_no | 1 | 3 | 3
cuPresentation_no | 1 | 4 | 4
cuPresentation_no | 2 | 1 | 1
cuPresentation_no | 2 | 2 | 2
cuPresentation_no | 2 | 3 | 3
cuPresentation_no | 2 | 4 | 4
cuPresentation_url | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00781a
cuPresentation_url | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00781a
cuPresentation_url | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00781a
cuPresentation_url | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00781a
cuPresentation_url | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01232a
cuPresentation_url | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01232a
cuPresentation_url | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01232a
cuPresentation_url | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01232a
perm_group | 1 | w
