dd001 | 1 | berkeley.apis.1801
dd035 | 1 | (CU)1801
dd046 | 1 | -125
dd046 | 2 | -100
dd090 | 1 | P.Tebt.UC 2547
dd245_a | 1 | Account : fragments
dd245_f | 1 | Late 2nd century B.C.
dd300 | 1 | 2 papyri ; Frag. 1: 7.4 x 7.6 cm.; Frag. 2: 8.4 x 8.3 cm.
dd500_rec | 1 | Verso empty
dd500 | 1 | Margins: Frag. 1: top, 0.6 cm.; bottom, 0.5 cm.; left, 0.5 cm.; Frag. 2: top, 0.8 cm.; bottom, 2.3 cm.; right, 1.9 cm.
dd500_lin | 1 | Frag. 1: 5 lines, on recto along the fibers; Frag. 2: 4 lines
dd546 | 1 | Greek
dd561 | 1 | Crocodile cartonnage at Tebtunis 16
dd590 | 1 | 2547
dd590_con | 1 | OUT TO CONSERVATION 8/18/05 PJR
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd655 | 1 | Accounts, Ptolemaic Period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/1801
