cu001 | 1 | berkeley.apis.233
cu035 | 1 | (CU)233
cu090 | 1 | P.Tebt.Frag.21,016
cu090_orgcode | 1 | CU
cu245ab | 1 | Declaration of death
cu245f | 1 | 117-138 AD
cu300 | 1 | 1 papyrus ; 8.4 x 6.5 cm.
cu500 | 1 | Reign of Hadrianus
cu500_lin | 1 | 8 lines, on recto along the fibers.
cu500_pal | 1 | Regular cursive
cu500_rec | 1 | Verso empty
cu500_t | 1 | … N.N., registered at the same city, died in the present month Tybi of the present year of Trajanus Hadrianus Caesar the Lord. I therefore submit the declaration so that this name may be removed and inscribed in the list of the deceased as in similar cases.
cu510 | 1 | SB, XX, no. 15011
cu510_dd | 1 | SB:20:15011
cu510_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/233
cu518 | 1 | Tebtunis
cu520 | 1 | Conclusion of a declaration attesting the death of an unknown person.
cu546 | 1 | Greek
cu581 | 1 | Molyviati-Toptsi, U. ZPE v. 77 (1989), p. 281-282.
cu590 | 1 | -
cu653 | 1 | Death
cu655 | 1 | Declarations, Roman Period
cu655 | 2 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 117
cuDateValue | 2 | 138
cuOrgcode | 1 | CU
perm_group | 1 | w
