dd001 | 1 | berkeley.apis.2417
dd035 | 1 | (CU)2417
dd046 | 1 | -120
dd046 | 2 | -110
dd090 | 1 | P.Tebt.Frag.07,846 - 07,860
dd245_a | 1 | Account
dd245_f | 1 | Between 120 and 110 B.C.
dd300 | 1 | 15 papyri ; Frag.7846 1.5 x 1.7 cm.; Frag.7847 4.3 x 1.7 cm.; Frag.7848 5 x 5 cm.; Frag.7849 10 x 8.5 cm.; Frag.7850 5.5 x 5.5 cm.; Frag. 7851 8.7 x 4.2 cm.; Frag 7852 13.5 x 8 cm.; Frag.7853 5 x 2 cm.; Frag 7854 4 x 1 cm.; Frag. 7855 0.8 x 3.3 cm.; Frag. 7856 5 x 0.3 cm.; Frag. 7857 0.4 x 0.5 cm.; Frag. 7858 0.4 x 0.8 cm.; Frag.7859 3 x 0.2 cm.; Frag.7860 2.5 x 0.2 cm.
dd500_rec | 1 | On recto fragmentary writing; on verso fragmentary writing
dd500 | 1 | Too fragmentary to measure margins.
dd500 | 2 | Menches archive
dd500_lin | 1 | Recto: 21+ lines along the fibers; Verso 2 cols. (12 lines) across the fibers.
dd546 | 1 | Greek
dd561 | 1 | Crocodile cartonnage at Tebtunis 1-17
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/2417
