dd001 | 1 | berkeley.apis.1210
dd035 | 1 | (CU)1210
dd046 | 1 | -145
dd046 | 2 | -116
dd090 | 1 | P.Tebt.0927
dd100_a | 1 | Ptolemaios
dd100_g | 1 | Epimeletes
dd100_4 | 1 | asn
dd100_a | 2 | Dionysios
dd100_4 | 2 | asn
dd245_a | 1 | Statement from Secretary of Cultivators.
dd245_f | 1 | Between 145 and 116 B.C.
dd300 | 1 | 2 papyri ; Frag. 1, 19 x 18 cm.; frag. 2, 20 x 19.8 cm.
dd500_rec | 1 | Verso: empty
dd500_lin | 1 | 29 lines, on recto along the fibers.
dd510 | 1 | P.Tebt., III.927 (desc. only)
dd510_dd | 1 | P.Tebt.:3.2:927
dd520 | 1 | Concerns the procedure to be followed with regard to crops on a certain class of land.
dd546 | 1 | Greek
dd561 | 1 | Mummy cartonnage at Tebtunis 64
dd590 | 1 | 1049
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Crops; Land use
dd655 | 1 | Declarations, Ptolemaic Period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/1210
