dd001 | 1 | berkeley.apis.285
dd035 | 1 | (CU)285
dd046 | 1 | 208
dd090 | 1 | P.Tebt.0307
dd100_a | 1 | Apion
dd100_g | 1 | Nomarches of the Arsinoite Nome
dd100_4 | 1 | aut
dd100_a | 2 | Sphyris alias Theon
dd100_g | 2 | Boethos of the Nomarches
dd100_4 | 2 | asn
dd245_a | 1 | Tax receipt for sacrificial calf.
dd245_f | 1 | 26 Jan. 208 A.D.
dd300 | 1 | 1 papyrus ; 10.1 x 8 cm.
dd500_rec | 1 | Verso empty
dd500 | 1 | Margins: top, 1.3 cm.; left, 1.1 cm.; bottom, 2.8 cm.; on verso, in black ink: T 175.
dd500 | 2 | 16th year of the Emperors Septimius and Caracalla, 30th of the Egyptian month Tybi.
dd500 | 3 | Priests of Soknebtunis
dd500_lin | 1 | 9 lines, on recto across the fibers.
dd500_pal | 1 | Small regular cursive
dd500_tra | 1 | The 16th year of Lucius Septimius Severus Pius Pertinax and Marcus Aurelius Antoninus Pius Augusti and Publius Septimius Geta Caesar Augustus, Tybi 30. Paid to Apion, Nomarches of the Arsinoite nome, through Shpyris also called Theon, assistant, for the tenth upon calves by the priests of the village of Tebtunis, twenty drachmas, that is, 20 dr.
dd510 | 1 | P.Tebt., II.307
dd510_dd | 1 | P.Tebt.:2:307
dd520 | 1 | Receipt of payment for the tax upon a calf offered in sacrifice made by the priests of Tebtunis, Egypt, to Apion (Nomarches of the Arsinoite Nome).
dd546 | 1 | Greek
dd561 | 1 | House at Tebtunis T175
dd590 | 1 | 2228
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Religion, Egyptian
dd653 | 2 | Arsinoites nomos; Tebtunis
dd655 | 1 | Receipts, Roman period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/285
partNumber | 1 | 1
partSide | 1 | recto
partCaption | 1 | UC 2227 Recto.
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP00748a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP00748a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP00748a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP00748a
partNumber | 2 | 2
partSide | 2 | verso
partCaption | 2 | UC 2227 Verso.
presentationNumber | 2 | 1 | 1
presentationDisplayRes | 2 | 1 | thumbnail
presentationAddress | 2 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01199a
presentationNumber | 2 | 2 | 2
presentationDisplayRes | 2 | 2 | 75 dpi
presentationAddress | 2 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01199a
presentationNumber | 2 | 3 | 3
presentationDisplayRes | 2 | 3 | 150 dpi
presentationAddress | 2 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01199a
presentationNumber | 2 | 4 | 4
presentationDisplayRes | 2 | 4 | 300 dpi
presentationAddress | 2 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01199a
