dd001 | 1 | berkeley.apis.261
dd035 | 1 | (CU)261
dd046 | 1 | 175
dd046 | 2 | 199
dd090 | 1 | P.Tebt.0266 Verso
dd245_a | 1 | Register of land
dd245_f | 1 | Late 2nd century A.D.
dd300 | 1 | 1 papyrus ; 14.5 x 4 cm.
dd500_rec | 1 | Gummed on verso of: Homer, Iliad, Book 11, lines 556-613
dd500 | 1 | Recto published
dd500_lin | 1 | 13 lines, on recto along the fibers.
dd500_pal | 1 | Regular cursive
dd510 | 1 | P.Tebt., II.266
dd510_dd | 1 | P.Tebt.:2:266
dd520 | 1 | Fragment of a register of land gummed on to a papyrus fragment of Homer to strengthen the original roll
dd546 | 1 | Greek
dd561 | 1 | House at Tebtunis T417
dd590 | 1 | 1351
dd590 | 1 | Bancroft Library, Univ. of Calif., Berkeley
dd653 | 1 | Land tenure
dd653 | 2 | Tebtunis
dd655 | 1 | Registers of land, Roman period
dd655_phy | 2 | Papyri
dd852 | 1 | CU
dd856_m | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/record/261
partNumber | 1 | 1
partSide | 1 | verso
partCaption | 1 | UC 1351 Verso.
presentationNumber | 1 | 1 | 1
presentationDisplayRes | 1 | 1 | thumbnail
presentationAddress | 1 | 1 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/thumbnail/AP01175a
presentationNumber | 1 | 2 | 2
presentationDisplayRes | 1 | 2 | 75 dpi
presentationAddress | 1 | 2 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medres/AP01175a
presentationNumber | 1 | 3 | 3
presentationDisplayRes | 1 | 3 | 150 dpi
presentationAddress | 1 | 3 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/medhires/AP01175a
presentationNumber | 1 | 4 | 4
presentationDisplayRes | 1 | 4 | 300 dpi
presentationAddress | 1 | 4 | http://sunsite.berkeley.edu/cgi-bin/apisdb/image/hires/AP01175a
