# APIS Editor [06/28/2007] aso2101 - new record
cu001 | 1 | hermitage.apis.315
cu035 | 1 | (RU-SPGE)315
cu090 | 1 | Hermitage inv. 18294
cu090_orgcode | 1 | RU-SPGE
cu245ab | 1 | Fragment of a document
cu245f | 1 | VIth/VIIth c. AD?
cu300 | 1 | 6.4h x 3.5w
cu500 | 1 | 3 lines on front against the fibers, ca. 2 lines on back with the fibers.
cu510 | 1 | Unpublished
cu518 | 1 | Provenance Unknown
cu546 | 1 | Language Uncertain
cu561 | 1 | Formerly housed in the Academy of Science, St. Petersburg, now in the Hermitage Museum.
cu590 | 1 | 18286-18301 housed together; rehoused 11.08.2006
cu655 | 1 | Papyri
cu655 | 2 | Papyri
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 500
cuDateRange | 2 | b
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 699
cuOrgcode | 1 | RU-SPGE
cuR_TYPE | 1 | n
