# APIS Editor [09/11/2006] rla2118 - new record
cu001 | 1 | hermitage.apis.106
cu035 | 1 | (RU-SPGE)106
cu090 | 1 | Hermitage inv. 13369
cu090_orgcode | 1 | RU-SPGE
cu245ab | 1 | Contract of Sale
cu245f | 1 | 25 Feb. - 26 March, 211 A.D.
cu300 | 1 | 1 papyrus; 5.5 x 10 cm
cu500 | 1 | Remains of 8 lines written along the fibers; the back is blank
cu500 | 2 | Upper (1.5 cm) and left (3 cm) margins
cu510 | 1 | P.Ross.Georg. V 17
cu510_dd | 1 | P.Ross.Georg.:5:17
cu518 | 1 | Ptolemais Euergetis
cu520 | 1 | Remains of the date clause and beginning of a contract of sale
cu546 | 1 | Greek
cu561 | 1 | Likely from the collection of N. Likhachov; once housed in the Paleographical Museum of the Academy of Science in St. Petersburg; now in the Hermitage Museum
cu655 | 1 | Papyri
cu655 | 2 | Contract
cu655 | 3 | Sale
cuDateConfidence | 1 | ___
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 211
cuOrgcode | 1 | RU-SPGE
cuR_TYPE | 1 | n
