# file create date: 2005-08-26
# modified: 2005-02-08 (for Hermitage)
#		2005-03-10 added cu518		
#		2005-04-18 added cu500_t
#		2005-05-04 added 4 more cu655
#		2005-08-23 added 2 more cu546
# template version: 1.05
cu001 | 1 | hermitage.apis.91 
cu090 | 1 | Hermitage inv. 13335
cu245ab | 1 | Requisition of Building Material and Warning to Observe the Set Tarif
cu245f | 1 | 2 May, 710 A.D.
cu300 | 1 | 28 X 12.5 (ed. pr.)
cu500 | 1 | 13 lines of writing; back is blank
cu500 | 2 | Joins with P.Lond. IV 1377
cu500 | 3 | Seal located in lower left corner
cu500 | 4 | German translation on p. 35f. of ed. pr.
cu500 | 5 | 
cu500 | 6 |      
cu500 | 7 |      
cu500_t | 1 | Thus, as soon as you receive this letter, instruct those in your district not to sell any of the items(?) that are to be bought in your district in accordance with the orders we have given at a price above the tarif that was specified in our earlier orders.  Do not hinder those of the village from selling these things at the price that has been named, referring them to these orders and making them aware of this in advance.  You should know that if we discover anyone who has bought things for more than the tarif stated in our orders, we are going to give you a harmful reprisal in return.  Next, tend actively to the matter of those palm branches, following our instructions completely and in these not giving any reason at all to take action against you.  Written on the 7th of Pachon in the 9th indiction.
cu510 | 1 | P.Ross.Georg. IV 8
cu510 | 2 | P.Lond. IV 1377 (right side of lines 2-14)
cu510 | 3 |      
cu510_dd | 1 | P.Ross.Georg.:4:8
cu518 | 1 | kome Aphrodito
cu520 | 1 | Letter from the governor of Egypt, Kurrah ben Sharik, presumably to the pagarch, Basilius, concerning the sale of materials at a fixed price.  The beginning of the document likely included a requisition of the (building) materials discussed in the extant part of the text.
cu520 | 2 |      
cu546 | 1 | Greek
cu546 | 2 |      
cu546 | 3 |      
cu561 | 1 | From the collection of N. Likhachov; once housed in the Paleographical Museum of the Academy of Science in St. Petersburg; now in the Hermitage Museum     
cu581 | 1 | For the date, see BL VI, 122; for discussion of the letters of Kurrah b. Sharik see H. Cadell, "Correspondance de Kurrah ben Sharik" Recherches de Papyrologie IV (1967), 107-160
cu590 | 1 |      
cu653 | 1 |      
cu655 | 1 | papyri
cu655 | 2 | letter
cu655 | 3 | order
cu655 | 4 |      
cu655 | 5 |      
cu100a | 1 | Kurrah ben Sharik     
cu100g | 1 |      
cu1004 | 1 | aut  
cuDateValue | 1 | 710	
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 2 | 710
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cu035 | 1 | (RU-SPGE)91 
cuOrgcode | 1 | RU-SPGE
perm_group | 1 | w
cu090_orgcode | 1 | RU-SPGE



