# APIS Editor [06/28/2007] aso2101 - new record
# APIS Editor [09/08/2008] aso2101 - replacement
cu001 | 1 | hermitage.apis.356
cu035 | 1 | (RU-SPGE)356
cu090 | 1 | Hermitage inv. 18328
cu090_orgcode | 1 | RU-SPGE
cu245ab | 1 | Fragment of a codex
cu245f | 1 | VIII-X c. AD?
cu300 | 1 | 6.8h x 10w
cu500 | 1 | 11 lines on front, back blank.
cu510 | 1 | P.HermitageCopt. 53
cu510_dd | 1 | P.HermitageCopt.:53
cu518 | 1 | unknown
cu546 | 1 | In Coptic
cu561 | 1 | Formerly housed in the Academy of Science, St. Petersburg, now in the Hermitage Museum.
cu590 | 1 | Transferred to a paper folder 18.08.2006
cu655 | 1 | Paper
cu655 | 2 | Paper
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 700
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 999
cuOrgcode | 1 | RU-SPGE
cuR_TYPE | 1 | r
