# APIS Editor [07/30/2007] aso2101 - new record
# APIS Editor [08/07/2008] aso2101 - replacement
cu001 | 1 | hermitage.apis.499
cu035 | 1 | (RU-SPGE)499
cu090 | 1 | Hermitage inv. 5673
cu090_orgcode | 1 | RU-SPGE
cu245ab | 1 | Document
cu245f | 1 | III-Ist c. BC
cu300 | 1 | 6.2 x 4.8
cu500 | 1 | 6 lines on front with the fibers, back blank.
cu510 | 1 | Unpublished
cu518 | 1 | Provenance Unknown
cu546 | 1 | In Greek
cu561 | 1 | From the collection of V.G. Bock; Hermitage Museum, St. Petersburg, Russia
cu655 | 1 | Papyri
cu655 | 2 | Papyri
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 1 | 299
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 0
cuOrgcode | 1 | RU-SPGE
cuR_TYPE | 1 | r
