# APIS Editor [04/13/2007] wgc2103 - replacement
# APIS Editor [03/21/2008] wgc2103 - replacement
# APIS Editor [04/21/2008] wgc2103 - replacement
# APIS Editor [05/05/2008] wgc2103 - replacement
cu001 | 1 | nyu.apis.4731
cu035 | 1 | (NNU)4731
cu090 | 1 | NYU inv. 12
cu090_orgcode | 1 | NNU
cu245ab | 1 | Account
cu245f | 1 | II CE
cu300 | 1 | 1 papyrus ; 6 x 9 cm
cu500 | 1 | Location: Bobst
cu500 | 2 | 6 lines
cu500 | 3 | Source of description: V
cu500 | 4 | Recto: Worp, K. A. - Nielsen, B. "New Papyri from the New York University Collection: III". ZPE 138-140 (2002), p. 141 (Nr. 29); nyu.apis.4730
cu500_t | 1 | Account of salary and wages we have received; 1st installment 800 drachmae, 2nd installment 340 drachmae; 3rd installment 260 drachmae; 4th installment 200 drachmae.
cu510 | 1 | Worp, K. A. - Nielsen, B. "New Papyri from the New York University Collection: III". ZPE 140 (2002), p. 141 (Nr. 30)
cu518 | 1 | From Oxyrhynchus
cu546 | 1 | Greek
cu581 | 1 | Ethyle R. Wolfe, NYU Dissertation, 41, 1949
cu653 | 1 | Accounting, allowances, grain, money
cu655 | 1 | Papyri
cu655 | 2 | Documentary
cu655 | 3 | Accounting
cu655 | 4 | Allowances
cu655 | 5 | Grain
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 100
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 125
cuLCODE | 1 | grc
cuOrgcode | 1 | NNU
cuR_TYPE | 1 | r
perm_group | 1 | w
