# APIS Editor [04/15/2007] wgc2103 - replacement
# APIS Editor [03/24/2008] wgc2103 - replacement
# APIS Editor [04/24/2008] wgc2103 - replacement
# APIS Editor [05/05/2008] wgc2103 - replacement
cu001 | 1 | nyu.apis.4760
cu035 | 1 | (NNU)4760
cu090 | 1 | NYU inv. 37
cu090_orgcode | 1 | NNU
cu245ab | 1 | Official Document
cu245f | 1 | IV CE; possibly before 335 CE
cu300 | 1 | 1 papyrus ; 18.8 x 24.8 cm
cu500 | 1 | Location: Bobst
cu500 | 2 | 12 lines
cu500 | 3 | Source of description: R
cu500_t | 1 | --- from Aurelius/Flavius/Valerius Antonius Theodoros the most distinguished catholicus (?) and magister rei privatae.  As the sale of estates belonging to the fisces and of land parcels --- falling to the most sacred fiscus is, according to custom, coming to be held here in the Capitolium surely on the 11th day before the calends of September (=22. viii), it was necessary to make it clear to all through this proclamation that all those who are willing to make a purchase from the most sacred fiscus should address themselves at my office and ... on the same day, in order that they do (not?) make...clear.
cu510 | 1 | Worp, K. A. - Nielsen, B. "New Papyri from the New York University Collection: IV". ZPE 149 (2004) 105-6 (Nr. 40)
cu510 | 2 | Naphtali Lewis, JJP 15, 159-60, 1965 -- 9883
cu518 | 1 | From: probably Oxyrynchite nome
cu546 | 1 | Greek
cu655 | 1 | Papyri
cu655 | 2 | Documentary
cu655 | 3 | Petition
cu655 | 4 | Application
cu655 | 5 | Magister rei publicae
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 300
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 400
cuLCODE | 1 | grc
cuOrgcode | 1 | NNU
cuR_TYPE | 1 | r
perm_group | 1 | w
