cu001 | 1 | columbia.apis.p276
cu035 | 1 | (NNC)aaa1200
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1papyrus fragment ; 8.3 x 11.7 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 432
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 433
cu090 | 1 | Col.inv. 427a
cu500 | 1 | Written along the fibers; the back is blank
cu500 | 2 | 6 lines of writing originally, but the first 3 are now lost
cu510 | 3 | P.Col. VIII 241
cu510_dd | 4 | P.Col.:8:241
cu520 | 5 | Order for payment for new plantings
cu545 | 6 | From the Oxyrhynchite
cu546 | 7 | In Greek
cu561 | 8 | Purchased by Columbia University by Dr. Askren in 1926-1927; no. 50 in Bell's inventory
cu581 | 9 | Plate 50 in P.Col. VIII
cu655 | 1 | Papyri

cu653 | 1 | Order for payment
cu245ab | 1 | Order [432-433 AD]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
