cu001 | 1 | columbia.apis.p2059
cu035 | 1 | (NNC)p2059
cu090 | 1 | Col.inv. 716
cu090_orgcode | 1 | NNC
cu245ab | 1 | Protocol
cu245f | 1 | [1st and 4th cent. AH] 
cu300 | 1 | 1 papyrus fragment ; 26.5 x 9 cm.
cu500 | 1 | On one side 2 lines of writing; the other side is blank
cu500 | 2 | Written in an extremely large and elaborate hand
cu500 | 3 | Perhaps incomplete on every side 
cu500 | 4 | Glassed
cu520 | 1 | Arabic protocol with a ca. 4th century AH bismillahi underneath
cu546 | 1 | In Arabic
cu561 | 1 | Purchased by Prof. Jeffery in Egypt in 1946, Lot no. 30  
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 1008
cuDateValue | 2 | 622
cuLCODE | 1 | ara
cuOrgcode | 1 | NNC
perm_group | 1 | w
