cu001 | 1 | columbia.apis.965                                 
cu035 | 1 | (NNC)aaa1133                                      
cu090 | 1 | O.Col.inv. 965 (acc. 64.11.297)
cu090_orgcode | 1 | NNC
cu245ab | 1 | drawing [VI-VII century]
cu300 | 1 | 1 ostracon ; limestone ; 8.3 x 14.7 cm
cu500 | 1 | drawings on the front and on the back
cu500 | 2 | incomplete
cu520 | 3 | decorative drawings consisting mostly of squares filled with dots and separated by horizontal and vertical lines
cu561 | 4 | from Thebes, Deir el Bahri, excavated by the Metropolitan Museum in 1926-29, Burton photo M10C 24.  Formerly property of the Metropolitan Museum, sold to Columbia University in 1958
cu581 | 5 | Brigitte Krause Becker, Festschrift Johannes Jahn (Leipzig 1957) 33-39, Abb. 21 on p. 358
cu655 | 1 | Ostraca
cuDateConfidence | 1 | ___       
cuDateConfidence | 2 | ___       
cuDateRange | 1 | b         
cuDateRange | 2 | e         
cuDateSchema | 1 | c         
cuDateSchema | 2 | c         
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 500       
cuDateValue | 2 | 690       
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
