cu001 | 1 | columbia.apis.p1886
cu035 | 1 | (NNC)p1886
cu090 | 1 | Col. inv. 770
cu090_orgcode | 1 | NNC
cu245ab | 1 | Contract
cu245f | 1 | [VI-VII]
cu300 | 1 | 1 papyrus fragment; 15 x 15 cm.
cu500 | 1 | 7 lines along the fibers; back blank
cu500 | 2 | Rubbed and with holes
cu500 | 3 | 2 different hands
cu520 | 1 | Contract with witnesses
cu546 | 1 | In Coptic
cu561 | 1 | Acquired from the Metropolitan Museum of Art. MMA 90.5.972
cu590 | 1 | Glued to cardboard
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 500
cuDateValue | 2 | 699
cuLCODE | 1 | cop
cuOrgcode | 1 | NNC
perm_group | 1 | w
