cu001 | 1 | columbia.apis.p504
cu035 | 1 | (NNC)aaa3680
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 6.7 x 7.4 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 96
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 98
cu090 | 1 | Col. inv. 84(5)b recto
cu500 | 1 | Written along the fibers; on the verso, 12 lines
cu500 | 2 | 8 lines; broken top and left
cu500 | 3 | The last two lines, written in a different hand and possibly representing a signature by a second person, appear to have been deliberately erased
cu500 | 4 | The hand is a small fluent cursive
cu520 | 5 | Document dealing with a house; refers to measurements in cubits.  Dated in the reign of Nerva (year lost)
cu546 | 6 | In Greek
cu561 | 7 | Purchased by Columbia University from M. Nahman through H.I. Bell, in 1924; no II.114 in Bell's inventory
cu590 | 8 | Description
cu655 | 1 | Papyri

cu245ab | 1 | Documentary Text [Reign of Nerva]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
