cu001 | 1 | columbia.apis.8
cu035 | 1 | (NNC)aaa0179
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 00 1 ostracon ; 8 x 9.8 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 150
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 50
cu090 | 1 | O.col.inv. 8 (acc. 1.9)
cu500 | 1 | written on one side, complete, 2 columns of 8 lines; underneath there is a large blank space
cu500 | 2 | on the first line of the first col. there is a "kappa" with a stroke, probably the number of this list
cu500 | 3 | written with thick letters and some corrections
cu520 | 4 | a list of names with amounts (Sisois, Piyris, Pachois etc.)
cu546 | 5 | in Coptic
cu561 | 6 | provenance unknown.  Formerly property of the Metropolitan Museum, MMA 21.2.128, sold to Columbia University in 1958
cu655 | 1 | Ostraca

cu245ab | 1 | list [II-I BC]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
