cu001 | 1 | columbia.apis.p1845
cu035 | 1 | (NNC)p1845
cu090 | 1 | Col. inv. 602 recto
cu090_orgcode | 1 | NNC
cu245ab | 1 | Documentary text
cu245f | 1 | [VIII]
cu300 | 1 | 1 papyrus fragment; 16.2 x 13.0 cm.
cu500 | 1 | Written against fibers, in a hand different from apis.p1844.
cu500 | 2 | 7 lines, bottom margin intact.
cu520 | 1 | Document: content unclear
cu546 | 1 | In Coptic
cu561 | 1 | Purchased by Columbia University c. 1932
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 700
cuDateValue | 2 | 799
cuLCODE | 1 | cop
cuOrgcode | 1 | NNC
perm_group | 1 | w
