cu001 | 1 | columbia.apis.114
cu035 | 1 | (NNC)aaa0284
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 ostracon ; tan clay ; 7.8 x 9 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 120
cu090 | 1 | O.Col.inv. 114 (acc. 7.18)
cu500 | 1 | 7 lines of writing on the front in two columns, back blank
cu500 | 2 | apparently complete
cu500 | 3 | same format of Col.inv. 112 and probably same hand
cu520 | 4 | receipt for wheat
cu546 | 5 | in Greek
cu561 | 6 | provenance unknown. Purchased by the Metropolitan Museum, MMA inv. 21.2.135. Sold to Columbia University in 1958
cu655 | 1 | Ostraca

cu245ab | 1 | receipt [120 BC]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
