# APIS Editor [01/31/2007] rc141 - replacement
cu001 | 1 | columbia.apis.31
cu035 | 1 | (NNC)aaa0202
cu090 | 1 | O.Col.inv. 31 (acc. 2.12)
cu090_orgcode | 1 | NNC
cu245ab | 1 | documentary text [VII-VIII century]
cu300 | 1 | 1 ostracon ; tan ribbed clay ; 10.5 x 8.5 cm
cu500 | 1 | written on both sides, 5 lines on recto and 5 on verso
cu500 | 2 | perhaps complete
cu500 | 3 | the hand is ligatured and fast
cu520 | 4 | an account perhaps
cu546 | 5 | in Coptic?
cu561 | 6 | from Medinet Habu.  Gift of T.M. Davis in 1913 to the Metropolitan Museum, MMA inv. 14.6.98.  Sold to Columbia University in 1958
cu590 | 1 | Assigned to J. Cromwell 2/1/2007
cu655 | 1 | Ostraca
cu655 | 2 | Papyri
cu965 | 1 | APIS
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 700
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 790
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
status | 1 | 1
