# APIS Editor [11/12/2006] rc141 - replacement
cu001 | 1 | columbia.apis.p391
cu035 | 1 | (NNC)aaa3567
cu090 | 1 | Fay. 214 recto
cu090_orgcode | 1 | NNC
cu245ab | 1 | Memorandum [1st year of Caligula, AD 37]
cu300 | 1 | 1 papyrus fragment; 13.2 x 7 cm
cu500 | 1 | Written along the fibers; on the verso, a document
cu500 | 2 | 4 lines; almost complete
cu500 | 3 | The hand is a rapid cursive
cu510 | 4 | P.Fay 214 Descriptum
cu520 | 5 | Message to the komogrammateus of Euhemeria, instructing him to give the bearer a list of contractors for construction of dikes
cu545 | 6 | From Kasr el Banat
cu546 | 7 | In Greek
cu561 | 8 | Given to Columbia University by the Egypt Exploration Society, 1901
cu655 | 1 | Papyri
cu655 | 2 | Papyri
cuDateConfidence | 1 | ___
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 37
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
