cu001 | 1 | columbia.apis.p1406
cu035 | 1 | (NNC)aaa4488
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 1.2 x 1.7 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 261
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 229
cu090 | 1 | Col. inv. 345c
cu500 | 1 | Written along the fibers; back blank; very light papyrus
cu500 | 2 | 1 line with 2 characters
cu500 | 3 | Small informal hand
cu520 | 4 | Perhaps belonging to Zenon's archive: only 2 characters remain
cu546 | 5 | In Greek
cu561 | 6 | Purchased by Columbia University from Kondilios through H.I. Bell, in 1926; no. 40 in Bell's inventory
cu655 | 1 | Papyri

cu245ab | 1 | Documentary text [261-229 BC]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
