# APIS Editor [11/15/2006] rc141 - replacement
cu001 | 1 | columbia.apis.p51
cu035 | 1 | (NNC)aaa1363
cu090 | 1 | Col.inv. 276
cu090_orgcode | 1 | NNC
cu1004 | 1 | aut
cu100a | 1 | Stotoetis, 3 in Pap.Lugd.Bat. XXI, p. 420
cu100d | 1 | null
cu100g | 1 | null
cu245ab | 1 | Letter [October 2, 251 or 250 BC]
cu300 | 1 | 1papyrus ; 6.7 x 33 cm
cu500 | 1 | Written along the fibers with 29 lines; on the back, across the fibers, address and docket
cu500 | 2 | Written in a small, clear hand probably by a scribe; on top there is a margin of 4 cm.; the strip of papyrus is unusually tall and narrow
cu500_t | 3 | To Zenon greeting from Stotoetis. I obtained from Themistos 135 artabs of aracus, of which 75 [were obtained] in Arsinoe, 20 in Trikomia, 40 on the farmstead of Maron, total 135 artabs. I happened to interview Diogenes, and he told me that he would load the pack animals and bring them down to Ptolemais. But I have not seen what Diogenes has. I sent you the sample of the [aracus] from Maron. And the sample which you may find to be better is that of the 60 artabs; and the other sample is that of the 75 artabs from Arsinoe I have written you so that you might be informed. Will you, therefore, kindly send someone to take [them] over? I am not going to Diogenes until you send to me.
cu510 | 4 | P.Col. III 51
cu510 | 5 | P.Col.Zen. I 51
cu510_dd | 6 | P.Col.:3:51
cu520 | 7 | Letter from Stotoetis to Zenon reporting that he purchased some arakos and sent a sample of it to him; Diogenes was sending animals to Ptolemais
cu545 | 8 | Part of the archive of Zenon, employee of Apollonios who was dioiketes (Finance Minister) under Ptolemy II; written when Zenon was manager of the estate in Philadelphia
cu546 | 9 | In Greek
cu561 | 10 | Purchased by Columbia University from Dr. Kondilios through H.I. Bell in July 1925; no. 41 in Bell's inventory
cu581 | 11 | Corrections to line 3 (Youtie and Preaux in P.Col.Zen. II p. 205) and line 9 (Youtie, "Scriptiunculae" II p. 787); correction to line 9 by Clarysse, personal communication
cu653 | 1 | Themistos, -- 2 in Pap.Lugd.Bat. XXI, p. 339
cu653 | 2 | Diogenes, -- 4 in Pap.Lugd.Bat. XXI, p. 315
cu653 | 3 | Maron, -- 1 in Pap.Lugd.Bat. XXI, p. 364
cu655 | 1 | Papyri
cu655 | 2 | Papyri
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 1 | 251
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 250
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
