# APIS Editor [11/07/2006] rc141 - replacement
# APIS Editor [01/15/2009] rla2118 - replacement
cu001 | 1 | columbia.apis.p367
cu035 | 1 | (NNC)aaa3543
cu090 | 1 | Oxy. 538
cu090_orgcode | 1 | NNC
cu1004 | 1 | aut
cu100a | 1 | Homer
cu100d | 1 | null
cu100g | 1 | null
cu245ab | 1 | Iliad [III AD]
cu300 | 1 | 1 papyrus fragment; 10.7 x 10 cm
cu500 | 1 | Upper part of a leaf from a book.  Text on the verso, precedes that on the recto
cu500 | 2 | verso, 25 lines; recto 24 lines; broken except at top(?)
cu500 | 3 | Written in small, upright letters, a formal hand of the mixed style
cu500 | 4 | Lots of lectional signs: accents, apostrophe, breathings, stops, and a paragraphus
cu510 | 4 | P.Oxy. III 538 Descriptum
cu520 | 5 | Iliad i. 273-297 (verso);  Iliad i. 318-342
cu545 | 6 | From Oxyrhynchus
cu546 | 7 | In Greek
cu561 | 8 | Given to Columbia University by the Egypt Exploration Society, 1907
cu590 | 1 | p367
cu653 | 1 | Homer
cu655 | 1 | Papyri
cu655 | 2 | Papyri
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 200
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 299
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
