cu001 | 1 | columbia.apis.p645
cu035 | 1 | (NNC)aaa3821
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 19 x 28.3 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 400
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 499
cu090 | 1 | Col. inv. 116a
cu500 | 1 | Written along the fibers; on the verso, one line (docket)
cu500 | 2 | 19 lines; broken both sides
cu500 | 3 | The papyrus is tattered and has some holes
cu500 | 4 | The hand is large and clear
cu500 | 5 | The document was signed by two or three different hands
cu520 | 6 | Lease for land.  The docket on the verso, includes the word presbyteros
cu546 | 7 | In Greek
cu561 | 8 | Purchased by Columbia University from M. Nahman through H.I. Bell, in 1924; no. III.36 in Bell's inventory
cu590 | 9 | Publishable
cu655 | 1 | Papyri

cu245ab | 1 | Lease [V AD]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
