cu001 | 1 | columbia.apis.p1411
cu035 | 1 | (NNC)aaa4493
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 19.7 x 7.2 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 261
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 229
cu090 | 1 | Col. inv. 371
cu500 | 1 | Written along the fibers; back blank
cu500 | 2 | 3 lines from bottom of a column + traces of a previous column
cu500 | 3 | Bottom part of a roll; bottom margin of 5 cm
cu500 | 4 | Text is very effaced
cu520 | 5 | Account.  Perhaps belonging to Zenon's archive
cu546 | 6 | In Greek
cu561 | 7 | Purchased by Columbia University from Kondilios through H.I. Bell, in 1926; no. 101 in Bell's inventory
cu655 | 1 | Papyri

cu245ab | 1 | Account [261-229 BC]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
