cu001 | 1 | columbia.apis.p1918
cu035 | 1 | (NNC)aaa5006
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment ; 14 x 18 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 200
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 399
cu090 | 1 | Col. inv. 148
cu500 | 1 | Papyrus badly damaged and broken on the bottom
cu500 | 2 | 17 lines  written along the fibers; remains of one line on the verso with the address
cu500 | 3 | The hand is a semi-cursive with many ligatures
cu510 | 4 | P.Col. XI 298
cu510_dd | 5 | P.Col.:11:298
cu520 | 6 | A letter with some features in common with Christian letters of peace with a request to receive a catechumen
cu546 | 7 | In Greek
cu561 | 8 | Purchased by Columbia University from M. Nahman through H.I. Bell, in 1924; no. 28 in Bell's inventory
cu581 | 9 | Plate 6 in P.Col. XI
cu500_t | 10 | <mmfclob>/www/data/cu/libraries/inside/projects/metadata/translator/conv/2_10_03/clob/clob--columbia.apis.p1918--cu500_t--10.txt</mmfclob>
cu655 | 1 | Papyri

cu245ab | 1 | Letter [III-IV AD]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
