cu001 | 1 | columbia.apis.p109
cu035 | 1 | (NNC)aaa1421
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1papyrus fragment ; 15.3 x 13.2 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 261
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 229
cu090 | 1 | Col.inv. 283
cu500 | 1 | 10 lines written across the fibers; the back is blank and shows only ink blottings
cu500 | 2 | The hands are actually two: the first writes the body of the letter in calligraphic style; then a second person, the sender, corrects it and adds the last two lines in a smaller "evolving" and strictly bilinear hand
cu510 | 3 | P.Col. IV 110
cu510 | 4 | P.Col.Zen. II 110
cu510_dd | 5 | P.Col.:4:110
cu520 | 6 | Fragmentary draft of a letter of Kallikon to Apollognotos mentioning a boat that would be delivered to Chrysermos
cu545 | 7 | Part of the archive of Zenon, employee of Apollonios who was dioiketes (Finance Minister) under Ptolemy II
cu546 | 8 | In Greek
cu561 | 9 | Purchased by Columbia University from Dr. Kondilios through H.I. Bell in July 1925; no. 61 in Bell's inventory
cu500_t | 10 | <mmfclob>/www/data/cu/libraries/inside/projects/metadata/translator/conv/2_10_03/clob/clob--columbia.apis.p109--cu500_t--10.txt</mmfclob>
cu100a | 1 | Kallikon, 1 in Pap.Lugd.Bat. XXI, p. 350
cu1004 | 1 | aut
cu655 | 1 | Papyri

cu653 | 1 | Apollognotos, -- Pap.Lugd.Bat. XXI, p. 290
cu653 | 2 | Chrysermos, -- official in Alexandria, 2 in Pap.Lugd.Bat. XXI, p. 441
cu245ab | 1 | letter [between 261 and 229 BC]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
