cu001 | 1 | columbia.apis.p1588
cu035 | 1 | (NNC)aaa4676
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 2.1 x 4.1 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 100
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 299
cu090 | 1 | Col. inv. 444c verso
cu500 | 1 | Written across the fibers; on the recto, a document
cu500 | 2 | 2 lines; broken on all sides
cu500 | 3 | The hand is cursive
cu520 | 4 | Document: content unclear
cu546 | 5 | In Greek
cu561 | 6 | Purchased by Columbia University through H.I. Bell, in 1926-27; no. II.112 in Bell's inventory
cu590 | 7 | Not glassed
cu655 | 1 | Papyri

cu245ab | 1 | Documentary Text [II/III AD]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
