cu001 | 1 | columbia.apis.p1498
cu035 | 1 | (NNC)aaa4816
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 7.6 x 11.5 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 150
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 250
cu090 | 1 | Col. inv. 412a recto
cu500 | 1 | Written along the fibers; on the verso a bank order
cu500 | 2 | 14 lines; broken except at bottom
cu520 | 3 | Account
cu546 | 4 | In Greek
cu561 | 5 | Purchased by Columbia University through H.I. Bell, in 1926-27; no. II.5 in Bell's inventory
cu655 | 1 | Papyri

cu653 | 1 | Account
cu245ab | 1 | Account [II-IIIAD]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
