cu001 | 1 | columbia.apis.2225
cu035 | 1 | (NNC)aaa2771
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 ostracon ; rown bribbed clay ; 7.6x9cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 690
cu090 | 1 | O.Col.inv. 2225 (acc. D770)
cu500 | 1 | 1 line of writing on the front, plus traces of writing in a different hand; back blank
cu500 | 2 | incomplete?
cu500 | 3 | a previous text in a hand smaller than the one that writes the first line was washed off
cu520 | 4 | only the word "I Helias" remain
cu546 | 5 | in Coptic
cu561 | 6 | from Thebes, Monastery of Epiphanius (West Rubbish Heaps).  Property of the Metropolitan Museum, sold to Columbia University in 1961
cu655 | 1 | Ostraca

cu245ab | 1 | documentary text [VI-VII century]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
