# APIS Editor [07/14/2006] rc141 - replacement
cu001 | 1 | columbia.apis.13
cu035 | 1 | (NNC)aaa0184
cu090 | 1 | O.Col.inv. 13 (acc. 1.14)
cu090_orgcode | 1 | NNC
cu245ab | 1 | letter [VI-VII century]
cu300 | 1 | 1 ostracon ; 9 x 11.5 cm
cu500 | 1 | written on one side, 16 incomplete lines, broken on the right and on the bottom
cu520 | 2 | fragment from a letter to the beloved brothers mentioning Markos and Andreas; the writer asks the recipients to remember him in their prayers and speaks of a "topos" of (?) the Holy Archangel
cu546 | 3 | in Coptic
cu561 | 4 | from Thebes?  Gift of H.E. Winlock in 1924 to the Metropolitan Museum, MMA inv. 24.6.8.  Sold to Columbia University in 1958
cu590 | 1 | Assigned to Bakker 7/1/06
cu655 | 1 | Ostraca
cu965 | 1 | APIS
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 690
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
status | 1 | 1
