cu001 | 1 | columbia.apis.977
cu035 | 1 | (NNC)aaa1523
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 ostracon ; tan clay ; 9.3 x 11.5 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 690
cu090 | 1 | O.Col.inv. 977 (acc. 64.12.6)
cu500 | 1 | 10 lines of writing on the front, back blank
cu500 | 2 | incomplete at least on the right
cu500 | 3 | a large part of the text broke off on the right and the ink is faded in places
cu500 | 4 | written in an "evolving" hand
cu520 | 5 | probably a personal letter sent mentioning sending something; the addressees are plural, probably "my holy fathers"
cu546 | 6 | in Coptic
cu561 | 7 | from Thebes, Monastery of Epiphanius.  Property of the Metropolitan Museum, sold to Columbia University in 1958
cu655 | 1 | Ostraca

cu245ab | 1 | letter [VI-VII century]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
