cu001 | 1 | columbia.apis.p314
cu035 | 1 | (NNC)aaa1238
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1papyrus, broken at the bottom and with the right margin frayed ; 15 x 22.5 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 287
cu090 | 1 | Col.inv. 31
cu500 | 1 | Written along the fibers; the back is blank
cu500 | 2 | 26 lines of writing by 2 different hands: the main hand is a standard cursive, while the second is faster, smaller, and writes with a finer pen
cu510 | 3 | P.Col. X 281
cu510_dd | 4 | P.Col.:10:281
cu520 | 5 | Agreement cncerning the appointment of komarchs of Philadelphia for three successive years: Aurelius Hol agrees to nominate Cornelius to the post on condition that Cornelius nominate Hol's brother for the following term
cu545 | 6 | From Philadelphia
cu546 | 7 | In Greek
cu561 | 8 | Purchased by Columbia University from M. Nahman through H.I. Bell, on July 1923; no. 40 (IV 26) in Bell's inventory
cu581 | 9 | Plate 38 in P.Col. X; published by D. Delia and E. Haley, BASP 20 (1983) 39-47 (SB XVI 12829)
cu500_t | 10 | <mmfclob>/www/data/cu/libraries/inside/projects/metadata/translator/conv/2_10_03/clob/clob--columbia.apis.p314--cu500_t--10.txt</mmfclob>
cu100a | 1 | Aurelius Hol, son of Kopres, komarch
cu1004 | 1 | aut
cu100a | 2 | Cornelius, son of Posis
cu1004 | 2 | asn
cu655 | 1 | Papyri

cu653 | 1 | Agreement; office of Komarch
cu245ab | 1 | Contract [July-August 287 AD]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
