# APIS Editor [09/08/2006] rc141 - replacement
cu001 | 1 | columbia.apis.p23
cu035 | 1 | (NNC)p23
cu090 | 1 | Col.inv. 366
cu090_orgcode | 1 | NNC
cu1004 | 1 | aut
cu100a | 1 | Patis
cu100g | 1 | 1 in Pap.Lugd.Bat. XXI, p. 393
cu245ab | 1 | Receipt
cu245f | 1 | January 10, 256 BC
cu300 | 1 | 1 papyrus ; 8 x 10 cm.
cu500 | 1 | Written across the fibers with 8 lines; the back is blank
cu500 | 2 | Fast, cursive hand
cu500 | 3 | Part of the seal remains
cu500_t | 1 | Year 29, Hathyr 17. Patis son of Pais has received 6 drachmas 4 obols as a loan for cutting out brushwood upon 10 arouras, at 4 obols. Total, 6 drachmas 4 obols.
cu510_dd | 1 | P.Col.:3:23
cu520 | 1 | Duplicate receipt for loan at 4 obols per aroura: money paid for cutting out brushwood
cu546 | 1 | In Greek
cu561 | 1 | Purchased by Columbia University from Dr. Kondilios through H.I. Bell in December 1926; no. 91 in Bell's inventory.
cu581 | 1 | Published in JEA 16 (1930) 24-30 and Seminarium Kondakovianum 4 (1931) 205-210
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 1 | 256
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
