cu001 | 1 | columbia.apis.p77
cu035 | 1 | (NNC)aaa1389
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 2papyrus fragments ; 12 x 15 cm. +  6 x 12.5 cm



cuDateRange | 2 | s
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 253
cu090 | 1 | Col.inv. 333 + 357
cu500 | 1 | The letter was folded 9 times and the fissures between fragments run along 2 of the folds
cu500 | 2 | The hand appears fluent but irregular; there are some spelling mistakes caused by unfamiliarity with Greek
cu500 | 3 | Many ink traces on both sides: the letter was folded when the ink was not dry
cu500 | 4 | The front (there is a joint between 2 sheets in the middle of the second col.) is written along the fibers with 16 lines in the 1st fr. and 10 in the 2nd; the text continues in the back of the 1st fr., across the fibers; on the back there are also various figures, the address and the docket
cu510 | 5 | Pap.Lugd.Bat. XX 38 joins the Col. fragments with PSI VI 639
cu510 | 6 | P.Col. IV 78
cu510 | 7 | P.Col.Zen. II 78
cu510 | 8 | P.Col. IV 114j
cu510 | 9 | P.Col.Zen. II 114j
cu510_dd | 10 | P.Col.:4:114j
cu520 | 11 | Letter of Onnophris to Zenon reporting the results of his assessment of land allotments held by veterans in the two 10,000 aroura estates of Andromachos and Panouphis: in the first estate the proportion of land rendered uncultivable by rising salt is mentioned. Then follows a list of holdings of various cleruchs
cu545 | 12 | Part of the archive of Zenon, employee of Apollonios who was dioiketes (Finance Minister) under Ptolemy II; written when Zenon was manager of the estate in Philadelphia
cu546 | 13 | In Greek
cu561 | 14 | Purchased by Columbia University from Dr. Kondilios through H.I. Bell in December 1926; nos. 4 and 69 in Bell's inventory
cu581 | 15 | Plates XX and XXI in Pap.Lugd.Bat. XX of 3 fragments together; edition of 2 fragments by E. Van 't Dack, CdE 36 (1961) 178-81 with plates
cu500_t | 16 | <mmfclob>/www/data/cu/libraries/inside/projects/metadata/translator/conv/2_10_03/clob/clob--columbia.apis.p77--cu500_t--16.txt</mmfclob>
cu100a | 1 | Onnophris, 8 in Pap.Lugd.Bat. XXI, p. 379
cu1004 | 1 | aut
cu655 | 1 | Papyri

cu653 | 1 | Names of many cleruchs, -- see Pap.Lugd.Bat. XXI, sec. IX
cu653 | 2 | Andromachos, -- 3 in Pap.Lugd.Bat. XXI, p. 286
cu653 | 3 | Panouphis, -- 3 in Pap.Lugd.Bat. XXI, p. 387
cu245ab | 1 | Letter [received November 7, 253 BC]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
