cu001 | 1 | columbia.apis.144
cu035 | 1 | (NNC)aaa0313
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 ostracon ; limestone ; 9.5 x 10.5 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 690
cu090 | 1 | O.Col.inv. 144 (acc. 9.6)
cu500 | 1 | on the front 8 lines of writing quite faded. On the back writing by a different larger and more formal hand
cu500 | 2 | incomplete on the top, bottom and on the left
cu500 | 3 | written on the front by a regular bilinear hand
cu520 | 4 | on the front a letter to Konon that mentions Victor; in the back another letter asking someone to send measures of something to the cultivators
cu546 | 5 | in Coptic
cu561 | 6 | from Ballas. Gift of A.M. Lythgoe in 1917 to the Metropolitan Museum, MMA inv. 17.6.68. Sold to Columbia University in 1958
cu655 | 1 | Ostraca

cu245ab | 1 | letters [VI-VII century]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
