cu001 | 1 | columbia.apis.p1741
cu035 | 1 | (NNC)aaa5052
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 5.8 x 14.2 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 100
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 299
cu090 | 1 | Col. inv. 528b (4)
cu500 | 1 | Written along the fibers; on the recto, traces of 3 lines
cu500 | 2 | 15 lines; broken except at bottom
cu500 | 3 | The hand is a small, rapid cursive
cu520 | 4 | Account
cu546 | 5 | In Greek
cu561 | 6 | Purchased by Columbia University through H.I. Bell, in 1930; no. II.14 in Bell's inventory
cu590 | 7 | Conservation: nedds cleaning, flattening and fiber work  Not glassed
cu655 | 1 | Papyri

cu245ab | 1 | Account [II/III AD]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
