cu001 | 1 | columbia.apis.p2086
cu035 | 1 | (NNC)p2086
cu090 | 1 | Col.inv. 746 
cu090_orgcode | 1 | NNC
cu245ab | 1 | List
cu245f | 1 | [2nd cent. AH] 
cu300 | 1 | 1 papyrus fragment ; 18 x 19 cm.
cu500 | 1 | On one side at least 16 lines of writing; in the other remains of 14 lines 
cu500 | 2 | The papyrus is tattered and full of holes; badly needs conservation work                             
cu500 | 3 | Incredibly careful script, even for a tax register.
cu500 | 4 | Unglassed
cu520 | 1 | The side with 16 lines represents a list of payments received from guarantors on behalf of individuals: "From the hands of (name) on behalf of (name)." The other side has remains of 7 or more columns of Greek numerals, on left, remains of Arabic letters
cu546 | 1 | In Arabic
cu561 | 1 | Purchased by Prof. Jeffery in Egypt in 1946, Lot no. 36  
cu653 | 1 | Tax register
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 718
cuDateValue | 2 | 815
cuLCODE | 1 | ara
cuOrgcode | 1 | NNC
perm_group | 1 | w
