# APIS Editor [10/05/2006] rc141 - replacement
cu001 | 1 | columbia.apis.922
cu035 | 1 | (NNC)aaa1090
cu090 | 1 | O.Col.inv. 922 (acc. 64.11.253)
cu090_orgcode | 1 | NNC
cu245ab | 1 | exercise? [VI-VII century]
cu300 | 1 | 1 ostracon ; limestone ; 9 x 9 cm
cu500 | 1 | remains of 5 lines of writing on the front; traces of letters on the back
cu500 | 2 | incomplete at least on the bottom
cu500 | 3 | written in huge letters, "alphabetic"
cu520 | 4 | many letters, no sense discernible: probably a school exercise
cu546 | 5 | in Coptic
cu561 | 6 | from Thebes, Deir el Bahri, excavated by the Metropolitan Museum in 1926-29, Burton photo M10C 18.Formerly property of the Metropolitan Museum, sold to Columbia University in 1958
cu590 | 1 | Reserved for publication to Cribiore and Hickey, 7/1/06
cu655 | 1 | Ostraca
cu655 | 2 | Papyri
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 690
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
