cu001 | 1 | columbia.apis.p1934
cu035 | 1 | (NNC)1934 
cu090 | 1 | P.Col.inv. 784
cu090_orgcode | 1 | NNC
cu245ab | 1 | letter?
cu245f | 1 | VI century
cu300 | 1 | papyrus fragment, some fibers are stripped away; 15 x 5 cm.
cu500 | 1 | 4 lines of writing along the fibers; the back is blank
cu500 | 2 | incomplete on all sides
cu500 | 3 | the hand is inclined to the right and appears proficient
cu520 | 1 | probably a letter. The writer asks to be informed about something
cu546 | 1 | in Coptic
cu561 | 1 | found among the papers of A.A. Schiller, no. 1
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 500
cuDateValue | 2 | 590
cuOrgcode | 1 | NNC
perm_group | 1 | w
