# APIS Editor [10/11/2006] rc141 - replacement
cu001 | 1 | columbia.apis.3143
cu035 | 1 | (NNC)3143
cu090 | 1 | O.Col.inv. 3143 (acc.23.3.741)
cu090_orgcode | 1 | NNC
cu245ab | 1 | exercise,
cu245f | 1 | [VI-VII century]
cu300 | 1 | 1 ostracon ; limestone ; 12.5x8cm.
cu500 | 1 | 3 lines of writing on the front, back blank.
cu500 | 2 | perhaps incomplete on the left, or maybe the missing letters were washed off
cu520 | 1 | alphabet in reversed order
cu546 | 1 | in Greek
cu561 | 1 | from Thebes, Deir el Bahri (near Tomb of Meru, Site XXI A).  Property of the Metropolitan Museum, sold to Columbia University in 1961.
cu590 | 1 | Reserved for publication to Cribiore and Hickey, 7/1/06
cu655 | 1 | Ostraca
cu655 | 2 | Papyri
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 690
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
