cu001 | 1 | columbia.apis.3112
cu035 | 1 | (NNC)3112
cu090 | 1 | O.Col.inv. 3112 (acc.D168)
cu090_orgcode | 1 | NNC
cu245ab | 1 | letter?,
cu245f | 1 | [VI-VII century]
cu300 | 1 | 1 ostracon ; red clay ; 7.9x9.5cm.
cu500 | 1 | 15 partial lines of writing on the front, 11 on back.
cu500 | 2 | incomplete at least on left and bottom sides
cu500 | 3 | the text on the front is almost entirely faded
cu520 | 1 | the text (probably a letter) mentions the "son Stephanos"
cu546 | 1 | in Coptic
cu561 | 1 | from Thebes, Monastery of Epiphanius (Rooms 1 or 3).  Property of the Metropolitan Museum, sold to Columbia University in 1961.

cu655 | 1 | Ostraca
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 500
cuDateValue | 2 | 690
cuLCODE | 1 | cop
cuOrgcode | 1 | NNC
perm_group | 1 | w
