# APIS Editor [11/14/2006] rc141 - replacement
cu001 | 1 | columbia.apis.p2067
cu035 | 1 | (NNC)p2067
cu090 | 1 | Col.inv. 724
cu090_orgcode | 1 | NNC
cu245ab | 1 | Letter and receipt
cu245f | 1 | [3rd cent. AH]
cu300 | 1 | 2 papyrus fragments ; 12.5 x 11.5 and 6 x 9 cm.
cu500 | 1 | The fragments belong to the same document
cu500 | 2 | Fr. 1: on one side 8 lines of writing; in the other 5; needs to be unfolded and flattened and the two pieces fitted together
cu500 | 3 | The side where the letter is written has the right and left margins
cu500 | 4 | The letter has some dots, and is written in a very poor hand
cu500 | 5 | Fr. 2: on one side 5 lines; back blank
cu500 | 6 | Needs conservation work
cu500 | 7 | Unglassed
cu520 | 1 | Letter; the piece with writing on both sides may be an unofficial receipt
cu546 | 1 | In Arabic
cu561 | 1 | Purchased by Prof. Jeffery in Egypt in 1946, Lot no. 31
cu655 | 1 | Papyri
cu655 | 2 | Papyri
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 815
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 915
cuLCODE | 1 | ara
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
