cu001 | 1 | columbia.apis.p118
cu035 | 1 | (NNC)aaa1430
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 2papyrus fragments ; 7.3 x 7.6 + 5.4 x 6.5 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 261
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 229
cu090 | 1 | Col.inv. 306e7 +306e8
cu500 | 1 | Written along the fibers: 8 lines in the 1st fr. and 4 in the 2nd; the back is blank; at the bottom of the second fragment there is a large margin of 3 cm
cu500 | 2 | The hand is medium-sized and chancery
cu510 | 3 | P.Col. IV 114f
cu510 | 4 | P.Col.Zen. II 114f
cu510_dd | 5 | P.Col.:4:114f
cu520 | 6 | Fragment from a letter mentioning wine
cu545 | 7 | Part of the archive of Zenon, employee of Apollonios who was dioiketes (Finance Minister) under Ptolemy II
cu546 | 8 | In Greek
cu561 | 9 | Purchased by Columbia University from Dr. Kondilios through H.I. Bell in July 1925; no. 128 in Bell's inventory
cu655 | 1 | Papyri

cu245ab | 1 | Letter [between 261 and 229 BC]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
