cu001 | 1 | columbia.apis.p1814
cu035 | 1 | (NNC)p1814
cu090 | 1 | Col. inv. 573
cu090_orgcode | 1 | NNC
cu245ab | 1 | Literary Text
cu300 | 1 | 1 parchment fragment; 9.5 x 5.1 cm.
cu500 | 1 | left and right margins intact	
cu500 | 2 | ink rather faded
cu520 | 1 | Unidentified literary text
cu546 | 1 | In Coptic
cu561 | 1 | Acquired by Columbia University through Professor Gottheil.  Old numbers: Parch 21; Inv. 40; Columbia Coptic Document F
cuLCODE | 1 | cop
cuOrgcode | 1 | NNC
perm_group | 1 | w
