cu001 | 1 | columbia.apis.4
cu035 | 1 | (NNC)aaa0175
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 ostracon ; tan clay, the back is pink ; 8 x 7 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 690
cu090 | 1 | O.Col.inv. 4 (acc. 1.4)
cu500 | 1 | ribbed fragment, written on both sides
cu500 | 2 | broken on the top and on the left; the same text continues in the back
cu500 | 3 | the characters are regular and formal in the front; the back is written faster with letters more inclined to the right
cu520 | 4 | letter mentioning "his" sister and a "good sacrifice or gift" both in the front and back; address: "give it to Apa ... the priest
cu546 | 5 | in Coptic
cu561 | 6 | from Thebes? Formerly property of the Metropolitan Museum, unaccessioned, sold to Columbia University in 1958
cu655 | 1 | Ostraca

cu245ab | 1 | letter [VI-VII century]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
