cu001 | 1 | columbia.apis.28
cu035 | 1 | (NNC)aaa0199
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 ostracon ; 18.5 x 7.5 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 690
cu090 | 1 | O.Col.inv. 28 (acc. 2.9)
cu500 | 1 | written on one side, with 6 lines of writing; back blank
cu500 | 2 | the text is almost complete, something is missing on the right; there ia a large blank space underneath
cu500 | 3 | unpracticed hand with large letters, "evolving"
cu520 | 4 | perhaps a citation: "he will become lord of all his enemies," "what is evil, his mouth is full of curses"
cu546 | 5 | in Coptic
cu561 | 6 | from Thebes?  Gift of H.E. Winlock in 1924 to the Metropolitan Museum, MMA inv. 24.6.3.  Sold to Columbia University in 1958
cu655 | 1 | Ostraca

cu245ab | 1 | liturgical text [VI-VII century]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
