cu001 | 1 | columbia.apis.530                                 
cu035 | 1 | (NNC)aaa0698                                      
cu090 | 1 | O.Col.inv. 530 (acc. 64.2.349)
cu090_orgcode | 1 | NNC
cu245ab | 1 | exercise [VI-VII century]
cu300 | 1 | 1 ostracon ; limestone ; 5 x 9.5 cm
cu500 | 1 | 5 lines of writing on the front with some kind of sign on top of the writing, back blank
cu500 | 2 | complete
cu520 | 3 | writing exercise repeating one letter over and over
cu546 | 4 | in Arabic
cu561 | 5 | from Thebes, Deir el Bahri, excavated by the Metropolitan Museum in 1926-29, Burton photo M10C  14.  Formerly property of the Metropolitan Museum, sold to Columbia University in 1958
cu655 | 1 | Ostraca
cuDateConfidence | 1 | ___       
cuDateConfidence | 2 | ___       
cuDateRange | 1 | b         
cuDateRange | 2 | e         
cuDateSchema | 1 | c         
cuDateSchema | 2 | c         
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 500       
cuDateValue | 2 | 690       
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
