cu001 | 1 | columbia.apis.p115
cu035 | 1 | (NNC)aaa1427
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1papyrus fragment ; 12 x 9.8 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 261
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 229
cu090 | 1 | Col.inv. 303a
cu500 | 1 | 9 lines written along the fibers; the back is blank; there is a large margin on the right
cu500 | 2 | Written by a hand with calligraphic pretensions
cu510 | 3 | P.Col. IV 114c
cu510 | 4 | P.Col.Zen. II 114c
cu510_dd | 5 | P.Col.:4:114c
cu520 | 6 | Fragment from a letter
cu545 | 7 | Part of the archive of Zenon, employee of Apollonios who was dioiketes (Finance Minister) under Ptolemy II
cu546 | 8 | In Greek
cu561 | 9 | Purchased by Columbia University from Dr. Kondilios through H.I. Bell in July 1925; no. 119 in Bell's inventory
cu655 | 1 | Papyri

cu245ab | 1 | Letter [between 261 and 229 BC]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
