cu001 | 1 | columbia.apis.p1965                               
cu035 | 1 | (NNC)p1965                                        
cu090 | 1 | Col.inv. 630
cu090_orgcode | 1 | NNC
cu245ab | 1 | Letter
cu300 | 1 | 5 papyrus fragments ; a 14 x 9.5; b 15.5 x 6.5; c 7 x 6.2; d 2.7 x 4.7; e 5.5 x 5.7 cm.
cu500 | 1 | An unusually thin nib; tiny piece broken off fits bottom of line on left
cu500 | 2 | B, c, and d are from the same letter, c has the left edge
cu500 | 3 | D and e are blank on both sides; the two largest fragments present remains of 4 and 3 lines of writing on the recto and faint traces of writing on the verso
cu500 | 4 | E is faded but should belong the the same period
cu500 | 5 | Unglassed
cu500 | 6 | The fragments are tattered
cu520 | 7 | Fragments from a letter 
cu546 | 8 | In Arabic
cu561 | 9 | Purchased by Columbia University ca. 1932
cu655 | 1 | Papyri
cuLCODE | 1 | ara       
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w