cu001 | 1 | columbia.apis.58
cu035 | 1 | (NNC)aaa0228
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 ostracon ; tan ribbed clay ; 8.5 x 8 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 690
cu090 | 1 | O.Col.inv. 58 (acc. 4.15)
cu500 | 1 | 7 lines of writing on the front, back blank
cu500 | 2 | broken on the top and on the right
cu500 | 3 | divided into 3 fragments, to glue
cu520 | 4 | letter with formulaic expression; it should be given to the "lashane"
cu546 | 5 | in Coptic
cu561 | 6 | from Thebes, Monastery of Epiphanius, cell A.  Excavated in 1913-14 by the Metropolitan Museum, MMA inv. 14.1.121.  Sold to Columbia University in 1958
cu581 | 7 | cf. Mon.Epiph. II 160
cu655 | 1 | Ostraca

cu245ab | 1 | letter [VI-VII century]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
