cu001 | 1 | columbia.apis.p1715
cu035 | 1 | (NNC)p1715
cu090 | 1 | Col. inv. 517c
cu090_orgcode | 1 | NNC
cu245ab | 1 | Letter
cu245f | 1 | [III AD]
cu300 | 1 | 1 papyrus fragment; 3.5 x 12.7 cm.
cu500 | 1 | Written along the fibers; back blank
cu500 | 2 | Upright hand with letters mostly separated
cu520 | 1 | Private letter, not much left; the addressee (Heron) is mentioned in the first line
cu546 | 1 | In Greek
cu561 | 1 | Purchased by Columbia University from M. Nahman, through H.I. Bell, in 1930; no. I.2 in Bell's inventory
cu590 | 1 | Not glassed
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 200
cuDateValue | 2 | 299
cuOrgcode | 1 | NNC
perm_group | 1 | w
