cu001 | 1 | columbia.apis.p237
cu035 | 1 | (NNC)aaa1161
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1papyrus fragment ; 7.2 x 14 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 140
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 70
cu090 | 1 | Col.inv. 517a
cu500 | 1 | Written along the fibers: line endings of a col. and the left part of the adjacent col. are preserved
cu500 | 2 | On the front in the top intercolumnar space there are remains of 3 faded lines of writing by a second hand; on the back there are some numerals and a talent sign
cu500 | 3 | On the front tiny remains of 15 line endings in col. 1 and 22 lines of writing in col. 2 in an experienced Late Ptolemaic book hand
cu500 | 4 | Sometimes the intercolumnar space is reduced to zero: the so-called "Maas's Law" is very evident
cu500 | 5 | The choral passage (which precedes line 208) was not written out as in prose but had pretensions to colometrization; it does not seem to preserve Aristophanes' colometrization
cu500 | 6 | Paragraphoi indicate change of speaker
cu500 | 7 | 4 interesting variants which are not attested anywhere are preserved; the papyrus also preserves other variants of various merit
cu500 | 8 | One accent is preserved; opposite line 230 there is a diagonal mark of obscure significance; iota adscript is sometimes written
cu510 | 9 | P.Col. VIII 202
cu510_dd | 10 | P.Col.:8:202
cu520 | 11 | Euripides, Orestes 208-247
cu545 | 12 | Provenance unknown
cu546 | 13 | In Greek
cu561 | 14 | Purchased by Columbia University from M. Nahman through H.I. Bell, on July 17, 1930; no. 2 in Bell's inventory
cu581 | 15 | Published by C.W. Keyes, CP 33 (1938) 411-13; Pack.MDSU/2.MDNM/ 410; plate 11 in P.Col. VIII
cu100a | 1 | Euripides
cu1004 | 1 | aut
cu655 | 1 | Papyri

cu653 | 1 | Euripides, Orestes
cu245ab | 1 | Orestes [Late II-Early I BC]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
