cu001 | 1 | columbia.apis.p210
cu035 | 1 | (NNC)aaa1297
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1papyrus ; 154.5 x 25 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 339
cu090 | 1 | Col.inv. 181 (19) + 182
cu500 | 1 | Complete with minor damages
cu500 | 2 | Written along the fibers; the back is blank
cu500 | 3 | 74 lines of writing in 4 cols.; blank space of 10.5 cm. at end of 4th col
cu500 | 4 | Large, elaborate hand slightly bent to the right, with enlargement of some letters; a few marks of punctuation
cu500 | 5 | Extensive quotations of dialogue and vivid descriptions
cu500 | 6 | Provides the only extant text of Constantine' s law "praescriptio longi temporis," in Greek translation
cu510 | 7 | P.Col. VII 175
cu510_dd | 8 | P.Col.:7:175
cu520 | 9 | Report of proceedings before defensor civitatis about ownership of some property: Nilos testifies for Herois and Taesis (represented by Theodoros) who took to flight because unable to pay taxes on some land; the land was then cultivated by some peasants who, when the sisters returned, turned it over to them with in addition a parcel that, according to the sisters, did not belong to them; Alexandros is the advocate of the peasants; at the end the defensor confirms that the sisters are liable for taxes on all the land
cu545 | 10 | Belonging to the Karanis Archives of the early Byzantine period
cu546 | 11 | In Greek
cu561 | 12 | Inv. 181 purchased by Columbia University from Mr. Blanchard through H.I. Bell in 1924; no. 19 in Bell's inventory; inv. 182 purchased in 1924 from Abdullah, no. 2 in Bell's inventory
cu581 | 13 | Plate, P.Col. VII, Microfiche 1; the 2 Columbia frgs. published by Lewis and Kraemer, TAPA 68 (1937) 357-87; cf. Skeat, JEA 25 (1939) 81; Wilcken, Archiv 13 (1938) 242-43; Wenger Archiv 13 (1938) 257-59; Rees, JJurPap 6 (1952) 73-102
cu500_t | 14 | <mmfclob>/www/data/cu/libraries/inside/projects/metadata/translator/conv/2_10_03/clob/clob--columbia.apis.p210--cu500_t--14.txt</mmfclob>
cu655 | 1 | Papyri

cu653 | 1 | Herois, -- daugther of Atisios
cu653 | 2 | Taesis, -- daugher of Atisios
cu653 | 3 | Nilos, -- husband of Herois
cu653 | 4 | Theodoros, -- advocate
cu653 | 5 | Germanos, -- headman
cu653 | 6 | Alexandros, -- advocate
cu653 | 7 | Sabinus, -- censitor
cu653 | 8 | Anoubion, -- assistant of defensor
cu653 | 9 | Office of defensor civitatis; Roman law; Constantine' s law "praescriptio longi temporis"
cu245ab | 1 | Report of proceedings 339 AD
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
