cu001 | 1 | columbia.apis.p386
cu035 | 1 | (NNC)aaa3562
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 6.3 x 21.9 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 196
cu090 | 1 | Fay. 42
cu500 | 1 | Written along the fibers; back blank
cu500 | 2 | 17 lines; complete
cu500 | 3 | The hand is an uneven cursive
cu510 | 4 | P.Fay. 42
cu520 | 5 | Tax-collectors' return.  Addressed to Philoxenus, strategos of the Themistes and Polemon divisions of the Arsinoite nome from Anoubas and partners, tax collectors of Archelais Acknowledges receipt of amounts for poll tax (120 dr.) and the plant tax (80 dr.)
cu545 | 6 | From Kasr el Banat
cu546 | 7 | In Greek
cu561 | 8 | Given to Columbia University by the Egypt Exploration Society, 1901
cu655 | 1 | Papyri

cu653 | 1 | Philoxenus, -- strategos of the Themistes and Polemon divisions of the Arsinoite
cu653 | 2 | Anoubis, --  tax collector of Archelais
cu245ab | 1 | Return [196 AD]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
