cu001 | 1 | columbia.apis.p1622
cu035 | 1 | (NNC)p1622
cu090 | 1 | Col. inv. 455a verso
cu090_orgcode | 1 | NNC
cu245ab | 1 | Report of proceedings
cu245f | 1 | [reign of Gordian]
cu300 | 1 | 1 papyrus fragment; 18 x 4.7 cm.
cu500 | 1 | Written across the fibers; on the front an account; bottom margin of 2 cm.
cu500 | 2 | 2 columns: Col. I 6 lines broken top and left, Col. II 5 lines broken top and right
cu500 | 3 | Fast, fluent hand bent to the right
cu520 | 1 | Report of proceedings before the emperor Gordian; part of the speech of the advocate in the second column
cu546 | 1 | In Greek
cu561 | 1 | Purchased by Columbia University through H.I. Bell, in 1926-27; no. II.180A in Bell's inventory
cu590 | 1 | Publishable
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 238
cuDateValue | 2 | 244
cuOrgcode | 1 | NNC
perm_group | 1 | w
