cu001 | 1 | columbia.apis.p313
cu035 | 1 | (NNC)aaa1237
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1papyrus fragment ; 19 x 25 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 269
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 277
cu090 | 1 | Col.inv. 513
cu500 | 1 | Written along the fibers: about half of the front contains writing; the back is blank; the papyrus is broken on the top and left and shows holes, tears, and wrinkles
cu500 | 2 | 23 lines of writing by a ligatured inclined hand, which shows some features reminiscent of the chancery
cu500 | 3 | There are 7 panels of writing and it is likely that 3 more are missing
cu510 | 4 | P.Col. X 280
cu510_dd | 5 | P.Col.:10:280
cu520 | 6 | End of a lease of or labor contract for a vineyard; the financial arrangements are not completely clear, especially the nature of the 80 drachmas of lines 3-4 and the amount of the advance loan
cu545 | 7 | Probably from Oxyrhynchos, judging from the phraseology and the likely width of the papyrus
cu546 | 8 | In Greek
cu561 | 9 | Purchased by Columbia University from natives of Oxyrhynchos through Messrs. Peterson and Amundsen in 1927-1928; no. 71 in Bell's inventory
cu581 | 10 | Plate 37 in P.Col. X; cf. P.Col. X 255
cu500_t | 11 | <mmfclob>/www/data/cu/libraries/inside/projects/metadata/translator/conv/2_10_03/clob/clob--columbia.apis.p313--cu500_t--11.txt</mmfclob>
cu655 | 1 | Papyri

cu653 | 1 | Lease of vineyard
cu245ab | 1 | Lease [269-277 AD]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
