cu001 | 1 | columbia.apis.p1705
cu035 | 1 | (NNC)aaa5016
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 6.5 x 10.5 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 400
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 499
cu090 | 1 | Col. inv. 503 verso
cu500 | 1 | Written along the fibers; back blank
cu500 | 2 | 13 lines; broken except at left
cu500 | 3 | The hand is a small cursive
cu500 | 4 | Text is faded
cu520 | 5 | Account with list of names
cu546 | 6 | In Greek
cu561 | 7 | Purchased by Columbia University through H.I. Bell, in 1927-28; no. I.37 in Bell's inventory
cu655 | 1 | Papyri

cu245ab | 1 | Account [V AD]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
