# APIS Editor [11/07/2006] rc141 - replacement
cu001 | 1 | columbia.apis.p294
cu035 | 1 | (NNC)aaa1218
cu090 | 1 | Col.inv. 438
cu090_orgcode | 1 | NNC
cu1004 | 1 | aut
cu100a | 1 | Statilius Maximus, epistrategos of the Heptanomia
cu100d | 1 | null
cu100g | 1 | null
cu245ab | 1 | Letter [December 20, 156 AD]
cu300 | 1 | 1papyrus ; 10.9 x 12.4 cm
cu500 | 1 | Written along the fibers; the back is blank
cu500 | 2 | 5 lines of writing in a small, ligatured hand; the ink is faded
cu500 | 3 | The text provides the name of an unknown strategos
cu500 | 4 | The identification of Statilius Maximus with an early-second-century idios logos is unlikely
cu500 | 5 | Dated on the basis of the identification of Statilius Maximus, although palaeographical considerations might suggest an earlier date
cu500_t | 6 | Statilius Maximus to Athenodoros, strategos of the Oxyrhynchite nome, greetings. If, as you write, on the basis of a ruling given by his Excellency the prefect another three pastophoroi have been appointed in addition to those in charge of the security of the temple, then these also, like their colleagues, are entitled to receive (a share of) the police-tax. I pray for your good health. Year 20, Hadrianos 24.
cu510 | 7 | P.Col. X 261
cu510_dd | 8 | P.Col.:10:261
cu520 | 9 | Letter to the strategos Athenodoros ruling that 3 pastophoroi who were appointed in addition to those in charge of the security of a temple had to receive the same benefits
cu545 | 10 | From Oxyrhynchos
cu546 | 11 | In Greek
cu561 | 12 | Purchased by Columbia University from Ishmail Abdallah el Shaer in Cairo through H.I. Bell on December 14, 1926; no. 87 in Bell
cu581 | 13 | Plate 14 in P.Col. X; published by J.-J. Aubert, BASP 28 (1991) 101-20; on the date see BL XI p. 65.
cu653 | 1 | Athenodoros, -- strategos of the Oxyrhynchite
cu653 | 2 | appointment and control over temple personnel; financial support of pastophoroi
cu655 | 1 | Papyri
cu655 | 2 | Papyri
cuDateConfidence | 1 | ___
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 156
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
