# APIS Editor [10/17/2006] rc141 - replacement
cu001 | 1 | columbia.apis.575
cu035 | 1 | (NNC)aaa0743
cu090 | 1 | O.Col.inv. 575 (acc. 64.2.394)
cu090_orgcode | 1 | NNC
cu245ab | 1 | exercise [VI-VII century]
cu300 | 1 | 1 ostracon ; limestone ; 12.8 x 8.7 cm
cu500 | 1 | 8 lines of writing plus two more lines written on the side on the front; 3 lines on the back
cu500 | 2 | complete
cu500 | 3 | written by an "alphabetic" hand, tau with finials
cu520 | 4 | school exercise: beginning of a letter and practicing a few letters of the alphabet; on the back an epistolary formula
cu546 | 5 | in Coptic
cu561 | 6 | from Thebes, Deir el Bahri, excavated by the Metropolitan Museum in 1926-29 (Burton photo M10C 22).  Formerly property of the Metropolitan Museum, sold to Columbia University in 1958
cu590 | 1 | Reserved for Cribiore and Hickey, 7/1/06
cu655 | 1 | Ostraca
cu655 | 2 | Papyri
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 699
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
