cu001 | 1 | columbia.apis.p1372
cu035 | 1 | (NNC)aaa4633
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 8.2 x 9.9 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 150
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 151
cu090 | 1 | Col. inv. 323a verso
cu500 | 1 | Written across  the fibers; on the recto, a register
cu500 | 2 | 6 lines; broken at right
cu500 | 3 | Written with a thick pen, which gives the hand a somewhat irregular look
cu520 | 4 | Tax receipt
cu546 | 5 | In Greek
cu561 | 6 | Purchased by Columbia University from Kondilios through H.I. Bell, in 1925; no. B.171 in Bell's inventory
cu590 | 7 | Suit student
cu655 | 1 | Papyri

cu653 | 1 | Tax receipt
cu245ab | 1 | Receipt [150/1 AD]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
