cu001 | 1 | columbia.apis.p1833                               
cu035 | 1 | (NNC)p1833                                        
cu090 | 1 | Col. inv. 591
cu090_orgcode | 1 | NNC
cu245ab | 1 | Account
cu300 | 1 | 1 papyrus fragment; 9.1 x 19.6 cm.
cu500 | 1 | Written along the fibers; back blank
cu500 | 2 | 22 lines
cu500 | 3 | Written in a rough hand large and irrregular
cu500 | 4 | Tattered and with holes. Decorated lines separate the accounts
cu520 | 5 | Several accounts of money; Silvanos is mentioned
cu546 | 6 | In Greek
cu561 | 7 | Purchased by Columbia University c. 1932.  Old numbers: Papyrus 16; Inv. 16
cu655 | 1 | Papyri
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w