cu001 | 1 | columbia.apis.p629                                
cu035 | 1 | (NNC)aaa3805                                      
cu090 | 1 | Col. inv. 112e
cu090_orgcode | 1 | NNC
cu245ab | 1 | Account [VIII]
cu300 | 1 | 1 papyrus fragment; 7.7 x 10.4 cm
cu500 | 1 | Written across the fibers; on the verso, a faded account
cu500 | 2 | 11 lines; broken right and bottom
cu500 | 3 | The hand is a small cursive
cu520 | 4 | Account
cu546 | 5 | In Greek
cu561 | 6 | Purchased by Columbia University from M. Nahman through H.I. Bell, in 1924; no. III.12 in Bell's inventory
cu590 | 7 | Pieces need joining
cu655 | 1 | Papyri
cuDateConfidence | 1 | ___       
cuDateConfidence | 2 | ___       
cuDateRange | 1 | b         
cuDateRange | 2 | e         
cuDateSchema | 1 | c         
cuDateSchema | 2 | c         
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 700       
cuDateValue | 2 | 799       
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w