cu001 | 1 | columbia.apis.p191
cu035 | 1 | (NNC)aaa1278
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1papyrus ; 48.8 x 24.7 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 344
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 345
cu090 | 1 | Col.inv. 181 (20)
cu500 | 1 | In very bad condition and fragmentary
cu500 | 2 | The right and left margins are preserved
cu500 | 3 | Written along the fibers by 6 different hands; the back is blank
cu500 | 4 | 55 lines of writing
cu510 | 5 | P.Col. VII 153
cu510_dd | 6 | P.Col.:7:153
cu520 | 7 | Receipts for deliveries of chaff and barley made by Aion, son of Sarapion; at the end a dike receipt
cu545 | 8 | Belonging to the Karanis Archives of the early Byzantine period
cu546 | 9 | In Greek
cu561 | 10 | Purchased by Columbia University from Mr. Blanchard through H.I. Bell in 1924; no. 20 in Bell's inventory
cu581 | 11 | Plate, P.Col. VII, Microfiche 1
cu500_t | 12 | <mmfclob>/www/data/cu/libraries/inside/projects/metadata/translator/conv/2_10_03/clob/clob--columbia.apis.p191--cu500_t--12.txt</mmfclob>
cu655 | 1 | Papyri

cu653 | 1 | Aion, -- son of Sarapion
cu653 | 2 | Aurelius Pachnoutis, -- son of Pion, collector
cu653 | 3 | Melas, -- son of Sotas, known scribe
cu653 | 4 | Receipts for deliveries in kind
cu245ab | 1 | Receipts [344-345 AD]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
