# APIS Editor [10/17/2006] rc141 - replacement
cu001 | 1 | columbia.apis.594
cu035 | 1 | (NNC)aaa0762
cu090 | 1 | O.Col.inv. 594 (acc. 64.2.413)
cu090_orgcode | 1 | NNC
cu245ab | 1 | exercise? [VI-VII century]
cu300 | 1 | 1 ostracon ; limestone ; 9.7 x 5.7 cm
cu500 | 1 | 7 lines of writing on the front, back blank
cu500 | 2 | incomplete on the bottom
cu500 | 3 | on the back there is written: Series D el B 1930 no. 1
cu520 | 4 | beginning of a letter with formulaic expressions; an exercise?
cu546 | 5 | in Coptic
cu561 | 6 | from Thebes, Deir el Bahri, excavated by the Metropolitan Museum in 1926-29, Burton photo M10C  19.  Formerly property of the Metropolitan Museum, excavated in 1926-29, sold to Columbia University in 1958
cu590 | 1 | Reserved for Cribiore and Hickey, 7/1/06
cu655 | 1 | Ostraca
cu655 | 2 | Papyri
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 699
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
