cu001 | 1 | columbia.apis.1362                                
cu035 | 1 | (NNC)aaa1908                                      
cu090 | 1 | O.Col.inv. 1362 (acc.65.3.74)
cu090_orgcode | 1 | NNC
cu245ab | 1 | order [VI-VII century]
cu300 | 1 | 1 ostracon ; limestone ; 8.9x7.3cm
cu500 | 1 | 7 lines of writing on the front, 6 on back
cu500 | 2 | complete
cu520 | 3 | on the front the order to give to Phoibammon 3 artabs of wheat and some seed; on the back an account of wines
cu546 | 4 | in Coptic
cu561 | 5 | from Thebes, Deir el Bahri, excavated by the Metropolitan Museum in 1926-29, Burton photo M10C 19.  Property of the Metropolitan Museum, sold to Columbia University in 1958
cu655 | 1 | Ostraca
cuDateConfidence | 1 | ___       
cuDateConfidence | 2 | ___       
cuDateRange | 1 | b         
cuDateRange | 2 | e         
cuDateSchema | 1 | c         
cuDateSchema | 2 | c         
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 500       
cuDateValue | 2 | 690       
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
