# APIS Editor [11/09/2006] rc141 - replacement
# APIS Editor [01/15/2009] rla2118 - replacement
cu001 | 1 | columbia.apis.p383
cu035 | 1 | (NNC)aaa3559
cu090 | 1 | Oxy. 950
cu090_orgcode | 1 | NNC
cu245ab | 1 | Homer II-III AD
cu300 | 1 | 1 papyrus fragment; 5.7 x 23.8 cm
cu500 | 1 | Written along the fibers; on the verso, traces
cu500 | 2 | 44 lines; broken at left
cu500 | 3 | Written in a sloping oval uncial hand
cu500 | 4 | At the end of almost every line, there are dots
cu510 | 4 | P.Oxy. VI 950 Descriptum
cu520 | 5 | Iliad xi.359-402
cu545 | 6 | From Oxyrhynchus
cu546 | 7 | In Greek
cu561 | 8 | Given to the Pierpont Morgan Collection by the Egypt Exploration Society in 1915.  Purchased by Columbia University
cu590 | 1 | Reserved, Cribiore's NYU Class, Jan. 09
cu655 | 1 | Papyri
cu655 | 2 | Papyri
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 100
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 299
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
