cu001 | 1 | columbia.apis.2310
cu035 | 1 | (NNC)aaa5110
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 ostracon ; brown ribbed clay ; 4.2x2.6cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 690
cu090 | 1 | O.Col.inv. 2310 (acc. D254)
cu500 | 1 | scanty remains of 3 lines of writing on the front, back blank
cu500 | 2 | incomplete at least on 3 sides
cu500 | 3 | the ink is faded and the amount of writing preserved is very scanty
cu546 | 4 | in Coptic
cu561 | 5 | from Thebes, Monastery of Epiphanius.  Property of the Metropolitan Museum, sold to Columbia University in 1961
cu655 | 1 | Ostraca

cu245ab | 1 | documentary text [VI-VII century]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
