cu001 | 1 | columbia.apis.p433
cu035 | 1 | (NNC)aaa3609
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 8 x 12.3 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 200
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 399
cu090 | 1 | Col. inv. 38
cu500 | 1 | Written along the fibers; back blank
cu500 | 2 | 4 lines of text; broken at the bottom, but text is complete
cu500 | 3 | A space of 9.5 cm. is left blank under the text
cu500 | 4 | The hand is  a small, cramped cursive; dieresis used over initial upsilon
cu510 | 5 | Some surface abrasion and small holes result in loss of text
cu520 | 6 | A note or memorandum.  The name Ophellios is mentioned as well as a reference to the safety/well-being of the writer
cu546 | 7 | In Greek
cu561 | 8 | Purchased by Columbia University from M. Nahman through H.I. Bell, in July 1923; no. V.C. 17 in Bell's inventory
cu590 | 9 | Suit advanced student
cu655 | 1 | Papyri

cu245ab | 1 | Note [III/IV AD]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
