cu001 | 1 | columbia.apis.p1939
cu035 | 1 | (NNC)p1939
cu090 | 1 | Col.inv. 605  
cu090_orgcode | 1 | NNC
cu245ab | 1 | Documentary text
cu245f | 1 | [probably late 3rd cent. AH] 
cu300 | 1 | 1 papyrus fragment ; 12 x 14.7 cm.
cu500 | 1 | On one side 7 lines in Arabic; on the verso 2 lines in Coptic
cu500 | 2 | Large clear official hand with three dots for "shin"
cu500 | 3 | Unglassed
cu520 | 1 | Legal document: the lower left fragment of a witnessing clause
cu546 | 1 | In Arabic
cu561 | 1 | Purchased by Columbia University ca. 1932 
cu653 | 1 | Legal document
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 873
cuDateValue | 2 | 915
cuLCODE | 1 | ara
cuOrgcode | 1 | NNC
perm_group | 1 | w
