cu001 | 1 | columbia.apis.2215                                
cu035 | 1 | (NNC)aaa2761                                      
cu090 | 1 | O.Col.inv. 2215 (acc. D385)
cu090_orgcode | 1 | NNC
cu245ab | 1 | account [VI-VII century]
cu300 | 1 | 1 ostracon ; red clay with light slip ; 9.7x7.9cm
cu500 | 1 | 4 lines of writing on the front, back blank
cu500 | 2 | broken on the left; marks of glue; two thirds of the surface is unwritten
cu520 | 3 | account with quantities of wine; it mentions Jacob
cu546 | 4 | in Coptic
cu561 | 5 | from Thebes, Monastery of Epiphanius (Original Monastery).  Property of the Metropolitan Museum, sold to Columbia University in 1961
cu655 | 1 | Ostraca
cuDateConfidence | 1 | ___       
cuDateConfidence | 2 | ___       
cuDateRange | 1 | b         
cuDateRange | 2 | e         
cuDateSchema | 1 | c         
cuDateSchema | 2 | c         
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 500       
cuDateValue | 2 | 690       
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
