cu001 | 1 | columbia.apis.p116
cu035 | 1 | (NNC)aaa1428
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1papyrus fragment ; 5 x 9.3 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 261
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 229
cu090 | 1 | Col.inv. 306e5
cu500 | 1 | 6 lines written along the fibers; the back is blank; a large margin (3 cm.) on the top
cu500 | 2 | The hand is small and practiced
cu510 | 3 | P.Lond. VII 2057 (joins the col. fragment with BM inv. 2351)
cu510 | 4 | P.Col. IV 114d
cu510 | 5 | P.Col.Zen. II 114d
cu510_dd | 6 | P.Col.:4:114d
cu520 | 7 | Fragment from a letter of Philinos to Zenon about sending 5 shields
cu545 | 8 | Part of the archive of Zenon, employee of Apollonios who was dioiketes (Finance Minister) under Ptolemy II
cu546 | 9 | In Greek
cu561 | 10 | Purchased by Columbia University from Dr. Kondilios through H.I. Bell in July 1925; no. 128 in Bell's inventory
cu100a | 1 | Philinos, personal friend of Zenon, 2 in Pap.Lugd.Bat. XXI, p. 435
cu1004 | 1 | aut
cu655 | 1 | Papyri

cu245ab | 1 | Letter [between 261 and 229 BC]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
