cu001 | 1 | columbia.apis.p38
cu035 | 1 | (NNC)aaa1350
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1papyrus fragment ; 6.4 x 8.4 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 254
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 250
cu090 | 1 | Col.inv. 338
cu500 | 1 | Written along the fibers with 15 lines; the back is across the fibers
cu500 | 2 | Same hand as P.Cair.Zen. III 59499 and perhaps as P.Col. III 36
cu510 | 3 | P.Col. III 38
cu510 | 4 | P.Col.Zen. I 38
cu510 | 5 | P.Cair.Zen. IV 59758, part of same papyrus, by same hand, but not part of same col
cu510_dd | 6 | P.Col.:3:38
cu520 | 7 | Fragment of a brick account probably drawn up by Petosiris
cu545 | 8 | Part of the archive of Zenon, employee of Apollonios who was dioiketes (Finance Minister) under Ptolemy II; written when Zenon was manager of the estate in Philadelphia
cu546 | 9 | In Greek
cu561 | 10 | Purchased by Columbia University from Dr. Kondilios through H.I. Bell in December 1926; no. 21 in Bell's inventory
cu581 | 11 | Correction to line 5 by Clarysse, personal communication
cu500_t | 12 | <mmfclob>/www/data/cu/libraries/inside/projects/metadata/translator/conv/2_10_03/clob/clob--columbia.apis.p38--cu500_t--12.txt</mmfclob>
cu100a | 1 | Petosiris, 18 in Pap.Lugd.Bat. XXI, p. 403
cu1004 | 1 | aut
cu655 | 1 | Papyri

cu653 | 1 | 4 brickmakers, -- Pap.Lugd.Bat. XXI, p. 274-457, see P.Col. III 16
cu245ab | 1 | account [254-250 BC]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
