cu001 | 1 | columbia.apis.p1837                               
cu035 | 1 | (NNC)p1837                                        
cu090 | 1 | Col. inv. 595 front
cu090_orgcode | 1 | NNC
cu245ab | 1 | Documentary text
cu300 | 1 | 1 paper fragment; 9.2 x 10.2 cm.
cu500 | 1 | Front as mounted has texts in Coptic (4 lines, complete) and Arabic; another Arabic text on back.
cu520 | 2 | Content of Coptic text unclear; for the Arabic, see apis.p. 1938
cu546 | 3 | In Coptic and Arabic
cu561 | 4 | Purchased by Columbia University c. 1932.  Old numbers: Paper 3; Inv. 45
cu655 | 1 | Paper
cuLCODE | 1 | ara       
cuLCODE | 2 | cop       
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w