# APIS Editor [07/14/2006] rc141 - replacement
cu001 | 1 | columbia.apis.2006
cu035 | 1 | (NNC)aaa2552
cu090 | 1 | O.Col.inv. 2006 (acc.68.3.566)
cu090_orgcode | 1 | NNC
cu245ab | 1 | letter [VI-VII century]
cu300 | 1 | 1 ostracon ; limestone ; 3.3x2.1cm
cu500 | 1 | 3 lines of writing on the front, traces of 2 or 3 characters on back
cu500 | 2 | tiny fragment incomplete on the bottom and on the right
cu520 | 3 | beginning of a letter written by Patermouthios son of (?) Pesunte to Pher
cu546 | 4 | in Greek?
cu561 | 5 | from Thebes, Monastery of Epiphanius.  Property of the Metropolitan Museum, sold to Columbia University in 1961
cu590 | 1 | Assigned to N. Salem 7/1/2005
cu655 | 1 | Ostraca
cu965 | 1 | APIS
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 690
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
status | 1 | 1
