# APIS Editor [11/07/2006] rc141 - replacement
cu001 | 1 | columbia.apis.p354
cu035 | 1 | (NNC)aaa3530
cu090 | 1 | Oxy. 414
cu090_orgcode | 1 | NNC
cu245ab | 1 | Philosophical Treatise [II AD]
cu300 | 1 | 3 papyrus fragments; frag. (a) 12 x 12.3 cm.; frag. (b) 5.5 x2.8 cm; frag. (c) 2.6 x 3.1 cm
cu500 | 1 | Written along the fibers; back blank
cu500 | 2 | Frag. (a) 2 columns: col. I, 16 lines, col. II, 15 lines; frag. (b) 4 lines; frag. (c) 4 lines: frag. (a) broken except at top; frags. (b), (c) broken on all sides
cu500 | 3 | The hand is good-sized and well formed in the Sever Style
cu500 | 4 | The ed. pr. describes five fragments.  There are now 3 fragments.  Fragment (a) is broken but complete; of fragment (b) only lines 38-41 of col. III remain;  fragment (d) is complete Fragments (c), (e), (f) (g) and most of frag. (b) are missing
cu510 | 5 | P.Oxy. III 414
cu520 | 6 | Philosophical treatise referring to poets and describing poems as legacies of the past
cu545 | 7 | From Oxyrhynchus
cu546 | 8 | In Greek
cu561 | 9 | Given to Columbia University by the Egypt Exploration Society, 1907
cu590 | 10 | Conservation: two pieces of frag (a) need to be rejoined
cu653 | 1 | Philosophical treatise referring to poets
cu655 | 1 | Papyri
cu655 | 2 | Papyri
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 100
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 199
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
