cu001 | 1 | columbia.apis.p2096
cu035 | 1 | (NNC)p2096
cu090 | 1 | Col.inv.748.9                        
cu090_orgcode | 1 | NNC
cu245ab | 1 | Magical text?
cu245f | 1 | [may be quite recent]
cu300 | 1 | paper ; 12.1 x 18.1 cm.
cu500 | 1 | Unglassed
cu520 | 1 | Magical text: it has a stick figure with writing on chest and writing all over text; the top and right margins are intact
cu546 | 1 | In Arabic
cu561 | 1 | Purchased by Prof. Jeffery in Egypt in 1946, Lot no. 40  
cu653 | 1 | Magic
cu655 | 1 | Paper
cuLCODE | 1 | ara
cuOrgcode | 1 | NNC
perm_group | 1 | w
