cu001 | 1 | columbia.apis.p283
cu035 | 1 | (NNC)aaa1207
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1papyrus ; 11.3 x 22.7 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 43
cu090 | 1 | Col.inv. 389
cu500 | 1 | The papyrus is incomplete on the top left corner and shows some holes and an abraded surface; is written along the fibers; the back is blank
cu500 | 2 | 25 lines of writing in an uneven and unprofessional hand; the letters are large and mostly unligatured as in an epistolary hand
cu500 | 3 | The hand and the absence of signature and banker's notations seem to point to a private copy of the original
cu510 | 4 | P.Col. X 250
cu510_dd | 5 | P.Col.:10:250
cu520 | 6 | Order to the banker Akousilaos to pay a sum of 2,606 drachmas to Herakleides and his sisters, Nikostrate and Aphrodisia; the sum is a loan on some katoikic land owned by the three parties
cu545 | 7 | From Philadelphia
cu546 | 8 | In Greek
cu561 | 9 | Purchased by Columbia University from Dr. Kondilios through H.I. Bell in December 1926; no. 157 in Bell's inventory
cu581 | 10 | Plate 2 in P.Col. X
cu500_t | 11 | <mmfclob>/www/data/cu/libraries/inside/projects/metadata/translator/conv/2_10_03/clob/clob--columbia.apis.p283--cu500_t--11.txt</mmfclob>
cu655 | 1 | Papyri

cu653 | 1 | Order for payment
cu245ab | 1 | Order [April 5, 43 AD]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
