# APIS Editor [07/15/2006] rc141 - replacement
cu001 | 1 | columbia.apis.46
cu035 | 1 | (NNC)aaa0217
cu090 | 1 | O.Col.inv. 46 (acc. 3.13)
cu090_orgcode | 1 | NNC
cu245ab | 1 | receipt [VI-VII century]
cu300 | 1 | 1 ostracon ; tan clay ; 11 x 10 cm
cu500 | 1 | 8 lines of writing on one side; the back is blank
cu500 | 2 | small, ligatured hand
cu520 | 3 | tax receipt of half a solidus for the first portion of the "dapane" given to Athanasios; underneath there is the signature of the headman, Theodoros
cu546 | 4 | in Coptic
cu561 | 5 | from Thebes?  Gift of H.E. Winlock in 1924 to the Metropolitan Museum, MMA inv. 24.6.14.  Sold to Columbia University in 1958
cu590 | 1 | Assigned to T. Hickey, 7/1/2006
cu655 | 1 | Ostraca
cu965 | 1 | APIS
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 690
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
status | 1 | 1
