cu001 | 1 | columbia.apis.869
cu035 | 1 | (NNC)aaa1037
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 ostracon ; red clay ; 3.5 x 4.7 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 690
cu090 | 1 | O.Col.inv. 869 (acc. 64.11.206A)
cu500 | 1 | remains of 3 lines of writing on the front; on the back there are faint traces of writing
cu500 | 2 | incomplete on every side
cu500 | 3 | the front is chipped and most of the writing is gone
cu546 | 4 | in Coptic
cu561 | 5 | from Thebes, Monastery of Epiphanius?  Formerly property of the Metropolitan Museum, sold to Columbia University in 195
cu655 | 1 | Ostraca

cu245ab | 1 | documentary text [VI-VII century]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
