cu001 | 1 | columbia.apis.p400
cu035 | 1 | (NNC)aaa3576
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 6.7 x 11.6 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 244
cu090 | 1 | Hib. 141
cu500 | 1 | Written across the fibers; on the verso, few traces of text and plaster and decoration from mummy cartonnage
cu500 | 2 | 10 lines; complete
cu500 | 3 | The hand is a small, rapid cursive
cu510 | 4 | P.Hib. I 141 Descriptum
cu520 | 5 | Receipt for 15 dr. 3 obols, paid to Nikolaus and Stotoetis by Petosiris, agent of Taembes, for beer tax for the month of Pachon.  At the end is the signature of Dorion and a line of demotic
cu545 | 6 | From El-Hibeh.  Mummy A 15
cu546 | 7 | In Greek
cu561 | 8 | Given to Columbia University by the Egypt Exploration Society, 1907
cu590 | 9 | Suit student
cu655 | 1 | Papyri

cu245ab | 1 | Receipt [Pachon 22, year 3 of Euergetes]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
