# APIS Editor [10/10/2006] rc141 - replacement
cu001 | 1 | columbia.apis.1905
cu035 | 1 | (NNC)aaa2451
cu090 | 1 | O.Col.inv. 1905 (acc.23.3.705)
cu090_orgcode | 1 | NNC
cu245ab | 1 | Biblical text [VI-VII century]
cu300 | 1 | 1 ostracon ; brown ribbed clay with pinkish slip ; 18.4x16.4cm
cu500 | 1 | on the front 15 lines, back blank
cu500 | 2 | perhaps incomplete at the bottom
cu500 | 3 | the last two lines are in huge characters; at the end of the text, moreover, the word "kosmos" is repeated 2 or 3 times. The second hand practices some letters.
cu500 | 4 | a very proficient hand writes the first 7 lines in formal literary characters; a second, more uncertain hand writes the rest
cu520 | 5 | 2 Corinthians 5:17-19
cu546 | 6 | in Coptic
cu561 | 7 | from Deir el Bahri, site xx, excavated by the Metropolitan Museum in 1922-1923, sold to Columbia University in 1958
cu590 | 1 | Reserved for publication to Cribiore and Hickey, 7/1/06
cu655 | 1 | Ostraca
cu655 | 2 | Papyri
cu965 | 1 | APIS
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 690
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
status | 1 | 1
