cu001 | 1 | columbia.apis.p1933
cu035 | 1 | (NNC)p1933
cu090 | 1 | inv. 160b(2)
cu090_orgcode | 1 | NNC
cu245ab | 1 | loan; V-VI AD
cu300 | 1 | 1 papyrus fragment; 9 x 6.5 cm
cu500 | 1 | 7 lines; only the right margin is preserved
cu520 | 1 | Loan
cu546 | 1 | in Greek
cu561 | 1 | Purchased by Columbia University from M. Nahman through H.I. Bell, in 1924; no. X.99 in Bell's inventory
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | n
perm_group | 1 | w