cu001 | 1 | columbia.apis.1757
cu035 | 1 | (NNC)aaa2303
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 ostracon ; red clay with light slip ; 8.3x6.9cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 690
cu090 | 1 | O.Col.inv. 1757 (acc.68.3.317)
cu500 | 1 | a drawing on the front, and traces of writing on the back, all badly faded
cu500 | 2 | possibly complete at left on back
cu546 | 3 | in Coptic
cu561 | 4 | from Thebes, Monastery of Epiphanius.  Property of the Metropolitan Museum, sold to Columbia University in 1958
cu655 | 1 | Ostraca

cu245ab | 1 | drawing [VI-VII century]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
