cu001 | 1 | columbia.apis.64
cu035 | 1 | (NNC)aaa0234
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 ostracon ; tan clay ; 3.5 x 8 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 690
cu090 | 1 | O.Col.inv. 64 (acc. 4.29)
cu500 | 1 | 6 very fragmentary lines of writing on the front, back blank
cu500 | 2 | incomplete on all sides
cu500 | 3 | since the letters are rather large, the amount of writing preserved is scanty
cu500 | 4 | penciled B
cu520 | 5 | the text mentions Helias and a solidus
cu546 | 6 | in Coptic
cu561 | 7 | from Ballas.  Gift of A.M. Lythgoe to the Metropolitan Museum, MMA inv. 17.6.70.  Sold to Columbia University in 1958
cu655 | 1 | Ostraca

cu245ab | 1 | documentary text [VI-VII century]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
