# APIS Editor [07/15/2006] rc141 - replacement
# APIS Editor [11/29/2006] rc141 - replacement
# APIS Editor [03/12/2007] rc141 - replacement
cu001 | 1 | columbia.apis.p994
cu035 | 1 | (NNC)aaa4405
cu090 | 1 | Col. inv. 164
cu090_orgcode | 1 | NNC
cu245ab | 1 | Contract [Reign of Hadrian]
cu300 | 1 | 1 papyrus fragment; 5.5 x 10.7 cm
cu500 | 1 | Written along the fibers; back blank
cu500 | 2 | 18 lines; broken left and top
cu500 | 3 | The main hand is minute and proficient. The last 6 lines are in a second hand, which is very large and fast
cu500 | 4 | The ink is faded
cu510 | 1 | Published by M. Bergamasco in ZPE 158 (2006) 207-212.
cu518 | 1 | Probably from Oxyrhyncos, judging from the similarities with other contracts of this kind from that metropolis.
cu520 | 5 | Apprenticeship contract made by a woman, Didyme, who specifies the number of yearly vacation days for the apprentice (18) and the obligation for him to recuperate the days eventually missed.
cu546 | 6 | In Greek
cu561 | 7 | Purchased by Columbia University from M. Nahman through H.I. Bell, in 1924; no. XIVb.40 in Bell's inventory
cu655 | 1 | Papyri
cu655 | 2 | Papyri
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 118
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 122
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
