# APIS Editor [11/07/2006] rc141 - replacement
cu001 | 1 | columbia.apis.p250
cu035 | 1 | (NNC)aaa1174
cu090 | 1 | Col.inv. 318
cu090_orgcode | 1 | NNC
cu1004 | 1 | aut
cu100a | 1 | Apollonous
cu100d | 1 | null
cu100g | 1 | null
cu245ab | 1 | Letter [ca. 100 AD]
cu300 | 1 | 1papyrus ; 16 x 23.2 cm
cu500 | 1 | Written along the fibers; on the back there is the address
cu500 | 2 | 34 lines of writing on the front and 2 lines on the back
cu500 | 3 | 5 lines of the text on the front are written in the right margin, perpendicularly with respect to the rest
cu500 | 4 | Written in an uneven hand that become worse as the writing progresses; syntax and spelling are nonstandard
cu500_t | 5 | Apollonous to Thermouthas her mother, many greetings.  Before all things we pray that you are in good health, along with Apollonarion.  I want you to know that I heard from those who have come to me that you have been ill; but I was glad to hear that you have gotten better.  I ask you earnestly and beg you, take care of yourself and also of the little girl, so that you may get through the winter, so that we may find you in good health.  We are also all well.  And concerning the Syrian woman, up to now nothing bad.  I ask you if you hear about Thermouthas, send me word.  I ask you, it isn
cu510 | 6 | P.Col. VIII 215
cu510_dd | 7 | P.Col.:8:215
cu520 | 8 | Private letter of a daughter to her mother concerning health and the sending of supplies; the writer begs the recipient to take care of a certain little girl who lives with her
cu545 | 9 | Provenance unknown
cu546 | 10 | In Greek
cu561 | 11 | Purchased by Columbia University from Dr. Kondilios through H.I. Bell in July 1925; no. 50 in Bell
cu581 | 12 | Published by C.W. Keyes, CP 30 (1935) 143-47 (SB V 7660); plate 25 in P.Col. VIII
cu653 | 1 | Private letter
cu655 | 1 | Papyri
cu655 | 2 | Papyri
cuDateConfidence | 1 | ___
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 100
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
