cu001 | 1 | columbia.apis.p1787
cu035 | 1 | (NNC)p1787
cu090 | 1 | Col. inv. 549 recto
cu090_orgcode | 1 | NNC
cu245ab | 1 | Documentary Text
cu245f | 1 | [III AD]
cu300 | 1 | several papyrus fragments;  16 x 15.7cm.
cu500 | 1 | Written along the fibers; in the back another text 
cu500 | 2 | Large hand with letters mostly separated
cu520 | 1 | Unidentifiable: too fragmentary
cu546 | 1 | In Greek
cu561 | 1 | Purchased by Columbia University from H. Nahman, Boak 1932 through H.I. Bell, in 1932; no. 4b(A) in Bell's inventory
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 200
cuDateValue | 2 | 299
cuOrgcode | 1 | NNC
perm_group | 1 | w
