cu001 | 1 | columbia.apis.p1878
cu035 | 1 | (NNC)p1878
cu090 | 1 | Col. inv. 762
cu090_orgcode | 1 | NNC
cu245ab | 1 | Documentary text
cu300 | 1 | 1 papyrus fragment; 8 x 4.5 cm.
cu520 | 1 | Part of protocol of Coptic document
cu546 | 1 | In Coptic
cu561 | 1 | Acquired from the Metropolitan Museum of Art. MMA 90.5.958
cu590 | 1 | Glued to cardboard
cu655 | 1 | Papyri
cuLCODE | 1 | cop
cuOrgcode | 1 | NNC
perm_group | 1 | w
