cu001 | 1 | columbia.apis.p2018
cu035 | 1 | (NNC)p2018
cu090 | 1 | Col.inv. 678  
cu090_orgcode | 1 | NNC
cu245ab | 1 | Receipt
cu245f | 1 | [2nd cent AH] 
cu300 | 1 | 1 papyrus fragment ; 10.5 x 20 cm.
cu500 | 1 | On one side 5 lines of writing; the other side is blank 
cu500 | 2 | Small chancellery script
cu500 | 3 | Unglassed
cu520 | 1 | Unique receipt recording 100 and some as the total; it is issued to Abu Cbd Allah, apparently an amir as his name is followed by "May God strengthen him"
cu546 | 1 | In Arabic
cu561 | 1 | Purchased by Columbia University ca. 1932 
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 718
cuDateValue | 2 | 815
cuLCODE | 1 | ara
cuOrgcode | 1 | NNC
perm_group | 1 | w
