cu001 | 1 | columbia.apis.p197
cu035 | 1 | (NNC)aaa1284
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1papyrus ; 27 x 24.5 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 345
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 351
cu090 | 1 | Col.inv. 311
cu500 | 1 | Papyrus with holes and frayed margins
cu500 | 2 | Written along the fibers with 32 lines; on the back 17 lines
cu500 | 3 | Written by 9 different hands: 2 cols. on the front and 2 on the back
cu510 | 4 | P.Col. VII 161
cu510_dd | 5 | P.Col.:7:161
cu520 | 6 | Receipts for deliveries of wheat, barley, pork, and meat done by Heras, son of Sarapion and Sarapion, son of Venaphrios
cu545 | 7 | Belonging to the Karanis Archives of the early Byzantine period
cu546 | 8 | In Greek
cu561 | 9 | Purchased by Columbia University from Dr. Kondilios through H.I. Bell in July 1925; no. 137 in Bell's inventory
cu581 | 10 | Plate, P.Col. VII, Microfiche 1
cu500_t | 11 | <mmfclob>/www/data/cu/libraries/inside/projects/metadata/translator/conv/2_10_03/clob/clob--columbia.apis.p197--cu500_t--11.txt</mmfclob>
cu655 | 1 | Papyri

cu653 | 1 | Heras, -- son of Sarapion
cu653 | 2 | Hierapollon, -- bishop, boat owner
cu653 | 3 | Aion, -- hypodektes
cu653 | 4 | Aurelius Isidoros, -- son of Kanaout, hypodektes
cu653 | 5 | Sarapion, -- son of Venaphrios
cu653 | 6 | Receipts for deliveries in kind
cu245ab | 1 | Receipts [345-351 AD]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
