# APIS Editor [03/16/2007] rc141 - replacement
cu001 | 1 | columbia.apis.p333
cu035 | 1 | (NNC)aaa1146
cu090 | 1 | Col.inv. 1,2
cu090_orgcode | 1 | NNC
cu245ab | 1 | Loans [ca. 160 AD]
cu300 | 1 | 1papyrys, cut into 5 pieces ; 190.5 x 21.6 cm
cu500 | 1 | Written across the fibers; on the front P.Col. II 1 recto 2
cu500 | 2 | 19 cols of writing with 257 lines in the first 17 cols.; the last cols. are in bad condition  and contain approximately 21 lines
cu500 | 3 | Written in a small cursive hand with enlargement of initial letters
cu500 | 4 | The names are in alphabetical order
cu500 | 5 | The document is a select, not a comprehensive register of Theadelphians
cu500 | 6 | Women are not included: the men whose names appear undertook the cultivation under forced leases
cu500 | 7 | The document was not an official report, but was drawn up to gather together various individual notations of seed loans scattered in the daybooks of the sitologoi: no areas of land and no assessment are given; there are no check marks indicating complete payment
cu510 | 8 | P.Col. V 1 verso 2
cu510_dd | 9 | P.Col.:5:1
cu520 | 10 | Seed loans of wheat and barley; the entries consist of names (originally about 210 names), dates, and amounts of wheat and barley
cu545 | 11 | From Theadelphia
cu546 | 12 | In Greek
cu561 | 13 | Purchased by Columbia University from M. Nahman through H.I. Bell, in July 1923; no. 1,2 (Lot II) in Bell's inventory
cu581 | 14 | About the people appearing in the papyrus, cf. P.Stras. IX 846 and 891; about lines 174 and 236, see BL IV p. 21; about lines 38 and 115, see BL VIII p. 87
cu653 | 1 | Zoilos, -- son of Eudaimon
cu653 | 10 | Heron, -- son of Mystharion
cu653 | 11 | Heron alias Konnas, -- son of Heron
cu653 | 12 | Heraklas, -- son of Chairas
cu653 | 13 | Isidoros, -- son of Nikandros
cu653 | 14 | Heron, -- son of Akinatos
cu653 | 15 | Heron, -- son of Chairas
cu653 | 16 | Herakles, -- son of Herak( )
cu653 | 17 | Theon, -- son of Libanos
cu653 | 18 | Ision, -- son of Sokrates
cu653 | 19 | Kastor, -- son of Deios
cu653 | 2 | Isas, -- son of Sisois
cu653 | 20 | Mysthes, -- son of Ision
cu653 | 21 | Onnophris, -- son of Soulis
cu653 | 22 | Petesouchos, -- Sokrates
cu653 | 23 | Pechysis, -- son of Satabous
cu653 | 24 | Pasion, -- son of Aphrodisios
cu653 | 25 | Pasion, -- son of Isidoros
cu653 | 26 | Posis, -- son of Sambas
cu653 | 27 | Ptollas, -- son of Mystharion
cu653 | 28 | Peteeus, -- son of Heron
cu653 | 29 | Ptolemaios, -- son of Dioskoros
cu653 | 3 | Mystharion, -- son of Herakleides
cu653 | 30 | Panomieus, -- son of Orsenouphis
cu653 | 31 | Sisois, -- son of Petermouthis
cu653 | 32 | Sotas, -- son of Dioskoros
cu653 | 33 | Satabous, -- son of Anchorimphis
cu653 | 34 | Saras, -- son of Sarapion
cu653 | 35 | Sotas, -- son of Onesimos
cu653 | 36 | Spartas, -- son of Epaphroditos
cu653 | 37 | rapion, -- son of Dionysios
cu653 | 38 | Sambas, -- son of Sabinos
cu653 | 39 | Sarapion, -- son of Alexion
cu653 | 4 | Maron, -- son of Pnepheros
cu653 | 40 | Sarapion, -- son of Heron
cu653 | 41 | Tryphon, -- son of Sabinos
cu653 | 42 | Timokrates, -- son of Ision
cu653 | 43 | Philippos, -- son of Aphrodisios
cu653 | 44 | Chairemon, -- son of Heron
cu653 | 45 | Seed loans
cu653 | 5 | Ptollas, -- son of Chairas
cu653 | 6 | Chairemon, -- son of Asklepiades
cu653 | 7 | Eudaimon, -- son of Zoilos
cu653 | 8 | Zoilos, -- son of Polydamos
cu653 | 9 | Zoilos, -- son of Apion
cu655 | 1 | Papyri
cu655 | 2 | Papyri
cu965 | 1 | APIS
cuDateConfidence | 1 | ___
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 160
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
status | 1 | 1
