cu001 | 1 | columbia.apis.p1259
cu035 | 1 | (NNC)aaa4208
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 13 x 18.5 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 200
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 299
cu090 | 1 | Col. inv. 195a verso
cu500 | 1 | Written across the fibers; on the recto, a document
cu500 | 2 | 18 lines; broken right and bottom
cu500 | 3 | The papyrus is tattered and abraded
cu500 | 4 | Text much effaced; very little remains
cu500 | 5 | Written with letters almost all separated and formed carefully
cu500 | 6 | Interlinear annotations
cu520 | 7 | Text of uncertain nature; it might even be literary judging from the hand
cu546 | 8 | In Greek
cu561 | 9 | Purchased by Columbia University from M. Nahman through H.I. Bell, in 1924; no. XVIII.51 in Bell's inventory
cu590 | 10 | Bell's B
cu655 | 1 | Papyri

cu245ab | 1 | Documentary Text [III AD]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
