# APIS Editor [11/15/2006] rc141 - replacement
cu001 | 1 | columbia.apis.p478
cu035 | 1 | (NNC)aaa3654
cu090 | 1 | Col. inv. 75a
cu090_orgcode | 1 | NNC
cu245ab | 1 | Documentary Text [Reign of Trajan]
cu300 | 1 | 5 papyrus fragments; Frag. (a) 31.4 x 16.8 cm.; frag. (b) 10 x 17.4 cm.; frag. (c) 7 x 17.8 cm.; frag. (d) 5.9 x 5.5 cm.; frag. (e) 4.5 x 5.3 cm
cu500 | 1 | Written along the fibers; back blank
cu500 | 2 | Frag. (a) has 2 columns each of 17 lines plus traces of 9 lines of a previous column; frag. (b) 16 lines; frag. (c) 16 lines; frag. (d) 4 lines; frag. (e) 3 lines
cu500 | 3 | Frag. (a) is complete only on the right;  all other fragments are broken on all sides.  All fragments have many holes
cu500 | 4 | The hand is a large cursive, showing some separation of letters
cu520 | 5 | Contract Summaries?  Dated in the reign of Trajan, probably a year in the teens, possibly year 16 (114 AD).  The text mentions wheat
cu546 | 6 | In Greek
cu561 | 7 | Purchased by Columbia University from M. Nahman through H.I. Bell, in 1924; no. II.49 in Bell's inventory
cu655 | 1 | Papyri
cu655 | 2 | Papyri
cuDateConfidence | 1 | ___
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 98
cuDateRange | 2 | b
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 117
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | r
perm_group | 1 | w
