cu001 | 1 | columbia.apis.3593
cu035 | 1 | (NNC)2150 
cu090 | 1 | inv. 3593 (acc. 68.3.577)
cu090_orgcode | 1 | NNC
cu245ab | 1 | name?
cu245f | 1 | VI-VII century
cu300 | 1 | neck of a jar; 10 x 6 cm.
cu500 | 1 | 1 line of writing 
cu500 | 2 | large characters written with a thick pen
cu500 | 3 | mostly unwritten
cu520 | 1 | what could be the remains of a name
cu546 | 1 | in Greek or Coptic
cu561 | 1 | Thebes, Monastery of Epiphanius. Property of the Metropolitan Museum in New York; sold to Columbia University in 1961
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 500
cuDateValue | 2 | 690
cuOrgcode | 1 | NNC
perm_group | 1 | w
