cu001 | 1 | columbia.apis.p154
cu035 | 1 | (NNC)aaa1466
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1papyrus fragment ; 6.5 x 6.7 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 261
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 229
cu090 | 1 | Col.inv. 483
cu500 | 1 | 6 lines written across the fibers; the back is blank
cu500 | 2 | Medium-sized hand with a fine pen
cu510 | 3 | P.Col. IV 117c
cu510 | 4 | P.Col.Zen. II 117c
cu510_dd | 5 | P.Col.:4:117c
cu520 | 6 | Fragment from an account
cu545 | 7 | Part of the archive of Zenon, employee of Apollonios who was dioiketes (Finance Minister) under Ptolemy II
cu546 | 8 | In Greek
cu561 | 9 | Purchased by Columbia University from M. Nahman through H.I. Bell in the season 1926-1927; no. 65 in Bell's inventory
cu655 | 1 | Papyri

cu245ab | 1 | Account [between 261 and 229 BC]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
