cu001 | 1 | columbia.apis.p32
cu035 | 1 | (NNC)aaa1344
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1papyrus fragment ; 14.2 x 14 cm



cuDateRange | 2 | s
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 255
cu090 | 1 | Col.inv. 484
cu500 | 1 | Incomplete, the left part of the letter is missing
cu500 | 2 | Written across the fibers with 4 lines; on the back, along the fibers, the notation of the content by the writer
cu500 | 3 | Chancery hand used in Apollonios' office
cu510 | 4 | P.Col. III 32
cu510 | 5 | P.Col.Zen. I 32
cu510_dd | 6 | P.Col.:3:32
cu520 | 7 | Fragment of a letter
cu545 | 8 | Part of the archive of Zenon, employee of Apollonios who was dioiketes (Finance Minister) under Ptolemy II; written when Zenon was manager of the estate in Philadelphia
cu546 | 9 | In Greek
cu561 | 10 | Purchased by Columbia University from M. Nahman through H.I. Bell, in the season 1926-1927; no. 66 in Bell's inventory
cu581 | 11 | About date see Pap.Lugd.Bat. XXI pp. 230-31; correction to line 1 by Clarysse, personal communication
cu655 | 1 | Papyri

cu245ab | 1 | Letter May 27, 255 BC
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
