cu001 | 1 | columbia.apis.p244
cu035 | 1 | (NNC)aaa1168
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1papyrus fragment ; 9.4 x 34 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 3
cu090 | 1 | Col.inv. 6
cu500 | 1 | Written along the fibers; the back is blank
cu500 | 2 | 46 lines of writing in a fast, practiced hand
cu500 | 3 | An almost identical version of the same text addressed to a different official was published in 2 parts: P.Mert. I 8 and P.Mil. II 43
cu510 | 4 | P.Col. VIII 209
cu510_dd | 5 | P.Col.:8:209
cu520 | 6 | Petition to the basilikos grammateus by Marsisouchos against Soterichos charging that Soterichos unjustly interrupted his farming activities, sent the praktor and the policeman to arrest him, and took his cloak and receipts for poll-tax
cu545 | 7 | From Theadelphia; it belongs to the Archive of Harthotes
cu546 | 8 | In Greek
cu561 | 9 | Purchased by Columbia University from M. Nahman through H.I. Bell, in July 1923; no. 15 (original no. IV.3) in Bell's inventory
cu581 | 10 | Published by C.W. Keyes, CP 23 (1928) 25-29 (SB IV 7376); cf. Wilcken Archiv 9 (1930) 245 and 15 (1953) 119; Daris, Aegyptus 45 (1965) 158-64; BL 5.100; plate 18 in P.Col. VIII
cu500_t | 11 | <mmfclob>/www/data/cu/libraries/inside/projects/metadata/translator/conv/2_10_03/clob/clob--columbia.apis.p244--cu500_t--11.txt</mmfclob>
cu100a | 1 | Marsisouchos, son of Marres
cu1004 | 1 | aut
cu655 | 1 | Papyri

cu653 | 1 | Asklepiades, -- basilikos grammateus
cu653 | 2 | Soterichos, -- secretary of komogrammateus of Philadelphia
cu653 | 3 | Petition
cu245ab | 1 | Petition [October 11, 3 AD]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
