cu001 | 1 | columbia.apis.p760
cu035 | 1 | (NNC)p760
cu090 | 1 | col.inv. 121h(6)
cu090_orgcode | 1 | NNC
cu245ab | 1 | Documentary text [II-III AD]
cu300 | 1 | 1 papyrus fragment; 2.8 x 2.8 cm
cu500 | 1 | Written across the fibers; back blank
cu500 | 2 | 3 lines; broken on all sides
cu500 | 3 | The hand is rather large and not completely proficient
cu520 | 1 | Document: content uncertain
cu546 | 1 | In Greek
cu561 | 1 | Purchased by Columbia University from M. Nahman through H.I. Bell, in 1924; no. III.56 in Bell's inventory
cuOrgcode | 1 | NNC
cuR_TYPE | 1 | n
perm_group | 1 | w