cu001 | 1 | columbia.apis.p877
cu035 | 1 | (NNC)aaa4050
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 8.5 x 18.3 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 299
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 200
cu090 | 1 | Col. inv. 140a
cu500 | 1 | Written across the fibers; back blank
cu500 | 2 | 13 lines; broken right and bottom
cu500 | 3 | The hand is a fluent cursive
cu500 | 4 | There is an upper margin of 8 cm
cu520 | 5 | Document, perhaps a letter.  Refers to priests.  Part of the Zenon archive
cu545 | 6 | From Philadelphia
cu546 | 7 | In Greek
cu561 | 8 | Purchased by Columbia University from M. Nahman through H.I. Bell, in 1924; no. IX.33 in Bell's inventory
cu655 | 1 | Papyri

cu245ab | 1 | Documentary Text [III BC]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
