cu001 | 1 | columbia.apis.p1392
cu035 | 1 | (NNC)aaa4474
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 11.4 x 14 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 200
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 299
cu090 | 1 | Col. inv. 329b verso
cu500 | 1 | Written across the fibers; on the recto, a contract
cu500 | 2 | 19 lines; broken except at top perhaps
cu500 | 3 | The hand is a small, rapid cursive that shows many irregularities and excessive dipping
cu520 | 4 | A list of names, (e.g. Saturninos) perhaps part of a register
cu546 | 5 | In Greek
cu561 | 6 | Purchased by Columbia University from Kondilios through H.I. Bell, in 1925; no. B.194 in Bell's inventory
cu590 | 7 | Not glassed
cu655 | 1 | Papyri

cu245ab | 1 | Documentary text [III AD]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
