cu001 | 1 | columbia.apis.p435
cu035 | 1 | (NNC)aaa3611
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 papyrus fragment; 7.5 x 7 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 100
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 199
cu090 | 1 | Col. inv. 39b (1)
cu500 | 1 | Written along the fibers; back blank
cu500 | 2 | Papyrus appears to consist of two unrelated pieces stuck together
cu500 | 3 | 12 lines written in two different hands: M1 (lines 1-4). M2 (lines 5-12). Both are small, rapid, cursive hands
cu500 | 4 | Broken at top? and bottom
cu500 | 5 | Some surface abrasion on the upper right
cu500 | 6 | The change of hand coincides with the entry for a new day
cu520 | 7 | Part of an account, with entries for payments for two days, probably both in Hathyr.  Items include papyrus, donkey loads of grain
cu546 | 8 | In Greek
cu561 | 9 | Purchased by Columbia University from M. Nahman through H.I. Bell, in July 1923; no. IV.20 in Bell's inventory
cu590 | 10 | Description.  Conservation: two unrelated pieces stuck together, need to be separated.  When done, needs to be remeasured.  Not glassed
cu655 | 1 | Papyri

cu245ab | 1 | Account [II]
perm_group | 1 | w

cu090_orgcode | 1 | NNC
cuOrgcode | 1 | NNC
