cu001 | 1 | britmus.apis.59118
cu035 | 1 | (UkLoBM)YCA59118
cu090 | 1 | EA55789
cu090_orgcode | 1 | UkLoBM
cu245ab | 1 | Financial text.
cu245f | 1 | 6thC-8thC
cu300 | 1 | 1 ostracon ; 10.80 cm. x 12.10 cm.
cu500 | 1 | Ostracon, fragment from the body of a brown pottery ribbed vessel, fabric is brown-black in section, interior spotted with a black-resinous deposit, exterior covered with a red/brown slip and faint traces of five lines of Coptic text written in black ink, containing an invoice.
cu500_lin | 1 | Faint traces of five lines of Coptic text written in black ink.
cu510 | 1 | O.Sarga 189
cu518 | 1 | Wadi Sarga
cu546 | 1 | Coptic
cu561 | 1 | Reginald Campbell Thompson excavated the site on behalf of the Byzantine Research Fund in 1913-14. Acquired in 1923.
cu581 | 1 | Crum and Bell 1922, p.149
cu590 | 1 | Registration: 1923,327,56  (Wadi Sarga Collection)
cu655 | 1 | Ostraca
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 500
cuDateValue | 2 | 799
cuLCODE | 1 | cop
cuOrgcode | 1 | UkLoBM
perm_group | 1 | w
