cu001 | 1 | chicago.apis.201
cu035 | 1 | (ICU)201
cu090 | 1 | O. MedinHabuCopt 2499
cu090_orgcode | 1 | ICU
cu1004 | 2 | asn
cu1004 | 3 | asn
cu100a | 2 | Abraham
cu100a | 3 | Maria
cu245ab | 1 | Transfer of a security
cu245f | 1 | VIIth - VIIIth century A.D.
cu300 | 1 | ostracon ; 
cu500 | 1 | Number 69 in Stefanski&apos;s and Lichtheim&apos;s publication.  Undated.  Measurements not available.   The scribe wrote &apos;&apos;ji&apos;&apos; instead of &apos;&apos;ti&apos;&apos; for &apos;&apos;given&apos;&apos; in line 3.  The word translated as &apos;&apos;silver&apos;&apos; in line 4 probably denotes a silver object rather than silver money.   This document is an apotage, although it is not designated as such.  (See, for example, MH 2409, 2410 and 3431, number 72 in Stefanski&apos;s and Lichtheim&apos;s publication).  For field reference, see Hoelscher OIP 21, pl. 32.  All ostraca in this volume were on loan from the Egyptian government and had been returned to Egypt by the time of publication.
cu500 | 2 | Location: Oriental Institute
cu500 | 4 | Pub. status: Published: recto
cu500_lin | 1 | On recto: 17 lines in Coptic
cu500_rec | 1 | Source of description: On recto: loan document
cu500_t | 1 | MH 2499, recto: (1) I, Abraham and his wife, (2) we write to Maria, saying: Seeing that, when the need arose, (3) you gave one and a half tremisses to me, and (4) I, for my part, gave you a silver, (now) it is you (5) who are its owner and can sell it or (6) keep it or give (7) it to whomever you wish; for no (8) one is able to proceed against you, (9) ever, be it a son, or daughter, (10) or grandson, or kinsman near (11) or distant, or (12) anyone acting as my representative.  (13) Whosoever proceeds (14) against you on account of it shall pay (15) two solidi and shall [come in] (16) and comply with this (17) document.
cu518 | 1 | Thebes
cu546 | 1 | Coptic
cu561 | 1 | Medinet Habu
cu590_con | 1 | On brown ribbed pottery with traces of black pitch coating inside
cu653 | 2 | Receipt
cu653 | 3 | Security
cu655 | 1 | Documentary
cu655 | 1 | ostracon
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 600
cuDateValue | 2 | 799
cuLCODE | 1 | cop
cuOrgcode | 1 | ICU
perm_group | 1 | w
