cu001 | 1 | chicago.apis.154
cu035 | 1 | (ICU)154
cu090 | 1 | O.Medin.HabuDem 115
cu090_orgcode | 1 | ICU
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu100a | 2 | Psemmonthes, son of Pasemis, son of Meswer
cu100a | 3 | Pamonthes, son of Psenamounis
cu100a | 4 | Pamonthes, son of Psenanoubis
cu245ab | 1 | Receipt for the bath tax
cu245f | 1 | 2 A.D.
cu300 | 1 | ostracon ; 
cu500 | 1 | Number 115 in Lichtheim&apos;s publication. Measurements not available.
cu500 | 2 | Location: Oriental Institute
cu500 | 4 | Pub. status: Published: recto
cu500_lin | 1 | On recto: 5 lines in Demotic 
cu500_pal | 1 | The scribe abandoned the first line and started anew on line 2, perhaps because he had written &apos;&apos;pa--&apos;&apos; instead of &apos;p3--&apos;&apos; in the name of Psemmonthes.
cu500_rec | 1 | Source of description: On recto: tax receipt
cu500_t | 1 | MH 2636, recto: (1) Pa-- has paid (2) Psemmonthes, son of Pasemis, son of Meswer, has paid (3) to Pamonthes, son of Psenamounis, and Pamonthes, son of Psenanoubis, (4) for the dues of the bath (5) in year 32, 1 kite. Written in year 32, Mesore 22.
cu518 | 1 | Thebes
cu546 | 1 | Demotic
cu561 | 1 | Medinet Habu
cu655 | 1 | Documentary
cu655 | 1 | ostracon
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 2
cuLCODE | 1 | dem
cuOrgcode | 1 | ICU
perm_group | 1 | w
