cu001 | 1 | chicago.apis.8242
cu035 | 1 | (ICU)8242
cu090 | 1 | OIM 17618 (II)
cu090_orgcode | 1 | ICU
cu245ab | 1 | Pious notation
cu245f | 1 | Early IIIrd century A.H. / Early IXth century A.D.
cu300 | 1 | paper ; 24.2 cm x 13.0 cm
cu500 | 2 | Location: Oriental Institute
cu500 | 4 | Pub. status: Published: recto and verso
cu500_lin | 1 | On verso: 3 lines in Arabic
cu500_pal | 1 | Three lines written on page 2, upper section are in a fine and careful book hand, but one different from the text of "Thousand Nights" and different from and in a different ink than the two lines on page 3, below initial entry.  Except for the earlier text of the "Nights," both entries have priority to space on their respective pages.  The succeeding entries are fitted into the remaining space.
cu500_rec | 1 | Source of description: On verso: pious notation
cu500_t | 1 | OIM 17618, verso (page 2, upper section): (1) In the name of Allah, the Merciful, the Compassionate.  (2) We are your kin and you are our leader.  It is sufficient for us that one like you (3) should guide us through his kindly wisdom.
cu518 | 1 | Syria
cu520 | 1 | As originally presented, the manuscript contained a blank flyleaf of "Alf Lailah" and the first folio, consisting of the title page and the first page of text.  The chonological order of the six entries seems to be: The Alf Lailah or "Thousand Nights" fragment, Scattered phrases on pages 2 and 3, Outline drawing of the figure of a man on page 2, A second group of scattered phrases in different hands on page 2, Rough draft of a letter on page 1, Formulas of legal testimony dated Safar 266 A.H. / October 879 A.D. written on the margins of all 4 pages.
cu546 | 1 | Arabic
cu561 | 1 | Egypt
cu590_con | 1 | Two joined folios of light brown paper of fine texture, partly discolored and considerably damaged with much of the lower half of both folios lost.  There are six distinct entries written in different scripts and with overlapping inks.
cu653 | 2 | Religious
cu653 | 3 | Islam
cu655 | 1 | Literary
cu655 | 1 | paper
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 800
cuDateValue | 2 | 8525
cuLCODE | 1 | ara
cuOrgcode | 1 | ICU
perm_group | 1 | w
