cu001 | 1 | chicago.apis.8177
cu035 | 1 | (ICU)8177
cu090 | 1 | O. OIM 19291
cu090_orgcode | 1 | ICU
cu1004 | 2 | asn
cu1004 | 3 | asn
cu100a | 2 | Horos
cu100a | 3 | Senthotes
cu245ab | 1 | Accounts
cu245f | 1 | IInd - Ist century B.C.
cu300 | 1 | Ostracon ; 6.3 x 8.0 cm
cu500 | 1 | Catalogue no. 3; Nelson collection no. N257.  If this ostracon is correctly dated and if it concerns burial tax, then this may be one of several choachytes named Horos listed in Pestman (1993), p. 14-25.  The phrase in lines 3 and 6 is reminiscent of the qualification of the deceased in early Ptolemaic burial tax receipts, "who was brought to the necropolis."  70 deben is 1400 drachmas, an enormous sum if calculated on the silver standard, compared to the 1 drachma or 7 obols normally paid for the burial tax in the early Ptolemaic period.  Therefore, it was probably calculated on the copper standard used after 210 B.C.
cu500 | 2 | Location: Oriental Institute
cu500 | 4 | Pub. status: Published: recto
cu500_lin | 1 | On recto: 6 lines in Demotic
cu500_pal | 1 | The word or name in line 5 is preserved, but Muhs could not propose a plausible reading.  The number of debens in line 5 runs over the edge of the ostracon and is illegible.
cu500_rec | 1 | Source of description: On recto: accounts
cu500_t | 1 | OIM 19291, recto: (1) Day 26(?) the receipt (2) from the hand of Horos in the name of two people (3) who were brought out (on) day 25(?): (4) Senthotes, 70 deben; (5) burial of... (?) deben.  (6) Day 27(?), another man who was brought
cu518 | 1 | Thebes (?)
cu546 | 1 | Demotic
cu561 | 1 | Thebes (?)
cu590_con | 1 |  
cu653 | 2 | Accounts
cu655 | 1 | Documentary
cu655 | 1 | Ostracon
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 199
cuDateValue | 2 | 1
cuLCODE | 1 | dem
cuOrgcode | 1 | ICU
perm_group | 1 | w
