cu001 | 1 | chicago.apis.42
cu035 | 1 | (ICU)42
cu090 | 1 | O.Medin.HabuDem 1
cu090_orgcode | 1 | ICU
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu100a | 2 | Siephmous, son of Chensthotes
cu100a | 3 | Pasemis, son of Psemmonthes
cu100a | 4 | Ones, son of Seloudj
cu100a | 5 | Psenchonsis, son of Patemis
cu100a | 6 | Harsiesis, son of Khonstefnakhte
cu245ab | 1 | Receipt concerning linen
cu245f | 1 | 150 B.C.
cu300 | 1 | ostracon ; 
cu500 | 1 | Number 1 in Lichtheim&apos;s publication. Measurements not available.
cu500 | 2 | Location: Oriental Institute
cu500 | 4 | Pub. status: Recto
cu500_lin | 1 | Recto: 8 lines in Demotic
cu500_rec | 1 | Source of description: On recto: receipt
cu500_t | 1 | MH 528, recto: (1) Siephmous, son of Chensthotes, (2) Pasemis, son of Psemmonthes, Ones, son of (3) Seloudj, total 3 men, say to (4) Psenchonsis, son of Patemis: There is (5) 1 (length of) Pharaoh&apos;s linen / 1/2 / 1 again, you having brought it to (6) the royal treasury of Thebes. It is received (7) on account. Written by Harsiesis, son of Khonstefnakhte, (8) at their bidding in year 30, Mesore 12. 
cu518 | 1 | Thebes
cu546 | 1 | Demotic
cu561 | 1 | Medinet Habu
cu653 | 1 | Thebes
cu655 | 1 | Documentary
cu655 | 1 | ostracon
cuDateRange | 1 | s
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 1 | 150
cuLCODE | 1 | dem
cuOrgcode | 1 | ICU
perm_group | 1 | w
