cu001 | 1 | chicago.apis.100
cu035 | 1 | (ICU)100
cu090 | 1 | O.Medin.HabuDem 61
cu090_orgcode | 1 | ICU
cu1004 | 2 | asn
cu1004 | 3 | asn
cu100a | 2 | Harsiesis, son of Pikos
cu100a | 3 | Khonstefnakhte, son of Phthoumonthes
cu245ab | 1 | Receipt for priesthood taxes
cu245f | 1 | 1 B.C.
cu300 | 1 | ostracon ; 
cu500 | 1 | Number 61 in Lichtheim&apos;s publication. Measurements not available.
cu500 | 2 | Location: Oriental Institute
cu500 | 4 | Pub. status: Published: recto
cu500_lin | 1 | On recto: 4 lines in Demotic 
cu500_rec | 1 | Source of description: On recto: tax receipt
cu500_t | 1 | MH 152, recto: (1) Harsiesis, son of Pikos, has paid to the bank of (2) the northern houses through Khonstefnakhte, son of (3) Phthoumonthes, for the dues of the phylarchos of the 3rd phyle in year 29, (4) 1 stater / 1 kite / 1 stater again. Written in year 29, Payni 2.
cu518 | 1 | Thebes
cu546 | 1 | Demotic
cu561 | 1 | Medinet Habu
cu655 | 1 | Documentary
cu655 | 1 | ostracon
cuDateRange | 1 | s
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 1 | 1
cuLCODE | 1 | dem
cuOrgcode | 1 | ICU
perm_group | 1 | w
