cu001 | 1 | chicago.apis.196
cu035 | 1 | (ICU)196
cu090 | 1 | O. MedinHabuCopt 2416
cu090_orgcode | 1 | ICU
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu100a | 2 | Michaias, son of Enoch
cu100a | 3 | Pekosh, son of Manasseh
cu100a | 4 | Apa Dios, son of Paul
cu100a | 5 | Dios, lashane of Jeme
cu100a | 6 | John, son of Pesenthius
cu100a | 7 | Patape, son of Plein
cu245ab | 1 | Loan promise
cu245f | 1 | VIIth - VIIIth century A.D.
cu300 | 1 | ostracon ; 
cu500 | 1 | Number 60 in Stefanski&apos;s and Lichtheim&apos;s publication.  Undated.  Measurements not available.  Michaias, son of Enoch, named in this document is probably identical with the man named in MH 2403 (number 58 in Stefanski&apos;s and Lichtheim&apos;s publication).  Pekosh, son of Manasseh, named in this document, may be the ara of Jeme named in MH 2414 (number 59), as well as Pekosh, son of Kouloje, of MH 2403 (number 58).  The witness John, son of Pesenthius, named here is probably the same witness as in MH 2414 (number 59).  For field reference, see Hoelscher OIP 21, pl. 32.  All ostraca in this volume were on loan from the Egyptian government and had been returned to Egypt by the time of publication.
cu500 | 2 | Location: Oriental Institute
cu500 | 4 | Pub. status: Published: recto
cu500_lin | 1 | On recto: 14 lines in Coptic
cu500_rec | 1 | Source of description: On recto: loan document
cu500_t | 1 | MH 2416, recto: (1) I, Michaias, son of Enoch, who belongs to Terkot, (2) in the district of Ermont, write to Pekosh, son of Manasseh, (3) in Jeme, a castrum of Ermont, saying: By the will of God, (4) I owe you one gold solidus, full (weight) on your scales, and (5) this I am prepared to give you in Paone of the sixth (year) with (6) its interest, which is one artaba of sesame, without any dispute.  (7) I, Michaias, son of Enoch, assent to this undertaking and everything (8) written therein.  I, Apa Dios, son of Paul, the humblest (9) priest of the Church of Terkot, he asked me and I wrote (10) this undertaking; I wrote for him because he does not know (how to write), on the twentieth of Mechir, (11) under Dios, lashane of Jeme, and I am witness.  (12) I, John, son of Pesenthius, am witness.  (13) I, Patape, son of Plein, (14) am witness.
cu518 | 1 | Thebes
cu546 | 1 | Coptic
cu561 | 1 | Medinet Habu
cu590_con | 1 | On brown ribbed pottery
cu653 | 1 | Terkot; Ermont; Jeme
cu653 | 2 | Loan
cu655 | 1 | Documentary
cu655 | 1 | ostracon
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 600
cuDateValue | 2 | 799
cuLCODE | 1 | cop
cuOrgcode | 1 | ICU
perm_group | 1 | w
