cu001 | 1 | chicago.apis.8208
cu035 | 1 | (ICU)8208
cu090 | 1 | O. OIM 19325
cu090_orgcode | 1 | ICU
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu100a | 2 | Sommont
cu100a | 3 | Senmonthis
cu100a | 4 | Herieus
cu245ab | 1 | Receipt for salt tax(?)
cu245f | 1 | (Mid) IIIrd century B.C.
cu300 | 1 | Ostracon ; 9.3 x 5.5 cm
cu500 | 1 | Catalogue no. 33; Nelson collection no. N292.  The Greek name in line 3 may represent the Demotic Ta-sheret-menet and Muhs speculates that it might be Taxpayer 19, Senmonthis, daughter of Amenothes, but admits that Senmonthis is a common name.  3 obols or 1/4 silver kite was the normal female B rate (after fiscal year 31 of Ptolemy II) for the salt tax or a semi-annual payment for the normal female A rate (before fiscal year 32 of Ptolemy II), both of which are well-attested during the period of the A rate.
cu500 | 2 | Location: Oriental Institute
cu500 | 4 | Pub. status: Published: recto
cu500_lin | 1 | On recto: 3 lines in Greek and 1 line in Demotic
cu500_pal | 1 | Both the Greek and Demotic texts are written with a brush rather than a reed pen.  The method of writing suggests that the scribe of the Greek text was an Egyptian, probably the same Egyptian scribe who also wrote the Demotic text.
cu500_rec | 1 | Source of description: On recto: receipt
cu500_t | 1 | OIM 19325, recto: (1) ...Hathyr 10(?) (2) ... (3) Somm[o]nt(?), 3 obols.  (4) Hathyr 11, Senmonthis, 1/4(?) silver (kite), has written Herieus ...(?)
cu518 | 1 | Thebes (?)
cu546 | 1 | Greek
cu546 | 2 | Demotic
cu561 | 1 | Thebes (?)
cu653 | 2 | Receipts
cu653 | 3 | Tax
cu653 | 4 | Salt
cu655 | 1 | Documentary
cu655 | 1 | Ostracon
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 285
cuDateValue | 2 | 223
cuLCODE | 1 | grc
cuLCODE | 2 | dem
cuOrgcode | 1 | ICU
perm_group | 1 | w
