cu001 | 1 | chicago.apis.2
cu035 | 1 | (ICU)2
cu090 | 1 | P. O.I.  25260 (P. Chic. Haw. 7C)
cu090_orgcode | 1 | ICU
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu100a | 2 | Peristratos
cu100a | 3 | Sochotes, son of Paues
cu100a | 4 | Pateris, son of Achommneuis
cu245ab | 1 | Receipt
cu245f | 1 | July 21, 245 B.C.
cu300 | 1 | papyrus ; 8.2 x 19.3 cm
cu500 | 1 | It was found rolled up within P. O.I. 25255, which contains P.Chic.Haw. 7A and 7B on its recto.
cu500 | 2 | Location: Oriental Institute
cu500 | 4 | Pub. status: Published: Recto
cu500_lin | 1 | 10 lines in Greek
cu500_pal | 1 | The writing is against the fibers. This is a double document, with a scriptura interior. A vertical space of 2 cm separates the writing of the inner and outer texts. ;Below the Greek text there is a 9.5 cm of blank papyrus at the left edge and 10.0 cm at the right, perhaps reserved for a Demotic version of the acknowledgment that was never written.
cu500_rec | 1 | Source of description: On recto: Tax receipt 
cu500_t | 1 | P. O.I. 25260 (P. Chic. Haw. 7C), recto: scriptura interior: (Year ) 3, Payni 2, Sochotes, in br(onze) 2 1/2 obols, 1/4 obol. recto: scriptura exterior: (Year) 3, Payni 2. Peristratos agrees that Sochotes, son of Paues, has paid to the King at the b(ank) of Python in Crocodilopo(lis) the tax on a third of a house in the Labyrinth that Pateris, son of Achommneuis, has made to him, on (a price of) 20 (drachmas) a tax of 2 1/2 bronze obols, (on which there is an) agio of 1/4 obol.
cu518 | 1 | Hawara, in the Fayum district, Egypt
cu520 | 1 | The document officially acknowledges the payment of sales tax on the house property mortgaged in P. O.I. 25255 (P. Chic. Haw. 7A + 7B).
cu544_n | 1 | P. O.I. 25255 (P. Chic. Haw. 7A + 7B) 
cu546 | 1 | Greek
cu561 | 1 | Unknown
cu590_con | 1 | Well preserved; there is one insignificant worm hole between lines 7 and 8 of the scriptura exterior, and a larger and more serious hole that has removed some of the writing in the second half of line 10. The edges of the papyrus are relatively well preserved, but the top edge is roughly cut. Two clay seals were still preserved; leftmost 2.6 cm from left edge; rightmost 2.2 cm from right edge.  
cu653 | 1 | Crocodilopolis 
cu653 | 2 | House
cu653 | 3 | Mortgage tax
cu655 | 1 | Documentary
cu655 | 1 | papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 1 | 245
cuLCODE | 1 | grc
cuOrgcode | 1 | ICU
perm_group | 1 | w
