cu001 | 1 | chicago.apis.164
cu035 | 1 | (ICU)164
cu090 | 1 | O.Medin.HabuDem 130
cu090_orgcode | 1 | ICU
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu100a | 2 | Psenamounis, son of Thotsythmis
cu100a | 3 | Psenamenophis son of Chensthothes
cu100a | 4 | Pamonthes
cu100a | 5 | Petenephotes
cu245ab | 1 | Fragment of receipt for farm labor
cu245f | 1 | 200 B.C. - 68 A.D.
cu300 | 1 | ostracon ; 
cu500 | 1 | Number 130 in Lichtheim&apos;s publication. Date lost Measurements not available.
cu500 | 2 | Location: Oriental Institute
cu500 | 4 | Pub. status: Published: recto
cu500_lin | 1 | On recto: 6 lines in Demotic 
cu500_rec | 1 | Source of description: On recto: receipt
cu500_t | 1 | MH 3701, recto: (1) Psenamounis, son of Thotsythmis, together with Psenamenophis, (2) son of Chensthothes, say to Pamonthes, son of ...: (3) We are paid the farm labor ... (4) in P----- for ... (5) ... harvest ----- in year .... (6) Written by Petenephotes ....
cu518 | 1 | Thebes
cu546 | 1 | Demotic
cu561 | 1 | Medinet Habu
cu655 | 1 | Documentary
cu655 | 1 | ostracon
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 200
cuDateValue | 2 | 68
cuLCODE | 1 | dem
cuOrgcode | 1 | ICU
perm_group | 1 | w
