cu001 | 1 | chicago.apis.56
cu035 | 1 | (ICU)56
cu090 | 1 | O.Medin.HabuDem 17
cu090_orgcode | 1 | ICU
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu100a | 2 | Pasemis
cu100a | 3 | Psemmonthes
cu100a | 4 | Pamonthes, son of Amenothes
cu100a | 5 | Khonstefnakhte
cu245ab | 1 | Receipt for the tax on palm trees
cu245f | 1 | 323-30 B.C.
cu300 | 1 | ostracon ; 
cu500 | 1 | Number 17 in Lichtheim&apos;s publication.  Measurements not available.
cu500 | 2 | Location: Oriental Institute
cu500 | 4 | Pub. status: Published: recto
cu500_lin | 1 | On recto: 4 lines in Demotic
cu500_rec | 1 | Source of description: On recto: tax receipt
cu500_t | 1 | MH 4269, recto: (1) ... son of Pasemis, and Psemmonthes (2) ... for palm (tax) of year 23, 1 stater, 1/2 kite, (3) 4 obols, to Pamonthes, son of Amenothes, and Khonstefnakhte. (4) Written in year 24, Tybi 14.
cu518 | 1 | Thebes
cu546 | 1 | Demotic
cu561 | 1 | Medinet Habu
cu655 | 1 | Documentary
cu655 | 1 | ostracon
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 323
cuDateValue | 2 | 30
cuLCODE | 1 | dem
cuOrgcode | 1 | ICU
perm_group | 1 | w
