cu001 | 1 | chicago.apis.152
cu035 | 1 | (ICU)152
cu090 | 1 | O.Medin.HabuDem 113
cu090_orgcode | 1 | ICU
cu1004 | 2 | asn
cu1004 | 3 | asn
cu100a | 2 | Onnophris, son of Psemminis
cu100a | 3 | Psemmonthes
cu245ab | 1 | Receipt for &apos;&apos;antwg&apos;&apos; and value of wine and palm (trees)
cu245f | 1 | 13 A.D.
cu300 | 1 | ostracon ; 
cu500 | 1 | Number 113 in Lichtheim&apos;s publication. Measurements not available.
cu500 | 2 | Location: Oriental Institute
cu500 | 4 | Pub. status: Published: recto
cu500_lin | 1 | On recto: 6 lines in Demotic 
cu500_rec | 1 | Source of description: On recto: tax receipt
cu500_t | 1 | MH 891, recto: (1) the children of Onnophris, son of Psemminis, have paid (2) to the bank of the northern houses for the &apos;&apos;antwg&apos;&apos; (3) of year 42 in Jeme, 2 obols / (4) 1 obol / 2 obols again. Written in year 43, Mesore (5) 28. (6) By the hand of Psemmonthes, son of -----.
cu518 | 1 | Thebes
cu546 | 1 | Demotic
cu561 | 1 | Medinet Habu
cu653 | 1 | Jeme
cu655 | 1 | Documentary
cu655 | 1 | ostracon
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 13
cuLCODE | 1 | dem
cuOrgcode | 1 | ICU
perm_group | 1 | w
