cu001 | 1 | yale.apis.0015300000
cu035 | 1 | (CtY)1530
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 118 x 115 mm, 14 lines, no margins, (B) 1 line
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 137
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cu090 | 1 | P.CtYBR inv.1530
cu541 | 1 | 1933
cu546 | 2 | Greek
cu581 | 3 | Thomas 1975-1982: 2:33-44, 150, 192Lewis & Stephens 1991: 173-75
cu655 | 1 | Papyri
cu655 | 2 | Court transcript

cu245ab | 1 | Court transcript, Roman CE after 137 [NL]Roman CE 118-119 (?) [JDT]Roman CE 138 or later [NL, SAS]
cuPart_no | 1 | 1
cuPart_caption | 1 | [1530 (A)]
cuPart_no | 2 | 2
cuPart_caption | 2 | [1530 (B)]
cuPresentation_no | 1 | 1 | 1
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_url | 1 | 1 | http://brbl-svr1.library.yale.edu/papyrimg/T4410825.JPG
cuPresentation_format | 1 | 1 | [n/a]
cuPresentation_no | 1 | 2 | 2
cuPresentation_display_res | 1 | 2 | Screen
cuPresentation_url | 1 | 2 | http://brbl-svr1.library.yale.edu/papyrimg/S4410825.JPG
cuPresentation_format | 1 | 2 | [n/a]
cuPresentation_no | 1 | 3 | 3
cuPresentation_display_res | 1 | 3 | Zoom
cuPresentation_url | 1 | 3 | http://brbl-svr1.library.yale.edu/papyrimg/Z4410825.JPG
cuPresentation_format | 1 | 3 | [n/a]
cuPresentation_no | 2 | 1 | 1
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_url | 2 | 1 | http://brbl-svr1.library.yale.edu/papyrimg/T4410826.JPG
cuPresentation_format | 2 | 1 | [n/a]
cuPresentation_no | 2 | 2 | 2
cuPresentation_display_res | 2 | 2 | Screen
cuPresentation_url | 2 | 2 | http://brbl-svr1.library.yale.edu/papyrimg/S4410826.JPG
cuPresentation_format | 2 | 2 | [n/a]
cuPresentation_no | 2 | 3 | 3
cuPresentation_display_res | 2 | 3 | Zoom
cuPresentation_url | 2 | 3 | http://brbl-svr1.library.yale.edu/papyrimg/Z4410826.JPG
cuPresentation_format | 2 | 3 | [n/a]
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
