cu001 | 1 | yale.apis.0027570000
cu035 | 1 | (CtY)2757
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | mm (bound in glass)
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 1599
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 1100
cuLCODE | 1 | egy
cu090 | 1 | P.CtYBR inv.2757
cu520 | 1 | The (Egyptian) Book of the Dead 64 (?), 102, 136A, 179, etc
cu541 | 2 | 1973
cu546 | 3 | Egyptian\Hieratic
cu581 | 4 | Emmel 1989: 55, 58
cu655 | 1 | Papyri
cu655 | 2 | Literary work

cu245ab | 1 | Literary work, Pharaonic BCE xvi-xii [GJ]Pharaonic BCE xvii-xvi [WF]
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
