cu001 | 1 | yale.apis.4400900000
cu035 | 1 | (CtY)DP 90 qua
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | Fragments (a)-(k) (in mm), (a) 270 x 265, (A) 23 lines, top left bottom margins, (B) 4 lines, all margins, (b) 22 x 44, blank, (c) 20 x 31, blank, (d) 12 x 17, blank, (e) 12 x 13, blank, (f) 14 x 15, (A) 2 lines, no margins, (B) blank, (g) 13 x 15, traces, (h) 7 x 9, traces, (i) 16 x 15, blank, (j) 22 x 27, blank, (k) 18 x 37, blank
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 254
cuLCODE | 0 | grc
cu090 | 1 | P.CtYBR inv.DP 90 qua
cu510 | 1 | P.Dura 32
cu518 | 2 | Dura-Europos
cu520 | 3 | Of divorce; written after divorce occurred; concerns division of possessions, dowry and rights to remarry
cu546 | 4 | Greek
cu581 | 5 | P.Dura, pp. 166-169, pls. xxvi, xxvii, 3Sijpesteijn 1979: 235, n. 29Crisci 1996, p. 146
cu655 | 1 | Papyri, fragments
cu655 | 2 | Contract

cu245ab | 1 | Contract, Roman CE 254
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
