cu001 | 1 | yale.apis.0046280000
cu035 | 1 | (CtY)4628 qua
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 93 x 329 mm, (A) 5 lines, all margins, (B) 2 lines, all margins



cuLCODE | 0 | egy
cu090 | 1 | P.CtYBR inv.4628 qua
cu541 | 1 | 1997a
cu546 | 2 | Egyptian\Demotic
cu655 | 1 | Papyri
cu655 | 2 | Document

cu245ab | 1 | Document
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
