cu001 | 1 | yale.apis.0003620000
cu035 | 1 | (CtY)362
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 218 x 59 mm, (A) 15 lines, all margins, (B) blank
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 187
cuLCODE | 0 | grc
cu090 | 1 | P.CtYBR inv.362
cu510 | 1 | P.Bacch. 9Rost. a 50SB VI 9322
cu518 | 2 | Bacchias, Arsinoite nome
cu520 | 3 | The temple priest Peteuris to the eklogistes, to cover a list of priests and an inventory of temple property
cu541 | 4 | 1931a
cu546 | 5 | Greek
cu581 | 6 | P.Bacch., pp. 235-36
cu655 | 1 | Papyri
cu655 | 2 | Letter

cu245ab | 1 | Letter, Roman CE 187, Aug 28
cuPart_no | 1 | 1
cuPart_caption | 1 | [362 (A)]
cuPart_no | 2 | 2
cuPart_caption | 2 | [362 (B)]
cuPresentation_no | 1 | 1 | 1
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_url | 1 | 1 | http://brbl-svr1.library.yale.edu/papyrimg/T4202382.JPG
cuPresentation_format | 1 | 1 | [n/a]
cuPresentation_no | 1 | 2 | 2
cuPresentation_display_res | 1 | 2 | Screen
cuPresentation_url | 1 | 2 | http://brbl-svr1.library.yale.edu/papyrimg/S4202382.JPG
cuPresentation_format | 1 | 2 | [n/a]
cuPresentation_no | 1 | 3 | 3
cuPresentation_display_res | 1 | 3 | Zoom
cuPresentation_url | 1 | 3 | http://brbl-svr1.library.yale.edu/papyrimg/Z4202382.JPG
cuPresentation_format | 1 | 3 | [n/a]
cuPresentation_no | 2 | 1 | 1
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_url | 2 | 1 | http://brbl-svr1.library.yale.edu/papyrimg/T4202383.JPG
cuPresentation_format | 2 | 1 | [n/a]
cuPresentation_no | 2 | 2 | 2
cuPresentation_display_res | 2 | 2 | Screen
cuPresentation_url | 2 | 2 | http://brbl-svr1.library.yale.edu/papyrimg/S4202383.JPG
cuPresentation_format | 2 | 2 | [n/a]
cuPresentation_no | 2 | 3 | 3
cuPresentation_display_res | 2 | 3 | Zoom
cuPresentation_url | 2 | 3 | http://brbl-svr1.library.yale.edu/papyrimg/Z4202383.JPG
cuPresentation_format | 2 | 3 | [n/a]
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
