cu001 | 1 | yale.apis.0018350000
cu035 | 1 | (CtY)1835
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | (1) 42 x 111 mm, (A) 4 lines, top (?) margin, (B) 1 line, top margin; (2) 79 x 210 mm, (A) 8 lines, bottom left margins, (B) 1 line (erased), all (?) margins
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 699
cuLCODE | 1 | cop
cu090 | 1 | P.CtYBR inv.1835
cu500 | 1 | The relative positions of fragments (1) and (2) are probable along the horizontal axis; the vertical distance between them is uncertain
cu510 | 2 | Kraus 97
cu518 | 3 | Djeme?
cu541 | 4 | 1964
cu546 | 5 | Egyptian\Coptic
cu581 | 6 | Petersen 1964: 65MacCoull 1975: 218
cu655 | 1 | Papyri
cu655 | 2 | Letter

cu245ab | 1 | Letter, Byzantine-Medieval CE vi-vii (Nov 7 or 8) [TCP]
cuPart_no | 1 | 1
cuPart_caption | 1 | [1835 (A)]
cuPart_no | 2 | 2
cuPart_caption | 2 | [1835 (B)]
cuPresentation_no | 1 | 1 | 1
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_url | 1 | 1 | http://brbl-svr1.library.yale.edu/papyrimg/T4512243.JPG
cuPresentation_format | 1 | 1 | [n/a]
cuPresentation_no | 1 | 2 | 2
cuPresentation_display_res | 1 | 2 | Screen
cuPresentation_url | 1 | 2 | http://brbl-svr1.library.yale.edu/papyrimg/S4512243.JPG
cuPresentation_format | 1 | 2 | [n/a]
cuPresentation_no | 1 | 3 | 3
cuPresentation_display_res | 1 | 3 | Zoom
cuPresentation_url | 1 | 3 | http://brbl-svr1.library.yale.edu/papyrimg/Z4512243.JPG
cuPresentation_format | 1 | 3 | [n/a]
cuPresentation_no | 2 | 1 | 1
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_url | 2 | 1 | http://brbl-svr1.library.yale.edu/papyrimg/T4512244.JPG
cuPresentation_format | 2 | 1 | [n/a]
cuPresentation_no | 2 | 2 | 2
cuPresentation_display_res | 2 | 2 | Screen
cuPresentation_url | 2 | 2 | http://brbl-svr1.library.yale.edu/papyrimg/S4512244.JPG
cuPresentation_format | 2 | 2 | [n/a]
cuPresentation_no | 2 | 3 | 3
cuPresentation_display_res | 2 | 3 | Zoom
cuPresentation_url | 2 | 3 | http://brbl-svr1.library.yale.edu/papyrimg/Z4512244.JPG
cuPresentation_format | 2 | 3 | [n/a]
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
