cu001 | 1 | yale.apis.0002280000
cu035 | 1 | (CtY)228 qua
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 248 x 116 mm, 16 lines, all margins, (B) blank
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 300
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 399
cuLCODE | 1 | grc
cu090 | 1 | P.CtYBR inv.228 qua
cu510 | 1 | Bell III 35
cu520 | 2 | On transport of goods by camels
cu541 | 3 | 1927
cu546 | 4 | Greek
cu655 | 1 | Papyri
cu655 | 2 | Account

cu245ab | 1 | Account, Byzantine CE iv [HIB]
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
