cu001 | 1 | yale.apis.0009280000
cu035 | 1 | (CtY)928 qua
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 230 x 236 mm, (A) 15 lines, all margins, (B) 5 lines, all margins
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 161
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 180
cuLCODE | 1 | grc
cu090 | 1 | P.CtYBR inv.928 qua
cu510 | 1 | Rost. h 4
cu518 | 2 | Faiyum region
cu520 | 3 | 4 receipts, 3 on (A), 1 on (B), for money paid by the same man, Potas son of Hatres, on behalf of "zyte", the beer-monopoly (?)
cu541 | 4 | 1931a
cu546 | 5 | Greek
cu655 | 1 | Papyri
cu655 | 2 | Receipt

cu245ab | 1 | Receipt, Roman CE 161-180
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
