cu001 | 1 | yale.apis.0022424200
cu035 | 1 | (CtY)2242(B)
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | (1) 29 x 42 mm, 2 lines, no margins; (2) 15 x 24 mm, 1 line, no margins; (3) 24 x 11 mm, blank; (4) 25 x 13 mm, 3 lines, no margins



cuLCODE | 0 | egy
cu090 | 1 | P.CtYBR inv.2242(B)
cu510 | 1 | P.Yale inv. 1738ss + 1738tt + 1738uu + 1738xx + 1738yy + 1738zz
cu541 | 2 | 1945
cu546 | 3 | Egyptian\Hieratic
cu655 | 1 | Papyri
cu655 | 2 | Document?

cu245ab | 1 | Document?
cuPart_no | 1 | 1
cuPart_caption | 1 | [2242 (B)]
cuPresentation_no | 1 | 1 | 1
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_url | 1 | 1 | http://brbl-svr1.library.yale.edu/papyrimg/T4512970.JPG
cuPresentation_format | 1 | 1 | [n/a]
cuPresentation_no | 1 | 2 | 2
cuPresentation_display_res | 1 | 2 | Screen
cuPresentation_url | 1 | 2 | http://brbl-svr1.library.yale.edu/papyrimg/S4512970.JPG
cuPresentation_format | 1 | 2 | [n/a]
cuPresentation_no | 1 | 3 | 3
cuPresentation_display_res | 1 | 3 | Zoom
cuPresentation_url | 1 | 3 | http://brbl-svr1.library.yale.edu/papyrimg/Z4512970.JPG
cuPresentation_format | 1 | 3 | [n/a]
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
