cu001 | 1 | yale.apis.0000184100
cu035 | 1 | (CtY)18(A) qua
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 212 x 192 mm, (col. i) 6 lines, top right margins, (col. ii) 18 lines, all margins
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 100
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 199
cuLCODE | 1 | grc
cu090 | 1 | P.CtYBR inv.18(A) qua
cu510 | 1 | P.Haw. 197
cu518 | 2 | Hawara
cu520 | 3 | List of names, etc., with payments
cu541 | 4 | 1889
cu546 | 5 | Greek
cu581 | 6 | Sayce 1889: 32-33Emmel 1989: 42-43, 57-58SB I 5223
cu655 | 1 | Papyri
cu655 | 2 | Account

cu245ab | 1 | Account, Roman CE ii [CBW]
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
