cu001 | 1 | yale.apis.0036330000
cu035 | 1 | (CtY)3633 qua
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | Fragments 1-7 (in mm), (1) 95 x 41, (A) 4 lines and traces, top margin (?), (B) blank, (2) 97 x 53, (A) 15 lines, no margins, (B) blank, (3) 81 x 63, (A) 2 col., col. i: 8 lines, col. ii: title + 5 lines, top margin, (B) 4 lines, top margin, (4) 133 x 43, (A) 10 lines, top margin (?), (B) 8 lines, top margin (?), (5) 40 x 86, (A) 1 line, bottom margin, (B) blank, (6) 51 x 66, (A) 5 lines, no margins, (B) traces, (7) 49 x 98, (A) 2 col. (?), 8 lines, no margins, (B) 5 lines, top margin (?)
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 99
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cu090 | 1 | P.CtYBR inv.3633 qua
cu520 | 1 | Unrelated fragments
cu541 | 2 | 1965a
cu546 | 3 | Greek
cu655 | 1 | Papyri, fragments
cu655 | 2 | Document

cu245ab | 1 | Document, Roman
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
