cu001 | 1 | yale.apis.0046374200
cu035 | 1 | (CtY)4637(B)
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 3 large fragments
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 499
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 199
cuLCODE | 1 | grc
cu090 | 1 | P.CtYBR inv.4637(B)
cu541 | 1 | 1996c + 1997a
cu546 | 2 | Greek
cu655 | 1 | Papyri
cu655 | 2 | Account

cu245ab | 1 | Account, Ptolemaic
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
