cu001 | 1 | yale.apis.0042350000
cu035 | 1 | (CtY)4235 qua
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 2 fragments, (1) 161 x 42 mm, (A) 16 lines, bottom margins, (B) remains of mummy chalk, (2) 267 x 88 mm, (A) 2 cols., (col. i) 6 lines, right margin, (col. ii) 37 lines, left margin, (B) remains of mummy chalk
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 499
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 199
cuLCODE | 1 | grc
cu090 | 1 | P.CtYBR inv.4235 qua
cu520 | 1 | Names and various entries on land (?) and payments ("apodosis") for several months
cu541 | 2 | 1992b
cu546 | 3 | Greek
cu655 | 1 | Papyri
cu655 | 2 | Account

cu245ab | 1 | Account, Ptolemaic
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
