cu001 | 1 | yale.apis.0017940000
cu035 | 1 | (CtY)1794 qua
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | (1) 150 x 132 mm, (A) 16 lines, top right margins, (B) 13 lines, top bottom left margins; (2) 28 x 92 mm, (A) 4 lines, no margins, (B) blank; (3) 53 x 128 mm, (A) 5 lines, bottom (?) margin, (B) blank
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 699
cuLCODE | 1 | cop
cu090 | 1 | P.CtYBR inv.1794 qua
cu510 | 1 | P.Yale inv. 1794a + 1794b + 1794cKraus 56
cu520 | 2 | Invocation and appeal for knowledge and revelation
cu541 | 3 | 1964
cu546 | 4 | Egyptian\Coptic
cu581 | 5 | Petersen 1964: 44-45
cu655 | 1 | Papyri
cu655 | 2 | Magical text

cu245ab | 1 | Magical text, Byzantine-Medieval CE vi-vii [TCP]
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
