cu001 | 1 | yale.apis.0034790000
cu035 | 1 | (CtY)3479
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | (1) 37 x 47 mm, (A) 5 lines, left margin, (B) 5 lines, right margin; (2) 30 x 47 mm, (A) 2 lines, top margin, (B) 2 lines, top margin; (3) 42 x 67 mm, (A) 5 lines, no margins, (B) 5 lines, no margins



cuLCODE | 0 | cop
cu090 | 1 | P.CtYBR inv.3479
cu500 | 1 | Other fragments of this manuscript may be among P.CtYBR inv. 3482
cu541 | 2 | 1992a
cu546 | 3 | Egyptian\Coptic
cu655 | 1 | Papyri
cu655 | 2 | Literary work

cu245ab | 1 | Literary work
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
