cu001 | 1 | yale.apis.0021250000
cu035 | 1 | (CtY)2125 qua
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 245 x 314 mm, 10 lines, right left margins
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 613
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 641
cuLCODE | 1 | lat
cu090 | 1 | P.CtYBR inv.2125 qua
cu500 | 1 | Another fragment of this manuscript is Ch.L.A. 232
cu510 | 2 | BRBL MS 481 Supplement ICh.L.A. 400Tj„der 28 + 56
cu518 | 3 | Ravenna (Italy)?
cu520 | 4 | Of donation of property
cu541 | 5 | 1965b
cu546 | 6 | Latin
cu581 | 7 | Maffei 1727: 168 (no. 12.3)Gori 1731: xxvi, 498 (no. 12)Marini 1805: xvii, 169 (no. 108), 324Spangenberg 1822: 224 (no. 41)Tjäder 1954-1982: 1:30, 54 (P+ 6), 389-97 (no. 28), 477-79; 2:243- 46 (no. 56), 308-9, pl. 161Marston 1965: 10Parássoglou 1972Ch.L.A. IX, pp. 108-9Shailor 1988: 25-26 (no. 24)
cu655 | 1 | Papyri
cu655 | 2 | Contract

cu245ab | 1 | Contract, Byzantine CE 613-641 [JOT]
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
