cu001 | 1 | yale.apis.0045290000
cu035 | 1 | (CtY)4529
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 2 fragments, (1) 42 x 22 mm, (A) 2 lines (?), rulers, red ink, (B) blank, (2) 51 x 23 mm, (A) ruler, no text, (B) traces of 7 lines (?)



cuLCODE | 0 | egy
cu090 | 1 | P.CtYBR inv.4529
cu520 | 1 | Related to Carlsberg material (?) (Osius)
cu541 | 2 | 1992b
cu546 | 3 | Egyptian\Hieratic (?)(2)(B) Greek (?)
cu655 | 1 | Papyri
cu655 | 2 | Literary work

cu245ab | 1 | Literary work
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
