cu001 | 1 | yale.apis.0045190000
cu035 | 1 | (CtY)4519
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 31 x 25 mm, (A) 3 lines, no margins, (B) blank
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 199
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 100
cuLCODE | 1 | egy
cu090 | 1 | P.CtYBR inv.4519
cu520 | 1 | As a temple slave
cu541 | 2 | 1992b
cu546 | 3 | Egyptian\Demotic
cu655 | 1 | Papyri
cu655 | 2 | Self-dedication

cu245ab | 1 | Self-dedication, Ptolemaic BCE ii
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
