cu001 | 1 | yale.apis.0045000000
cu035 | 1 | (CtY)4500 qua
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 300 x 140 mm, (A) 36 lines, all margins, (B) 2 lines (docket and address)
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 138
cuLCODE | 0 | grc
cu090 | 1 | P.CtYBR inv.4500 qua
cu518 | 1 | Heracleopolite nome
cu520 | 2 | To the epistrategos Boethos with dockets concerning the handling of the case
cu541 | 3 | 1996b
cu546 | 4 | Greek
cu655 | 1 | Papyri
cu655 | 2 | Petition

cu245ab | 1 | Petition, Ptolemaic BCE 138
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
