cu001 | 1 | yale.apis.0017730032
cu035 | 1 | (CtY)1773(second text)
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | mm, (A) blank, (B) 4 lines and traces, right bottom margins (bound in glass)



cuLCODE | 0 | grc
cu090 | 1 | P.CtYBR inv.1773(second text)
cu541 | 1 | 1964
cu546 | 2 | Greek
cu581 | 3 | D. Samuel 1967: 37
cu655 | 1 | Papyri
cu655 | 2 | Account

cu245ab | 1 | Account
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
