cu001 | 1 | yale.apis.4400500000
cu035 | 1 | (CtY)DP 50
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 80 x 38 mm, (A) 7 lines, bottom margin (?), (B) 3 lines, top margin
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 220
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 222
cuLCODE | 1 | lat
cu090 | 1 | P.CtYBR inv.DP 50
cu510 | 1 | P.Dura 134Rom.Mil.Rec. 118Ch.L.A. IX 387
cu518 | 2 | Dura-Europos
cu546 | 3 | Latin
cu581 | 4 | P.Dura, p. 407-408, pl. lxvii, 2Rom.Mil.Rec.: p. 431Ch.L.A. IX: p. 78, pl. 78
cu655 | 1 | Papyri
cu655 | 2 | Document

cu245ab | 1 | Document, Roman CE 220-222 (?)
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
