cu001 | 1 | yale.apis.0000380000
cu035 | 1 | (CtY)38 fol
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 295 x 380 mm, (A) 22 lines, all margins, (B) blank
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 58
cuLCODE | 0 | grc
cu090 | 1 | P.CtYBR inv.38 fol
cu500 | 1 | Formerly PCtYBR inv 38
cu510 | 2 | P.Oxy. 268
cu518 | 3 | Oxyrhynchus
cu520 | 4 | Of repayment of wife's dowry by heir of deceased husband
cu541 | 5 | 1906
cu546 | 6 | Greek
cu581 | 7 | P.Oxy. II, pp. 247-50
cu655 | 1 | Papyri
cu655 | 2 | Registration

cu245ab | 1 | Registration, Roman CE 58
cuPart_no | 1 | 1
cuPart_caption | 1 | [38 Folio (A)]
cuPart_no | 2 | 2
cuPart_caption | 2 | [38 Folio (B)]
cuPresentation_no | 1 | 1 | 1
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_url | 1 | 1 | http://brbl-svr1.library.yale.edu/papyrimg/T4183633.JPG
cuPresentation_format | 1 | 1 | [n/a]
cuPresentation_no | 1 | 2 | 2
cuPresentation_display_res | 1 | 2 | Screen
cuPresentation_url | 1 | 2 | http://brbl-svr1.library.yale.edu/papyrimg/S4183633.JPG
cuPresentation_format | 1 | 2 | [n/a]
cuPresentation_no | 1 | 3 | 3
cuPresentation_display_res | 1 | 3 | Zoom
cuPresentation_url | 1 | 3 | http://brbl-svr1.library.yale.edu/papyrimg/Z4183633.JPG
cuPresentation_format | 1 | 3 | [n/a]
cuPresentation_no | 2 | 1 | 1
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_url | 2 | 1 | http://brbl-svr1.library.yale.edu/papyrimg/T4183634.JPG
cuPresentation_format | 2 | 1 | [n/a]
cuPresentation_no | 2 | 2 | 2
cuPresentation_display_res | 2 | 2 | Screen
cuPresentation_url | 2 | 2 | http://brbl-svr1.library.yale.edu/papyrimg/S4183634.JPG
cuPresentation_format | 2 | 2 | [n/a]
cuPresentation_no | 2 | 3 | 3
cuPresentation_display_res | 2 | 3 | Zoom
cuPresentation_url | 2 | 3 | http://brbl-svr1.library.yale.edu/papyrimg/Z4183634.JPG
cuPresentation_format | 2 | 3 | [n/a]
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
