cu001 | 1 | yale.apis.0000354200
cu035 | 1 | (CtY)35(B) qua
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 204 x 193 mm, (col. i) 11 lines, top right left (?) margins, (col. ii) 5 lines, top left margins
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 1
cuLCODE | 0 | grc
cu090 | 1 | P.CtYBR inv.35(B) qua
cu500 | 1 | The unrelated fragment stuck along the right-hand edge belongs to P.CtYBR inv. 2190
cu510 | 2 | P.Yale inv. 35a
cu518 | 3 | Oxyrhynchus
cu520 | 4 | Dionysios to Pse[?]
cu541 | 5 | 1901
cu546 | 6 | Greek
cu581 | 7 | P.Oxy. II, p. 33
cu655 | 1 | Papyri
cu655 | 2 | Letter

cu245ab | 1 | Letter, Roman CE early i [BPG]
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
