cu001 | 1 | yale.apis.0048240000
cu035 | 1 | (CtY)4824
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 76 x 24 mm, (A) 8 lines, no margins, black and red ink, (B) blank



cuLCODE | 0 | egy
cu090 | 1 | P.CtYBR inv.4824
cu541 | 1 | 1992b
cu546 | 2 | Egyptian\Hieratic
cu655 | 1 | Papyri
cu655 | 2 | Literary work

cu245ab | 1 | Literary work
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
