cu001 | 1 | yale.apis.0050410000
cu035 | 1 | (CtY)5041
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 2 fragments, (1) 121 x 24 mm, (A) 9 lines, top bottom (?) margins, (B) 1 line, top bottom margins, (2) 126 x 40 mm, (A) 12 lines, no margins, (B) 2 cols., col.i, 9 lines (?), right margin, col.ii, 8 lines, top left bottom (?) margins



cuLCODE | 0 | cop
cu090 | 1 | P.CtYBR inv.5041
cu520 | 1 | (A) Letter (?)(B) List of names (?)
cu541 | 2 | 1997a
cu546 | 3 | Egyptian\Coptic
cu655 | 1 | Papyri
cu655 | 2 | Document

cu245ab | 1 | Document
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
