cu001 | 1 | yale.apis.4400800000
cu035 | 1 | (CtY)DP 80
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 52 x 26 mm, (A) 1 line, top margin, (B) 2 lines, top margin
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 208
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 256
cuLCODE | 1 | lat
cu090 | 1 | P.CtYBR inv.DP 80
cu510 | 1 | P.Dura 145Rom.Mil.Rec. 124Ch.L.A. IX 395
cu520 | 2 | Number with denarius sign
cu546 | 3 | Latin
cu581 | 4 | P.Dura, p. 410Rom.Mil.Rec.: 435Ch.L.A. IX: p. 81, pl. 81
cu655 | 1 | Papyri
cu655 | 2 | Document

cu245ab | 1 | Document, Roman CE 208-256  [CBW]
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
