cu001 | 1 | yale.apis.0044310000
cu035 | 1 | (CtY)4431
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 97 x 79 mm, 11 lines, no margins; written with black and red ink, (B) blank



cuLCODE | 0 | egy
cu090 | 1 | P.CtYBR inv.4431
cu541 | 1 | 1992b
cu546 | 2 | Egyptian\Demotic
cu655 | 1 | Papyri
cu655 | 2 | Literary text(?)

cu245ab | 1 | Literary text(?)
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
