cu001 | 1 | yale.apis.0002330000
cu035 | 1 | (CtY)233 qua
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 253 x 137 mm, (A) 20 lines, left bottom right margins, (B) traces
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 199
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 100
cuLCODE | 1 | grc
cu090 | 1 | P.CtYBR inv.233 qua
cu510 | 1 | Bell III 50
cu518 | 2 | Akanthon polis, Memphite nome
cu520 | 3 | End of a petition demanding the delivery of an ass; a phylakites is mentioned; the petitioner is probably a basilikos georgos
cu541 | 4 | 1927
cu546 | 5 | Greek
cu655 | 1 | Papyri
cu655 | 2 | Petition

cu245ab | 1 | Petition, Ptolemaic BCE ii [HIB]
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
