cu001 | 1 | yale.apis.0006060000
cu035 | 1 | (CtY)606
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 127 x 78 mm, 15 lines, right bottom left margins
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 192
cuLCODE | 0 | grc
cu090 | 1 | P.CtYBR inv.606
cu510 | 1 | Rost. b 71
cu518 | 2 | Narmouthis, Arsinoite nome
cu520 | 3 | End of a declaration of death with official subscriptionMonth: Choiak-Adrianos
cu541 | 4 | 1931a
cu546 | 5 | Greek
cu655 | 1 | Papyri
cu655 | 2 | Declaration of death

cu245ab | 1 | Declaration of death, Roman CE 192-193, [28. Nov.-26. Dec. 192 CE ?]
cuPart_no | 1 | 1
cuPart_caption | 1 | [606 (A)]
cuPart_no | 2 | 2
cuPart_caption | 2 | [606 (B)]
cuPresentation_no | 1 | 1 | 1
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_url | 1 | 1 | http://brbl-svr1.library.yale.edu/papyrimg/T4202826.JPG
cuPresentation_format | 1 | 1 | [n/a]
cuPresentation_no | 1 | 2 | 2
cuPresentation_display_res | 1 | 2 | Screen
cuPresentation_url | 1 | 2 | http://brbl-svr1.library.yale.edu/papyrimg/S4202826.JPG
cuPresentation_format | 1 | 2 | [n/a]
cuPresentation_no | 1 | 3 | 3
cuPresentation_display_res | 1 | 3 | Zoom
cuPresentation_url | 1 | 3 | http://brbl-svr1.library.yale.edu/papyrimg/Z4202826.JPG
cuPresentation_format | 1 | 3 | [n/a]
cuPresentation_no | 2 | 1 | 1
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_url | 2 | 1 | http://brbl-svr1.library.yale.edu/papyrimg/T4202827.JPG
cuPresentation_format | 2 | 1 | [n/a]
cuPresentation_no | 2 | 2 | 2
cuPresentation_display_res | 2 | 2 | Screen
cuPresentation_url | 2 | 2 | http://brbl-svr1.library.yale.edu/papyrimg/S4202827.JPG
cuPresentation_format | 2 | 2 | [n/a]
cuPresentation_no | 2 | 3 | 3
cuPresentation_display_res | 2 | 3 | Zoom
cuPresentation_url | 2 | 3 | http://brbl-svr1.library.yale.edu/papyrimg/Z4202827.JPG
cuPresentation_format | 2 | 3 | [n/a]
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
