cu001 | 1 | yale.apis.0004430000
cu035 | 1 | (CtY)443
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 141 x 77 mm, 19 lines, top left margins
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 83
cuLCODE | 0 | grc
cu090 | 1 | P.CtYBR inv.443
cu510 | 1 | Rost. a 97SB XIV 11336SB XVI 12383
cu518 | 2 | Oxyrhynchus
cu520 | 3 | Of a death
cu541 | 4 | 1931a
cu546 | 5 | Greek
cu581 | 6 | Parássoglou 1975: 89-92Martin 1980
cu655 | 1 | Papyri
cu655 | 2 | Registration

cu245ab | 1 | Registration, Roman CE 83, Aug [GMP]Roman CE 55, Aug 29-56, Aug 29 [AM]
cuPart_no | 1 | 1
cuPart_caption | 1 | [443 (A)]
cuPart_no | 2 | 2
cuPart_caption | 2 | [443 (B)]
cuPresentation_no | 1 | 1 | 1
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_url | 1 | 1 | http://brbl-svr1.library.yale.edu/papyrimg/T4202538.JPG
cuPresentation_format | 1 | 1 | [n/a]
cuPresentation_no | 1 | 2 | 2
cuPresentation_display_res | 1 | 2 | Screen
cuPresentation_url | 1 | 2 | http://brbl-svr1.library.yale.edu/papyrimg/S4202538.JPG
cuPresentation_format | 1 | 2 | [n/a]
cuPresentation_no | 1 | 3 | 3
cuPresentation_display_res | 1 | 3 | Zoom
cuPresentation_url | 1 | 3 | http://brbl-svr1.library.yale.edu/papyrimg/Z4202538.JPG
cuPresentation_format | 1 | 3 | [n/a]
cuPresentation_no | 2 | 1 | 1
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_url | 2 | 1 | http://brbl-svr1.library.yale.edu/papyrimg/T4202539.JPG
cuPresentation_format | 2 | 1 | [n/a]
cuPresentation_no | 2 | 2 | 2
cuPresentation_display_res | 2 | 2 | Screen
cuPresentation_url | 2 | 2 | http://brbl-svr1.library.yale.edu/papyrimg/S4202539.JPG
cuPresentation_format | 2 | 2 | [n/a]
cuPresentation_no | 2 | 3 | 3
cuPresentation_display_res | 2 | 3 | Zoom
cuPresentation_url | 2 | 3 | http://brbl-svr1.library.yale.edu/papyrimg/Z4202539.JPG
cuPresentation_format | 2 | 3 | [n/a]
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
