cu001 | 1 | yale.apis.4400174200
cu035 | 1 | (CtY)DP 17(B) qua
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | Fragments (a)-(h) (in mm), (a) 200 x 210, 21 lines, (b) 83 x 27, blank, (c) 26 x 40, 2 lines, (d) blank, (e) 14 x 19, traces, (f) 4 x 15, traces, (g) 7 x 19, traces, (h) 7 x 11, blank
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 235
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 240
cuLCODE | 1 | lat
cu090 | 1 | P.CtYBR inv.DP 17(B) qua
cu510 | 1 | P.Dura 106Rom.Mil.Rec. 13Ch.L.A. IX 361
cu518 | 2 | Dura-Europos
cu520 | 3 | Guard roster
cu546 | 4 | Latin
cu581 | 5 | P.Dura, pp. 376-377, pl. lviii, 1Rom.Mil.Rec.: pp. 126-127Ch.L.A. IX: pp. 37-38, pl. 38
cu655 | 1 | Papyri, fragments
cu655 | 2 | List

cu245ab | 1 | List, Roman CE 235-240  [CBW]
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
