cu001 | 1 | yale.apis.0038090000
cu035 | 1 | (CtY)3809 qua
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | Fragments 1-7 (in mm), (1) 63 x 45, (A) 4 lines, left margin (?), (B) blank, (2) 64 x 64, (A) 4 lines, left margin, (B) blank, (3) 58 x 74, (A) 2 lines, top bottom (?) margins, (B) traces of 4 lines, no margins, (4) 139 x 74, (A) 8 lines, left (?) margin, (B) 3 lines, no margins (?), (5) 117 x 34, (A) 5 lines, no margins (?), (B) blank, (6) 118 x 52, (A) 13 lines, no margins, (B) 11 lines, no margins, (7) 138 x 48, (A) 8 lines, no margins, (B) traces of 7 lines, right margin
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 200
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 699
cuLCODE | 1 | grc
cu090 | 1 | P.CtYBR inv.3809 qua
cu520 | 1 | Unrelated fragments
cu541 | 2 | 1965a
cu546 | 3 | Greek
cu655 | 1 | Papyri, fragments
cu655 | 2 | Document

cu245ab | 1 | Document, Roman-Byzantine
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
