cu001 | 1 | yale.apis.0049930000
cu035 | 1 | (CtY)4993
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 150 x 153 mm, (A) 15 lines, top left right margins, (B) 14 lines, top left right margins



cuLCODE | 0 | cop
cu090 | 1 | P.CtYBR inv.4993
cu541 | 1 | 1997a
cu546 | 2 | Egyptian\Coptic
cu655 | 1 | Papyri
cu655 | 2 | (A) Literary work(B) Document

cu245ab | 1 | (A) Literary work(B) Document
perm_group | 1 | w

cu090_orgcode | 1 | CtY
cuOrgcode | 1 | CtY
