cu001 | 1 | duke.apis.32042391
cu035 | 1 | (NcD)32042391
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 item : papyrus, three fragments which do not join, mounted in glass, very incomplete
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 199
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 100
cuLCODE | 1 | grc
cu090 | 1 | P.Duk.inv. 109
cu500 | 1 | Dimensions of fragments are 3.8 x 11.7 cm. or smaller
cu500 | 2 | At least 2 lines
cu500 | 3 | Written across the fibers on the recto
cu500 | 4 | P.Duk.inv. 109 was extracted from mummy cartonnage
cu510_m | 5 | http://scriptorium.lib.duke.edu/papyrus/records/109.html
cu520 | 6 | Documentary text from Egypt, written on papyrus
cu546 | 7 | In Greek
cu655 | 1 | Documentary papyri Egypt 332-30 B.C
cu655 | 2 | Papyri

cu245ab | 1 | Documentary text [2nd cent. B.C.]
cuPart_no | 1 | 1
cuPart_caption | 1 | Recto
cuPresentation_no | 1 | 1 | 1
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_url | 1 | 1 | http://scriptorium.lib.duke.edu/papyrus/images/thumbnails/109-thumb.gif
cuPresentation_format | 1 | 1 | image/gif
cuPresentation_no | 1 | 2 | 2
cuPresentation_display_res | 1 | 2 | 72dpi
cuPresentation_url | 1 | 2 | http://scriptorium.lib.duke.edu/papyrus/images/72dpi/109-at72.gif
cuPresentation_format | 1 | 2 | image/gif
cuPresentation_no | 1 | 3 | 3
cuPresentation_display_res | 1 | 3 | 150dpi
cuPresentation_url | 1 | 3 | http://scriptorium.lib.duke.edu/papyrus/images/150dpi/109-at150.gif
cuPresentation_format | 1 | 3 | image/gif
perm_group | 1 | w

cu090_orgcode | 1 | NcD
cuOrgcode | 1 | NcD
