cu001 | 1 | duke.apis.30563359
cu035 | 1 | (NcD)30563359
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 item : papyrus, mounted in glass ; 15 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 100
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 199
cuLCODE | 1 | grc
cu090 | 1 | P.Duk.inv. 535 V
cu500 | 1 | Actual dimensions of item are 14.5 x 8.4 cm
cu500 | 2 | 17 lines
cu500 | 3 | Written across the fibers on the verso; written along the fibers on the recto in a different hand and inverse to the text on the verso
cu500 | 4 | Upper margin of 1 cm.; lower margin of 1.5 cm.; left margin of 1 cm.; small right margin
cu500 | 5 | P.Duk.inv. 535 V was formerly P.Miss. 102 V
cu510_m | 6 | http://scriptorium.lib.duke.edu/papyrus/records/535v.html
cu520 | 7 | Papyrus letter from Egypt in which Ammonios(?) writes to Heron regarding some private business. Includes greetings. Farewell reads, "I wish you to be of good health."
cu546 | 8 | In Greek
cu655 | 1 | Documentary papyri Egypt 30 B.C.-640 A.D
cu655 | 2 | Personal correspondence Egypt 30 B.C.-640 A.D
cu655 | 3 | Papyri

cu245ab | 1 | Private letter [1--]
cuPart_no | 1 | 1
cuPart_caption | 1 | Verso
cuPresentation_no | 1 | 1 | 1
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_url | 1 | 1 | http://scriptorium.lib.duke.edu/papyrus/images/thumbnails/535v-thumb.gif
cuPresentation_format | 1 | 1 | image/gif
cuPresentation_no | 1 | 2 | 2
cuPresentation_display_res | 1 | 2 | 72dpi
cuPresentation_url | 1 | 2 | http://scriptorium.lib.duke.edu/papyrus/images/72dpi/535v-at72.gif
cuPresentation_format | 1 | 2 | image/gif
cuPresentation_no | 1 | 3 | 3
cuPresentation_display_res | 1 | 3 | 150dpi
cuPresentation_url | 1 | 3 | http://scriptorium.lib.duke.edu/papyrus/images/150dpi/535v-at150.gif
cuPresentation_format | 1 | 3 | image/gif
perm_group | 1 | w

cu090_orgcode | 1 | NcD
cuOrgcode | 1 | NcD
