cu001 | 1 | duke.apis.32054390
cu035 | 1 | (NcD)32054390
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 item : papyrus, mounted in glass, right part is broken off ; 18 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | s
cuDateValue | 1 | 218
cuLCODE | 0 | grc
cu090 | 1 | P.Duk.inv. 99
cu500 | 1 | Actual dimensions of item are 17.5 x 8.2 cm
cu500 | 2 | 12 lines
cu500 | 3 | Written along the fibers on the recto
cu500 | 4 | Upper margin of 2 cm.; lower margin of 6.5 cm.; left margin of 2 cm
cu500 | 5 | P.Duk.inv. 99 was formerly P.Rob.inv. 5
cu510_m | 6 | http://scriptorium.lib.duke.edu/papyrus/records/99r.html
cu520 | 7 | Receipt for rent paid in kind from Theadelphia, Egypt, written on papyrus. Receipt issued by someone whose name begins with "Thermouth." The receipt is issued through her son(?) Demetrios to a tenant for the payment of 2 artabas (a measure) of wheat as rent on 0.75 aroura (a measure) of land near Theadelphia in the Arsinoite Nome (modern name: Fayyum). Dated to Hathyr 10, year 2 of Elagabalus (Nov. 6, 218)
cu546 | 8 | In Greek
cu581 | 9 | Published in: Willis, William H. and John F. Oates. "Three Robinson Papyri." Bulletin of the American Society of Papyrologists 16(1979): 142-144 (plate 3)
cu655 | 1 | Documentary papyri Egypt Theadelphia (Extinct city) 30 B.C.-640 A.D
cu655 | 2 | Receipts Egypt Theadelphia (Extinct city) 30 B.C.-640 A.D
cu655 | 3 | Papyri

cu653 | 1 | Rent -- Egypt -- Theadelphia (Extinct city) -- 30 B.C.-640 A.D.
cu653 | 2 | Landlord and tenant -- Egypt -- Theadelphia (Extinct city) -- 30 B.C.-640 A.D.
cu653 | 3 | Wheat -- Egypt -- Theadelphia (Extinct city) -- 30 B.C.-640 A.D.
cu245ab | 1 | Receipt for rent paid in kind Year 2 of Elagabalus Hathyr 10 [218 Nov. 6]
cuPart_no | 1 | 1
cuPart_caption | 1 | Recto
cuPart_no | 2 | 2
cuPart_caption | 2 | Verso
cuPresentation_no | 1 | 1 | 1
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_url | 1 | 1 | http://scriptorium.lib.duke.edu/papyrus/images/thumbnails/99r-thumb.gif
cuPresentation_format | 1 | 1 | image/gif
cuPresentation_no | 1 | 2 | 2
cuPresentation_display_res | 1 | 2 | 72dpi
cuPresentation_url | 1 | 2 | http://scriptorium.lib.duke.edu/papyrus/images/72dpi/99r-at72.gif
cuPresentation_format | 1 | 2 | image/gif
cuPresentation_no | 1 | 3 | 3
cuPresentation_display_res | 1 | 3 | 150dpi
cuPresentation_url | 1 | 3 | http://scriptorium.lib.duke.edu/papyrus/images/150dpi/99r-at150.gif
cuPresentation_format | 1 | 3 | image/gif
cuPresentation_no | 2 | 1 | 1
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_url | 2 | 1 | http://scriptorium.lib.duke.edu/papyrus/images/thumbnails/99v-thumb.gif
cuPresentation_format | 2 | 1 | image/gif
cuPresentation_no | 2 | 2 | 2
cuPresentation_display_res | 2 | 2 | 72dpi
cuPresentation_url | 2 | 2 | http://scriptorium.lib.duke.edu/papyrus/images/72dpi/99v-at72.gif
cuPresentation_format | 2 | 2 | image/gif
cuPresentation_no | 2 | 3 | 3
cuPresentation_display_res | 2 | 3 | 150dpi
cuPresentation_url | 2 | 3 | http://scriptorium.lib.duke.edu/papyrus/images/150dpi/99v-at150.gif
cuPresentation_format | 2 | 3 | image/gif
perm_group | 1 | w

cu090_orgcode | 1 | NcD
cuOrgcode | 1 | NcD
