cu001 | 1 | duke.apis.33853321
cu035 | 1 | (NcD)33853321
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 item : papyrus, two joining fragments, mounted in glass, incomplete ; 8 x 3 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 300
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 399
cuLCODE | 1 | grc
cu090 | 1 | P.Duk.inv. 1293
cu500 | 1 | Actual dimensions of item are 7.7 x 2.9 cm
cu500 | 2 | 10 lines
cu500 | 3 | P.Duk.inv. 1293 was written along the fibers on the recto
cu510_m | 4 | http://scriptorium.lib.duke.edu/papyrus/records/1293.html
cu520 | 5 | List of land from Panopolis (modern name: Akhmim), Egypt, written on papyrus. Lists the rent per aroura. Part of the archive of Ammon, the well-known scholastikos, or lawyer
cu546 | 6 | In Greek
cu100a | 1 | Ammon, Scholasticus, of Panopolis
cu100d | 1 | 4th cent
cu1004 | 1 | asn
cu655 | 1 | Documentary papyri Egypt Akhmim 30 B.C.-640 A.D
cu655 | 2 | Lists Egypt Akhmim 30 B.C.-640 A.D
cu655 | 3 | Papyri

cu653 | 1 | Landowners -- Egypt -- Akhmim -- 30 B.C.-640 A.D.
cu653 | 2 | Rent -- Egypt -- Akhmim -- 30 B.C.-640 A.D.
cu245ab | 1 | List of land [3--]
cuPart_no | 1 | 1
cuPart_caption | 1 | Recto
cuPresentation_no | 1 | 1 | 1
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_url | 1 | 1 | http://scriptorium.lib.duke.edu/papyrus/images/thumbnails/1293-thumb.gif
cuPresentation_format | 1 | 1 | image/gif
cuPresentation_no | 1 | 2 | 2
cuPresentation_display_res | 1 | 2 | 72dpi
cuPresentation_url | 1 | 2 | http://scriptorium.lib.duke.edu/papyrus/images/72dpi/1293-at72.gif
cuPresentation_format | 1 | 2 | image/gif
cuPresentation_no | 1 | 3 | 3
cuPresentation_display_res | 1 | 3 | 150dpi
cuPresentation_url | 1 | 3 | http://scriptorium.lib.duke.edu/papyrus/images/150dpi/1293-at150.gif
cuPresentation_format | 1 | 3 | image/gif
perm_group | 1 | w

cu090_orgcode | 1 | NcD
cuOrgcode | 1 | NcD
