cu001 | 1 | duke.apis.31194770
cu035 | 1 | (NcD)31194770
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 item : papyrus, mounted in glass, incomplete ; 10 x 18 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 152
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 141
cuLCODE | 1 | grc
cu090 | 1 | P.Duk.inv. 592 V
cu500 | 1 | Actual dimensions of item are 9.1 x 17.9 cm
cu500 | 2 | 5 lines
cu500 | 3 | Written across the fibers on the recto; written along the fibers on the recto in a different hand
cu500 | 4 | Lower margin of 4 cm
cu500 | 5 | Extracted from mummy cartonnage with P.Duk.inv. 588-591 and 593-597
cu500 | 6 | P.Duk.inv. 592 V was formerly P.Duk.inv. 71 5 V
cu510_m | 7 | http://scriptorium.lib.duke.edu/papyrus/records/592v.html
cu520 | 8 | Papyrus official report from the Arsinoites(?) (modern name: Fayyum), Egypt. Concerns a deserted altar. Mentions military settlers and the strategos, the highest official in the region. Dated to Epeiph 27, year 29 (August 22, 152 B.C. or August 19, 141 B.C.). Recto has a register(?) in Greek (P.Duk.inv. 592 R)
cu546 | 9 | In Greek
cu655 | 1 | Documentary papyri Egypt 332-30 B.C
cu655 | 2 | Official reports Egypt 332-30 B.C
cu655 | 3 | Papyri

cu653 | 1 | Altars, Hellenistic -- Egypt -- 332-30 B.C.
cu653 | 2 | Strategi, Greek -- 332-30 B.C.
cu653 | 3 | Land settlement -- Egypt -- 332-30 B.C.
cu245ab | 1 | Official report Year 29 Epeiph 27 [152 B.C. Aug. 22 or 141 B.C. Aug. 19]
cuPart_no | 1 | 1
cuPart_caption | 1 | Verso
cuPresentation_no | 1 | 1 | 1
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_url | 1 | 1 | http://scriptorium.lib.duke.edu/papyrus/images/thumbnails/592v-thumb.gif
cuPresentation_format | 1 | 1 | image/gif
cuPresentation_no | 1 | 2 | 2
cuPresentation_display_res | 1 | 2 | 72dpi
cuPresentation_url | 1 | 2 | http://scriptorium.lib.duke.edu/papyrus/images/72dpi/592v-at72.gif
cuPresentation_format | 1 | 2 | image/gif
cuPresentation_no | 1 | 3 | 3
cuPresentation_display_res | 1 | 3 | 150dpi
cuPresentation_url | 1 | 3 | http://scriptorium.lib.duke.edu/papyrus/images/150dpi/592v-at150.gif
cuPresentation_format | 1 | 3 | image/gif
perm_group | 1 | w

cu090_orgcode | 1 | NcD
cuOrgcode | 1 | NcD
