cu001 | 1 | duke.apis.33204733
cu035 | 1 | (NcD)33204733
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 item : papyrus, mounted in glass, incomplete, abraded ; 5 x 6 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 1
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 99
cuLCODE | 1 | grc
cu090 | 1 | P.Duk.inv. 1173 V
cu500 | 1 | Actual dimensions of item are 4.9 x 5.7 cm
cu500 | 2 | 9 lines
cu500 | 3 | P.Duk.inv. 1173 V was written across the fibers on the verso in two columns; written along the fibers on the recto in a different hand and inverse to the text on the verso
cu510_m | 4 | http://scriptorium.lib.duke.edu/papyrus/records/1173v.html
cu520 | 5 | Daily account from Egypt, written on papyrus. Recto has a documentary text in Greek (P.Duk.inv. 1173 R)
cu546 | 6 | In Greek
cu655 | 1 | Documentary papyri Egypt 30 B.C.-640 A.D
cu655 | 2 | Accounts Egypt 30 B.C.-640 A.D
cu655 | 3 | Papyri

cu653 | 1 | Acconting -- Egypt -- 30 B.C.-640 A.D.
cu245ab | 1 | Daily account [1st cent. A.D.]
cuPart_no | 1 | 1
cuPart_caption | 1 | Verso
cuPresentation_no | 1 | 1 | 1
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_url | 1 | 1 | http://scriptorium.lib.duke.edu/papyrus/images/thumbnails/1173v-thumb.gif
cuPresentation_format | 1 | 1 | image/gif
cuPresentation_no | 1 | 2 | 2
cuPresentation_display_res | 1 | 2 | 72dpi
cuPresentation_url | 1 | 2 | http://scriptorium.lib.duke.edu/papyrus/images/72dpi/1173v-at72.gif
cuPresentation_format | 1 | 2 | image/gif
cuPresentation_no | 1 | 3 | 3
cuPresentation_display_res | 1 | 3 | 150dpi
cuPresentation_url | 1 | 3 | http://scriptorium.lib.duke.edu/papyrus/images/150dpi/1173v-at150.gif
cuPresentation_format | 1 | 3 | image/gif
perm_group | 1 | w

cu090_orgcode | 1 | NcD
cuOrgcode | 1 | NcD
