cu001 | 1 | duke.apis.31194831
cu035 | 1 | (NcD)31194831
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 item : papyrus, mounted in glass, incomplete ; 10 x 18 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 199
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 141
cuLCODE | 1 | grc
cu090 | 1 | P.Duk.inv. 592 R
cu500 | 1 | Actual dimensions of item are 9.1 x 17.9 cm
cu500 | 2 | 4 lines
cu500 | 3 | Written in two columns along the fibers; written across the fibers on the verso in a different hand
cu500 | 4 | Extracted from mummy cartonnage with P.Duk.inv. 588-591 and 593-597
cu500 | 5 | P.Duk.inv. 592 R was formerly P.Duk.inv. 71 5 R
cu510_m | 6 | http://scriptorium.lib.duke.edu/papyrus/records/592r.html
cu520 | 7 | Papyrus register(?) from the Arsinoites(?) (modern name: Fayyum), Egypt. Entries are separated by wide spaces. Verso has an official report in Greek (P.Duk.inv. 592 V)
cu546 | 8 | In Greek
cu655 | 1 | Documentary papyri Egypt 332-30 B.C
cu655 | 2 | Registers (lists) Egypt 332-30 B.C
cu655 | 3 | Papyri

cu245ab | 1 | Register(?) [not after 141 B.C.]
cuPart_no | 1 | 1
cuPart_caption | 1 | Recto
cuPresentation_no | 1 | 1 | 1
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_url | 1 | 1 | http://scriptorium.lib.duke.edu/papyrus/images/thumbnails/592r-thumb.gif
cuPresentation_format | 1 | 1 | image/gif
cuPresentation_no | 1 | 2 | 2
cuPresentation_display_res | 1 | 2 | 72dpi
cuPresentation_url | 1 | 2 | http://scriptorium.lib.duke.edu/papyrus/images/72dpi/592r-at72.gif
cuPresentation_format | 1 | 2 | image/gif
cuPresentation_no | 1 | 3 | 3
cuPresentation_display_res | 1 | 3 | 150dpi
cuPresentation_url | 1 | 3 | http://scriptorium.lib.duke.edu/papyrus/images/150dpi/592r-at150.gif
cuPresentation_format | 1 | 3 | image/gif
perm_group | 1 | w

cu090_orgcode | 1 | NcD
cuOrgcode | 1 | NcD
