cu001 | 1 | duke.apis.31194823
cu035 | 1 | (NcD)31194823
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 item : papyrus, two joining fragments mounted in glass, right part is broken off ; 18 x 8 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 500
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 599
cuLCODE | 1 | grc
cu090 | 1 | P.Duk.inv. 667 R
cu500 | 1 | Actual dimensions of item are 17.6 x 7.7 cm
cu500 | 2 | 12(?) lines
cu500 | 3 | Written along the fibers on the recto; written across the fibers on the verso in a different hand and inverse to the text on the recto
cu500 | 4 | Upper margin of 1 cm.; lower margin of 2 cm.; left margin of 0.5 cm
cu500 | 5 | P.Duk.inv. 667 R was formerly P.Duk.inv. MF75 8 R
cu510_m | 6 | http://scriptorium.lib.duke.edu/papyrus/records/667r.html
cu520 | 7 | Papyrus private letter from Egypt. Written by(?) Theodoros to(?) Kyros. Contains the usual best wishes. Verso has a documentary text in Coptic (P.Duk.inv. MF75 8 V)
cu546 | 8 | In Greek
cu655 | 1 | Documentary papyri Egypt 30 B.C.-640 A.D
cu655 | 2 | Personal correspondence Egypt 30 B.C.-640 A.D
cu655 | 3 | Papyri

cu245ab | 1 | Private letter [5--]
cuPart_no | 1 | 1
cuPart_caption | 1 | Recto
cuPresentation_no | 1 | 1 | 1
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_url | 1 | 1 | http://scriptorium.lib.duke.edu/papyrus/images/thumbnails/667r-thumb.gif
cuPresentation_format | 1 | 1 | image/gif
cuPresentation_no | 1 | 2 | 2
cuPresentation_display_res | 1 | 2 | 72dpi
cuPresentation_url | 1 | 2 | http://scriptorium.lib.duke.edu/papyrus/images/72dpi/667r-at72.gif
cuPresentation_format | 1 | 2 | image/gif
cuPresentation_no | 1 | 3 | 3
cuPresentation_display_res | 1 | 3 | 150dpi
cuPresentation_url | 1 | 3 | http://scriptorium.lib.duke.edu/papyrus/images/150dpi/667r-at150.gif
cuPresentation_format | 1 | 3 | image/gif
perm_group | 1 | w

cu090_orgcode | 1 | NcD
cuOrgcode | 1 | NcD
