cu001 | 1 | duke.apis.32053865
cu035 | 1 | (NcD)32053865
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 item : papyrus, five fragments of which three join, mounted in glass, incomplete
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 199
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 100
cuLCODE | 1 | grc
cu090 | 1 | P.Duk.inv. 147 R
cu500 | 1 | Dimensions of fragments are 16.5 x 13.0 cm. or smaller
cu500 | 2 | 58 lines
cu500 | 3 | Written along the fibers on the recto; written across the fibers on the verso of the first fragment in a different hand
cu500 | 4 | Upper margin of 2 cm.; right margin of 3 cm. on the first fragment; left margin of 2 cm. on the second fragment; right margin of 3.5 cm. on the third fragment
cu500 | 5 | Extracted from mummy cartonnage with P.Duk.inv. 148-149, P.Duk.inv. 152, P.Duk.inv. 154, P.Duk.inv. 156-160, P.Duk.inv. 162-163, and P.Duk.inv. 165-166
cu500 | 6 | P.Duk.inv. 147 R was formerly P.Duk.inv. G 147 R and G 151 R
cu510_m | 7 | http://scriptorium.lib.duke.edu/papyrus/records/147r.html
cu520 | 8 | Account of expenses from Egypt, written on papyrus. Expenses are in money for porridge, fish food, and olive oil. Verso has another account of expenses in Greek (P.Duk.inv. 147 V)
cu546 | 9 | In Greek
cu655 | 1 | Documentary papyri Egypt 332-30 B.C
cu655 | 2 | Accounts Egypt 332-30 B.C
cu655 | 3 | Papyri

cu653 | 1 | Accounting -- Egypt -- 332-30 B.C.
cu653 | 2 | Olive oil -- Egypt -- 332-30 B.C.
cu653 | 3 | Porridge -- Egypt -- 332-30 B.C.
cu653 | 4 | Fishes -- Egypt -- Food -- 332-30 B.C.
cu245ab | 1 | Account of expenses [2nd cent. B.C.]
cuPart_no | 1 | 1
cuPart_caption | 1 | Recto
cuPresentation_no | 1 | 1 | 1
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_url | 1 | 1 | http://scriptorium.lib.duke.edu/papyrus/images/thumbnails/147r-thumb.gif
cuPresentation_format | 1 | 1 | image/gif
cuPresentation_no | 1 | 2 | 2
cuPresentation_display_res | 1 | 2 | 72dpi
cuPresentation_url | 1 | 2 | http://scriptorium.lib.duke.edu/papyrus/images/72dpi/147r-at72.gif
cuPresentation_format | 1 | 2 | image/gif
cuPresentation_no | 1 | 3 | 3
cuPresentation_display_res | 1 | 3 | 150dpi
cuPresentation_url | 1 | 3 | http://scriptorium.lib.duke.edu/papyrus/images/150dpi/147r-at150.gif
cuPresentation_format | 1 | 3 | image/gif
perm_group | 1 | w

cu090_orgcode | 1 | NcD
cuOrgcode | 1 | NcD
