cu001 | 1 | duke.apis.31194781
cu035 | 1 | (NcD)31194781
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 item : papyrus, mounted in glass, incomplete ; 9 cm
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 200
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cu090 | 1 | P.Duk.inv. 643
cu500 | 1 | Actual dimensions of item are 8.4 x 4.1 cm
cu500 | 2 | 31 lines
cu500 | 3 | Written across the fibers on the recto; written along the fibers on the verso
cu500 | 4 | Some chorus lines indented 2 cm
cu500 | 5 | P.Duk.inv. 643 was formerly P.Duk.inv. MF74 46
cu510_m | 6 | http://scriptorium.lib.duke.edu/papyrus/records/643r.html
cu520 | 7 | Papyrus with Aristophanes' Peace verses 474, 476 and 507-523 with scholia to verses 465, 466, 474, 513 and 516 from Egypt
cu546 | 8 | In Greek
cu100a | 1 | Aristophanes
cu1004 | 1 | aut
cu655 | 1 | Literary papyri Egypt 30 B.C.-640 A.D
cu655 | 2 | Papyri

cu653 | 1 | Aristophanes. -- Peace -- Scholia -- 30 B.C.-640 A.D.
cu245ab | 1 | Peace 465-476 and 507-523 with scholia [2--]
cuPart_no | 1 | 1
cuPart_caption | 1 | Recto
cuPart_no | 2 | 2
cuPart_caption | 2 | Verso
cuPresentation_no | 1 | 1 | 1
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_url | 1 | 1 | http://scriptorium.lib.duke.edu/papyrus/images/thumbnails/643r-thumb.gif
cuPresentation_format | 1 | 1 | image/gif
cuPresentation_no | 1 | 2 | 2
cuPresentation_display_res | 1 | 2 | 72dpi
cuPresentation_url | 1 | 2 | http://scriptorium.lib.duke.edu/papyrus/images/72dpi/643r-at72.gif
cuPresentation_format | 1 | 2 | image/gif
cuPresentation_no | 1 | 3 | 3
cuPresentation_display_res | 1 | 3 | 150dpi
cuPresentation_url | 1 | 3 | http://scriptorium.lib.duke.edu/papyrus/images/150dpi/643r-at150.gif
cuPresentation_format | 1 | 3 | image/gif
cuPresentation_no | 2 | 1 | 1
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_url | 2 | 1 | http://scriptorium.lib.duke.edu/papyrus/images/thumbnails/643v-thumb.gif
cuPresentation_format | 2 | 1 | image/gif
cuPresentation_no | 2 | 2 | 2
cuPresentation_display_res | 2 | 2 | 72dpi
cuPresentation_url | 2 | 2 | http://scriptorium.lib.duke.edu/papyrus/images/72dpi/643v-at72.gif
cuPresentation_format | 2 | 2 | image/gif
cuPresentation_no | 2 | 3 | 3
cuPresentation_display_res | 2 | 3 | 150dpi
cuPresentation_url | 2 | 3 | http://scriptorium.lib.duke.edu/papyrus/images/150dpi/643v-at150.gif
cuPresentation_format | 2 | 3 | image/gif
perm_group | 1 | w

cu090_orgcode | 1 | NcD
cuOrgcode | 1 | NcD
