cu001 | 1 | duke.apis.29886044
cu035 | 1 | (NcD)29886044
cu965 | 1 | APIS

status | 1 | 1
cu300 | 1 | 1 item : papyrus, three joining fragments mounted in glass ; 13 x 46 cm
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateRange | 1 | b
cuDateValue | 1 | 299
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cuDateValue | 2 | 200
cuLCODE | 1 | grc
cu090 | 1 | P.Duk.inv. 313 R (b)
cu500 | 1 | Actual dimensions of item are 12.2 x 46.0 cm
cu500 | 2 | 50 lines
cu500 | 3 | Written along the fibers on the recto in three columns; written across the fibers on the verso in a different hand
cu500 | 4 | Upper margin of .5 cm.; lower margin of 1.5 cm.; small left margin; right margin varies
cu500 | 5 | Extracted from mummy cartonnage with P.Duk.inv. 314-323
cu500 | 6 | P.Duk.inv. 313 R (b) was formerly P.Duk.inv. MF84 1 R
cu510_m | 7 | http://scriptorium.lib.duke.edu/papyrus/records/313r.html
cu520 | 8 | Papyrus from the Arsinoites (modern name: Fayyum), Egypt with the final scene of a comedy about the preparation of a giant fish for dinner. Possibly from Archippus' "Ichthyes" or by Cratinus Iunior. Underneath is an earlier, washed-out documentary text in Greek (P.Duk.inv. 313 R (a)). Verso has an account in Greek (P.Duk.inv. 313 V)
cu546 | 9 | In Greek
cu100a | 1 | Archippus
cu100d | 1 | fl. 415-412 B.C
cu1004 | 1 | asn
cu655 | 1 | Literary papyri Egypt Fayyum 332-30 B.C
cu655 | 2 | Papyri

cu653 | 1 | Greek drama (Comedy) -- 332-30 B.C.
cu245ab | 1 | Comedy [3rd cent. B.C.]
cuPart_no | 1 | 1
cuPart_caption | 1 | Recto -- left
cuPart_no | 2 | 2
cuPart_caption | 2 | Recto -- right
cuPresentation_no | 1 | 1 | 1
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_url | 1 | 1 | http://scriptorium.lib.duke.edu/papyrus/images/thumbnails/313r-left-thumb.gif
cuPresentation_format | 1 | 1 | image/gif
cuPresentation_no | 2 | 1 | 1
cuPresentation_display_res | 2 | 1 | thumbnail
cuPresentation_url | 2 | 1 | http://scriptorium.lib.duke.edu/papyrus/images/thumbnails/313r-right-thumb.gif
cuPresentation_format | 2 | 1 | image/gif
perm_group | 1 | w

cu090_orgcode | 1 | NcD
cuOrgcode | 1 | NcD
