cu001 | 1 | oxford-ipap.apis.1765
cu035 | 1 | (EG-CaMus)1765
cu090 | 1 | JE47440
cu090_orgcode | 1 | 
cu245ab | 1 | Order for purchases
cu245f | 1 | Late 3rd century
cu300 | 1 | 1 papyrus ; 10 x 8.6
cu510 | 1 | P.Oxy. 8 1142
cu510_dd | 1 | P.Oxy.:8:1142
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Oxy.&vVol=8&vNum=1142&vSide=
cu518 | 1 | Oxyrhynchus
cu520 | 1 | A list of various commodities which an unnamed person and his friends wished to be purchased for them.
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 275
cuDateValue | 2 | 299
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
