cu001 | 1 | oxford-ipap.apis.825
cu035 | 1 | (EG-CaMus)825
cu090 | 1 | JE48791
cu090_orgcode | 1 | 
cu245ab | 1 | Letter
cu245f | 1 | 2nd April, 246 B.C.
cu300 | 1 | 1 papyrus ; 9 x 9.5  and   14 x 20.5
cu500 | 1 | Special Register: SR0490
cu510 | 1 | P.Cair.Zen. 3 59344
cu510_dd | 1 | P.Cair.Zen.:3:59344
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Zen.&vVol=3&vNum=59344&vSide=
cu518 | 1 | Kharabet el Gerza (ancient Philadelphia)
cu520 | 1 | The author, whose name is lost, asks his correspondent, probably Zenon, to write to Iason to let him have the lodging of Theopompos to live in.  His present quarters, he says, belong to Phileas the former secretary for the Arsinoite nome, who has now recovered his property from the dioiketes and is ordering him to evacuate. If the dwelling of Theopompos is not available, he asks for a letter from Sostratos telling his people to hand over his house.
cu590 | 1 | CG59344
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 1 | 246
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
