cu001 | 1 | oxford-ipap.apis.498
cu035 | 1 | (EG-CaMus)498
cu090 | 1 | JE48463
cu090_orgcode | 1 | 
cu245ab | 1 | Account concerning a consignment of oil
cu245f | 1 | 259 or 258 B.C.
cu300 | 1 | 1 papyrus ; 30 x 62
cu500 | 1 | Special Register: SR0726
cu500_rec | 1 | recto
cu510 | 1 | P.Cair.Zen. 1 59015
cu510_dd | 1 | P.Cair.Zen.:1:59015
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Zen.&vVol=1&vNum=59015&vSide=recto
cu518 | 1 | Kharabet el Gerza (ancient Philadelphia)
cu520 | 1 | The importer seems to have been Apollonios and the account seems to have been drawn up in his office.  Its object is to show the value, or nominal value, of the shipment after payment of Customs duty, freight and minor taxes.  Some marginal notes have been added in a smaller hand, whether by Zenon or by an accountant. The fact that the oil was carried in Milesian and Samian jars indicates its origin, and a comparison of the account with PCZ.59012 leads us to believe that it came by sea to Alexandria and was unloaded at that sea-port.
cu590 | 1 | CG59015
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 259
cuDateValue | 2 | 258
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
