cu001 | 1 | oxford-ipap.apis.1104
cu035 | 1 | (EG-CaMus)1104
cu090 | 1 | JE51726
cu090_orgcode | 1 | 
cu245ab | 1 | Complaint presented by Pyron
cu245f | 1 | 15th May, 250 B.C.
cu300 | 1 | 1 papyrus ; 16 x 26
cu510 | 1 | P.Cair.Zen. 4 59632
cu510_dd | 1 | P.Cair.Zen.:4:59632
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Zen.&vVol=4&vNum=59632&vSide=
cu518 | 1 | Kharabet el Gerza (ancient Philadelphia)
cu520 | 1 | A complaint with a formal heading, probably addressed to Apollonios.
cu590 | 1 | CG59632
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 1 | 250
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
