cu001 | 1 | oxford-ipap.apis.444
cu035 | 1 | (EG-CaMus)444
cu090 | 1 | SR1542
cu090_orgcode | 1 | 
cu245ab | 1 | Legal complaint
cu245f | 1 | AD 320
cu300 | 1 | 1 papyrus ; 25 x 29
cu500 | 1 | Special Register: SR1542
cu500_rec | 1 | recto
cu510 | 1 | P.Cair.Preis. 4
cu510_dd | 1 | P.Cair.Preis.:4
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Preis.&vVol=&vNum=4&vSide=recto
cu518 | 1 | Hermoupolis
cu520 | 1 | Large uncial cursive, running across the fibres. The papyrus is written on both sides. On the recto there are records of farming activities. The verso, which preserves parts of three columns, contains copies of correspondence etc. of Adelphios, a bouleutes of Hermoupolis.
cu590 | 1 | CG10567
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 320
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
