cu001 | 1 | oxford-ipap.apis.192
cu035 | 1 | (EG-CaMus)192
cu090 | 1 | JE40833
cu090_orgcode | 1 | 
cu245ab | 1 | Contract
cu245f | 1 | AD 571-72 (?)
cu300 | 1 | 1 papyrus ; 126 x 32
cu500 | 1 | Special Register: SR2189
cu500_rec | 1 | recto
cu510 | 1 | P.Cair.Masp. 1 67097
cu510_dd | 1 | P.Cair.Masp.:1:67097
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Masp.&vVol=1&vNum=67097&vSide=recto
cu518 | 1 | Aphrodites kome (Antaiopolites)
cu520 | 1 | Contract of sale for a piece of land, agreed between Hermauos, seller, and Isaac son of George, buyer. The contract is incomplete. The beginning and the end have been cut off by the person who has used the verso. Belongs to the archive of Dioscoros.
cu590 | 1 | CG67097
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 571
cuDateValue | 2 | 572
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
