cu001 | 1 | oxford-ipap.apis.470
cu035 | 1 | (EG-CaMus)470
cu090 | 1 | uninventoried
cu090_orgcode | 1 | 
cu245ab | 1 | Certificate of maritime freight
cu245f | 1 | AD 315
cu300 | 1 | 1 papyrus ; 16 x 11
cu510 | 1 | P.Cair.Preis. 34
cu510_dd | 1 | P.Cair.Preis.:34
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Preis.&vVol=&vNum=34&vSide=
cu518 | 1 | ?
cu520 | 1 | Cursive, written along the fibres. As in a few other similar certificate documents, there is no guarantee for the safety of the freight.
cu590 | 1 | CG10520
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 315
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
