cu001 | 1 | oxford-ipap.apis.198
cu035 | 1 | (EG-CaMus)198
cu090 | 1 | JE40840
cu090_orgcode | 1 | 
cu245ab | 1 | Rental agreement (land)
cu245f | 1 | AD 530
cu300 | 1 | 1 papyrus ; 30.5 x 36
cu500 | 1 | Special Register: SR2405
cu510 | 1 | P.Cair.Masp. 1 67104
cu510_dd | 1 | P.Cair.Masp.:1:67104
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Masp.&vVol=1&vNum=67104&vSide=
cu518 | 1 | Aphrodites kome (Antaiopolites)
cu520 | 1 | Aurelius Ioannes rents a vineyard belonging to [...], daughter of Ioannes the comes, for a period of ten years, in return for 126 aggeia of wine per aroura of land. Each  aggeion is valued at seven xestes, and the farmer is obliged to provide the clay jars himself. He rents, at the same time, a palm grove, lands whose nature is not specified (ktemata: most likely, cereal fields) and a piece of uncultivated land, which he undertakes to transform into a vineyard. All this on the same conditions as an individual named Ioannes, the previous tenant of the same properties. Belongs to the archive of Dioscoros.
cu590 | 1 | CG67103
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 530
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
