cu001 | 1 | oxford-ipap.apis.97
cu035 | 1 | (EG-CaMus)97
cu090 | 1 | JE57375
cu090_orgcode | 1 | 
cu245ab | 1 | Sale of Beans
cu245f | 1 | 309 A.D.
cu300 | 1 | 1 papyrus ; 17 x 20
cu500 | 1 | Special Register: SR2600
cu510 | 1 | P.Cair.Isid. 91
cu510_dd | 1 | P.Cair.Isid.:91
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Isid.&vVol=&vNum=91&vSide=
cu518 | 1 | Kom Aushim  (Karanis)
cu520 | 1 | An acknowledgment of receipt of 17 1/2 talents as the price of 150 artabas of beans, which are to be delivered on June 13th of the same year.  The purchaser is Aurelius Nilus, a veteran and former centurion.  The seller is Isidorus, son of Ptolemaeus.
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 309
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
