cu001 | 1 | oxford-ipap.apis.1483
cu035 | 1 | (EG-CaMus)1483
cu090 | 1 | 72068
cu090_orgcode | 1 | 
cu245ab | 1 | Petition concerning  an attack
cu245f | 1 | A.D. 224
cu300 | 1 | 1 papyrus ; 15 x 21.5
cu510 | 1 | P.Fouad 29
cu510_dd | 1 | P.Fouad:29
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Fouad&vVol=&vNum=29&vSide=
cu518 | 1 | Bacchias
cu520 | 1 | Aurelius Ammonius sends a petition to the office of the strategus to complain against the unknown persons who caused his son's head injury. The text is a further indication that by the 3rd century the villages situated at the edge of the desert were no longer irrigated by the Nile.
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 224
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
