cu001 | 1 | oxford-ipap.apis.35
cu035 | 1 | (EG-CaMus)35
cu090 | 1 | JE43782
cu090_orgcode | 1 | 
cu245ab | 1 | Loan contract
cu245f | 1 | 17-16 BC
cu300 | 1 | 1 papyrus ; 29 x 10.5
cu500 | 1 | Special Register: SR2946
cu510 | 1 | BGU 4 1162
cu510_dd | 1 | BGU:4:1162
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=BGU&vVol=4&vNum=1162&vSide=
cu518 | 1 | Alexandria
cu520 | 1 | From cartonnage found in Abusir el meleq. Large, squiggly hand. Occasional ommission of letters, not explicable as abbreviation. On the verso is BGU IV 1153.
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 17
cuDateValue | 2 | 16
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
