cu001 | 1 | oxford-ipap.apis.1950
cu035 | 1 | (EG-CaMus)1950
cu090 | 1 | uninventoried
cu090_orgcode | 1 | 
cu245ab | 1 | Account
cu245f | 1 | Late 6th century
cu300 | 1 | 1 papyrus ; 33.4 x 19.7
cu510 | 1 | P.Oxy. 16 2035
cu510_dd | 1 | P.Oxy.:16:2035
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Oxy.&vVol=16&vNum=2035&vSide=
cu518 | 1 | Oxyrhynchus
cu520 | 1 | A sheet consisting of two selides so joined that the recto of one coincides with the verso of the other. On one side (recto) a protocol in 5 lines. On the other an account of money payments to certain chartularii for various purposes, often for dikes or reservoirs.
cu590 | 1 | CG10117
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 575
cuDateValue | 2 | 599
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
