cu001 | 1 | oxford-ipap.apis.64
cu035 | 1 | (EG-CaMus)64
cu090 | 1 | JE57050
cu090_orgcode | 1 | 
cu245ab | 1 | Receipts for timä purou and oinou
cu245f | 1 | 291 - 294 A.D.
cu300 | 1 | 1 papyrus ; 22 x 17
cu500 | 1 | Special Register: SR2529
cu510 | 1 | P.Cair.Isid. 34
cu510_dd | 1 | P.Cair.Isid.:34
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Isid.&vVol=&vNum=34&vSide=
cu518 | 1 | Kom Aushim  (Karanis)
cu520 | 1 | Three receipts.  The first records two payments on January 20th, 291 A.D.  Isidorus, son of Ptolemeaus, has paid 800 drachmae for arrears on the grain tax of 288/289, and Patieis, probably a son of Isidorus, has paid another 400 drachmae on his behalf.  The second receipt, dated August 21st, 294 A.D., credits Sarapion, son of Onnophris, with 400 drachmae paid to the account of 292/293. The third receipt acknowledges payment on November 18th, 294 A.D. of 316 drachmae as commutation for the annona of wine, plus transportation charges.
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 291
cuDateValue | 2 | 294
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
