cu001 | 1 | oxford-ipap.apis.2157
cu035 | 1 | (EG-CaMus)2157
cu090 | 1 | JE68898
cu090_orgcode | 1 | 
cu245ab | 1 | Thucydides I, 71.4-73.2
cu245f | 1 | 3rd c. AD
cu300 | 1 | 1 papyrus ; 13 x 26
cu500 | 1 | Special Register: SR3003
cu510 | 1 | PSI 11 1195
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=PSI&vVol=11&vNum=1195&vSide=
cu518 | 1 | Oxyrhynchus
cu520 | 1 | Fragment of a papyrus roll, of which only two columns are preserved. The back is blank. Top margin 3 cm, lower margin 4.2 cm, intercolumnium 2 cm.
cu655 | 1 | Literary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 200
cuDateValue | 2 | 299
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
