cu001 | 1 | oxford-ipap.apis.1818
cu035 | 1 | (EG-CaMus)1818
cu090 | 1 | JE47480
cu090_orgcode | 1 | 
cu245ab | 1 | Appointment of a workman on Trajan's river
cu245f | 1 | A.D. 322
cu300 | 1 | 1 papyrus ; 26.3 x 8.7
cu510 | 1 | P.Oxy. 12 1426
cu510_dd | 1 | P.Oxy.:12:1426
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Oxy.&vVol=12&vNum=1426&vSide=
cu518 | 1 | Oxyrhynchus
cu520 | 1 | A return addressed by the comarchs of two villages to an interesting collocation of officials who had taken the place of the strategus and basilicogrammateus. At the end only the date giving the month and the signatures are missing. nominated was required for repairs of Trajan's river, which connected Babylon with the gulf of Suez.
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 322
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
