cu001 | 1 | oxford-ipap.apis.1492
cu035 | 1 | (EG-CaMus)1492
cu090 | 1 | 72076
cu090_orgcode | 1 | 
cu245ab | 1 | End of an oath
cu245f | 1 | 1st century B.C.
cu300 | 1 | 1 papyrus ; 10.5 x 8.5
cu510 | 1 | P.Fouad 38
cu510_dd | 1 | P.Fouad:38
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Fouad&vVol=&vNum=38&vSide=
cu518 | 1 | Unknown (Oyrhynchus?)
cu520 | 1 | Only the end of the document is preserved. Asclepiades swears an oath forwill also have the rest of his property confiscated. Philiscos, to whom he is ceding a part of his property, that he will respect the contract between them. Should he breach his promise, he will suffer all the agreed penalties and will also have the rest of his property confiscated.
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 99
cuDateValue | 2 | 1
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
