cu001 | 1 | oxford-ipap.apis.1704
cu035 | 1 | (EG-CaMus)1704
cu090 | 1 | uninventoried
cu090_orgcode | 1 | 
cu245ab | 1 | Division of property
cu245f | 1 | Late 6th or early 7th century
cu300 | 1 | 1 papyrus ; 33.5 x 23.5
cu510 | 1 | P.Oxy. 1 132
cu510_dd | 1 | P.Oxy.:1:132
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Oxy.&vVol=1&vNum=132&vSide=
cu518 | 1 | Oxyrhynchus
cu520 | 1 | Memorandum of the division of a sum of money left by one Paulus among his heirs. The money amounting to 360 gold solidi was shared in different proportions by Serenus, the son of Paulus, and two other individuals on behalf of their wives, who are no doubt
cu590 | 1 | CG10133
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 575
cuDateValue | 2 | 625
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
