cu001 | 1 | oxford-ipap.apis.1725
cu035 | 1 | (EG-CaMus)1725
cu090 | 1 | uninventoried
cu090_orgcode | 1 | 
cu245ab | 1 | Letter
cu245f | 1 | 6th century
cu300 | 1 | 1 papyrus ; 13.2 x 30.6
cu510 | 1 | P.Oxy. 1 157
cu510_dd | 1 | P.Oxy.:1:157
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Oxy.&vVol=1&vNum=157&vSide=
cu518 | 1 | Oxyrhynchus
cu520 | 1 | Letter concerning the dispute between Papnouthius, a monk, and a scribe, about a measure.
cu590 | 1 | CG10042
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 500
cuDateValue | 2 | 599
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
