cu001 | 1 | oxford-ipap.apis.1689
cu035 | 1 | (EG-CaMus)1689
cu090 | 1 | uninventoried
cu090_orgcode | 1 | 
cu245ab | 1 | Report of a public meeting
cu245f | 1 | Late 3rd or early 4th century
cu300 | 1 | 1 papyrus ; 31.3 x 26.3
cu510 | 1 | P.Oxy. 1 41
cu510_dd | 1 | P.Oxy.:1:41
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Oxy.&vVol=1&vNum=41&vSide=
cu518 | 1 | Oxyrhynchus
cu520 | 1 | The text contains an account of a popular demonstration made in honour of the prytanis at Oxyrhynchus on the occasion of a visit from the praefect. It is not easy to gather from the disjointed acclamations of the citizens with which the document is for the most part filled what was the precise character of, or ground for, the honour which they wished to see conferred on the prytanis. All that is apparent is that they were anxious to have a vote immediately passed in his honour, and that he himself wished it to be postponed for a more fitting occasion. The present text is much the most elaborate example of Greek acclamations, and, the editors believed, the first on papyrus. Its Greek is rather debased, and it includes a number of strange words and expressions.
cu590 | 1 | CG10073
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 275
cuDateValue | 2 | 325
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
