cu001 | 1 | oxford-ipap.apis.2174
cu035 | 1 | (EG-CaMus)2174
cu090 | 1 | uninventoried
cu090_orgcode | 1 | 
cu245ab | 1 | The Book of Enoch 1-32, 6; 19, 3; 20, 2-21, 9.
cu245f | 1 | 8th-12th c. (Bouriant and Lods), 5th-6th c. (Wessely), 6th-7th c. (Grenfell and
cu300 | 1 | 1 papyrus ; (part of a codex of 33 sheets; 15 x 12)
cu510 | 1 | Publ.Sorb.Pap. 1 575
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=Publ.Sorb.Pap.&vVol=1&vNum=575&vSide=
cu518 | 1 | Panopolis (cemetery of Akhmim)
cu520 | 1 | Fragments of a parchment codex of 33 sheets, which contained passages of many Apocrypha. Sheets 1-5(verso): fragment of the Gospel of Peter (=598). Sheet 6 is blank. Sheets 7-10(recto): fragment of the Revelation of Peter (=617). Sheets 11-33: two fragments of Enoch, written in two different uncial hands. The Gospel and Revelation are in a cursive hand. In the binding there is a small fragment of the Acts of Julian (=707).
cu590 | 1 | CG10759
cu655 | 1 | Literary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 400
cuDateValue | 2 | 599
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
