cu001 | 1 | oxford-ipap.apis.877
cu035 | 1 | (EG-CaMus)877
cu090 | 1 | JE48931
cu090_orgcode | 1 | 
cu245ab | 1 | Account from Artemidoros
cu245f | 1 | After April 27, 257 B.C.
cu300 | 1 | 1 papyrus ; 34 x 20
cu500 | 1 | Special Register: SR0546
cu510 | 1 | P.Cair.Zen. 3 59398
cu510_dd | 1 | P.Cair.Zen.:3:59398
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Zen.&vVol=3&vNum=59398&vSide=
cu518 | 1 | Kharabet el Gerza (ancient Philadelphia)
cu520 | 1 | Artemidoros had received 108 drachmae from the sale of wool and had spent 110 1/2 on supplies of reeds, on cleaning of the houseboys' clothes, on plumata for their meals and on small gifts of money to them for the festival of Arsinoe.
cu590 | 1 | CG59398
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | b
cuDateSchema | 2 | b
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 257
cuDateValue | 2 | 248
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
