cu001 | 1 | oxford-ipap.apis.1766
cu035 | 1 | (EG-CaMus)1766
cu090 | 1 | JE47441
cu090_orgcode | 1 | 
cu245ab | 1 | Account of a sitologus
cu245f | 1 | 1st century
cu300 | 1 | 1 papyrus ; 27.8 x 25.6
cu510 | 1 | P.Oxy. 8 1145
cu510_dd | 1 | P.Oxy.:8:1145
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Oxy.&vVol=8&vNum=1145&vSide=
cu518 | 1 | Oxyrhynchus
cu520 | 1 | A fragment from an account recording amounts of wheat delivered on different days by various persons who are arranged under their villages - apparently part of the day-book of a sitologus; cf. e.g. P.Fay. 340. The beginnings of a second column are not printed.
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 1
cuDateValue | 2 | 99
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
