cu001 | 1 | oxford-ipap.apis.34
cu035 | 1 | (EG-CaMus)34
cu090 | 1 | JE43788
cu090_orgcode | 1 | 
cu245ab | 1 | Loan contract
cu245f | 1 | 13 BC
cu300 | 1 | 1 papyrus ; 38 x 23
cu500 | 1 | Special Register: SR2952
cu500_rec | 1 | verso
cu510 | 1 | BGU 4 1156
cu510_dd | 1 | BGU:4:1156
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=BGU&vVol=4&vNum=1156&vSide=verso
cu518 | 1 | Alexandria
cu520 | 1 | From cartonnage found in Abusir el meleq. On the recto loan contract from 15 BC.
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 1 | 13
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
