cu001 | 1 | oxford-ipap.apis.798
cu035 | 1 | (EG-CaMus)798
cu090 | 1 | JE48765
cu090_orgcode | 1 | 
cu245ab | 1 | Letter from Horos to Zenon
cu245f | 1 | 13th November, 250 B.C.
cu300 | 1 | 1 papyrus ; 17.5 x 12.5
cu510 | 1 | P.Cair.Zen. 3 59317
cu510_dd | 1 | P.Cair.Zen.:3:59317
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Zen.&vVol=3&vNum=59317&vSide=
cu518 | 1 | Kharabet el Gerza (ancient Philadelphia)
cu520 | 1 | Horos states that he has to measure up the works carried out in the last nine months and that he will need four papyrus rolls, three for the housebuilding account and one for the works of the vine-dressers.  He also speaks about his salary, which was at the rate of ten drachmae a month. Four months were due to him, but he had already received ten drachmae and owed fifteen; he therefore asks Zenon to let him have the balance of 15 drachmae.
cu590 | 1 | CG59317
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 1 | 250
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
