cu001 | 1 | oxford-ipap.apis.1497
cu035 | 1 | (EG-CaMus)1497
cu090 | 1 | 72081
cu090_orgcode | 1 | 
cu245ab | 1 | Lease of land
cu245f | 1 | A.D. 190-1
cu300 | 1 | 1 papyrus ; 20.5 x 6.7
cu510 | 1 | P.Fouad 43
cu510_dd | 1 | P.Fouad:43
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Fouad&vVol=&vNum=43&vSide=
cu518 | 1 | Oxyrhynchus
cu520 | 1 | An unusually detailed lease of land, dealing with two parcels of land. The village Phokoou is mentioned, which lay in the 5th pagus of the Oxyrhynchite nome, in the Eastern Toparchy.
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 190
cuDateValue | 2 | 191
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
