cu001 | 1 | oxford-ipap.apis.1575
cu035 | 1 | (EG-CaMus)1575
cu090 | 1 | JE89647
cu090_orgcode | 1 | 
cu245ab | 1 | Official Letter
cu245f | 1 | Second half of 1st century A.D.
cu300 | 1 | 1 papyrus ; 12.5 x 14.5
cu500 | 1 | Special Register: SR3772
cu510 | 1 | P.Hib. 2 275
cu510_dd | 1 | P.Hib.:2:275
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Hib.&vVol=2&vNum=275&vSide=
cu518 | 1 | 1903
cu520 | 1 | Ends of lines of a first column and beginnings of lines in a second, perhaps from an official letter.  The subject concerns corn transport.
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 50
cuDateValue | 2 | 99
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
