cu001 | 1 | oxford-ipap.apis.286
cu035 | 1 | (EG-CaMus)286
cu090 | 1 | JE40933
cu090_orgcode | 1 | 
cu245ab | 1 | Fragment of a letter
cu245f | 1 | VIth Century AD (?)
cu300 | 1 | 1 papyrus ; 6.6 x 22.7
cu500 | 1 | Special Register: SR2261
cu510 | 1 | P.Cair.Masp. 2 67200
cu510_dd | 1 | P.Cair.Masp.:2:67200
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Masp.&vVol=2&vNum=67200&vSide=
cu518 | 1 | Aphrodites kome (?) (Antaiopolites)
cu520 | 1 | Fragment of an administrative letter.  Dioscoros, son of Apollos, has been included in a list of taxpayers. The comes (Ammonios?), protector of his family, (cf. 67062; 67138) has already had him removed from the list. He has once again been added, by order of the protocometes (?) Herakleios (cf. 67055 recto) and his colleagues. The employee responsible for the addition apologises to comes Ammonios. Belongs to the archive of Dioscoros.
cu590 | 1 | CG67200
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 500
cuDateValue | 2 | 599
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
