cu001 | 1 | oxford-ipap.apis.1430
cu035 | 1 | (EG-CaMus)1430
cu090 | 1 | uninventoried
cu090_orgcode | 1 | 
cu245ab | 1 | Certificate of labour
cu245f | 1 | A.D. 192
cu300 | 1 | 1 papyrus ; 4.2 x 6.5
cu510 | 1 | P.Fay. 289
cu510_dd | 1 | P.Fay.:289
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Fay.&vVol=&vNum=289&vSide=
cu518 | 1 | Kasr el Ban‚t
cu520 | 1 | Certificate for five days' work at the embankments en cŸ(mati?) Dru(  ).
cu590 | 1 | CG10838
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 192
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
