cu001 | 1 | oxford-ipap.apis.2151
cu035 | 1 | (EG-CaMus)2151
cu090 | 1 | JE47992
cu090_orgcode | 1 | 
cu245ab | 1 | Fragments of a novel
cu245f | 1 | 2nd c. AD
cu300 | 1 | 1 papyrus ; (a) 9.5 x 15 (b) 7.5 x 15
cu500 | 1 | Special Register: SR1096
cu510 | 1 | PSI 8 981
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=PSI&vVol=8&vNum=981&vSide=
cu518 | 1 | ?
cu520 | 1 | Fragments of a novel written on one side of a papyrus roll in elegant bookhand and with ample upper and lower margins. The roll is not well preserved. The columns of writing are 4.5 cm wide and the intercolumnium measures 2 cm. The back is blank.
cu655 | 1 | Literary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 100
cuDateValue | 2 | 199
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
