cu001 | 1 | oxford-ipap.apis.846
cu035 | 1 | (EG-CaMus)846
cu090 | 1 | JE48809
cu090_orgcode | 1 | 
cu245ab | 1 | Statement concerning  money owed by a surety
cu245f | 1 | About 241 BC
cu300 | 1 | 1 papyrus ; 17.5 x 10.8
cu500 | 1 | Special Register: SR0508
cu510 | 1 | P.Cair.Zen. 3 59366
cu510_dd | 1 | P.Cair.Zen.:3:59366
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Zen.&vVol=3&vNum=59366&vSide=
cu518 | 1 | Kharabet el Gerza (ancient Philadelphia)
cu520 | 1 | Demeas, one of Zenon's friends, had made himself surety for the potter Horos, who had undertaken the provision of pottery for year 4 to the district which had once formed the estate of Apollonios.  Horos having failed to fulfil his contract, Demeas had become responsible for the deficit to Bion, who had lately succeeded Eukles as epistatäs. The deficit was 2700 jars, the value of which was 270 drachmae.
cu590 | 1 | CG59366
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 1 | 241
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
