cu001 | 1 | oxford-ipap.apis.2295
cu035 | 1 | (EG-CaMus)2295
cu090 | 1 | JE40925
cu090_orgcode | 1 | 
cu245ab | 1 | Protocol
cu245f | 1 | VIth Century AD (?)
cu300 | 1 | 1 papyrus ; 20 x 21.6
cu500 | 1 | Special Register: SR2250
cu510 | 1 | P.Cair.Masp. 2 67189
cu510_dd | 1 | P.Cair.Masp.:2:67189
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Masp.&vVol=2&vNum=67189&vSide=
cu518 | 1 | Antinoopolis
cu520 | 1 | Protocol in typical byzantine protocol script. In several fragments. Belongs to the archive of Dioscoros.
cu590 | 1 | CG67189
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 500
cuDateValue | 2 | 599
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
