cu001 | 1 | oxford-ipap.apis.258
cu035 | 1 | (EG-CaMus)258
cu090 | 1 | JE40306
cu090_orgcode | 1 | 
cu245ab | 1 | Grammatical exercise
cu245f | 1 | AD 569
cu300 | 1 | 1 papyrus ; 30 x 40
cu500 | 1 | Special Register: SR2242
cu500_rec | 1 | verso
cu510 | 1 | P.Cair.Masp. 2 67176v
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Masp.&vVol=2&vNum=67176&vSide=verso
cu518 | 1 | Aphrodites kome (?) (Antaiopolites)
cu520 | 1 | On the verso, the conjugation of two Greek verbs (poiein and chrusoun) have been written. The coptic papyrus has been cut then folded, and its back has formed these two pages of Greek grammar which are complete, apart from one small lacuna, but are in a very bad state of conservation. Belongs to the archive of Dioscoros.  See Fournet, Hell‰nisme (MIFAO 115) p. 181-203 no. III 1.
cu590 | 1 | CG67176
cu655 | 1 | Literary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 569
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
