cu001 | 1 | oxford-ipap.apis.1046
cu035 | 1 | (EG-CaMus)1046
cu090 | 1 | JE51602
cu090_orgcode | 1 | 
cu245ab | 1 | Fragment of a letter
cu245f | 1 | 3rd July, 257 B.C.
cu300 | 1 | 1 papyrus ; 17.5 x 6
cu500 | 1 | Special Register: SR0289
cu510 | 1 | P.Cair.Zen. 4 59573
cu510_dd | 1 | P.Cair.Zen.:4:59573
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Zen.&vVol=4&vNum=59573&vSide=
cu518 | 1 | Kharabet el Gerza (ancient Philadelphia)
cu520 | 1 | A fragment of a letter.
cu590 | 1 | CG59573
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 1 | 257
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
