cu001 | 1 | oxford-ipap.apis.71
cu035 | 1 | (EG-CaMus)71
cu090 | 1 | JE57394a
cu090_orgcode | 1 | 
cu245ab | 1 | Receipt for Barley and Transportation Charges
cu245f | 1 | 309 A.D.
cu300 | 1 | 1 papyrus ; 80 x 14.5
cu500 | 1 | Special Register: SR2619
cu510 | 1 | P.Cair.Isid. 47
cu510_dd | 1 | P.Cair.Isid.:47
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Isid.&vVol=&vNum=47&vSide=
cu518 | 1 | Kom Aushim  (Karanis)
cu520 | 1 | A series of seven receipts for barley delivered at the harbours of Kerke and Leukogion by the sitologoi of Karanis as part of the canon, or grain levy, imposed on the village for the year 308/309.
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 309
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
