cu001 | 1 | oxford-ipap.apis.1932
cu035 | 1 | (EG-CaMus)1932
cu090 | 1 | uninventoried
cu090_orgcode | 1 | 
cu245ab | 1 | Receipt
cu245f | 1 | A.D. 618
cu300 | 1 | 1 papyrus ; 10.2 x 35
cu510 | 1 | P.Oxy. 16 2011
cu510_dd | 1 | P.Oxy.:16:2011
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Oxy.&vVol=16&vNum=2011&vSide=
cu518 | 1 | Oxyrhynchus
cu520 | 1 | Receipt, similar in content and in the same hand as P.Oxy. XVI 2010, from Victor to the chartoularios Georgios for 6 carats for expenses.
cu590 | 1 | CG10149
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 618
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
