cu001 | 1 | oxford-ipap.apis.486
cu035 | 1 | (EG-CaMus)486
cu090 | 1 | JE48450
cu090_orgcode | 1 | 
cu245ab | 1 | Sale of a girl slave
cu245f | 1 | April-May 259 B.C.
cu300 | 1 | 1 papyrus ; 29.5 x 21
cu510 | 1 | P.Cair.Zen. 1 59003
cu510_dd | 1 | P.Cair.Zen.:1:59003
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Zen.&vVol=1&vNum=59003&vSide=
cu518 | 1 | Kharabet el Gerza (ancient Philadelphia)
cu520 | 1 | A duplicate deed of sale, attested by six witnesses, of a little girl called Sphragis, perhaps a Babylonian.  The seller was Nikanor, the buyer Zenon, and the price paid was fifty drachmae.  The sale took place in the land of Ammon, in a place called Birta. Several of the persons mentioned in the text are said to be cleruchs belonging to the troops of Toubias, an Ammonite chief of the great Toubiad family.
cu590 | 1 | CG59003
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 1 | 259
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
