cu001 | 1 | oxford-ipap.apis.167
cu035 | 1 | (EG-CaMus)167
cu090 | 1 | JE40794
cu090_orgcode | 1 | 
cu245ab | 1 | Fragment of a receipt
cu245f | 1 | VI Century AD (AD 514-15 ?)
cu300 | 1 | 1 papyrus ; 24.5 x 24.5
cu500 | 1 | Special Register: SR2157
cu510 | 1 | P.Cair.Masp. 1 67051
cu510_dd | 1 | P.Cair.Masp.:1:67051
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Cair.Masp.&vVol=1&vNum=67051&vSide=
cu518 | 1 | Antaiopolis
cu520 | 1 | Fragment of receipt relative to the annona militaris, issued to the magistrates of Aphrodito by Fl. Psates, actuarius of the numerus of Antaiopolis. Belongs to the archive of Dioscoros.
cu590 | 1 | CG67051
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 500
cuDateValue | 2 | 599
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
