cu001 | 1 | oxford-ipap.apis.1518
cu035 | 1 | (EG-CaMus)1518
cu090 | 1 | 72102
cu090_orgcode | 1 | 
cu245ab | 1 | Receipt for part of the expenses of an epitäräsis
cu245f | 1 | A.D. 148
cu300 | 1 | 1 papyrus ; 13.5 x 9
cu510 | 1 | P.Fouad 64
cu510_dd | 1 | P.Fouad:64
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Fouad&vVol=&vNum=64&vSide=
cu518 | 1 | Unknown
cu520 | 1 | Horion and his associate epitärätai acknowledge receipt from Kainonos of his share of the expenses of the epitäräsis. Kainonos must therefore have been one of the epitärätai himself. The reason why this receipt was issued him by his colleagues is not entirely clear. The papyrus was folded vertically, from left to right, four times.
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 148
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
