cu001 | 1 | oxford-ipap.apis.1484
cu035 | 1 | (EG-CaMus)1484
cu090 | 1 | 72069
cu090_orgcode | 1 | 
cu245ab | 1 | Hypomnema concerning a house
cu245f | 1 | A.D. 121
cu300 | 1 | 1 papyrus ; 26 x 7.5
cu510 | 1 | P.Fouad 30
cu510_dd | 1 | P.Fouad:30
cu510_m | 1 | http://ipap.csad.ox.ac.uk/4DLink4/4DACTION/IPAPwebquery?vPub=P.Fouad&vVol=&vNum=30&vSide=
cu518 | 1 | Oxyrhynchus
cu520 | 1 | Tasionis alias Dionysia and Ammonius each own a house that is connected to that of the other. Next to their property there is a very old construction that seems about to collapse, and they demand that the owners repair it, or else they would be held responsible for any damages suffered if it did collapse.
cu655 | 1 | Documentary
cu655 | 1 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 121
cuOrgcode | 1 | EG-CaMus
perm_group | 1 | w
