cu001 | 1 | toronto.apis.24
cu035 | 1 | (CaOTU)24
cu090 | 1 | P.Oxy. III 513
cu090_orgcode | 1 | CaOTU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu1004 | 7 | asn
cu1004 | 8 | asn
cu100a | 1 | Diogenes (also called Dionysios)
cu100a | 2 | Serenos
cu100a | 3 | Nemesianos (strategos)
cu100a | 4 | Perikles (basilikos grammateus)
cu100a | 5 | Vessidius Rufinus
cu100a | 6 | Epimachos (cf. P.Oxy. I 91)
cu100a | 7 | Sarapion
cu100a | 8 | Hierax
cu100g | 1 | son of Sarapion son of Hermias
cu100g | 2 | son of Philiskos son of Sarapion, whose mother is Helene
cu100g | 7 | son of Hermias son of Hermias
cu245ab | 1 | Sales receipt
cu245f | 1 | 28 June 184 A.D.
cu300 | 1 | 1 papyrus; 33 x 11.6 cm.
cu500 | 1 | Margins: left, 2 cm.; top, 2 cm.
cu500 | 2 | 24th year of the Emperor Commodus, 4th day of the Egyptian month Epeiph.
cu500 | 3 | Day of month is uncertain.
cu500_lin | 1 | 65 lines, on recto along the fibers.
cu500_pal | 1 | Five hands (?): 1st (lines 1-51), irregular cursive; 2nd (lines 52-59), larger, more regular cursive; 3rd (lines 59-61), rapid cursive; 4th and 5th(?) (lines 61-63 and 64-65), unpracticed hand.
cu500_rec | 1 | Verso empty.
cu510 | 1 | W.Chr. 183; Select Papyri I 77
cu510_dd | 1 | P.Oxy.:3:513
cu518 | 1 | Oxyrhynchus
cu520 | 1 | Diogenes acknowledges receipt of 705 drachmas 3 obols 3 chalci from Serenos for confiscated property that Diogenes had purchased at auction two years earlier.  Serenos has been allowed by the dioiketes to purchase the property, because he has bid three times the amount that Diogenes paid.
cu546 | 1 | Greek
cu581 | 1 | BL 1, 325; 2.2, 96; 6, 98; 9, 180; 10, 139
cu590 | 1 | F0832
cu590_con | 1 | MS collection, 175; Box 4
cu653 | 1 | Banks and Banking; Land
cu653 | 2 | Oxyrhynchites nome; Oxyrhynchus; amphodon Lukion Paremboles; Phylaxithalasseios ho kai Althaieus (see P.Oxy. III 477.7-8 note); Sosikosmios ho kai Althaieus
cu655 | 2 | Papyri
cu655 | 1 | Receipts, Roman Period
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 184
cuLCODE | 1 | grc
cuOrgcode | 1 | CaOTU
perm_group | 1 | w
