cu001 | 1 | toronto.apis.22
cu035 | 1 | (CaOTU)22
cu090 | 1 | P.Oxy. III 637
cu090_orgcode | 1 | CaOTU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu100a | 1 | ----
cu100a | 2 | Epharmostos
cu100g | 1 | son of Epharmostos son of Orsenouphis
cu100g | 2 | son of Orsenouphis son of Epharmostos, whose mother is Euterpe
cu245ab | 1 | Property Return
cu245f | 1 | 25 July - 23 Aug. 109 A.D.
cu300 | 1 | 1 papyrus; 11.5 x 7.2 cm.
cu500 | 1 | Margins: left, 1.7 cm.; right, .1 cm.; 41 B2
cu500 | 2 | 12th year of the Emperor Trajan, unknown day of the month Kaisareios.
cu500 | 3 | It is unclear whether the date mentioned in the papyrus is when the property return was drawn up.
cu500_lin | 1 | 21 lines, on recto along the fibers.
cu500_pal | 1 | Regular cursive.
cu500_rec | 1 | Verso empty.
cu510_dd | 1 | P.Oxy.:3:637
cu518 | 1 | Oxyrhynchus
cu520 | 1 | The declarant registers property inherited from his father.
cu544_n | 1 | For similar declarations, see P.Oxy. I 75; III 482; 636; see too intro to III 481.
cu546 | 1 | Greek
cu581 | 1 | BL 1, 326
cu590 | 1 | F0825
cu590_con | 1 | MS collection, 175; Box 3
cu590_prs | 1 | Letters are obscured by dirt at the top and the papyrus is badly frayed at the bottom.
cu653 | 1 | Property; Census
cu653 | 2 | Oxyrhynchus; Talao
cu655 | 1 | Declarations
cu655 | 2 | Papyri
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 109
cuLCODE | 1 | grc
cuOrgcode | 1 | CaOTU
perm_group | 1 | w
