###
cu001 | 1 | upenn.apis.12
cu090 | 1 | P.Penn. Museum inv.E02758
cu245ab | 1 | Irregular Contributions
cu245f | 1 | 66 CE
cu300 | 1 | 9.8 x 15.7cm.  Irregular traces of ink on the side opposite the text.
cu500 | 1 | Text is on one side only, 15 lines written with the fibers.  Text mentions the nome of Oxyrhynchos and the village of Psobthis.
cu500_t | 1 | To the scribe of the Oxyrhynchite nome from Epimachus, son of Pausiris, son of Ptolemaeus, whose mother is Heraclea, daughter of Epimachus, an inhabitant of the village of Psobthis in the lower toparchy.  I swear by Nero Claudius Caesar Augustus Germanicus Imperator that I have levied no contributions for any purpose whatever in the said village and that henceforward I shall not become headman of a village; otherwise let me be liable to the consequences of the oath.  13th year of Nero.  (Grenfell & Hunt)
cu510 | 1 | P. Oxy. 2.239
cu510_dd | 1 | P.Oxy.:2:239
cu518 | 1 | Oxyrhynchos
cu520 | 1 | Declaration on oath addressed to the scribe of the Oxyrhynchite nome by Epimachus, an inhabitant of Psobthis, stating that he had not exacted any irregular contributions, and that for the future he would not be in a position to do so.  (Grenfell & Hunt)
cu546 | 1 | Greek
cu561 | 1 | Excavated by Grenfell and Hunt (1896-7) on behalf of the Egyptian Exploration Fund, and donated to the University Museum in return for its support (1901, Dr. Parrish Collection).
cu581 | 1 | John R. Abercrombie, “The University Museum’s Collection of Papyri and Related Materials,” Expedition 20.2 (Winter 1978): 32-37.
cu590 | 1 | Museum of Archaeology and Anthropology collection
cu653 | 1 | 
cu655 | 1 | papyrus
cu655 | 2 | documentary
cu655 | 3 | declaration
cu100a | 1 | Epimachus
cu100g | 1 | son of Pausiris
cu1004 | 1 | aut
cu100a | 2 | Pausiris
cu100g | 2 | son of Ptolemaeus
cu1004 | 2 | asn
cu100a | 3 | Ptolemaeus
cu100g | 3 | son of  Heraclea
cu1004 | 3 | asn
cu100a | 4 | Heraclea
cu100g | 4 | daughter of Epimachus
cu1004 | 4 | asn
cu100a | 5 | Nero Claudius Caesar Augustus Germanicus
cu100g | 5 | Imperator
cu1004 | 5 | asn
cuDateValue | 1 | 66
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateValue | 2 |
cuDateRange | 2 |
cuDateSchema | 2 |
cuDateType | 1 | o
cu035 | 1 | (PU) 12
cuOrgcode | 1 | PU
perm_group | 1 | w

