###
cu001 | 1 | upenn.apis.118
cu090 | 1 | P.Penn. Museum inv.E16279
cu245ab | 1 | Document
cu245f | 1 | 4th-8th CE
cu300 | 1 | 9.5 x 6.5cm.  Fragment of papyrus with regular but tattered edges, with several holes and a significant lacuna where the fibers are most heavily frayed.
cu500 | 1 | Text is on both sides: Side 1 has 5 lines written with the fibers, Side 2 has 7 lines written against the fibers.  Side 1 has left and right margins visible, Side 2 has no margins visible.
cu500_t | 1 |
cu510 | 1 |
cu510_dd | 1 |
cu518 | 1 | Egypt
cu520 | 1 | Greek document of unknown specific content.
cu546 | 1 | Greek 
cu561 | 1 | Purchased from Professor Moritz of Cairo, through W.M. Muller, 1910.
cu581 | 1 | John R. Abercrombie, "The University Museum's Collection of Papyri and Related Materials," Expedition 20.2 (Winter 1978): 32-37.
cu590 | 1 | Museum of Archaeology and Anthropology, Ellen W. Harrison Collection
cu653 | 1 |
cu655 | 1 | papyrus
cu100a | 1 |
cu100g | 1 |
cu1004 | 1 |
cuDateValue | 1 | 300
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 2 | 799
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cu035 | 1 | (PU) 118
cuOrgcode | 1 | PU
perm_group | 1 | w

