###
cu001 | 1 | upenn.apis.15
cu090 | 1 | P.Penn. Museum inv.E02761
cu245ab | 1 | Work on the Embankments
cu245f | 1 | 83-84 CE
cu300 | 1 | 9.1 x 27.8cm.  The bottom is fragmentary; the top and side margins are intact.
cu500 | 1 | Text is on one side only, 35 lines written with the fibers.  Text mentions the village of Tychis Nekotis.
cu500_t | 1 |
cu510 | 1 | P. Oxy. 2.290
cu510_dd | 1 | P.Oxy.:2:290
cu518 | 1 | Oxyrhynchos
cu520 | 1 | Part of a list of private embankments, referring to an embankment in process of construction, and a statement of the persons erecting it and the size of their holdings.
cu546 | 1 | Greek
cu561 | 1 | Excavated by Grenfell and Hunt (1896-7) on behalf of the Egyptian Exploration Fund, and donated to the University Museum in return for its support (1901, Dr. Parrish Collection).
cu581 | 1 | John R. Abercrombie, “The University Museum’s Collection of Papyri and Related Materials,” Expedition 20.2 (Winter 1978): 32-37.
cu590 | 1 | Museum of Archaeology and Anthropology collection
cu653 | 1 |
cu655 | 1 | papyrus
cu655 | 2 | documentary
cu655 | 3 | list
cu100a | 1 |
cu100g | 1 |
cu1004 | 1 |
cuDateValue | 1 | 83
cuDateRange | 1 | b
cuDateSchema | 1 | c
cuDateValue | 2 | 84
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 1 | o
cu035 | 1 | (PU) 15
cuOrgcode | 1 | PU
perm_group | 1 | w

