###
cu001 | 1 | upenn.apis.79
cu090 | 1 | P.Penn. Museum inv.E03071
cu245ab | 1 | Return of Corn Revenue
cu245f | 1 | 239-214 BCE
cu300 | 1 | 15.2 X 24.0cm. Fragment of papyrus torn on all sides. The bottom is the most damaged and the left half of the document is lost.  Shows signs of water damage.
cu500 | 1 | Text is on one side only, 17 lines written with the fibers.  Two columns of text, with only the left column legible; only the first few letters of about 15 lines of the right column remain.  The top margin and the margin separating the columns are visible.  Text mentions the locations of Aronnophrios, Koitos, and Assuan.
cu500_t | 1 |
cu510 | 1 | P. Hib. 1.117
cu510_dd | 1 | P.Hib.:1:117
cu518 | 1 | Hibeh
cu520 | 1 | An account of corn received during Epeiph, rendered by an official in charge of the state granaries of KWI/TNHS. (Grenfell & Hunt)
cu546 | 1 | Greek
cu561 | 1 | Excavated by Grenfell and Hunt (1902) on behalf of the Egyptian Exploration Fund, and donated to the University Museum in return for its support (1909, Dr. Parrish Collection).
cu581 | 1 | John R. Abercrombie, "The University Museum's Collection of Papyri and Related Materials," Expedition 20.2 (Winter 1978): 32-37.
cu590 | 1 | Museum of Archaeology and Anthropology collection
cu653 | 1 |
cu655 | 1 | papyrus
cu655 | 2 | documentary
cu655 | 3 | account
cu100a | 1 | Kallistratos
cu100g | 1 | 
cu1004 | 1 | asn
cu100a | 2 | Straton
cu100g | 2 | 
cu1004 | 2 | asn
cu100a | 3 | Philippos
cu100g | 3 |
cu1004 | 3 | asn
cu100a | 4 | Theodorus
cu100g | 4 |
cu1004 | 4 | asn
cuDateValue | 1 | 239
cuDateRange | 1 | b
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 2 | 214 
cuDateRange | 2 | e
cuDateSchema | 2 | b
cuDateType | 2 | o
cu035 | 1 | (PU) 79
cuOrgcode | 1 | PU
perm_group | 1 | w