###
cu001 | 1 | upenn.apis.105
cu090 | 1 | P.Penn. Museum inv.E16257
cu245ab | 1 | Document
cu245f | 1 | 4th-16th CE
cu300 | 1 | 5.1 x 10.5cm. Relatively well-preserved piece of vellum.  There are no holes but there are creases, scratches, and some damage toward the middle, obscuring lines 4-6.
cu500 | 1 | Text is on one side only, 9 lines.  All margins are clear and regular.
cu500_t | 1 |
cu510 | 1 |
cu510_dd | 1 |
cu518 | 1 | Egypt
cu520 | 1 | Unknown
cu546 | 1 | Unknown
cu561 | 1 | Purchased by W. M. Mueller for the University Museum's collection (1900-1910).
cu581 | 1 | John R. Abercrombie, "The University Museum's Collection of Papyri and Related Materials," Expedition 20.2 (Winter 1978): 32-37.
cu590 | 1 | Museum of Archaeology and Anthropology collection
cu653 | 1 |
cu655 | 1 | vellum
cu100a | 1 |
cu100g | 1 |
cu1004 | 1 |
cuDateValue | 1 | 300
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 2 | 1599
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cu035 | 1 | (PU) 105
cuOrgcode | 1 | PU
perm_group | 1 | w

