###
cu001 | 1 | upenn.apis.60
cu090 | 1 | P.Penn. Museum inv.E02808 
cu245ab | 1 | Authorization of Payment
cu245f | 1 | 159-160 CE
cu300 | 1 | 7.7 x 13.2cm. Lower left half has been torn off and some strands of papyrus remain.
cu500 | 1 | Text is on one side only, 18 lines written against the fibers.  Top, bottom, and left margins are visible where the papyrus is still intact.
cu500_t | 1 | 
cu510 | 1 | P. Oxy. 3.629
cu510_dd | 1 | P.Oxy:3:629
cu518 | 1 | Oxyrhynchos
cu520 | 1 | Authorization issued by Idomeneus for the payment of 1 and one half artabae in all.
cu546 | 1 | Greek
cu561 | 1 | Excavated by Grenfell and Hunt (1896-7) on behalf of the Egyptian Exploration Fund, and donated to the University Museum in return for its support (1904, Dr. Parrish Collection).
cu581 | 1 | John R. Abercrombie, "The University Museum's Collection of Papyri and Related Materials," Expedition 20.2 (Winter 1978): 32-37.
cu590 | 1 | Museum of Archaeology and Anthropology collection
cu653 | 1 | 
cu655 | 1 | papyrus
cu655 | 2 | documentary
cu655 | 3 | authorization
cu100a | 1 | Idomeneus
cu100g | 1 | 
cu1004 | 1 | aut
cu100a | 2 | Antoninus Caesar
cu100g | 2 | (emperor)
cu1004 | 2 | asn
cuDateValue | 1 | 159
cuDateRange | 1 | b
cuDateSchema | 1 | c  
cuDateType | 1 | o
cuDateValue | 2 | 160
cuDateRange | 2 | e
cuDateSchema | 2 | c 
cuDateType | 2 | o
cu035 | 1 | (PU) 60
cuOrgcode | 1 | PU
perm_group | 1 | w



