###
cu001 | 1 | upenn.apis.25
cu090 | 1 | P.Penn. Museum inv.E02771
cu245ab | 1 | Receipt for Poll-Tax
cu245f | 1 | 190 CE
cu300 | 1 | 9.2 x 7.3cm.  Top, left, and bottom margins mostly intact.
cu500 | 1 | Text is on one side only, 7 lines written with the fibers.  Highly ligatured script.
cu500_t | 1 |
cu510 | 1 | P. Fay. 196
cu510_dd | 1 | P.Fay.:196
cu518 | 1 | Umm el-'Atl (Fayum)
cu520 | 1 | According to Grenfell and Hunt: "Receipt for 20 drachmae for poll-tax of the thirtieth year, and 10 [obols of copper for prosdiagraphomena], paid by Souchas... dated in the thirty-first year of Marcus Aurelius Commodus."
cu546 | 1 | Greek
cu561 | 1 | Excavated by Grenfell and Hunt (1898-9) on behalf of the Egyptian Exploration Fund, and donated to the University Museum in return for its support (1901, Dr. Parrish Collection).
cu581 | 1 | John R. Abercrombie, "The University Museum's Collection of Papyri and Related Materials," Expedition 20.2 (Winter 1978), 32-37.
cu590 | 1 | Museum of Archaeology and Anthropology collection
cu653 | 1 |
cu655 | 1 | papyrus
cu655 | 2 | documentary
cu655 | 3 | receipt
cu100a | 1 | Souchas
cu100g | 1 | 
cu1004 | 1 | asn
cu100a | 2 | Marcus Aurelius Commodus
cu100g | 2 |
cu1004 | 2 | asn
cuDateValue | 1 | 190
cuDateRange | 1 | s 
cuDateSchema | 1 | c
cuDateType | 1 | o
cu035 | 1 | (PU) 25
cuOrgcode | 1 | PU
perm_group | 1 | w
