###
cu001 | 1 | upenn.apis.35
cu090 | 1 | P.Penn. Museum inv. E02783
cu245ab | 1 | Receipt
cu245f | 1 | 149 CE
cu300 | 1 | 13.3 x 9.5cm. Two fragments, pieced together as though upper and lower shark teeth. A large chunk is missing from the lower left.
cu500 | 1 | Text is on one side only, 7 lines written with the fibers.  All margins are visible.  Text mentions location of Philoteris.
cu500_t | 1 | The 13th year of the Emperor Caesar Titus Aelius Hadrianus Antoninus Augustus Pius, the first of the month Hadrianus, for the account of Athur. Paid by...son of Heron, lessee of Ptolemaeus, son of Cronius, for the rent of date palms...at Philoteris on account of the Antonian estate for the 12th year one hundred and sixty (drachmae of silver), total 160; for the receipt, 3 obols. (Grenfell, Hunt & Hogarth)
cu510 | 1 | P. Fay. 60
cu510_dd | 1 | P.Fay.:60
cu518 | 1 | Wadfa (Fayum)
cu520 | 1 | Receipt for payment of rent of date palms, or a tax on them.
cu546 | 1 | Greek
cu561 | 1 | Excavated by Grenfell and Hunt (1898-9) on behalf of the Egyptian Exploration Fund, and donated to the University Museum in return for its support (1901, Dr. Parrish Collection).
cu581 | 1 | John R. Abercrombie, "The University Museum's Collection of Papyri and Related Materials," Expedition 20.2 (Winter 1978): 32-37.
cu590 | 1 | Museum of Archaeology and Anthropology collection
cu653 | 1 | 
cu655 | 1 | papyrus
cu655 | 2 | documentary
cu655 | 3 | receipt
cu100a | 1 | Caesar Titus Aelius Hadrianus Antoninus Augustus Pius
cu100g | 1 | Emperor
cu1004 | 1 | asn
cu100a | 2 | Athur
cu100g | 2 |
cu1004 | 2 | asn
cu100a | 3 | Heron
cu100g | 3 |
cu1004 | 3 | asn
cu100a | 4 | Ptolemaeus
cu100g | 4 | son of Cronius
cu1004 | 4 | asn
cuDateValue | 1 | 149
cuDateRange | 1 | s
cuDateSchema | 1 | c 
cuDateType | 1 | o
cu035 | 1 | (PU) 35
cuOrgcode | 1 | PU
perm_group | 1 | w

