cu001 | 1 | oslo.apis.152
cu035 | 1 | (NoOU)152
cu090 | 1 | P.Oslo inv. 313
cu090_orgcode | 1 | NoOU
cu1004 | 1 | asn
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu100a | 1 | Aion, son of Antonios
cu100a | 2 | Antonios
cu100a | 3 | Athumis, son of Her[on
cu100a | 4 | Petesouchos
cu100a | 5 | Patas
cu245ab | 1 | List of payments
cu245f | 1 | IIIrd century A.D.
cu300 | 1 | 1 papyrus ; 8.5 x 16.5 cm.
cu500 | 4 | Pub. status: Recto, the Verso is published as P.Oslo II 20
cu500_lin | 1 | 14
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | Col I;] 4 dr.;].;in the month of Choia]ch 4 dr.;of ...]maios;of ...]on;Col II;Aion, the son of Antonios;in the month of Phaophi 4 dr., in Hathyr 4 dr., in Tubi [ ? dr.];Antonios, the son of [;in the month of Phaophi 24 artabai of wheat, in Choiach 8 dr., [;in Pharmouthi 4 dr.;Athumis, son of Her[on;in the month of Phaophi 4 dr., in Choiach [;through Petesouchos;Patas, the son of [;in the month of Hathyr 4 dr., in Pharmouthi 4 dr.[
cu510_dd | 1 | P.Oslo:2:42
cu510_m | 1 | http://opes.uio.no/papyrus/scan/313r.jpg
cu518 | 1 | Probably Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | In two columns are stated payments various persons have made.
cu524 | 1 | Eitrem S-Amundsen L , P.Oslo II, 42, 1931 -- Youtie HC, Class.Phil. 27 (1932) 90 (col.II, l.4)
cu546 | 1 | Greek
cu561 | 1 | Karanis, Herakleidou meris, Arsinoite nome, province of Egypt
cu581 | 1 | Youtie HC, Class.Phil. 27 (1932) 90 (col.II, l.4)
cu590_con | 1 | Medium brown papyrus.
cu653 | 2 | List
cu653 | 3 | Payment
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 200
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | NoOU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_url | 1 | 1 | http://opes.uio.no/thumb/papyrus/scan/313r.gif
cuPresentation_url | 1 | 2 | http://opes.uio.no/papyrus/scan/313r.jpg
perm_group | 1 | w
