cu001 | 1 | oslo.apis.47
cu035 | 1 | (NoOU)47
cu090 | 1 | P.Oslo inv. 311
cu090_orgcode | 1 | NoOU
cu1004 | 1 | aut
cu1004 | 2 | asn
cu1004 | 3 | asn
cu1004 | 4 | asn
cu1004 | 5 | asn
cu1004 | 6 | asn
cu100a | 1 | Ptolemaios, son of Dioskoros alias Dioskoros
cu100a | 2 | Kanopos, son of Dorion, rhetor
cu100a | 3 | Munatius
cu100a | 4 | Petepeithes
cu100a | 5 | Aelius Antoninus
cu100a | 6 | Aelius Verus, emperor
cu245ab | 1 | Report of legal proceedings
cu245f | 1 | February/March 162 A.D.
cu300 | 1 | 1 papyrus ; 6.5 x 27.5 cm.
cu500 | 4 | Pub. status: Recto, illegible traces of writing on the Verso
cu500_lin | 1 | 7 
cu500_pal | 1 | The hand is a regular professional cursive typical of the second century A.D. (TC) It is the same throughout both fragments. Rashly copied out of the official minutes of court trials for use in another case it shows faults of orthography which no doubt are due to the copyist and not  to the original.
cu500_rec | 1 | Source of description: Recto
cu500_t | 1 | Concerning these matters, Kanopos, son of Dorion, advocate assisting Petepeithes, said:  &apos;I affirm that there has been no such agreement. Our contention is simple: Your son was my client&apos;s agent; he stole certain things; produce him.&apos; Munatius said: &apos;I understand nothing of what you are saying. For even if that one (the son) were taken as a murderer, his father ought not to be held responsible.&apos; Kanopos, son of Dorion, advocate, said: &apos;Let him state on oath that he did not agree to produce his son.&apos; Munatius said: &apos;Why do you hold this man illegally and bring him into court and demand an oath from him?&apos; I, Ptolemaios, have submitted this petition. Year 2 of Aelius Antoninus and Aelius Verus, Caesars, our lords, Phamenoth.
cu510 | 1 | Youtie HC, Scriptiunculae Posteriores I (Bonn 1981), p. 375-382 (Reprint of ZPE 23, 131-138)
cu510 | 2 | Youtie HC, ZPE 23, 131-138, 1976 -- SB XIV 12087
cu510_dd | 2 | SB:14:12087
cu510_m | 1 | http://opes.uio.no/papyrus/scan/311r.jpg
cu518 | 1 | Theadelphia, Themistou meris, Arsinoite nome, province of Egypt
cu520 | 1 | Copy of minutes from a court trial. Latter part of a petition addressed to Harpokration, strategos of the Themistes and Polemon divisions of the Arsinoite nome, in 162 A.D. by Ptolemaios, son of Diodoros alias Dioskoros, a resident of Theadelphia.
cu524 | 1 | Eitrem S-Amundsen L, P.Oslo II, 18, 1931, Pl. VIIa -- Wilcken U, Archiv für Papyrusforschung 10 (1932), p. 84 (l.7);Youtie, HC, Classical philology 27 (1932) p. 89 (l.2/3, 4)
cu544_n | 1 | P. Mich. inv. 160
cu546 | 1 | Greek
cu561 | 1 | Theadelphia, Themistou meris, Arsinoite nome, province of Egypt
cu581 | 1 | Wilcken U, Archiv für Papyrusforschung 10 (1932), p. 84 (l.7);Youtie, HC, Classical philology 27 (1932) p. 89 (l.2/3, 4)
cu590_con | 1 | The papyrus, broken in antiquity in the foldings on the left side (which has proved fatal to the script), was mended on its back with strips of papyrus. The missing top part of the papyrus is P. Mich. inv. 160. Between the two fragments one or two entire lines are lost.
cu653 | 2 | Administration
cu653 | 3 | Court proceedings
cu653 | 4 | Justice
cu653 | 5 | Law
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | s
cuDateSchema | 1 | c
cuDateType | 1 | o
cuDateValue | 1 | 162
cuLCODE | 1 | grc
cuOrgcode | 1 | NoOU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_url | 1 | 1 | http://opes.uio.no/thumb/papyrus/scan/311r.gif
cuPresentation_url | 1 | 2 | http://opes.uio.no/papyrus/scan/311r.jpg
perm_group | 1 | w
