cu001 | 1 | oslo.apis.129
cu035 | 1 | (NoOU)129
cu090 | 1 | P.Oslo inv. 664
cu090_orgcode | 1 | NoOU
cu1004 | 1 | aut
cu100a | 1 | Homer
cu245ab | 1 | Homeric papyrus (Iliad 9, 381-386)
cu245f | 1 | IVth century A.D.
cu300 | 1 | 1 papyrus ; 10.4 x 6.2 cm.
cu500 | 4 | Pub. status: Recto, the Verso is blank
cu500_lin | 1 | 7
cu500_pal | 1 | The fragment is  written in the large, beautiful letters of a well-known book style. There is a certain contrast between the splendid character of the handwriting and the coarse material it is written on.
cu500_rec | 1 | Source of description: Recto
cu510_m | 1 | http://opes.uio.no/papyrus/scan/664r.jpg
cu518 | 1 | Unknown place, province of Egypt
cu520 | 1 | Homer, Iliad 9, 381-386
cu524 | 1 | Eitrem S-Amundsen L , P.Oslo III, 69, 1936
cu546 | 1 | Greek
cu561 | 1 | Unknown place, province of Egypt
cu590_con | 1 | The papyrus material is rather poor and coarse. Our fragment comes from the top of a column, it is broken on both sides and breakes off after line 6. The top margin is 2 1/2 cm.
cu653 | 2 | Literature
cu653 | 3 | Epic poetry
cu653 | 4 | Homer
cu653 | 5 | Iliad
cu655 | 1 | Literary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 300
cuDateValue | 2 | 399
cuLCODE | 1 | grc
cuOrgcode | 1 | NoOU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Recto
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_url | 1 | 1 | http://opes.uio.no/thumb/papyrus/scan/664r.gif
cuPresentation_url | 1 | 2 | http://opes.uio.no/papyrus/scan/664r.jpg
perm_group | 1 | w
