cu001 | 1 | oslo.apis.137
cu035 | 1 | (NoOU)137
cu090 | 1 | P.Oslo inv. 313
cu090_orgcode | 1 | NoOU
cu1004 | 1 | asn
cu100a | 1 | Atisis, son of Akialis (for Akiaris)
cu245ab | 1 | Order for arrest
cu245f | 1 | 2nd half of the IIIrd century A.D.
cu300 | 1 | 1 papyrus ; 16.5 x 8.5 cm.
cu500 | 4 | Pub. status: Verso, the Recto is published as P.Oslo II 42
cu500_lin | 1 | 4
cu500_pal | 1 | The text is written on the verso of  the papyrus, along the fibres.
cu500_rec | 1 | Source of description: Verso
cu500_t | 1 | The liturgist charged with the farming of taxes to the thiefcatcher of the village Karanis. Send up Atisis, son of Akialis (for Akiaris), accused by the tax collector of the village Philopator, either him or 160 drachmas (160dr.)
cu510_dd | 1 | P.Oslo:2:20
cu510_m | 1 | http://opes.uio.no/papyrus/scan/313v.jpg
cu518 | 1 | Philopator he kai Theogenous, Herakleidou meris, Arsinoite nome, province of Egypt
cu520 | 1 | An official of Karanis orders the arrest of Atisis
cu524 | 1 | Eitrem S-Amundsen L , P.Oslo II, 20, 1931 -- Youtie H, CPh 27 (1932) 92-93 (l.1) ;Eitrem S-Amundsen L, P.Oslo III, 275 (l.1,2);Hagedorn U, BASP 16 (1979) 64 (Date)
cu546 | 1 | Greek
cu561 | 1 | Probably Arsinoite nome, province of Egypt;
cu581 | 1 | Youtie H, CPh 27 (1932) 92-93 (l.1) ;Eitrem S-Amundsen L, P.Oslo III, 275 (l.1,2);Hagedorn U, BASP 16 (1979) 64 (Date)
cu590_con | 1 | The medium brown papyrus is complete, regularly cut on all sides. The top margin is 1/2 cm., the left one is 1 cm., the bottom one is 5 cm. No margin left on the right side
cu653 | 1 | Karanis;Philopator (he kai Theogenous)
cu653 | 2 | Order
cu653 | 3 | Arrest
cu655 | 1 | Documentary
cu655 | 1 | Papyrus
cuDateRange | 1 | b
cuDateRange | 2 | e
cuDateSchema | 1 | c
cuDateSchema | 2 | c
cuDateType | 1 | o
cuDateType | 2 | o
cuDateValue | 1 | 250
cuDateValue | 2 | 299
cuLCODE | 1 | grc
cuOrgcode | 1 | NoOU
cuPart_caption | 1 | Overview
cuPart_no | 1 | 1
cuPart_section | 1 | Verso
cuPresentation_display_res | 1 | 1 | thumbnail
cuPresentation_display_res | 1 | 2 | medium
cuPresentation_no | 1 | 1 | 1
cuPresentation_no | 1 | 2 | 2
cuPresentation_url | 1 | 1 | http://opes.uio.no/thumb/papyrus/scan/313v.gif
cuPresentation_url | 1 | 2 | http://opes.uio.no/papyrus/scan/313v.jpg
perm_group | 1 | w
