# file create date: 2009-08-19
# modified: 2005-02-08 (for Hermitage)
#		2005-03-10 added cu518		
#		2005-04-18 added cu500_t
#		2005-05-04 added 4 more cu655
#		2005-08-23 added 2 more cu546
#		2006-01-16 corrected orgcode
#		2006-03-24 modified for NYU
#		2006-07-03 modified for Trimithis
#		2006-07-17 modified for Upenn
#		2006-09-26 modified for Fordham
#		2006-11-02 modified for Princeton Theological Seminary
#		2008-05-05 modified for Lund
# template version: 1.06
cu001 | 1 | lund.apis.22 
cu090 | 1 | P. Lund. inv. 14
cu245ab | 1 | Papyrus fragment
cu245f | 1 | Date unknown
cu300 | 1 | Pap.; 7.0 x 11.7 cm
cu500 | 1 | Location: Lund University Library
cu500 | 2 | Recto: 15 lines with the fibres; Verso blank
cu500 | 3 |      
cu500 | 4 |      
cu500 | 5 |      
cu500 | 6 |      
cu500 | 7 |      
cu500_t | 1 |      
cu510 | 1 | Unpublished
cu510 | 2 |      
cu510 | 3 |      
cu510_dd | 1 |      
cu518 | 1 | Provenance unknown
cu520 | 1 |      
cu520 | 2 |      
cu546 | 1 |      
cu546 | 2 |      
cu546 | 3 |      
cu561 | 1 | Purchased in Berlin by Lund University Library in 1933, from prof. Carl Schmidt; Isabella Andorlini "Scavi e acquisti di papiri negli anni '30: il caso dei PLund" in Comunicazioni, Firenze 1995, Istituto papirologico G. Vitelli, p. 45-50
cu581 | 1 |      
cu590 | 1 |      
cu653 | 1 |      
cu655 | 1 | Papyri
cu655 | 2 |      
cu655 | 3 |      
cu655 | 4 |      
cu655 | 5 |      
cu100a | 1 |      
cu100g | 1 |      
cu1004 | 1 |    
cuDateValue | 1 | 300	
cuDateRange | 1 | b
cuDateSchema | 1 | b
cuDateType | 1 | o
cuDateValue | 2 | 699
cuDateRange | 2 | e
cuDateSchema | 2 | c
cuDateType | 2 | o
cu035 | 1 | (SeUB)22      
cuOrgcode | 1 | SeUB
perm_group | 1 | w
cu090_orgcode | 1 | SeUB
